Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

add early breaks, fix copyright dates
  ci/gpu/notebook_list.py
  ci/gpu/test-notebooks.sh
  ci/test.sh
Owners: @rapidsai/ops-codeowners

update subgraph tests and remove legacy pagerank (#1378)
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/structure/graph.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/pagerank_test.cpp
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_subgraph_extraction.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Build a Dendrogram class, adapt Louvain/Leiden/ECG to use it (#1359)
  ci/gpu/notebook_list.py
  ci/gpu/test-notebooks.sh
  ci/test.sh
  cpp/CMakeLists.txt
  cpp/src/community/dendrogram.cuh
  cpp/src/community/ecg.cu
  cpp/src/community/flatten_dendrogram.cuh
  cpp/src/community/leiden.cu
  cpp/src/community/leiden.cuh
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/experimental/louvain.cuh
  cpp/tests/experimental/louvain_test.cu
  notebooks/community/ECG.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/Subgraph-Extraction.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/cugraph_benchmarks/bfs_benchmark.ipynb
  notebooks/cugraph_benchmarks/louvain_benchmark.ipynb
  notebooks/cugraph_benchmarks/nx_cugraph_bc_benchmarking.ipynb
  notebooks/cugraph_benchmarks/pagerank_benchmark.ipynb
  notebooks/cugraph_benchmarks/release.ipynb
  notebooks/cugraph_benchmarks/sssp_benchmark.ipynb
  notebooks/demo/uvm.ipynb
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_louvain.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-python-codeowners

remove some old comments
  cpp/src/community/ecg.cu
Owners: @rapidsai/cugraph-cpp-codeowners

fix clang-format errors
  cpp/src/community/louvain.cu
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Updated CI scripts to use a different error handling convention, updated LD_LIBRARY_PATH for project flash runs, added comments, removed unused "top-20 slowest" report, minor updates for consistency.
  ci/getGTestTimes.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/test.sh
  ci/utils/nbtest.sh
Owners: @rapidsai/ops-codeowners

Moved test_utilities.hpp definitions to separate .cpp file and updated CMakeLists.txt accordingly.
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/pagerank/pagerank_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.cpp
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Added .cpp to link with new EGO test, added FIXMEs.
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Style check fixes.
  build.sh
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.cpp
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Updated comments for accuracy.
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners

changes from PR review
  cpp/src/community/louvain.cu
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Using error trap in gpu/build.sh, added FIXME to test.sh, removed unneeded '/'.
  ci/gpu/build.sh
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Updating cmakelists to match frozen raft hash
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Not using std::move() to allow compiler to perform a RVO, removed old FIXME.
  cpp/tests/pagerank/pagerank_mg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

fix cpp tests and benchmarks on Pascal
  benchmarks/bench_algos.py
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/leiden_test.cpp
  cpp/tests/community/louvain_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

get rid of for loop
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

add rmat generator code
  cpp/CMakeLists.txt
  cpp/include/experimental/graph_generator.hpp
  cpp/src/experimental/generate_rmat_edgelist.cu
  cpp/src/experimental/scramble.cuh
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

add rmat generator test code
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/generate_rmat_test.cpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

move is_valid_vertex to test_utilities.hpp
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

matching updates for RAFT comms updates
  cpp/include/utilities/device_comm.cuh
  cpp/include/utilities/host_scalar_comm.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

update C++ tests per review comments
  cpp/tests/CMakeLists.txt
  cpp/tests/community/ecg_test.cpp
  cpp/tests/community/leiden_test.cpp
  cpp/tests/community/louvain_test.cpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

fix clang-format issues
  cpp/tests/community/ecg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

rename sort_and_shuffle to groupby_gpuid_and_shuffle
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/utilities/cython.hpp
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

fix copyright years
  benchmarks/bench_algos.py
  cpp/tests/community/ecg_test.cpp
  cpp/tests/community/leiden_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

clang-format
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/src/experimental/coarsen_graph.cu
Owners: @rapidsai/cugraph-cpp-codeowners

rename compute_major_degree to compute_major_degrees
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/src/experimental/graph.cu
Owners: @rapidsai/cugraph-cpp-codeowners

add SG version of compute_major_degrees
  cpp/include/experimental/detail/graph_utils.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

add compute_in|out_degrees, compute_in|out_weight_sums
  cpp/include/experimental/graph_view.hpp
  cpp/src/experimental/graph_view.cu
Owners: @rapidsai/cugraph-cpp-codeowners

replace custom code to compute out weight sums with graph_view_t's compute_out_weight_sums
  cpp/src/experimental/pagerank.cu
Owners: @rapidsai/cugraph-cpp-codeowners

fix codecov typo
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

update copyright
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Removed other erroneous escape character from CI script (applied change from PR #1395 )
  ci/gpu/build.sh
Owners: @rapidsai/ops-codeowners

Addressed FIXME by refactoring utility to accept a file path instead of an edgelist, removed dead code.
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Updated CI scripts to use a different error handling convention, updated LD_LIBRARY_PATH for project flash runs (#1386)
  ci/getGTestTimes.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/test.sh
  ci/utils/nbtest.sh
Owners: @rapidsai/ops-codeowners

Use new coarsen_graph primitive in Louvain (#1362)
  benchmarks/bench_algos.py
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/relabel.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/ecg_test.cpp
  cpp/tests/community/leiden_test.cpp
  cpp/tests/community/louvain_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-cmake-codeowners

temporary - add tests for Seunghwa to evaluate
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/louvain_primitives.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

fix bug in print statement
  cpp/tests/experimental/louvain_primitives.cu
Owners: @rapidsai/cugraph-cpp-codeowners

add missing include statements
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Refactored common MPI-related setup/teardown code into a base class, updated comments, added FIXMEs.
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/mg_test_utilities.hpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

bug fixes
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/utilities/device_comm.cuh
Owners: @rapidsai/cugraph-cpp-codeowners
