Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

Add faiss to conda env
  conda/environments/cugraph_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

Put project together
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_knn.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Setup class and structure
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  python/cugraph/traversal/traveling_salesman.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Fix knn to be consistent with ref
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Add python tsplib dataset
  datasets/tsplib/a280.tsp
  datasets/tsplib/eil51.tsp
  datasets/tsplib/kroA100.tsp
  datasets/tsplib/tsp225.tsp
Owners: @rapidsai/cugraph-doc-codeowners

Remove tsp ref file and update python test
  cpp/tests/traversal/tsp_test.cu
  python/cugraph/tests/test_traveling_salesman.py
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Update default restart and tsp data loader
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  python/cugraph/tests/test_traveling_salesman.py
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Add python tests
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Add entry in README
  README.md
Owners: @rapidsai/cugraph-doc-codeowners

Fix flake8 errors
  python/cugraph/tests/test_traveling_salesman.py
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-python-codeowners

Add nstart check at cpp layer
  cpp/src/traversal/tsp.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Fix inequality in check
  cpp/src/traversal/tsp.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Add faiss patch
  cpp/cmake/faiss_cuda11.patch
Owners: @rapidsai/cugraph-cmake-codeowners

Add missing license
  datasets/get_test_data.sh
Owners: @rapidsai/cugraph-doc-codeowners

Update doc
  cpp/include/algorithms.hpp
  python/cugraph/traversal/traveling_salesman.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Fix flake8 errors
  python/cugraph/traversal/traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Remove useless macro
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Run clang format
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Update cmake to build faiss statically
  build.sh
  cpp/CMakeLists.txt
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Split initial solution
  cpp/src/traversal/tsp_solver.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Fix rebasing
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Revert to external project
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Fix ci to run with faiss
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Add negative weights
  datasets/a280.tsp
  datasets/gil262.tsp
  python/cugraph/tests/test_traveling_salesperson.py
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-python-codeowners

Add inline distance function
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Update dependencies
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

Remove unecessary const
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update constructor
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Add timers
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/traversal/tsp_test.cu
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Fix print
  cpp/src/traversal/tsp.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Update test script
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Rename project
  README.md
  cpp/src/traversal/tsp_utils.hpp
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Revert string expansion
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-python-codeowners

Replace printf with stl
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Add directory in path search
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Rework big kernel
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Add fixme in cpp test
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Use set for max in cpp test
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Fix flake8
  python/cugraph/tests/test_traveling_salesperson.py
Owners: @rapidsai/cugraph-python-codeowners

Add faiss module
  cpp/CMakeLists.txt
  cpp/cmake/Modules/FindFAISS.cmake
Owners: @rapidsai/cugraph-cmake-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
