Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#CI code owners
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/.pre-commit-config.yaml @rapidsai/ci-codeowners

#packaging code owners
/.devcontainer/   @rapidsai/packaging-codeowners
/conda/            @rapidsai/packaging-codeowners
/dependencies.yaml @rapidsai/packaging-codeowners
/build.sh          @rapidsai/packaging-codeowners
pyproject.toml     @rapidsai/packaging-codeowners

tests, bugfixes, resolve indexing problem (sort of)
  python/cugraph-dgl/cugraph_dgl/graph.py
  python/cugraph-dgl/cugraph_dgl/tests/__init__.py
  python/cugraph-dgl/cugraph_dgl/tests/conftest.py
  python/cugraph-dgl/cugraph_dgl/tests/mg/test_dataloader.py
  python/cugraph-dgl/cugraph_dgl/tests/nn/test_gatconv.py
  python/cugraph-dgl/cugraph_dgl/tests/nn/test_gatv2conv.py
  python/cugraph-dgl/cugraph_dgl/tests/nn/test_relgraphconv.py
  python/cugraph-dgl/cugraph_dgl/tests/nn/test_sageconv.py
  python/cugraph-dgl/cugraph_dgl/tests/nn/test_sparsegraph.py
  python/cugraph-dgl/cugraph_dgl/tests/nn/test_transformerconv.py
  python/cugraph-dgl/cugraph_dgl/tests/test_cugraph_storage.py
  python/cugraph-dgl/cugraph_dgl/tests/test_dataloader.py
  python/cugraph-dgl/cugraph_dgl/tests/test_dataset.py
  python/cugraph-dgl/cugraph_dgl/tests/test_from_dgl_heterograph.py
  python/cugraph-dgl/cugraph_dgl/tests/test_graph.py
  python/cugraph-dgl/cugraph_dgl/tests/test_utils.py
  python/cugraph-dgl/cugraph_dgl/tests/utils.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_conversion_utils.py
  python/cugraph-dgl/cugraph_dgl/view.py
Owners: @rapidsai/cugraph-python-codeowners

skip tests due to breaking changes in cugraphops
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_tensor_product_conv.py
Owners: @rapidsai/cugraph-python-codeowners

fix compiler warnings
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/utilities/atomic_ops.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

DOCL typo in nx_transition.rst
  docs/cugraph/source/basics/nx_transition.rst
Owners: @rapidsai/cugraph-doc-codeowners

Bump CCCL version
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

test using half cpu counts
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Only run wheel CI.
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Don't define PARALLEL_LEVEL (get from gha-tools rapids-configure-sccache).
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Remove --global-option.
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Remove --global-option.
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

try using smaller runner
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Use cpu32 runners
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Print and set PARALLEL_LEVEL
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

set SKBUILD_BUILD_TOOL_ARGS
  ci/build_wheel.sh
  ci/build_wheel_pylibcugraph.sh
Owners: @rapidsai/ci-codeowners

fix style
  ci/build_wheel_pylibcugraph.sh
Owners: @rapidsai/ci-codeowners

hardcode parallel_level
  ci/build_wheel_pylibcugraph.sh
Owners: @rapidsai/ci-codeowners

verify only on amd64
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

test nproc/4, fix syntax error
  .github/workflows/pr.yaml
  ci/build_wheel_pylibcugraph.sh
Owners: @rapidsai/ci-codeowners

try pinning rapids-cmake back to 24.06
  rapids_config.cmake
Owners: none

Revert "try pinning rapids-cmake back to 24.06"
  rapids_config.cmake
Owners: none

build one object at a time
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

re-enable all CI jobs
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

deprecate
  python/cugraph/cugraph/utilities/utils.py
Owners: @rapidsai/cugraph-python-codeowners

updated style
  python/cugraph/cugraph/utilities/utils.py
Owners: @rapidsai/cugraph-python-codeowners

style update
  python/cugraph/cugraph/utilities/utils.py
Owners: @rapidsai/cugraph-python-codeowners

Use less parallelism in cugraph wheel build.
  ci/build_wheel_cugraph.sh
Owners: @rapidsai/ci-codeowners

Use pylibcugraph wheels from the current CI job.
  ci/test_wheel_nx-cugraph.sh
Owners: @rapidsai/ci-codeowners

Removed a bunch of unused sections of cugraph-ops code
  cpp/src/from_cugraph_ops/algo_R.cuh
  cpp/src/from_cugraph_ops/casts.cuh
  cpp/src/from_cugraph_ops/cudart.hpp
  cpp/src/from_cugraph_ops/device.cuh
  cpp/src/from_cugraph_ops/device_atomics.cuh
  cpp/src/from_cugraph_ops/device_block_collectives.cuh
  cpp/src/from_cugraph_ops/device_core.hpp
  cpp/src/from_cugraph_ops/device_reg.cuh
  cpp/src/from_cugraph_ops/device_warp_collectives.cuh
  cpp/src/from_cugraph_ops/format.hpp
  cpp/src/from_cugraph_ops/graph_device.cuh
  cpp/src/from_cugraph_ops/kernel_params.cuh
  cpp/src/from_cugraph_ops/loads_stores.cuh
  cpp/src/from_cugraph_ops/nvtx.hpp
  cpp/src/from_cugraph_ops/sampling.hpp
  cpp/src/from_cugraph_ops/sampling_index.cuh
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

set RAPIDS_PY_CUDA_SUFFIX in nx-cugraph tests
  ci/test_wheel_nx-cugraph.sh
Owners: @rapidsai/ci-codeowners

Forward merge branch-24.06 into branch-24.08 (#4489)
  ci/build_wheel.sh
  ci/build_wheel_cugraph.sh
  ci/build_wheel_pylibcugraph.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-pyg.sh
  ci/test_wheel_nx-cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/libcugraph/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_tensor_product_conv.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph/cugraph/gnn/data_loading/dist_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_dist_sampler.py
  python/cugraph/cugraph/tests/sampling/test_dist_sampler_mg.py
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners, @rapidsai/cugraph-python-codeowners
