Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

add degree & weight-sum tests
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/degree_test.cpp
  cpp/tests/experimental/weight_sum_test.cpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

renmove std::move that prevents NRVO in return statements
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/graph_view.cu
  cpp/src/experimental/renumber_edgelist.cu
Owners: @rapidsai/cugraph-cpp-codeowners

clang-format
  cpp/tests/experimental/degree_test.cpp
  cpp/tests/experimental/weight_sum_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

Add GHA to mark issues/prs as stale/rotten
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

added streams to handle in cugraph
  cpp/src/community/egonet.cu
  cpp/tests/community/egonet_test.cu
  python/cugraph/comms/comms.py
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

timmers
  cpp/src/community/egonet.cu
  cpp/src/experimental/induced_subgraph.cu
  cpp/src/utilities/high_res_timer.hpp
  cpp/tests/community/egonet_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Add GHA to mark issues/prs as stale/rotten (#1408)
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

cuDF to cuGraph in comments
  cpp/tests/utilities/base_fixture.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

move MPI initialization & cudaSetDevice call from MG_TestFixture_t to CUGRAPH_MG_TEST_PROGRAM_MAIN to set CUDA device before RMM initialization
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/mg_test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

fix inconsistencies wiht other GTEST files
  cpp/tests/pagerank/pagerank_mg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

explicit instantiation int & long to int32_t & int64_t
  cpp/tests/utilities/test_utilities.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

clang-format
  cpp/src/experimental/scramble.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

FIX Update stale GHA with exemptions & new labels
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

Update stale GHA with exemptions & new labels (#1413)
  .github/workflows/stale.yaml
Owners: @rapidsai/ops-codeowners

rename test_utilities.cpp to test_utilities.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/utilities/test_utilities.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fix nstart position
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Cast to int32
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

TSP fix route return (#1412)
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

merge MG & SG utility functions to read a graph from a matrix market file
  cpp/tests/CMakeLists.txt
  cpp/tests/community/egonet_test.cu
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/graph_test.cpp
  cpp/tests/experimental/induced_subgraph_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/louvain_test.cu
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.cu
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

remvoe unused read_binary_vector functions
  cpp/tests/utilities/test_utilities.cu
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

clang-format
  cpp/tests/community/egonet_test.cu
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/graph_test.cpp
  cpp/tests/experimental/induced_subgraph_test.cpp
  cpp/tests/pagerank/pagerank_mg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

add libcugraphtestutil
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

add default constructor to partition_t, add constructors taking just handle to graph_t (creates an empty graph)
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/src/experimental/renumber_edgelist.cu
  cpp/tests/community/egonet_test.cu
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/induced_subgraph_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/louvain_test.cu
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

remove unnecessary include
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

updated R-mat generator documentation specifying the function allows multi-edges and self-loops
  cpp/include/experimental/graph_generator.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

add missing const in pagerank & katz
  cpp/include/algorithms.hpp
  cpp/src/experimental/katz_centrality.cu
  cpp/src/experimental/pagerank.cu
Owners: @rapidsai/cugraph-cpp-codeowners

bug fix
  cpp/tests/utilities/test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners

fixed a couple of issues
  cpp/include/algorithms.hpp
  cpp/src/community/egonet.cu
  cpp/tests/community/egonet_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

update MG pagerank test
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/pagerank/pagerank_mg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

rename pagerank_mg_test.cpp to mg_pagerank_test.cpp to better match the executable name (MG_PAGERANK_TEST)
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/mg_pagerank_test.cpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

clang-format
  cpp/tests/utilities/base_fixture.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

copyright year
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/graph_test.cpp
  cpp/tests/experimental/sssp_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

add CUDA_ARCHITECTURES=OFF to libcudftestutil.a CMake target property
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

switched to uvector and other fixes
  cpp/src/community/egonet.cu
  cpp/tests/community/egonet_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

ENH Pass ccache variables to conda recipe
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

ENH Build with cmake --build
  build.sh
Owners: none

device_vector=>device_uvector, host_vector=>std::vector
  cpp/include/compute_partition.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/patterns/vertex_frontier.cuh
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

copyright year
  cpp/include/compute_partition.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

use update_device for better concurrency
  cpp/include/patterns/vertex_frontier.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Rename sort_and_shuffle to groupby_gpuid_and_shuffle (#1392)
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/utilities/cython.hpp
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
