Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Addressed reviews on noisy comments.
  cpp/include/experimental/graph.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Updated comments on sort_and_shuffle_values() requirements on zip iterator parameters.
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Return type for renumbering PYX.
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

fix spelling of dendrogram, fix clang formatting issues
  cpp/src/community/dendrogram.cuh
  cpp/src/community/ecg.cu
  cpp/src/community/flatten_dendrogram.cuh
  cpp/src/community/leiden.cu
  cpp/src/community/leiden.cuh
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

DOC v0.19 Updates
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  cpp/CMakeLists.txt
  docs/source/conf.py
Owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners

Fixed some comments on call_shuffle() signature.
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
Owners: @rapidsai/cugraph-cpp-codeowners

fixed segfault
  cpp/src/community/egonet.cu
  cpp/tests/community/egonet_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

disabled output
  cpp/src/community/egonet.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Added a README for libcugraph testing, updated CMakeLists.txt after merging in changes.
  cpp/tests/CMakeLists.txt
  cpp/tests/README.md
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fixed partition offset exposure to Cython.
  cpp/include/utilities/cython.hpp
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Updates to libcugraph README with additional info about CUDA and MPI.
  cpp/tests/README.md
Owners: @rapidsai/cugraph-cpp-codeowners

Removing openmpi from default dev environments and documented that it needs to be installed instead.
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

cpp output basic check
  cpp/src/community/egonet.cu
  cpp/tests/community/egonet_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

cleanup
  cpp/tests/community/egonet_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Return series for call_renumber().
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

use new coarsen_graph primitive
  cpp/src/community/louvain.cu
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Addressing PR review feedback: updated doc, removed unused row/col_comms instances, added MPI_TRY, cleaned up comments.
  cpp/tests/CMakeLists.txt
  cpp/tests/README.md
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Fixing cython compilation errors.
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Fixing cython compilation errors.
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Created fused shuffle return type.
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-python-codeowners

Updated build config for MG_PAGERANK_TEST to use proper MPI settings instead of manually updating paths.
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Fixed some arguments to call_shuffle().
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Fixed some arguments to call_renum().
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Fixed call_renum() flow.
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-python-codeowners

Wrapped C++2Cy return types into unique_ptr to address PYX errors.
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Fixed PYX errors except partition extraction.
  cpp/include/utilities/cython.hpp
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Updated to filter edges not in GPU rank using remove_if and predicate (not working yet).
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Fixed copyright year in multiple files.
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

update egonet wrapper and fixes
  cpp/src/community/egonet.cu
  cpp/src/utilities/cython.cu
  python/cugraph/community/egonet.py
  python/cugraph/community/egonet_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

bug fixes in coarsen_graph,renumber_edgelist,relabel
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Added cudf wrapper BufferArrayFromVector to wrap std::vector, so that a cudf.Series() can be created out of it.
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-python-codeowners

Fixed issue with passing weights but setting weighted bool to false, setting exec policy on remove_if to properly run on device.
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Fixed partition return value.
  cpp/include/utilities/cython.hpp
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Removed debug print.
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Update .github/labeler.yml
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

remove cmake from pr labeler config
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

update pr-labeler configuration
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

update pr-labeler configuration
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Fixes for the renumbering series construnction.
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Updated comment, passing store_transposed var to graph_t ctor instead of constant.
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners
