Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

Fix doc indentation
  cpp/include/algorithms.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Remove line in dataset script
  cpp/tests/traversal/tsp_test.cu
  datasets/get_test_data.sh
  datasets/tsplib/a280.tsp
  datasets/tsplib/eil51.tsp
  datasets/tsplib/kroA100.tsp
  datasets/tsplib/tsp225.tsp
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-python-codeowners

Update pytest
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  cpp/tests/traversal/tsp_test.cu
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Update test file
  python/cugraph/tests/test_traveling_salesperson.py
Owners: @rapidsai/cugraph-python-codeowners

Clean code
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update recipes
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/templates/CMakeLists.txt
  cpp/cmake/templates/Findpkg.cmake.in
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners

Follow nx api naming
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/tests/traversal/tsp_test.cu
  python/cugraph/__init__.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/traveling_salesperson.pxd
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Update stats
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update recipe
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

Fix flake8
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Clean
  cpp/src/traversal/tsp_solver.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Force libfaiss version
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  cpp/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners

Update dataset path
  cpp/tests/traversal/tsp_test.cu
  datasets/a280.tsp
  datasets/eil51.tsp
  datasets/kroA100.tsp
  datasets/tsp225.tsp
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-python-codeowners

Update license date in module
  cpp/cmake/Modules/FindFAISS.cmake
Owners: @rapidsai/cugraph-cmake-codeowners

Fix flake8
  python/cugraph/traversal/traveling_salesperson.py
Owners: @rapidsai/cugraph-python-codeowners

Restore file deleted
  python/cugraph/__init__.py
  python/cugraph/layout/force_atlas2_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Fix indentation
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Readd find faiss file
  cpp/cmake/Modules/FindFAISS.cmake
Owners: @rapidsai/cugraph-cmake-codeowners

Add node entry in cpp doc
  cpp/include/algorithms.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Adapt the cuml ci patch to cugraph
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Fix doc indentation
  cpp/include/algorithms.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update exceptions
  python/cugraph/traversal/traveling_salesperson.py
Owners: @rapidsai/cugraph-python-codeowners

Move faiss to using fetch content
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Use gpubenchmark
  python/cugraph/tests/test_traveling_salesperson.py
Owners: @rapidsai/cugraph-python-codeowners

Move tsplib files
  datasets/a280.tsp
  datasets/eil51.tsp
  datasets/kroA100.tsp
  datasets/tsp225.tsp
Owners: @rapidsai/cugraph-doc-codeowners

Update path
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-python-codeowners

Update cmake
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Add module generation
  cpp/CMakeLists.txt
  cpp/cmake/Modules/FindFAISS.cmake
  cpp/cmake/templates/CMakeLists.txt
  cpp/cmake/templates/Findpkg.cmake.in
Owners: @rapidsai/cugraph-cmake-codeowners

Remove test binaries patch
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Change test ci script
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Remove print
  python/cugraph/link_analysis/pagerank_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Use resize instead of reserve
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Update test script
  ci/test.sh
Owners: @rapidsai/ops-codeowners

Update pytest
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Add utilities for TSP test
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Add SG TSP (#1360)
  README.md
  build.sh
  ci/test.sh
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/FindFAISS.cmake
  cpp/cmake/faiss_cuda11.patch
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/tsp_test.cu
  datasets/eil51.tsp
  datasets/get_test_data.sh
  datasets/gil262.tsp
  datasets/kroA100.tsp
  datasets/tsp225.tsp
  python/cugraph/__init__.py
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/tests/test_traveling_salesperson.py
  python/cugraph/tests/utils.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/traveling_salesperson.pxd
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

add new graph structure
  python/cugraph/structure/graph_new.py
Owners: @rapidsai/cugraph-python-codeowners

clean up with Seunghwa's bug fixes and suggestions
  cpp/tests/experimental/louvain_primitives.cu
Owners: @rapidsai/cugraph-cpp-codeowners

bug fixes
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

bug fix
  cpp/src/experimental/graph_view.cu
Owners: @rapidsai/cugraph-cpp-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
