Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

Simplified partition offsets handling.
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Enabled expensive check for graph_t ctor.
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners

update copyright year, fix subgraph extraction memory errors
  cpp/src/utilities/cython.cu
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/tests/test_pagerank.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

update copyright year
  python/cugraph/community/subgraph_extraction_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Added CUDA_ARCHITECTURES=OFF setting for test targets, added min cmake requirement back to thirdparty modules to remove warning.
  cpp/CMakeLists.txt
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

cmake update to 3.18
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

update and some restructuring
  README.md
Owners: @rapidsai/cugraph-doc-codeowners

updated cmake line
  SOURCEBUILD.md
Owners: @rapidsai/cugraph-doc-codeowners

updates
  README.md
  docs/source/cugraph_blogs.rst
Owners: @rapidsai/cugraph-doc-codeowners

disable test for subgraph extraction
  python/cugraph/tests/test_subgraph_extraction.py
Owners: @rapidsai/cugraph-python-codeowners

prepare changelog
  CHANGELOG.md
Owners: @rapidsai/cugraph-doc-codeowners

Fixed typo in comment.
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

copyright and docs
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/tests/test_subgraph_extraction.py
Owners: @rapidsai/cugraph-python-codeowners

copyright
  python/cugraph/link_analysis/pagerank.py
Owners: @rapidsai/cugraph-python-codeowners

Prepare Changelog for Automation (#1368)
  CHANGELOG.md
Owners: @rapidsai/cugraph-doc-codeowners

fix a grammar error in an error message.
  cpp/src/experimental/graph.cu
Owners: @rapidsai/cugraph-cpp-codeowners

remove prints
  python/cugraph/link_analysis/pagerank.py
Owners: @rapidsai/cugraph-python-codeowners

add cmake to pr labeler configuration
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Removing unused Arrow cmake files, removing obsolete builddocs conda env file (rapids docs meta pacakge is now recommended)
  conda/environments/builddocs.yml
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners

copyright years
  cpp/include/algorithms.hpp
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  python/cugraph/community/__init__.py
  python/cugraph/tree/minimum_spanning_tree.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

update pr labeler doc configuration
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

python style
  python/cugraph/community/egonet.py
  python/cugraph/tests/test_egonet.py
Owners: @rapidsai/cugraph-python-codeowners

Python side of renumbering SG and MG.
  python/cugraph/dask/structure/renumber.py
  python/cugraph/dask/structure/renumber_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Replaced GoogleTest build with a find_package() required call and updated the conda dev env files accordingly.
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners

More on SG branch Python interface.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

Fixed branching Sg/MG logic in Python interface.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

Fixes in Python renumbering.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

Fixed data retrieval in Python renumbering.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

Need fix on num_verts in Python renumbering.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

Fix for num_verts in Python renumbering.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

fix definition of local variables in shrink_graph
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Clean-up Python renumbering.
  python/cugraph/dask/structure/renumber.py
Owners: @rapidsai/cugraph-python-codeowners

Fixed issues with swapped major/minor, passing total edges to graph_t ctor instead of local number of edges.
  cpp/tests/utilities/mg_test_utilities.cu
Owners: @rapidsai/cugraph-cpp-codeowners

SG Pagerank transition (#1332)
  cpp/src/utilities/cython.cu
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_subgraph_extraction.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Auto-label PRs based on their content (#1358)
  .github/labeler.yml
Owners: @rapidsai/ops-codeowners

Updated copyright year
  python/setuputils.py
Owners: @rapidsai/cugraph-python-codeowners

flake8 updates.
  python/setuputils.py
Owners: @rapidsai/cugraph-python-codeowners

Removing unused RAFT_DIR var setting.
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Added gtest to libcugraph build deps since it is no longer built from-source as part of the libcugraph build.
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

Updated copyright to include current year.
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
