Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners

Enabling pytest code coverage output by default (#1352)
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  python/pytest.ini
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-python-codeowners

set_sort_option
  python/cugraph/bsp/traversal/bfs_bsp.py
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/proto/structure/bicliques.py
  python/cugraph/structure/number_map.py
  python/cugraph/structure/symmetrize.py
Owners: @rapidsai/cugraph-python-codeowners

set_sort_option
  python/cugraph/bsp/traversal/bfs_bsp.py
  python/cugraph/proto/structure/bicliques.py
  python/cugraph/structure/number_map.py
  python/cugraph/structure/symmetrize.py
Owners: @rapidsai/cugraph-python-codeowners

Adding gmock dependency to support test binary builds that run as part of libcugraph conda build.
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

Adding gmock to support building C++ tests that require it.
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
Owners: @rapidsai/ops-codeowners

Bug fixes for MNMG coarsen_graph, renumber_edgelist, relabel (#1364)
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Fixed Python formatting and copyright years.
  python/cugraph/dask/structure/renumber.py
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-python-codeowners

Fixed copyright year in cython.*.
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
Owners: @rapidsai/cugraph-cpp-codeowners

set_sort_option
  python/cugraph/bsp/traversal/bfs_bsp.py
  python/cugraph/proto/structure/bicliques.py
  python/cugraph/structure/number_map.py
  python/cugraph/structure/symmetrize.py
Owners: @rapidsai/cugraph-python-codeowners

add output types
  cpp/src/community/egonet.cu
  python/cugraph/community/egonet.py
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

flake8
  python/cugraph/community/egonet.py
Owners: @rapidsai/cugraph-python-codeowners

flake8, remove prints, copyright
  python/cugraph/community/egonet.py
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
  python/cugraph/utilities/utils.py
Owners: @rapidsai/cugraph-python-codeowners

fix mst pxd
  python/cugraph/tree/minimum_spanning_tree.pxd
  python/cugraph/utilities/utils.py
Owners: @rapidsai/cugraph-python-codeowners

Initial updates to compare to SG pagerank, removed personilization vectors for now to simplify.
  cpp/tests/pagerank/pagerank_mg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

Added missing instantiations for call_renumber() and renumber_edgelist().
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Added missing instantiation paths in cython, and raise exception on un-handled paths.
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-python-codeowners

remove legacy pagerank
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Updated comparison to SG by only comparing pageranks values for vertices belonging to each GPU.
  cpp/tests/pagerank/pagerank_mg_test.cpp
Owners: @rapidsai/cugraph-cpp-codeowners

Updated min cmake version to 3.18 to match RMM and others.
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

PR change requests
  README.md
Owners: @rapidsai/cugraph-doc-codeowners

Update the conda environments and README file (#1369)
  README.md
  SOURCEBUILD.md
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  docs/source/cugraph_blogs.rst
Owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/ops-codeowners

add batched ego test
  python/cugraph/__init__.py
  python/cugraph/community/__init__.py
  python/cugraph/community/egonet.py
  python/cugraph/structure/number_map.py
  python/cugraph/tests/test_egonet.py
Owners: @rapidsai/cugraph-python-codeowners

copyright
  python/cugraph/structure/number_map.py
Owners: @rapidsai/cugraph-python-codeowners

Setting CUDA_ARCHITECTURES on the libcugraph target as required by cmake 3.18.
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Implement MNMG Renumber (#1355)
  cpp/include/experimental/graph.hpp
  cpp/include/utilities/cython.hpp
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
  python/cugraph/dask/structure/renumber.py
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

update doc
  python/cugraph/community/egonet.py
Owners: @rapidsai/cugraph-python-codeowners

address comments from PR
  cpp/src/community/dendrogram.cuh
  cpp/src/community/ecg.cu
  cpp/src/community/flatten_dendrogram.cuh
  cpp/src/community/leiden.cu
  cpp/src/community/leiden.cuh
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

Update CMakeLists.txt files for consistency with RAPIDS and to support cugraph as an external project and other tech debt removal (#1367)
  conda/environments/builddocs.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/tests/CMakeLists.txt
  python/setuputils.py
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-python-codeowners

Update algorithms.hpp
  cpp/include/algorithms.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update egonet.cu
  cpp/src/community/egonet.cu
Owners: @rapidsai/cugraph-cpp-codeowners

clang style
  cpp/src/community/egonet.cu
Owners: @rapidsai/cugraph-cpp-codeowners

add checks for Pascal architecture in Louvain derived tests
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_louvain.py
Owners: @rapidsai/cugraph-python-codeowners

reformat and update copyright dates
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_louvain.py
Owners: @rapidsai/cugraph-python-codeowners

a few more flake8 errors
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_louvain.py
Owners: @rapidsai/cugraph-python-codeowners

EgoNet (#1365)
  README.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/include/utilities/cython.hpp
  cpp/src/community/egonet.cu
  cpp/src/utilities/cython.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/egonet_test.cu
  docs/source/api.rst
  python/cugraph/__init__.py
  python/cugraph/community/__init__.py
  python/cugraph/community/egonet.pxd
  python/cugraph/community/egonet.py
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
  python/cugraph/structure/number_map.py
  python/cugraph/tests/test_egonet.py
  python/cugraph/utilities/utils.py
Owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

update tests
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/structure/graph.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/pagerank_test.cpp
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_subgraph_extraction.py
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Update test_ecg.py
  python/cugraph/tests/test_ecg.py
Owners: @rapidsai/cugraph-python-codeowners

refactor notebook tests to make it easier to filter tests; filter out Louvain tests on Pascal hardware
  ci/gpu/notebook_list.py
  ci/gpu/test-notebooks.sh
  ci/test.sh
  notebooks/community/ECG.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/Subgraph-Extraction.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/cugraph_benchmarks/bfs_benchmark.ipynb
  notebooks/cugraph_benchmarks/louvain_benchmark.ipynb
  notebooks/cugraph_benchmarks/nx_cugraph_bc_benchmarking.ipynb
  notebooks/cugraph_benchmarks/pagerank_benchmark.ipynb
  notebooks/cugraph_benchmarks/release.ipynb
  notebooks/cugraph_benchmarks/sssp_benchmark.ipynb
  notebooks/demo/uvm.ipynb
Owners: @rapidsai/ops-codeowners, @rapidsai/cugraph-doc-codeowners

delete some unused code in script
  ci/gpu/test-notebooks.sh
Owners: @rapidsai/ops-codeowners

misspelled update from Rick
  ci/test.sh
Owners: @rapidsai/ops-codeowners
