Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

bug fix
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

add boost license file
  thirdparty/LICENSES/LICENSE.boost
Owners: none

Added initial infrastructure for MG C++ testing and a Pagerank MG test using it (#1361)
  build.sh
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tests/README.md
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.cpp
  cpp/tests/utilities/test_utilities.hpp
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

Update test cmake
  cpp/src/traversal/tsp.cu
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-cmake-codeowners

Add tsp interface
  python/cugraph/traveling_salesman/traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Python doc
  python/cugraph/traversal/traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Update conda env to use faiss
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
Owners: @rapidsai/ops-codeowners

Saving progress
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_kernels.hpp
  python/cugraph/traversal/traveling_salesman.py
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Use raft swap
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Keep static global solution
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Update cpp tests
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Remove mallocs
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/traversal/tsp_test.cu
Owners: @rapidsai/cugraph-cpp-codeowners

Move project to traversal
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_knn.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  python/cugraph/algorithms/tsp.pxd
  python/cugraph/algorithms/tsp.py
  python/cugraph/algorithms/tsp_wrapper.pyx
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Remove path hard coding in pytest
  python/cugraph/tests/test_traveling_salesman.py
  python/cugraph/tests/utils.py
Owners: @rapidsai/cugraph-python-codeowners

Replace knn with raft call
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Refactor global device variables and add k neighbor parameter
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Start integration work
  cpp/src/algorithms/knn.hpp
  cpp/src/algorithms/tsp.cu
  cpp/src/algorithms/tsp.hpp
  cpp/src/algorithms/tsp_kernels.hpp
  cpp/src/algorithms/tsp_solver.hpp
  cpp/src/algorithms/utils.hpp
  python/cugraph/algorithms/tsp.pxd
  python/cugraph/algorithms/tsp.py
  python/cugraph/algorithms/tsp_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Return route option
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Clean tsp
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Add test to verify route has unique vertices
  python/cugraph/tests/test_traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Add handle and double algorithm call
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Adapt kernel to raft knn call
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Update dataset download script
  datasets/get_test_data.sh
Owners: @rapidsai/cugraph-doc-codeowners

Run clang format
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_knn.hpp
  cpp/src/traversal/tsp_utils.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Unrenumber wrapper
  python/cugraph/traversal/traveling_salesman.py
Owners: @rapidsai/cugraph-python-codeowners

Fix nstart with beam search
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Remove renumbering
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Add tsp wrapper
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Getting correct output
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_kernels.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Add route and verbose arguments
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_knn.hpp
  cpp/tests/traversal/tsp_test.cu
  python/cugraph/layout/force_atlas2_wrapper.pyx
  python/cugraph/tests/utils.py
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Obtain output
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/CMakeLists.txt
  python/cugraph/__init__.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-python-codeowners

Saving progress
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_utils.hpp
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Fix compile errors
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_kernels.hpp
  cpp/src/traversal/tsp_utils.hpp
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Revert fa2 changes
  python/cugraph/layout/force_atlas2_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Add faiss to cmake
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Fix nstart without beam search
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp_solver.hpp
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Add route return and nstart option
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/tests/traversal/tsp_test.cu
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners

Update license year
  python/cugraph/tests/test_traveling_salesman.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/traveling_salesman.pxd
  python/cugraph/traversal/traveling_salesman.py
  python/cugraph/traversal/traveling_salesman_wrapper.pyx
Owners: @rapidsai/cugraph-python-codeowners

Choose starting node
  cpp/src/traversal/tsp_solver.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

Remove Joe knn
  cpp/src/traversal/tsp_knn.hpp
Owners: @rapidsai/cugraph-cpp-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
