Repository rapidsai/cugraph, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/cugraph-doc-codeowners, @rapidsai/cugraph-cpp-codeowners, @rapidsai/cugraph-python-codeowners, @rapidsai/cugraph-cmake-codeowners, @rapidsai/ops-codeowners

remove unnecessary stream sync
  cpp/include/compute_partition.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

update RAFT tag
  cpp/CMakeLists.txt
Owners: @rapidsai/cugraph-cmake-codeowners

Refactor Louvain with new graph primitives
  cpp/src/community/louvain.cuh
  cpp/src/experimental/louvain.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

clean up include files, delete obsolete header
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/shuffle.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

fix a typo
  cpp/src/experimental/generate_rmat_edgelist.cu
Owners: @rapidsai/cugraph-cpp-codeowners

ENH Use Ninja to build in CI
  ci/cpu/build.sh
Owners: @rapidsai/ops-codeowners

ENH Build with `cmake --build` & Pass ccache variables to conda recipe & use Ninja in CI (#1415)
  build.sh
  ci/cpu/build.sh
  conda/recipes/libcugraph/meta.yaml
Owners: @rapidsai/ops-codeowners

switch the graph partitioning scheme in graph(_view)_t
  cpp/include/experimental/graph_view.hpp
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
Owners: @rapidsai/cugraph-cpp-codeowners

switch the graph partitioning schme in patter accelerator headers and graph_utils.cuh
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/include/patterns/copy_to_adj_matrix_row_col.cuh
  cpp/include/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
Owners: @rapidsai/cugraph-cpp-codeowners

update changelog
  CHANGELOG.md
Owners: @rapidsai/cugraph-doc-codeowners

update default path of setup to use the new directory paths in build directory
  python/setuputils.py
Owners: @rapidsai/cugraph-python-codeowners

See if splitting louvain up makes CI run faster
  cpp/CMakeLists.txt
  cpp/src/community/louvain_32_32_double.cu
  cpp/src/community/louvain_32_32_float.cu
  cpp/src/community/louvain_32_64_double.cu
  cpp/src/community/louvain_32_64_float.cu
  cpp/src/community/louvain_64_64_double.cu
  cpp/src/community/louvain_64_64_float.cu
  cpp/src/community/louvain_impl.cuh
Owners: @rapidsai/cugraph-cmake-codeowners, @rapidsai/cugraph-cpp-codeowners

fix clang format issues
  cpp/src/community/louvain_32_32_double.cu
  cpp/src/community/louvain_32_32_float.cu
  cpp/src/community/louvain_32_64_double.cu
  cpp/src/community/louvain_32_64_float.cu
  cpp/src/community/louvain_64_64_double.cu
  cpp/src/community/louvain_64_64_float.cu
Owners: @rapidsai/cugraph-cpp-codeowners

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order matters - match of highest importance goes last (last match wins)

#doc code owners
datasets/          @rapidsai/cugraph-doc-codeowners
notebooks/         @rapidsai/cugraph-doc-codeowners
docs/              @rapidsai/cugraph-doc-codeowners
**/*.txt           @rapidsai/cugraph-doc-codeowners
**/*.md            @rapidsai/cugraph-doc-codeowners
**/*.rst           @rapidsai/cugraph-doc-codeowners
**/*.ipynb         @rapidsai/cugraph-doc-codeowners
**/*.pdf           @rapidsai/cugraph-doc-codeowners
**/*.png           @rapidsai/cugraph-doc-codeowners

#cpp code owners
cpp/               @rapidsai/cugraph-cpp-codeowners

#python code owners
python/            @rapidsai/cugraph-python-codeowners

#cmake code owners
**/CMakeLists.txt  @rapidsai/cugraph-cmake-codeowners
**/cmake/          @rapidsai/cugraph-cmake-codeowners

#build/ops code owners
.github/           @rapidsai/ops-codeowners
ci/                @rapidsai/ops-codeowners
conda/             @rapidsai/ops-codeowners
**/Dockerfile      @rapidsai/ops-codeowners
**/.dockerignore   @rapidsai/ops-codeowners
