Repository rapidsai/cugraph, changes with the labels that .github/labeler.yml gives for each.
All labels: python, doc, datasets, cuGraph, CMake, Ops

.github/labeler.yml:

# https://github.com/actions/labeler#common-examples
# Adapted from https://github.com/rapidsai/cugraph/blob/main/.github/CODEOWNERS
# Labels culled from https://github.com/rapidsai/cugraph/labels

python:
  - 'python/**'
  - 'notebooks/**'
  - 'benchmarks/**'
  
doc:
  - 'docs/**'
  - '**/*.md'
  
datasets:
  - 'datasets/**'
  
cuGraph:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'
  
Ops:
  - '.github/**'
  - 'ci/**'
  - 'conda/**'
  - '**/Dockerfile'
  - '**/.dockerignore'
  - 'docker/**'

remove persist
  python/cugraph/structure/number_map.py
Labels: python

improving error checking and docs
  python/cugraph/community/spectral_clustering.py
Labels: python

issues 1117 - replaced Invalid API with Invalid input
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/community/ECG.cu
  cpp/src/community/extract_subgraph_by_vertex.cu
  cpp/src/components/connectivity.cu
  cpp/src/cores/core_number.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/src/linear_assignment/hungarian.cu
  cpp/src/link_analysis/gunrock_hits.cpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/traversal/sssp.cu
Labels: cuGraph

issues 1117
  cpp/src/layout/force_atlas2.cu
Labels: cuGraph

Fixed issue with new arg name colliding with existing function name.
  ci/utils/git_helpers.py
Labels: Ops

Updated copyright date.
  ci/checks/style.sh
  ci/utils/git_helpers.py
Labels: Ops

oversubscription
  test_betweenness_oversubs.py
Labels: none

cleaned up imports
  python/cugraph/centrality/__init__.py
Labels: python

better docs
  python/cugraph/centrality/betweenness_centrality.py
Labels: python

drop duplicate edge centrality entry
  docs/source/api.rst
Labels: doc

added more introp doc
  docs/source/cugraph_intro.md
Labels: doc

style fix
  python/cugraph/centrality/betweenness_centrality.py
Labels: python
