Repository rapidsai/cugraph, pull requests merged in 2019-07, with the labels that each got.

#357 [REVIEW] Pagerank cpp
  CHANGELOG.md
  cpp/include/algorithms.h
  cpp/src/converters/renumber.cuh
  cpp/src/snmg/COO2CSR/COO2CSR.cu
  cpp/src/snmg/link_analysis/pagerank.cu
  cpp/src/snmg/utils.cu
  cpp/src/snmg/utils.cuh
  cpp/src/tests/snmg_pagerank/snmg_pagerank_test.cu
  cpp/src/tests/snmg_test_utils.h
  python/cugraph/mg_pagerank/c_mg_pagerank.pxd
Labels: 3 - Ready for Review

#361 [REVIEW] Define the prototype of what the SNMG sort would look like
  CHANGELOG.md
  cpp/src/sort/sort.cuh
Labels: proposal

#375 [REVIEW] Added a function to initialize gdf columns in cugraph
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/snmg/COO2CSR/COO2CSR.cu
  cpp/src/snmg/link_analysis/pagerank.cu
  cpp/src/utilities/graph_utils.cu
  cpp/src/utilities/graph_utils.cuh
Labels: 3 - Ready for Review

#383 Exposed MG pagerank solver parameters
  CHANGELOG.md
  python/cugraph/snmg/link_analysis/mg_pagerank.py
  python/cugraph/snmg/link_analysis/mg_pagerank_wrapper.pyx
Labels: 5 - Ready to Merge

#380 [REVIEW] Fea cusort merge
  CHANGELOG.md
  cpp/src/sort/binning.cuh
  cpp/src/sort/sort.cuh
  cpp/src/sort/sort_impl.cuh
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/sort/sort_test.cu
Labels: 3 - Ready for Review, 4 - Waiting on Author

#411 [REVIEW] Integrate dask-cugraph in cugraph
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cugraph_dev.yml
  conda/environments/cugraph_dev_cuda10.yml
  cpp/include/algorithms.h
  cpp/src/snmg/link_analysis/pagerank.cu
  cpp/src/utilities/cusparse_helper.cu
  cpp/src/utilities/cusparse_helper.h
  datasets/hibench_small/1/part-00000.csv
  python/cugraph/dask/__init__.py
  python/cugraph/dask/core.py
  python/cugraph/dask/pagerank/__init__.py
  python/cugraph/dask/pagerank/pagerank.py
  python/cugraph/snmg/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/tests/dask/__init__.py
  python/cugraph/tests/dask/test_hibench_small.py
  python/cugraph/tests/dask/test_karate_csv.py
Labels: 5 - Ready to Merge

#421 [REVIEW] Fix PR 351
  CHANGELOG.md
  ci/release/update-version.sh
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review

#418 [REVIEW] FEA cusort keys only
  CHANGELOG.md
  cpp/src/sort/binning.cuh
  cpp/src/sort/sort.cuh
  cpp/src/sort/sort_impl.cuh
  cpp/src/tests/sort/sort_test.cu
Labels: 3 - Ready for Review

#399 [REVIEW] Protype analaytics - SCC
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/proto/__init__.py
  python/cugraph/proto/components/__init__.py
  python/cugraph/proto/components/scc.py
  python/cugraph/proto/structure/__init__.py
  python/cugraph/proto/structure/bicliques.py
Labels: 5 - Ready to Merge

#420 [REVIEW] snmg drop duplicates, add conditional read_csv wait in pagerank.py
  CHANGELOG.md
  python/cugraph/dask/pagerank/__init__.py
  python/cugraph/dask/pagerank/pagerank.py
  python/cugraph/tests/dask/test_hibench_small.py
  python/cugraph/tests/dask/test_karate_csv.py
  python/cugraph/utilities/column_utils.pyx
Labels: 4 - Waiting on Author
