Repository rapidsai/cugraph, pull requests merged in 2019-08, with the labels that each got.

#423 [REVIEW] Fea ext SCC
  CHANGELOG.md
  cpp/include/algorithms.h
  cpp/src/components/connectivity.cu
  cpp/src/components/scc_matrix.cuh
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/components/con_comp_test.cu
  cpp/src/tests/components/scc_test.cu
  python/cugraph/__init__.py
  python/cugraph/components/__init__.py
  python/cugraph/components/c_connectivity.pxd
  python/cugraph/components/connectivity.py
  python/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/tests/test_connectivity.py
Labels: 3 - Ready for Review

#437 Streamline CUDA_REL environment variable
  CHANGELOG.md
  ci/cpu/cugraph/build_cugraph.sh
  ci/cpu/libcugraph/build_libcugraph.sh
  ci/cpu/libcugraph/upload-anaconda.sh
  conda_build.sh
Labels: 4 - Waiting on Author

#441 [REVIEW] Import cudf_cpp.pxd and remove redundant definitions
  CHANGELOG.md
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/link_prediction/wjaccard_wrapper.pyx
  python/cugraph/link_prediction/woverlap_wrapper.pyx
  python/cugraph/structure/c_graph.pxd
  python/cugraph/structure/graph_wrapper.pyx
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_louvain.py
  python/cugraph/tests/test_modularity.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/utils.py
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/column_utils.pyx
Labels: 3 - Ready for Review

#448 Import filter_unreachable
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/tests/test_filter_unreachable.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/traversal/__init__.py
Labels: 4 - Waiting on Author

#447 Fixed FatalError typo in trianges_counting.cpp
  cpp/src/nvgraph/triangles_counting.cpp
Labels: 4 - Waiting on Author

#416 [REVIEW] Added initial implementation of db_object class
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/db/db_object.cu
  cpp/src/db/db_object.cuh
Labels: 3 - Ready for Review, 4 - Waiting on Author

#450 [Review] Added a multi-GPU section in cuGraph documentation.
  CHANGELOG.md
  docs/source/dask-cugraph.rst
  docs/source/index.rst
  python/cugraph/components/connectivity.py
  python/cugraph/link_analysis/c_pagerank.pxd
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/structure/c_graph.pxd
  python/cugraph/structure/convert_matrix.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/graph_wrapper.pyx
  python/cugraph/structure/renumber.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_pagerank.py
Labels: 3 - Ready for Review

#453 [Review] BUG cudf-cugraph out-of-sync
  CHANGELOG.md
  README.md
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_dev_cuda92.yml
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/link_prediction/wjaccard_wrapper.pyx
  python/cugraph/link_prediction/woverlap_wrapper.pyx
  python/cugraph/structure/graph_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/column_utils.pyx
Labels: 3 - Ready for Review

#454 Initial version of updated script to run benchmarks
  CHANGELOG.md
  python/utils/run_benchmarks.py
Labels: python

#463 [REVIEW] Remove numba dependency so we use the one from cudf
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_dev_cuda92.yml
Labels: 3 - Ready for Review

#458 [REVIEW] Fix race in SSSP
  CHANGELOG.md
  cpp/src/traversal/sssp.cu
  cpp/src/traversal/sssp.cuh
  cpp/src/traversal/sssp_kernels.cuh
Labels: 3 - Ready for Review
