Repository rapidsai/cugraph, pull requests merged in 2019-11, with the labels that each got.

#576 [REVIEW] remove adjacency list conversions
  CHANGELOG.md
  cpp/src/community/nvgraph_gdf.cu
  cpp/src/cores/core_number.cu
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/structure/cugraph.cu
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/sort/sort_test.cu
  cpp/src/tests/sssp/sssp_test.cu
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/sssp.cu
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/structure/graph_wrapper.pyx
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
Labels: 3 - Ready for Review, 4 - Waiting on Author

#580 [BUG] Changed hardcoded test output file to a generated tempfile file name
  CHANGELOG.md
  ci/gpu/build.sh
  python/cugraph/tests/dask/test_hibench_small.py
Labels: 2 - In Progress

#585 [REVIEW] Remove BUILD_ABI references in CI
  CHANGELOG.md
  ci/cpu/prebuild.sh
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
Labels: 3 - Ready for Review, 4 - Waiting on Author

#591 [REVIEW - ENH] Adding initial GPU metrics to benchmark utils
  CHANGELOG.md
  python/utils/asv_report.py
  python/utils/benchmark.py
  python/utils/gpu_metric_poller.py
  python/utils/run_benchmarks.py
Labels: 3 - Ready for Review
