Repository rapidsai/cugraph, pull requests merged in 2019-04, with the labels that each got.

#196 Fix typos in readme intro
  CHANGELOG.md
  README.md
Labels: 5 - Ready to Merge

#190 [REVIEW] Bug cudf & cugraph interoperability issue
  CHANGELOG.md
  cpp/include/functions.h
  cpp/src/cugraph.cu
  cpp/src/nvgraph_gdf.cu
  cpp/src/tests/gdf_graph/gdf_graph.cu
  cpp/src/tests/grmat/grmat_test.cu
  cpp/src/tests/nvgraph_plugin/nvgraph_gdf_sssp.cpp
  cpp/src/tests/pagerank/pagerank_test.cu
  python/cugraph/cugraph.pyx
  python/cugraph/graph/c_graph.pxd
  python/cugraph/graph/c_graph.pyx
  python/cugraph/graph/test_graph.py
  python/cugraph/pagerank/pagerank_wrapper.pyx
  python/cugraph/sssp/sssp_wrapper.pyx
Labels: 3 - Ready for Review

#195 2 hop jaccard
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.h
  cpp/include/cugraph.h
  cpp/include/functions.h
  cpp/include/two_hop_neighbors.cuh
  cpp/src/cugraph.cu
  cpp/src/graph_utils.cuh
  cpp/src/jaccard.cu
  cpp/src/two_hop_neighbors.cu
  python/cugraph/graph/c_graph.pxd
  python/cugraph/graph/c_graph.pyx
  python/cugraph/graph/test_graph.py
  python/cugraph/jaccard/c_jaccard.pxd
  python/cugraph/jaccard/jaccard_wrapper.pyx
  python/cugraph/jaccard/test_jaccard.py
  python/cugraph/jaccard/test_wjaccard.py
  python/cugraph/jaccard/wjaccard_wrapper.pyx
Labels: 5 - Ready to Merge

#193 [REVIEW] fix segfault when edgevals not provided
  CHANGELOG.md
  cpp/src/cugraph.cu
  cpp/src/nvgraph_gdf.cu
  python/cugraph/graph/c_graph.pyx
  python/cugraph/louvain/louvain_wrapper.pyx
  python/cugraph/louvain/test_louvain.py
  python/cugraph/spectral_clustering/test_balanced_cut.py
Labels: 5 - Ready to Merge

#203 [Review] Added small datasets directly in the repo
  CHANGELOG.md
  README.md
  ci/gpu/build.sh
  cpp/src/tests/datasets.tar.gz
  datasets/dolphins.mtx
  datasets/karate.mtx
  datasets/netscience.mtx
  datasets/polbooks.mtx
  python/cugraph/bfs/test_bfs.py
  python/cugraph/graph/c_graph.pyx
  python/cugraph/graph/test_graph.py
  python/cugraph/jaccard/test_jaccard.py
  python/cugraph/jaccard/test_wjaccard.py
  python/cugraph/louvain/test_louvain.py
  python/cugraph/overlap/test_overlap.py
  python/cugraph/pagerank/test_pagerank.py
  python/cugraph/spectral_clustering/test_balanced_cut.py
  python/cugraph/spectral_clustering/test_modularity.py
  python/cugraph/sssp/test_sssp.py
Labels: 5 - Ready to Merge

#206 [review] Updated versions in conda envs
  CHANGELOG.md
  conda/environments/cugraph_dev.yml
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_nightly.yml
  conda/environments/cugraph_nightly_cuda10.yml
Labels: 5 - Ready to Merge

#207 [review] mtx2csv script
  CHANGELOG.md
  python/utils/mtx2csv.py
Labels: 5 - Ready to Merge

#211 [BUG] Remove hardcoded dataset paths, replace with build var that can be overridden with an env var
  CHANGELOG.md
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/nvgraph_plugin/nvgraph_gdf_sssp.cpp
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/test_utils.h
Labels: 5 - Ready to Merge

#214 Removed throw exception from dtor in TC
  CHANGELOG.md
  cpp/nvgraph/cpp/src/triangles_counting.cpp
Labels: ! - Hotfix, 3 - Ready for Review

#215 [ENH] Simplified get_rapids_dataset_root_dir(), set a default value for the root dir
  CHANGELOG.md
  cpp/src/tests/nvgraph_plugin/nvgraph_gdf_sssp.cpp
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/test_utils.h
Labels: 3 - Ready for Review

#210 [REVIEW] expose degree calculation kernel
  CHANGELOG.md
  cpp/include/functions.h
  cpp/src/cugraph.cu
  cpp/src/graph_utils.cuh
  python/cugraph/graph/c_graph.pxd
  python/cugraph/graph/c_graph.pyx
  python/cugraph/graph/test_graph.py
Labels: 3 - Ready for Review

#218 Update c_graph.pyx
  CHANGELOG.md
  python/cugraph/graph/c_graph.pyx
Labels: 5 - Ready to Merge

#220 Triangle count
  CHANGELOG.md
  cpp/include/nvgraph_gdf.h
  cpp/nvgraph/cpp/src/nvgraph.cu
  cpp/nvgraph/cpp/src/triangles_counting.cpp
  cpp/nvgraph/cpp/src/triangles_counting_kernels.cu
  cpp/src/nvgraph_gdf.cu
  python/cugraph/cugraph.pyx
  python/cugraph/nvgraph/c_nvgraph.pxd
  python/cugraph/triangle_count/test_triangle_count.py
  python/cugraph/triangle_count/triangle_count_wrapper.pyx
Labels: 5 - Ready to Merge

#221 Moved two_hop_neighbors.cuh to src folder
  CHANGELOG.md
  cpp/src/two_hop_neighbors.cuh
Labels: 5 - Ready to Merge

#224 Updated erroneous comments
  CHANGELOG.md
  python/cugraph/louvain/test_louvain.py
  python/cugraph/overlap/overlap_wrapper.pyx
  python/cugraph/overlap/test_overlap.py
  python/cugraph/overlap/woverlap_wrapper.pyx
  python/cugraph/spectral_clustering/spectral_clustering.pyx
Labels: 5 - Ready to Merge

#226 [REVIEW] Bump cudf version deps in conda recipes
  CHANGELOG.md
  conda/environments/builddocs.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
Labels: 3 - Ready for Review

#230 [Review] SNMG SPMV and helpers functions
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.yml
  cpp/CMakeLists.txt
  cpp/include/functions.h
  cpp/src/cugraph.cu
  cpp/src/snmg/snmg_utils.cuh
  cpp/src/snmg/spmv.cuh
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/snmg_spmv/snmg_spmv_test.cu
  cpp/src/tests/snmg_test_utils.h
  cpp/src/tests/test_utils.h
Labels: 3 - Ready for Review

#232 [REVIEW] Bug ext create column
  CHANGELOG.md
  cpp/include/algorithms.h
  cpp/src/cugraph.cu
  python/cugraph/bfs/bfs_wrapper.pyx
  python/cugraph/graph/c_graph.pyx
  python/cugraph/jaccard/jaccard_wrapper.pyx
  python/cugraph/jaccard/wjaccard_wrapper.pyx
  python/cugraph/louvain/louvain_wrapper.pyx
  python/cugraph/overlap/overlap_wrapper.pyx
  python/cugraph/overlap/woverlap_wrapper.pyx
  python/cugraph/pagerank/pagerank_wrapper.pyx
  python/cugraph/spectral_clustering/spectral_clustering.pyx
  python/cugraph/sssp/sssp_wrapper.pyx
  python/cugraph/triangle_count/triangle_count_wrapper.pyx
Labels: 3 - Ready for Review

#236 [REVIEW] MInor update to README and nightly
  CHANGELOG.md
  README.md
  conda/environments/cugraph_nightly.yml
  conda/environments/cugraph_nightly_cuda10.yml
Labels: 3 - Ready for Review

#239 [REVIEW] Bug ext two graphs
  CHANGELOG.md
  cpp/include/algorithms.h
  cpp/include/functions.h
  cpp/src/cugraph.cu
  cpp/src/two_hop_neighbors.cu
  python/cugraph/bfs/bfs_wrapper.pyx
  python/cugraph/bfs/c_bfs.pxd
  python/cugraph/graph/c_graph.pyx
  python/cugraph/graph/test_graph.py
  python/cugraph/jaccard/jaccard_wrapper.pyx
  python/cugraph/jaccard/wjaccard_wrapper.pyx
  python/cugraph/louvain/louvain_wrapper.pyx
  python/cugraph/overlap/overlap_wrapper.pyx
  python/cugraph/overlap/test_overlap.py
  python/cugraph/overlap/woverlap_wrapper.pyx
  python/cugraph/pagerank/pagerank_wrapper.pyx
  python/cugraph/spectral_clustering/spectral_clustering.pyx
  python/cugraph/spectral_clustering/test_balanced_cut.py
  python/cugraph/spectral_clustering/test_modularity.py
  python/cugraph/sssp/sssp_wrapper.pyx
Labels: 3 - Ready for Review

#233 [WIP] edit tests for reading csv
  CHANGELOG.md
  datasets/dolphins.csv
  datasets/karate.csv
  datasets/netscience.csv
  datasets/polbooks.csv
  python/cugraph/bfs/test_bfs.py
  python/cugraph/graph/test_graph.py
  python/cugraph/jaccard/test_jaccard.py
  python/cugraph/jaccard/test_wjaccard.py
  python/cugraph/louvain/test_louvain.py
  python/cugraph/overlap/test_overlap.py
  python/cugraph/pagerank/test_pagerank.py
  python/cugraph/spectral_clustering/test_balanced_cut.py
  python/cugraph/spectral_clustering/test_modularity.py
  python/cugraph/sssp/test_sssp.py
Labels: 5 - Ready to Merge

#234 [REVIEW] Fea renumbering phase2
  CHANGELOG.md
  README.md
  cpp/include/functions.h
  cpp/src/cugraph.cu
  cpp/src/heap.cuh
  cpp/src/renumber.cuh
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/renumber/renumber_test.cu
  python/cugraph/graph/c_graph.pxd
  python/cugraph/graph/c_graph.pyx
  python/cugraph/graph/test_graph.py
Labels: 5 - Ready to Merge

#244 [REVIEW] Fix nvgraph bug in subgraph extraction
  CHANGELOG.md
  cpp/nvgraph/cpp/include/graph_concrete_visitors.hxx
  cpp/nvgraph/cpp/tests/nvgraph_capi_tests_subgraph.cpp
Labels: 3 - Ready for Review

#250 [REVIEW] Local build script to mimic gpuCI
  CHANGELOG.md
  CONTRIBUTING.md
  ci/local/README.md
  ci/local/build.sh
Labels: 5 - Ready to Merge

#252 [review] cpp test upgrades for more convenient testing on large input
  CHANGELOG.md
  README.md
  cpp/src/tests/nvgraph_plugin/nvgraph_gdf_sssp.cpp
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/snmg_spmv/snmg_spmv_test.cu
  datasets/README.md
  datasets/get_test_data.sh
Labels: 3 - Ready for Review
