Repository rapidsai/cugraph, pull requests merged in 2019-05, with the labels that each got.

#256 [review] add pip to the install, remove nightly files, update readme
  CHANGELOG.md
  README.md
  conda/environments/cugraph_dev.yml
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_nightly.yml
  conda/environments/cugraph_nightly_cuda10.yml
Labels: 3 - Ready for Review

#255 [REVIEW] Fix local build README example using an incorrect docker image [skip ci]
  ci/local/README.md
Labels: 5 - Ready to Merge

#260 Merge issue
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ci/local/README.md
  ci/local/build.sh
  conda/environments/cugraph_dev.yml
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_nightly.yml
  conda/environments/cugraph_nightly_cuda10.yml
  cpp/src/tests/nvgraph_plugin/nvgraph_gdf_sssp.cpp
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/snmg_spmv/snmg_spmv_test.cu
  datasets/README.md
  datasets/get_test_data.sh
Labels: 3 - Ready for Review

#264 [REVIEW] Add cudatoolkit dependency
  CHANGELOG.md
  README.md
  ci/cpu/libcugraph/upload-anaconda.sh
  conda/environments/cugraph_dev.yml
  conda/environments/cugraph_dev_cuda10.yml
  conda/recipes/libcugraph/meta.yaml
Labels: 3 - Ready for Review

#246 [REVIEW] Subgraph extraction python bindings
  CHANGELOG.md
  cpp/include/nvgraph_gdf.h
  cpp/src/nvgraph_gdf.cu
  python/cugraph/cugraph.pyx
  python/cugraph/nvgraph/c_nvgraph.pxd
  python/cugraph/subgraph_extraction/subgraph_extraction.pyx
  python/cugraph/subgraph_extraction/test_subgraph_extraction.py
  python/setup.py
Labels: 3 - Ready for Review

#267 [REVIEW] Use latest tag in update-version
  CHANGELOG.md
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#271 [REVIEW] Remove nvgraph conda dependency
  CHANGELOG.md
  ci/gpu/build.sh
  conda/recipes/libcugraph/meta.yaml
Labels: 3 - Ready for Review

#270 [REVIEW] Update CONTRIBUTING.md and README.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Labels: 4 - Waiting on Author

#288 [REVIEW] Add boost conda dependency
  CHANGELOG.md
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review

#287 [REVIEW] SNMG power iteration step 1
  CHANGELOG.md
  cpp/src/cugraph.cu
  cpp/src/graph_utils.cuh
  cpp/src/snmg/pagerank.cuh
  cpp/src/snmg/snmg_utils.cuh
  cpp/src/snmg/spmv.cuh
  cpp/src/snmg/utils.cuh
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/snmg_pagerank/snmg_pagerank_test.cu
  cpp/src/utilities/error_utils.h
  datasets/get_test_data.sh
Labels: 3 - Ready for Review

#286 [REVIEW] Reorganized cugraph source directory
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/community/nvgraph_gdf.cu
  cpp/src/converters/COOtoCSR.cuh
  cpp/src/converters/nvgraph.cu
  cpp/src/converters/nvgraph.cuh
  cpp/src/converters/renumber.cu
  cpp/src/converters/renumber.cuh
  cpp/src/cugraph.cu
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/pagerank.cuh
  cpp/src/snmg/blas/spmv.cu
  cpp/src/snmg/blas/spmv.cuh
  cpp/src/snmg/link_analysis/pagerank.cuh
  cpp/src/structure/cugraph.cu
  cpp/src/tests/renumber/renumber_test.cu
  cpp/src/tests/snmg_pagerank/snmg_pagerank_test.cu
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/bfs.cuh
  cpp/src/traversal/bfs_kernels.cuh
  cpp/src/traversal/nvgraph_sssp.cu
  cpp/src/traversal/two_hop_neighbors.cu
  cpp/src/traversal/two_hop_neighbors.cuh
  cpp/src/utilities/degree.cu
  cpp/src/utilities/error_utils.h
  cpp/src/utilities/graph_utils.cuh
  cpp/src/utilities/grmat.cu
  cpp/src/utilities/heap.cuh
  cpp/src/utilities/nvgraph_error_utils.h
Labels: 3 - Ready for Review, 4 - Waiting on Author

#302 [REVIEW] SNMG CSR Pagerank (cuda/C++)
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/snmg/blas/spmv.cu
  cpp/src/snmg/blas/spmv.cuh
  cpp/src/snmg/degree/degree.cu
  cpp/src/snmg/degree/degree.cuh
  cpp/src/snmg/link_analysis/pagerank.cu
  cpp/src/snmg/link_analysis/pagerank.cuh
  cpp/src/structure/cugraph.cu
  cpp/src/tests/snmg_pagerank/snmg_pagerank_test.cu
  cpp/src/tests/snmg_spmv/snmg_spmv_test.cu
  cpp/src/utilities/cusparse_helper.cu
  cpp/src/utilities/cusparse_helper.h
Labels: 5 - Ready to Merge

#300 [REVIEW] Personalized Page Rank
  CHANGELOG.md
  ci/gpu/build.sh
  cpp/include/algorithms.h
  cpp/src/link_analysis/pagerank.cu
  cpp/src/tests/grmat/grmat_test.cu
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/utilities/graph_utils.cuh
  python/cugraph/pagerank/c_pagerank.pxd
  python/cugraph/pagerank/pagerank_wrapper.pyx
  python/cugraph/pagerank/test_pagerank.py
Labels: 3 - Ready for Review, 4 - Waiting on Author
