Repository rapidsai/cugraph, pull requests merged in 2019-03, with the labels that each got.

#100 [REVIEW] test vertex and edge identifiers
  CHANGELOG.md
  python/cugraph/bfs/test_bfs.py
  python/cugraph/jaccard/test_jaccard.py
  python/cugraph/louvain/test_louvain.py
  python/cugraph/pagerank/test_pagerank.py
  python/cugraph/spectral_clustering/test_balanced_cut.py
Labels: 3 - Ready for Review

#131 Update setup_pip
  setup_pip.py
Labels: 3 - Ready for Review

#134 single-node-multi-gpu Pagerank beta
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cugraph_dev.yml
  conda/environments/cugraph_nightly.yml
  cpp/CMakeLists.txt
  cpp/include/functions.h
  cpp/src/cugraph.cu
  cpp/src/graph_utils.cuh
  cpp/src/multi_pagerank/adtp.c
  cpp/src/multi_pagerank/cuda_kernels.cu
  cpp/src/multi_pagerank/cuda_kernels.h
  cpp/src/multi_pagerank/global.h
  cpp/src/multi_pagerank/multi_pagerank.cu
  cpp/src/multi_pagerank/multi_pagerank.cuh
  cpp/src/multi_pagerank/phsort.cu
  cpp/src/multi_pagerank/phsort.cuh
  cpp/src/multi_pagerank/tmp_pool.c
  cpp/src/multi_pagerank/tmp_pool.h
  cpp/src/multi_pagerank/utils.c
  cpp/src/multi_pagerank/utils.h
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/multi_pagerank/multi_pagerank_test.cu
  cpp/src/tests/multi_pagerank/multi_pagerank_test2.cu
  cpp/src/tests/multi_pagerank/multi_pagerank_test3.cu
  cpp/src/tests/multi_pagerank/multi_pagerank_test_file.cu
  cpp/src/tests/test_utils.h
  dask/README.md
  dask/dask_cugraph/__init__.py
  dask/dask_cugraph/pagerank.py
  dask/setup.py
  dask/test_Input_small.py
  dask/test_dask_cugraph.py
  dask/test_dask_cugraph_pagerank.py
  dask/test_dask_cugraph_sort_values_binned.py
  dask/test_larger_data.py
  python/cugraph/cugraph.pyx
  python/cugraph/graph/c_graph.pxd
  python/cugraph/graph/c_graph.pyx
  python/cugraph/mg_pagerank/c_mg_pagerank.pxd
  python/cugraph/mg_pagerank/mg_pagerank_wrapper.pyx
  python/notebooks/test_dask_cugraph_pagerank.ipynb
  thirdparty/mmio/mmio.c
Labels: 3 - Ready for Review

#144 WIP documentation
  CHANGELOG.md
  cpp/include/functions.h
Labels: 3 - Ready for Review

#147 [REVIEW] Update seds for update-version
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#152 [REVIEW] cugraph version should be based on python
  CHANGELOG.md
  conda/recipes/cugraph/meta.yaml
Labels: 3 - Ready for Review

#160 [BUG] Added additional link directory to support building on CentOS-7
  CHANGELOG.md
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
Labels: 5 - Ready to Merge

#169 Disable terminal output in sssp
  CHANGELOG.md
  cpp/src/nvgraph_gdf.cu
Labels: 5 - Ready to Merge

#157 [REVIEW] remove cudatoolkit dependency for algorithms using cuda header files
  CHANGELOG.md
  cpp/include/functions.h
  cpp/include/nvgraph_gdf.h
  cpp/src/cugraph.cu
  cpp/src/nvgraph_gdf.cu
  python/cugraph/cugraph.pyx
  python/cugraph/jaccard/c_jaccard.pxd
  python/cugraph/jaccard/jaccard_wrapper.pyx
  python/cugraph/jaccard/wjaccard_wrapper.pyx
  python/cugraph/louvain/c_louvain.pxd
  python/cugraph/louvain/louvain_wrapper.pyx
  python/setup.py
Labels: 4 - Waiting on Author

#181 [REVIEW] fix crash/rmm free error when edge values present
  CHANGELOG.md
  cpp/src/cugraph.cu
  python/cugraph/jaccard/jaccard_wrapper.pyx
  python/cugraph/jaccard/test_jaccard.py
  python/cugraph/sssp/sssp_wrapper.pyx
  python/cugraph/sssp/test_sssp.py
Labels: 5 - Ready to Merge
