Repository rapidsai/cugraph, pull requests merged in 2019-10, with the labels that each got.

#531 [REVIEW] RMM API updates for new Python/Cython
  CHANGELOG.md
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/community/spectral_clustering_wrapper.pyx
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/community/triangle_count_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/link_prediction/wjaccard_wrapper.pyx
  python/cugraph/link_prediction/woverlap_wrapper.pyx
  python/cugraph/snmg/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/structure/graph_wrapper.pyx
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_filter_unreachable.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_grmat.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_louvain.py
  python/cugraph/tests/test_modularity.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/test_symmetrize.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/test_woverlap.py
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/grmat_wrapper.pyx
Labels: 3 - Ready for Review, 4 - Needs Reviewer, python

#527 [REVIEW] Support testing with asymmetric graph
  CHANGELOG.md
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_filter_unreachable.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_louvain.py
  python/cugraph/tests/test_modularity.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/test_woverlap.py
  python/cugraph/tests/utils.py
Labels: 3 - Ready for Review, 5 - Ready to Merge

#548 Added missing cores documentation
  CHANGELOG.md
  docs/source/api.rst
Labels: 3 - Ready for Review, cuHornet

#559 [BUG] Added RMM init check so RMM free APIs are not called if not initialized
  CHANGELOG.md
  cpp/include/rmm_utils.h
Labels: ! - Release, bug

#564 [REVIEW] Update cudf type aliases to the new names
  CHANGELOG.md
  python/cugraph/utilities/column_utils.pyx
Labels: 3 - Ready for Review

#565 [REVIEW] Run all tests in gpu test script
  ci/gpu/build.sh
Labels: 3 - Ready for Review
