Repository rapidsai/cugraph, pull requests merged in 2020-11, with the labels that each got.

#1253 [REVIEW] BUG MG test fixes: updated additional comms.initialize() calls, fixed dask DataFrame comparisons
  CHANGELOG.md
  python/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_utility.py
Labels: 3 - Ready for Review, bug

#1245 [REVIEW] Pandas numpy inputs
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/convert_matrix.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/test_convert_matrix.py
Labels: feature request

#1246 [REVIEW] Use latest Gunrock, update HITS implementation
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/link_analysis/gunrock_hits.cpp
  python/cugraph/tests/test_hits.py
Labels: 3 - Ready for Review, Gunrock, improvement

#1261 Remove GIT_SHALLOW from CMakeLists.txt [skip-ci-changelog]
  cpp/CMakeLists.txt
Labels: bug

#1270 [REVIEW] fix_github_issues
  CHANGELOG.md
  cpp/src/traversal/bfs.cu
  python/cugraph/comms/comms.py
Labels: improvement

#1269 [REVIEW] removing old db code [skip-ci]
  CHANGELOG.md
  build.sh
  cpp/CMakeLists.txt
  cpp/src/db/db_object.cu
  cpp/src/db/db_object.cuh
  cpp/src/db/db_operators.cu
  cpp/src/db/db_operators.cuh
  cpp/src/db/db_parser_integration_test.cu
  cpp/src/db/db_parser_integration_test.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/db/find_matches_test.cu
Labels: 3 - Ready for Review, 4 - Needs Reviewer, improvement

#1272 [REVIEW][skip-ci-changelog] Include doxygen for new and clean conda environments
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
Labels: 3 - Ready for Review, improvement

#1264 [REVIEW] FEA CuPy sparse matrix input support for WCC, SCC, SSSP, and BFS
  CHANGELOG.md
  benchmarks/params.py
  ci/test.sh
  notebooks/components/ConnectedComponents.ipynb
  python/cugraph/components/connectivity.py
  python/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/structure/graph.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/utils.py
  python/cugraph/traversal/bfs.py
  python/cugraph/traversal/sssp.py
  python/cugraph/utilities/__init__.py
  python/cugraph/utilities/nx_factory.py
  python/cugraph/utilities/utils.py
  python/pytest.ini
Labels: 5 - Ready to Merge, 6 - Okay to Merge, improvement

#1271 [REVIEW] Add extra check to make SG Louvain deterministic
  CHANGELOG.md
  cpp/src/community/louvain.cuh
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/louvain_test.cu
  python/cugraph/structure/symmetrize.py
  python/cugraph/tests/test_symmetrize.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer, improvement

#1237 [REVIEW] dask personalization, fix df query
  CHANGELOG.md
  datasets/asymmetric_directed__tiny.csv
  datasets/karate-asymmetric.csv
  notebooks/demo/batch_betweenness.ipynb
  notebooks/demo/mg_pagerank.ipynb
  python/cugraph/cores/k_core.py
  python/cugraph/dask/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_wjaccard.py
Labels: 2 - In Progress, 4 - Waiting on Author, feature request

#1265 [REVIEW] FEA Implement Hungarian algorithm
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/linear_assignment/hungarian.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/linear_assignment/hungarian_test.cu
  python/cugraph/__init__.py
  python/cugraph/linear_assignment/__init__.py
  python/cugraph/linear_assignment/lap.pxd
  python/cugraph/linear_assignment/lap.py
  python/cugraph/linear_assignment/lap_wrapper.pyx
  python/cugraph/structure/number_map.py
  python/cugraph/tests/test_hungarian.py
Labels: 6 - Okay to Merge, feature request

#1275 [REVIEW] Force local install of conda artifact
  CHANGELOG.md
  ci/test.sh
Labels: 3 - Ready for Review, 5 - Ready to Merge

#1267 [REVIEW] Enhance compile time
  CHANGELOG.md
  build.sh
  conda/recipes/cugraph/build.sh
  conda/recipes/libcugraph/build.sh
  cpp/CMakeLists.txt
  cpp/cmake/EvalGpuArchs.cmake
  cpp/include/eidecl_graph.hpp
  cpp/include/eidir_graph.hpp
  cpp/include/experimental/eidecl_graph.hpp
  cpp/include/experimental/eidir_graph.hpp
  cpp/include/experimental/graph.hpp
  cpp/include/graph.hpp
  cpp/src/community/louvain.cu
  cpp/src/converters/COOtoCSR.cu
  cpp/src/converters/COOtoCSR.cuh
  cpp/src/experimental/graph.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/utilities/eidecl_graph_utils.hpp
  cpp/src/utilities/eidir_graph_utils.hpp
  cpp/src/utilities/graph_utils.cuh
  cpp/tests/experimental/louvain_test.cu
Labels: improvement

#1274 [REVIEW] FEA generic from_edgelist() and from_adjlist() APIs
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/convert_matrix.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/tests/test_convert_matrix.py
  python/cugraph/tests/test_graph.py
Labels: 3 - Ready for Review, improvement

#1276 [REVIEW] FEA MST
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/include/graph.hpp
  cpp/src/tree/mst.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/tree/mst_test.cu
  python/cugraph/__init__.py
  python/cugraph/tests/test_maximum_spanning_tree.py
  python/cugraph/tests/test_minimum_spanning_tree.py
  python/cugraph/tests/utils.py
  python/cugraph/tree/__init__.py
  python/cugraph/tree/minimum_spanning_tree.pxd
  python/cugraph/tree/minimum_spanning_tree.py
  python/cugraph/tree/minimum_spanning_tree_wrapper.pyx
  python/utils/analyse_mtx_sparsity.py
  python/utils/npz2mtx.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer, 5 - Ready to Merge, 6 - Okay to Auto-Merge, feature request

#1279 [REVIEW] add self loop check variable
  CHANGELOG.md
  python/cugraph/structure/graph.py
Labels: feature request
