Repository rapidsai/cugraph, pull requests merged in 2020-01, with the labels that each got.

#652 [REVIEW] Remove gdf_column in BFS
  CHANGELOG.md
  cpp/include/algorithms.h
  cpp/src/traversal/bfs.cu
  python/cugraph/tests/test_sssp.py
  python/cugraph/traversal/bfs.pxd
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
Labels: 5 - Ready to Merge

#636 [REVIEW] multi-colum renumbering
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/renumber.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_renumber.py
Labels: 2 - In Progress

#663 [REVIEW] Replace gdf_dtype_from_value
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_dev_cuda101.yml
  conda/environments/cugraph_dev_cuda92.yml
  python/cugraph/utilities/column_utils.pyx
  python/setup.py
Labels: 2 - In Progress

#664 [REVIEW] Updated python bindings for Louvain to take max_iter as optional argument
  CHANGELOG.md
  python/cugraph/community/louvain.py
  python/cugraph/community/louvain_wrapper.pyx
Labels: 3 - Ready for Review

#667 [REVIEW] Drop `cython` from run requirements
  CHANGELOG.md
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
Labels: 5 - Ready to Merge

#671 [REVIEW] update-version.sh [skip-ci]
  ci/release/update-version.sh
Labels: 3 - Ready for Review

#666 [REVIEW] multi column renumbering changes for python graph structure
  CHANGELOG.md
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/community/ecg_wrapper.pyx
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/community/spectral_clustering_wrapper.pyx
  python/cugraph/cores/core_number_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/link_prediction/wjaccard_wrapper.pyx
  python/cugraph/link_prediction/woverlap_wrapper.pyx
  python/cugraph/structure/graph.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/unrenumber.py
Labels: 2 - In Progress

#685 [REVIEW] Avoid deepcopy in index reset
  CHANGELOG.md
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/link_prediction/wjaccard_wrapper.pyx
  python/cugraph/link_prediction/woverlap_wrapper.pyx
  python/cugraph/structure/graph.py
Labels: 5 - Ready to Merge

#686 [REVIEW] Balanced cut fix
  CHANGELOG.md
  python/cugraph/tests/test_balanced_cut.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#684 [REVIEW] Deprecated cudf calls
  CHANGELOG.md
  python/cugraph/bsp/traversal/bfs_bsp.py
  python/cugraph/proto/components/scc.py
  python/cugraph/proto/structure/bicliques.py
  python/cugraph/structure/symmetrize.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer

#683 [gpuCI] Auto-merge branch-0.12 to branch-0.13 [skip ci]
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/ISSUE_TEMPLATE/question.md
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_dev_cuda101.yml
  conda/environments/cugraph_dev_cuda92.yml
  python/cugraph/bsp/traversal/bfs_bsp.py
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/community/ecg_wrapper.pyx
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/community/spectral_clustering_wrapper.pyx
  python/cugraph/cores/core_number_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/link_prediction/wjaccard_wrapper.pyx
  python/cugraph/link_prediction/woverlap_wrapper.pyx
  python/cugraph/proto/components/scc.py
  python/cugraph/proto/structure/bicliques.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/symmetrize.py
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/unrenumber.py
Labels: 5 - Ready to Merge

#688 [REVIEW] Cleanup datasets download after run
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review
