Repository rapidsai/cugraph, pull requests merged in 2020-06, with the labels that each got.

#923 [BUG] Updated pagerank with @afender 's temp fix for double-free crash
  CHANGELOG.md
  cpp/src/link_analysis/pagerank.cu
Labels: 3 - Ready for Review

#927 [REVIEW] Update scikit learn dependency
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
Labels: 3 - Ready for Review

#913 [REVIEW] Use Numba to allocate the array directly
  CHANGELOG.md
  python/cugraph/layout/force_atlas2_wrapper.pyx
Labels: 5 - Ready to Merge

#920 [REVIEW] Graph edges, test and storage updates
  CHANGELOG.md
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/community/ecg_wrapper.pyx
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/community/spectral_clustering_wrapper.pyx
  python/cugraph/community/triangle_count_wrapper.pyx
  python/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/cores/core_number_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/structure/graph.py
  python/cugraph/structure/graph_new.pyx
  python/cugraph/structure/graph_new_wrapper.pyx
  python/cugraph/tests/test_bfs.py
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
Labels: 5 - Ready to Merge

#938 [REVIEW] Quote conda installs to avoid bash interpretation [skip-ci]
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#934 [REVIEW] Update conda dev environment.yml dependencies to 0.15
  CHANGELOG.md
  ci/release/update-version.sh
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  notebooks/structure/Renumber-2.ipynb
Labels: 5 - Ready to Merge

#935 [REVIEW] Branch 0.15 merge 0.14
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
Labels: 3 - Ready for Review

#936 [REVIEW] Update Force Atlas 2 doc and wrapper
  CHANGELOG.md
  python/cugraph/layout/force_atlas2.py
  python/cugraph/layout/force_atlas2_wrapper.pyx
Labels: 5 - Ready to Merge

#930 [REVIEW] Remove nvcc/thrust dependency in test utility header file
  CHANGELOG.md
  cpp/include/functions.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
  cpp/tests/centrality/katz_centrality_test.cu
  cpp/tests/components/con_comp_test.cu
  cpp/tests/components/scc_test.cu
  cpp/tests/db/find_matches_test.cu
  cpp/tests/layout/force_atlas2_test.cu
  cpp/tests/nccl/degree_test.cu
  cpp/tests/nccl/nccl_test.cu
  cpp/tests/pagerank/pagerank_test.cpp
  cpp/tests/test_utils.hpp
  cpp/tests/traversal/bfs_test.cu
  cpp/tests/traversal/sssp_test.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review

#933 [REVIEW] opg_degree_update
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/comms_mpi.hpp
  cpp/include/graph.hpp
  cpp/src/comms/mpi/comms_mpi.cpp
  cpp/src/structure/graph.cu
  cpp/tests/CMakeLists.txt
  python/cugraph/dask/common/__init__.py
  python/cugraph/dask/common/input_utils.py
  python/cugraph/dask/common/part_utils.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/graph_new.pxd
  python/cugraph/structure/graph_new_wrapper.pyx
  python/cugraph/tests/dask/opg_degree_testing.py
Labels: 3 - Ready for Review

#941 [REVIEW] regression fix
  CHANGELOG.md
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/structure/graph.py
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/unrenumber.py
Labels: 3 - Ready for Review

#942 [REVIEW] Remove references to deprecated RMM headers.
  CHANGELOG.md
  cpp/src/community/ECG.cu
  cpp/src/community/ktruss.cu
  cpp/src/cores/core_number.cu
  cpp/src/db/db_object.cu
  cpp/src/db/db_operators.cu
  cpp/src/link_analysis/pagerank.cu
  cpp/src/nvgraph/include/graph_utils.cuh
  cpp/src/utilities/error_utils.h
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/triangle_test.cu
  cpp/tests/renumber/renumber_test.cu
Labels: 3 - Ready for Review

#939 [REVIEW] updating notebooks
  CHANGELOG.md
  ci/gpu/test-notebooks.sh
  notebooks/README.md
  notebooks/centrality/Betweenness.ipynb
  notebooks/centrality/Katz.ipynb
  notebooks/community/ECG.ipynb
  notebooks/components/ConnectedComponents.ipynb
  notebooks/cugraph_benchmarks/README.md
  notebooks/cugraph_benchmarks/bfs_benchmark.ipynb
  notebooks/cugraph_benchmarks/dataPrep.sh
  notebooks/cugraph_benchmarks/louvain_benchmark.ipynb
  notebooks/cugraph_benchmarks/pagerank_benchmark.ipynb
  notebooks/cugraph_benchmarks/sssp_benchmark.ipynb
  notebooks/img/zachary_graph_hits.png
  notebooks/link_analysis/HITS.ipynb
Labels: 3 - Ready for Review

#945 [REVIEW] [ENH] Simplified benchmark --no-rmm-reinit option, updated default options
  CHANGELOG.md
  benchmarks/bench_algos.py
  benchmarks/conftest.py
  benchmarks/params.py
  benchmarks/pytest.ini
Labels: 3 - Ready for Review

#946 [REVIEW] Install meta packages for dependencies
  CHANGELOG.md
  ci/gpu/build.sh
Labels: 3 - Ready for Review

#953 [REVIEW] fix setting RAFT_DIR from the RAFT_PATH env var
  CHANGELOG.md
  cpp/CMakeLists.txt
  python/setuputils.py
Labels: 5 - Ready to Merge, RAFT

#956 [REVIEW] Update docker image in local build [skip-ci]
  CHANGELOG.md
  ci/local/build.sh
Labels: 5 - Ready to Merge

#952 [REVIEW] [ENH] Updated get_test_data.sh to also (optionally) download and install datasets for benchmark runs
  CHANGELOG.md
  benchmarks/README.md
  datasets/README.md
  datasets/get_test_data.sh
Labels: 5 - Ready to Merge

#947 [REVIEW] OPG pagerank (CUDA)
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/include/functions.hpp
  cpp/include/graph.hpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/utilities/graph_utils.cuh
  cpp/src/utilities/spmv_1D.cu
  cpp/src/utilities/spmv_1D.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/nccl/degree_test.cu
  cpp/tests/nccl/nccl_test.cu
  cpp/tests/pagerank/pagerank_test.cpp
  python/cugraph/opg/link_analysis/mg_pagerank_wrapper.pyx
Labels: 3 - Ready for Review, cuda

#971 [REVIEW] Fixed typo in README; Jaccard Similarity had a missing c
  README.md
  notebooks/README.md
Labels: 5 - Ready to Merge

#976 [REVIEW] Fix error in Graph.edges(), update cuDF rename() calls
  .gitignore
  CHANGELOG.md
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/proto/structure/bicliques.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/renumber.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_hits.py
  python/cugraph/tests/test_katz_centrality.py
Labels: 5 - Ready to Merge

#975 [REVIEW] Upgrade GitHub template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  CHANGELOG.md
  print_env.sh
Labels: 5 - Ready to Merge

#966 [REVIEW] Build error fix (debug mode)
  CHANGELOG.md
  cpp/src/layout/barnes_hut.hpp
Labels: 5 - Ready to Merge

#983 [REVIEW] Fix offset calculation in COO to CSR
  CHANGELOG.md
  cpp/src/converters/COOtoCSR.cuh
Labels: 5 - Ready to Merge

#959 [Review] Add support for uint32_t and int64_t types for BFS (cpp side)
  CHANGELOG.md
  cpp/include/graph.hpp
  cpp/src/converters/COOtoCSR.cu
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/bfs_kernels.cuh
  cpp/src/traversal/traversal_common.cuh
  cpp/src/utilities/sm_utils.h
  cpp/tests/traversal/bfs_test.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, 4 - Needs Reviewer
