Repository rapidsai/cugraph, pull requests merged in 2020-08, with the labels that each got.

#1025 [REVIEW] Explicitly skip raft test folder for pytest 6.0.0 [skip-ci]
  CHANGELOG.md
  ci/test.sh
Labels: 5 - Ready to Merge

#1030 [REVIEW] MG directory org and documentation
  CHANGELOG.md
  docs/source/dask-cugraph.rst
  python/cugraph/__init__.py
  python/cugraph/comms/comms.py
  python/cugraph/dask/__init__.py
  python/cugraph/dask/common/read_utils.py
  python/cugraph/dask/link_analysis/__init__.py
  python/cugraph/dask/link_analysis/mg_pagerank.pxd
  python/cugraph/dask/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/dask/mg_pagerank/__init__.py
  python/cugraph/dask/traversal/__init__.py
  python/cugraph/dask/traversal/bfs.py
  python/cugraph/dask/traversal/mg_bfs.pxd
  python/cugraph/dask/traversal/mg_bfs_wrapper.pyx
  python/cugraph/mg/link_analysis/__init__.py
  python/cugraph/mg/traversal/__init__.py
  python/cugraph/tests/dask/file_splitting.py
  python/cugraph/tests/dask/test_hibench_small.py
  python/cugraph/tests/dask/test_karate_csv.py
  python/cugraph/tests/dask/test_mg_utility.py
Labels: 3 - Ready for Review, 5 - Ready to Merge

#1031 [REVIEW] MG notebook
  CHANGELOG.md
  notebooks/demo/mg_pagerank.ipynb
Labels: 3 - Ready for Review

#1033 [REVIEW] force index dtype to int64
  CHANGELOG.md
  python/cugraph/comms/comms.py
  python/cugraph/dask/common/part_utils.py
Labels: 3 - Ready for Review

#1036 [BUG] Fixed benchmarks for new renumbering API, updated comments, added quick test-only benchmark run to CI
  CHANGELOG.md
  benchmarks/bench_algos.py
  benchmarks/params.py
  benchmarks/pytest.ini
  ci/gpu/build.sh
  ci/test.sh
  python/cugraph/layout/force_atlas2.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/number_map.py
Labels: 3 - Ready for Review

#1040 [REVIEW] Fix spectral clustering renumbering issue
  CHANGELOG.md
  python/cugraph/community/spectral_clustering.py
Labels: 3 - Ready for Review

#1047 [REVIEW][FEA] Updated select tests to use new dataset list that includes asymmetric directed graph
  CHANGELOG.md
  datasets/asymmetric_directed__tiny.csv
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_louvain.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/test_woverlap.py
  python/cugraph/tests/utils.py
Labels: 3 - Ready for Review

#1041 [WIP] Update ASV directory for benchmark run [skip-ci]
  CHANGELOG.md
  ci/benchmark/build.sh
Labels: 2 - In Progress

#1057 [REVIEW] Updated raft dependency to pull fixes on cusparse selection in CUDA 11.
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review

#1021 [REVIEW] Use RAFT CUDA utilities
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/community/extract_subgraph_by_vertex.cu
  cpp/src/community/louvain_kernels.cu
  cpp/src/community/triangles_counting.cu
  cpp/src/components/weak_cc.cuh
  cpp/src/structure/graph.cu
  cpp/src/traversal/bfs_kernels.cuh
  cpp/src/traversal/sssp_kernels.cuh
  cpp/src/utilities/cuda_utils.cuh
  cpp/src/utilities/graph_utils.cuh
  cpp/src/utilities/sm_utils.h
Labels: 3 - Ready for Review

#1066 [REVIEW] Update cugunrock to not build for unsupported CUDA architectures
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/link_analysis/pagerank.cu
  cpp/tests/CMakeLists.txt
  python/cugraph/community/spectral_clustering.py
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_graph.py
Labels: 3 - Ready for Review

#1069 [REVIEW] Fixed CUDA 11 Pagerank crash
  CHANGELOG.md
  cpp/src/link_analysis/pagerank.cu
Labels: 3 - Ready for Review

#1037 Replace CNMeM (and some test cleanup)
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
  cpp/tests/centrality/katz_centrality_test.cu
  cpp/tests/community/balanced_edge_test.cpp
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/triangle_test.cu
  cpp/tests/components/con_comp_test.cu
  cpp/tests/components/scc_test.cu
  cpp/tests/db/find_matches_test.cu
  cpp/tests/layout/force_atlas2_test.cu
  cpp/tests/pagerank/pagerank_test.cpp
  cpp/tests/renumber/renumber_test.cu
  cpp/tests/traversal/bfs_test.cu
  cpp/tests/traversal/load_balance_test.cu
  cpp/tests/traversal/sssp_test.cu
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/cxxopts.hpp
Labels: 3 - Ready for Review

#940 [REVIEW] MG (Batch) Betweenness Centrality
  CHANGELOG.md
  cpp/include/algorithms.hpp
  cpp/include/functions.hpp
  cpp/include/graph.hpp
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/centrality/betweenness_centrality.cuh
  cpp/src/centrality/betweenness_centrality_kernels.cuh
  cpp/src/traversal/bfs.cu
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
  docs/source/dask-cugraph.rst
  notebooks/demo/batch_betweenness.ipynb
  python/cugraph/centrality/betweenness_centrality.pxd
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/comms/comms.py
  python/cugraph/dask/common/input_utils.py
  python/cugraph/dask/common/mg_utils.py
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/dask/structure/__init__.py
  python/cugraph/dask/structure/replication.pyx
  python/cugraph/structure/graph.py
  python/cugraph/structure/utils.pxd
  python/cugraph/tests/dask/mg_context.py
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_batch_edge_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/utils.py
Labels: 3 - Ready for Review

#1062 [REVIEW] add max_vertex_id for mnmg local data compute
  CHANGELOG.md
  python/cugraph/dask/common/input_utils.py
Labels: 3 - Ready for Review

#1056 [REVIEW] Fix MG BFS performance
  CHANGELOG.md
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/mg/bfs.cuh
  cpp/src/traversal/mg/bfs_comms.cuh
  cpp/src/traversal/mg/common_utils.cuh
  cpp/src/traversal/mg/frontier_expand.cuh
  cpp/src/traversal/mg/frontier_expand_kernels.cuh
  cpp/src/traversal/mg/load_balance.cuh
  cpp/src/traversal/mg/vertex_binning.cuh
  cpp/src/traversal/mg/vertex_binning_kernels.cuh
  cpp/src/traversal/mg/worker_kernels.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/load_balance_test.cu
  python/cugraph/dask/traversal/bfs.py
  python/cugraph/dask/traversal/mg_bfs_wrapper.pyx
Labels: 3 - Ready for Review

#1083 [BUG] Fix NBs to run in nightly test run, update renumbering text, cleanup
  CHANGELOG.md
  notebooks/centrality/Betweenness.ipynb
  notebooks/centrality/Katz.ipynb
  notebooks/community/ECG.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/Spectral-Clustering.ipynb
  notebooks/community/Subgraph-Extraction.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/components/ConnectedComponents.ipynb
  notebooks/cores/core-number.ipynb
  notebooks/cores/kcore.ipynb
  notebooks/cores/ktruss.ipynb
  notebooks/cugraph_benchmarks/README.md
  notebooks/cugraph_benchmarks/bfs_benchmark.ipynb
  notebooks/cugraph_benchmarks/data
  notebooks/cugraph_benchmarks/dataPrep.sh
  notebooks/cugraph_benchmarks/louvain_benchmark.ipynb
  notebooks/cugraph_benchmarks/pagerank_benchmark.ipynb
  notebooks/demo/batch_betweenness.ipynb
  notebooks/demo/uvm.ipynb
  notebooks/link_analysis/HITS.ipynb
  notebooks/link_analysis/Pagerank.ipynb
  notebooks/link_prediction/Jaccard-Similarity.ipynb
  notebooks/link_prediction/Overlap-Similarity.ipynb
  notebooks/structure/Renumber-2.ipynb
  notebooks/structure/Renumber.ipynb
  notebooks/traversal/BFS.ipynb
  notebooks/traversal/SSSP.ipynb
Labels: 3 - Ready for Review

#1087 [BUG] Updated benchmarks README to better describe how to get plugin, added rapids-pytest-benchmark plugin to conda dev environments
  CHANGELOG.md
  benchmarks/README.md
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
Labels: 5 - Ready to Merge

#1101 [BUG] Removed unnecessary device-to-host copy which caused a performance regression
  CHANGELOG.md
  cpp/src/centrality/betweenness_centrality.cu
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
  python/cugraph/centrality/betweenness_centrality.py
Labels: 5 - Ready to Merge

#1100 [REVIEW] New build process script changes
  CHANGELOG.md
  build.sh
  ci/cpu/cugraph/build_cugraph.sh
  ci/cpu/cugraph/upload-anaconda.sh
  ci/cpu/libcugraph/build_libcugraph.sh
  ci/cpu/libcugraph/upload-anaconda.sh
  ci/cpu/prebuild.sh
  ci/gpu/build.sh
  ci/test.sh
Labels: 3 - Ready for Review

#1105 [REVIEW] Update docs to remove references to master [skip ci]
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  cpp/CMakeLists.txt
Labels: 4 - Needs Reviewer, 4 - Waiting on Author

#1120 [REVIEW] Branch 0.16 merge 0.15 conflict fix
  CHANGELOG.md
Labels: 3 - Ready for Review

#1115 [REVIEW] replace deprecated rmm::mr::get_default_resource with rmm::mr::get_current_device_resource
  CHANGELOG.md
  cpp/include/algorithms.hpp
  cpp/include/functions.hpp
  cpp/include/graph.hpp
  cpp/src/converters/renumber.cu
  cpp/src/cores/core_number.cu
  cpp/tests/renumber/renumber_test.cu
Labels: 5 - Ready to Merge

#1125 [REVIEW] Patch Thrust to workaround CUDA_CUB_RET_IF_FAIL macro clearing CUDA errors
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/cmake/thrust-ret-if-fail.patch
Labels: ! - Hotfix, ! - Release
