Repository rapidsai/cugraph, pull requests merged in 2020-12, with the labels that each got.

#1277 [REVIEW] FEA SciPy sparse matrix input support for WCC, SCC, SSSP, and BFS
  CHANGELOG.md
  build.sh
  python/cugraph/__init__.py
  python/cugraph/components/__init__.py
  python/cugraph/components/connectivity.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/utils.py
  python/cugraph/traversal/bfs.py
  python/cugraph/traversal/sssp.py
  python/cugraph/utilities/__init__.py
  python/cugraph/utilities/nx_factory.py
  python/cugraph/utilities/utils.py
  python/pytest.ini
  python/setup.py
  python/setuputils.py
Labels: 6 - Okay to Merge, improvement

#1281 [REVIEW] Update README and some docs
  CHANGELOG.md
  PRTAGS.md
  README.md
  docs/source/cugraph_ref.rst
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#1289 [REVIEW] Update api.rst for MST
  CHANGELOG.md
  docs/source/api.rst
Labels: 6 - Okay to Auto-Merge, doc, non-breaking

#1293 [REVIEW] updating raft to latest
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#1278 [REVIEW] Add support for shortest_path_length and fix graph vertex checks
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_paths.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/sssp.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#1290 [REVIEW] BUG Update weights check in bc and graph prims wrappers
  CHANGELOG.md
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pyx
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/utils.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#1299 [REVIEW] update doc and notebook
  CHANGELOG.md
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/pagerank_test.cpp
  notebooks/demo/mg_pagerank.ipynb
  python/cugraph/traversal/sssp.py
Labels: improvement, non-breaking

#1304 [REVIEW] BUG Enable all GPU archs for test builds
  CHANGELOG.md
  ci/gpu/build.sh
  python/cugraph/tests/utils.py
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking

#1314 Fix Branch 0.18 merge 0.17
  CHANGELOG.md
Labels: 3 - Ready for Review, bug, non-breaking

#1310 [gpuCI] Auto-merge branch-0.17 to branch-0.18 [skip ci]
  CHANGELOG.md
Labels: 5 - Ready to Merge, improvement, non-breaking

#1311 [REVIEW] Updated cuxfilter to 0.18, removed datashader indirect dependency in conda dev .yml files
  ci/release/update-version.sh
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/structure/graph_primtypes.pyx
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking
