Repository rapidsai/cugraph, pull requests merged in 2020-09, with the labels that each got.

#1131 [REVIEW] Fix style checker
  CHANGELOG.md
  ci/checks/style.sh
Labels: 3 - Ready for Review

#1129 [REVIEW] Updating test and adding doc
  .gitignore
  CHANGELOG.md
  README.md
  datasets/karate-disjoint.csv
  docs/source/api.rst
  docs/source/conf.py
  docs/source/cugraph_blogs.rst
  docs/source/cugraph_intro.rst
  docs/source/cugraph_ref.rst
  docs/source/index.rst
  python/cugraph/community/ecg.py
  python/cugraph/layout/force_atlas2.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/dask/mg_context.py
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_batch_edge_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_hits.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/utils.py
Labels: 2 - In Progress, 3 - Ready for Review

#1098 [REVIEW] A new graph class to support 2D graph partitioning
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/graph_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: 2 - In Progress

#1132 [REVIEW] upgrade thrust to latest commit
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/cmake/thrust-ret-if-fail.patch
Labels: 5 - Ready to Merge

#1144 [REVIEW] doc and API fixes
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/community/ktruss_subgraph.py
  python/cugraph/community/subgraph_extraction.py
  python/cugraph/community/triangle_count.py
  python/cugraph/link_prediction/__init__.py
  python/cugraph/link_prediction/jaccard.py
  python/cugraph/structure/convert_matrix.py
  python/cugraph/structure/graph.py
Labels: 3 - Ready for Review

#1124 [REVIEW] Sub-communicator initialization for 2D partitioning support
  CHANGELOG.md
  cpp/include/partition_manager.hpp
Labels: 3 - Ready for Review, Waiting on Reviewer

#1155 [REVIEW] Remove RMM library dependency and CXX11 ABI handling
  CHANGELOG.md
  SOURCEBUILD.md
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/tests/CMakeLists.txt
  cpp/tests/community/leiden_test.cpp
Labels: 3 - Ready for Review

#1152 [REVIEW] Graph container cleanup, added arg for instantiating legacy types and switch statements to factory function
  CHANGELOG.md
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cpp
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/dask/community/louvain_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
  python/cugraph/structure/hypergraph.py
Labels: 3 - Ready for Review

#1145 [REVIEW] Simple edge list generator
  CHANGELOG.md
  python/cugraph/tests/utils.py
Labels: 3 - Ready for Review

#1149 [REVIEW] Parquet read and concat within workers
  CHANGELOG.md
  python/cugraph/dask/common/part_utils.py
  python/cugraph/tests/dask/test_mg_utility.py
Labels: 3 - Ready for Review

#1147 ENH Adding support for NetworkX Graphs as inputs [REVIEW]
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/centrality/katz_centrality.py
  python/cugraph/community/__init__.py
  python/cugraph/community/ecg.py
  python/cugraph/community/ktruss_subgraph.py
  python/cugraph/community/leiden.py
  python/cugraph/community/louvain.py
  python/cugraph/community/spectral_clustering.py
  python/cugraph/community/triangle_count.py
  python/cugraph/components/connectivity.py
  python/cugraph/cores/core_number.py
  python/cugraph/cores/k_core.py
  python/cugraph/link_analysis/hits.py
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/link_prediction/__init__.py
  python/cugraph/link_prediction/jaccard.py
  python/cugraph/link_prediction/overlap.py
  python/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_hits.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_nx_convert.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/utilities/__init__.py
  python/cugraph/utilities/nx_factory.py
Labels: 3 - Ready for Review

#1157 [REVIEW] Louvain API update to use graph_container_t
  CHANGELOG.md
  cpp/include/algorithms.hpp
  cpp/include/utilities/cython.hpp
  cpp/src/community/louvain.cu
  cpp/src/experimental/louvain.cuh
  cpp/src/utilities/cython.cpp
  python/cugraph/community/louvain.pxd
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/dask/community/louvain.pxd
  python/cugraph/dask/community/louvain_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_louvain.py
Labels: 3 - Ready for Review

#1162 [REVIEW] ENH updating Nx compatibility testing
  CHANGELOG.md
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_nx_convert.py
Labels: 3 - Ready for Review

#838 [REVIEW] Pattern accelerator based implementation of PageRank, Katz Centrality, BFS, & SSSP
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/include/matrix_partition_device.cuh
  cpp/include/patterns/any_of_adj_matrix_row.cuh
  cpp/include/patterns/copy_to_adj_matrix_col.cuh
  cpp/include/patterns/copy_to_adj_matrix_row.cuh
  cpp/include/patterns/copy_v_transform_reduce_nbr.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/count_if_v.cuh
  cpp/include/patterns/edge_op_utils.cuh
  cpp/include/patterns/reduce_op.cuh
  cpp/include/patterns/reduce_v.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/transform_reduce_v.cuh
  cpp/include/patterns/transform_reduce_v_with_adj_matrix_row.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/patterns/vertex_frontier.cuh
  cpp/include/utilities/thrust_tuple_utils.cuh
  cpp/include/vertex_partition_device.cuh
  cpp/src/experimental/bfs.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/src/experimental/katz_centrality.cu
  cpp/src/experimental/pagerank.cu
  cpp/src/experimental/sssp.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review

#1158 [REVIEW] pass size_t* instead of int_t[] for raft allgatherv's input parameter displs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/traversal/mg/common_utils.cuh
  cpp/src/utilities/spmv_1D.cu
Labels: 3 - Ready for Review

#1133 [REVIEW] python 2D shuffling
  CHANGELOG.md
  python/cugraph/structure/__init__.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/shuffle.py
Labels: 3 - Ready for Review

#1166 [REVIEW] BUG fix misspelling of function calls in asserts causing debug build to fail
  CHANGELOG.md
  cpp/include/patterns/any_of_adj_matrix_row.cuh
  cpp/include/patterns/copy_to_adj_matrix_col.cuh
  cpp/include/patterns/copy_to_adj_matrix_row.cuh
  cpp/include/patterns/copy_v_transform_reduce_nbr.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/transform_reduce_v_with_adj_matrix_row.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
Labels: 3 - Ready for Review

#1165 [REVIEW] ENH added more Nx compatibility
  CHANGELOG.md
  ci/gpu/test-notebooks.sh
  docs/source/api.rst
  notebooks/cugraph_benchmarks/nx_cugraph_bc_benchmarking.ipynb
  python/cugraph/__init__.py
  python/cugraph/centrality/katz_centrality.py
  python/cugraph/community/subgraph_extraction.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/bfs.py
  python/cugraph/traversal/sssp.py
Labels: 3 - Ready for Review

#1164 [REVIEW] MG symmetrize and conda env updates
  CHANGELOG.md
  conda/recipes/cugraph/meta.yaml
  python/cugraph/__init__.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/symmetrize.py
  python/cugraph/tests/test_symmetrize.py
Labels: 3 - Ready for Review

#1151 [REVIEW] FEA Multinode extension for pattern accelerator based PageRank, Katz Centrality, BFS, and SSSP implementations (C++ part)
  CHANGELOG.md
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/include/partition_manager.hpp
  cpp/include/patterns/any_of_adj_matrix_row.cuh
  cpp/include/patterns/copy_to_adj_matrix_col.cuh
  cpp/include/patterns/copy_to_adj_matrix_row.cuh
  cpp/include/patterns/copy_to_adj_matrix_row_col.cuh
  cpp/include/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/patterns/copy_v_transform_reduce_nbr.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/count_if_v.cuh
  cpp/include/patterns/edge_op_utils.cuh
  cpp/include/patterns/reduce_v.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/transform_reduce_v.cuh
  cpp/include/patterns/transform_reduce_v_with_adj_matrix_row.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/patterns/vertex_frontier.cuh
  cpp/include/utilities/comm_utils.cuh
  cpp/include/utilities/thrust_tuple_utils.cuh
  cpp/src/experimental/bfs.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/katz_centrality.cu
  cpp/src/experimental/pagerank.cu
  cpp/src/experimental/sssp.cu
Labels: 5 - Ready to Merge
