Repository rapidsai/cugraph, pull requests merged in 2020-07, with the labels that each got.

#977 [REVIEW] Update force_atlas2 to call on_train_end after iterating
  CHANGELOG.md
  cpp/src/layout/barnes_hut.hpp
  python/cugraph/internals/internals.pyx
  python/cugraph/tests/test_force_atlas2.py
Labels: 3 - Ready for Review

#962 [REVIEW] dask pagerank updates
  CHANGELOG.md
  docs/source/dask-cugraph.rst.tmp
  python/cugraph/dask/common/input_utils.py
  python/cugraph/dask/common/part_utils.py
  python/cugraph/dask/opg_pagerank/pagerank.py
  python/cugraph/dask/pagerank/pagerank.py
  python/cugraph/opg/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/snmg/__init__.py
  python/cugraph/snmg/link_analysis/__init__.py
  python/cugraph/snmg/link_analysis/mg_pagerank.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/dask/opg_pagerank_testing.py
  python/cugraph/tests/dask/opg_utility_testing.py
  python/cugraph/utilities/utils.py
Labels: 3 - Ready for Review

#984 [ENH][REVIEW] Adding a codecov yml config to prevent blocking CI until we figure out how to interpret failures
  CHANGELOG.md
  codecov.yml
Labels: 5 - Ready to Merge

#985 [REVIEW] Add raft handle to BFS, BC and edge BC
  CHANGELOG.md
  cpp/include/algorithms.hpp
  cpp/include/graph.hpp
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/centrality/betweenness_centrality.cuh
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/structure/graph.cu
  cpp/src/traversal/bfs.cu
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
  cpp/tests/pagerank/pagerank_test.cpp
  cpp/tests/traversal/bfs_test.cu
  python/cugraph/centrality/betweenness_centrality.pxd
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/traversal/bfs.pxd
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
Labels: 3 - Ready for Review

#968 [REVIEW] cuGraph Benchmark Integration [skip-ci]
  CHANGELOG.md
  ci/benchmark/build.sh
Labels: 3 - Ready for Review

#992 [REVIEW] Fix unrenumber of predecessor
  CHANGELOG.md
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/unrenumber.py
Labels: 5 - Ready to Merge

#988 [REVIEW] Add clang and clang tools to the conda env
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
Labels: 5 - Ready to Merge

#991 [REVIEW] Update prebuild.sh
  CHANGELOG.md
  ci/cpu/prebuild.sh
Labels: 5 - Ready to Merge

#964 [REVIEW] Opg bfs
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/opg/bfs.cuh
  cpp/src/traversal/opg/bfs_comms.cuh
  cpp/src/traversal/opg/common_utils.cuh
  cpp/src/traversal/opg/load_balance.cuh
  cpp/src/traversal/opg/vertex_binning.cuh
  cpp/src/traversal/opg/vertex_binning_kernels.cuh
  cpp/src/traversal/opg/worker_kernels.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/load_balance.cu
Labels: 5 - Ready to Merge

#993 [REVIEW] Persistent handle
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/comms/__init__.py
  python/cugraph/comms/comms.py
  python/cugraph/dask/common/input_utils.py
  python/cugraph/dask/common/part_utils.py
  python/cugraph/dask/opg_pagerank/pagerank.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/graph_new_wrapper.pyx
  python/cugraph/tests/dask/test_opg_comms.py
  python/cugraph/tests/dask/test_opg_degree.py
  python/cugraph/tests/dask/test_opg_pagerank.py
Labels: 3 - Ready for Review

#980 [REVIEW] Replace nvgraph Spectral Clustering (SC) functionality with RAFT SC
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/community/extract_subgraph_by_vertex.cu
  cpp/src/community/louvain_kernels.cu
  cpp/src/community/spectral_clustering.cu
  cpp/src/community/triangles_counting.cu
  cpp/src/nvgraph/include/async_event.cuh
  cpp/src/nvgraph/include/atomics.hxx
  cpp/src/nvgraph/include/debug_macros.h
  cpp/src/nvgraph/include/graph_utils.cuh
  cpp/src/nvgraph/include/kmeans.hxx
  cpp/src/nvgraph/include/lanczos.hxx
  cpp/src/nvgraph/include/modularity_maximization.hxx
  cpp/src/nvgraph/include/nvgraph_cublas.hxx
  cpp/src/nvgraph/include/nvgraph_cusparse.hxx
  cpp/src/nvgraph/include/nvgraph_error.hxx
  cpp/src/nvgraph/include/nvgraph_lapack.hxx
  cpp/src/nvgraph/include/nvgraph_vector.hxx
  cpp/src/nvgraph/include/nvgraph_vector_kernels.hxx
  cpp/src/nvgraph/include/partition.hxx
  cpp/src/nvgraph/include/sm_utils.h
  cpp/src/nvgraph/include/spectral_matrix.hxx
  cpp/src/nvgraph/include/stacktrace.h
  cpp/src/nvgraph/include/util.cuh
  cpp/src/nvgraph/kmeans.cu
  cpp/src/nvgraph/lanczos.cu
  cpp/src/nvgraph/modularity_maximization.cu
  cpp/src/nvgraph/nvgraph_cublas.cpp
  cpp/src/nvgraph/nvgraph_cusparse.cpp
  cpp/src/nvgraph/nvgraph_lapack.cu
  cpp/src/nvgraph/nvgraph_vector_kernels.cu
  cpp/src/nvgraph/partition.cu
  cpp/src/nvgraph/spectral_matrix.cu
  cpp/tests/community/balanced_edge_test.cpp
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/triangle_test.cu
  python/cugraph/community/spectral_clustering.pxd
  python/cugraph/community/subgraph_extraction.pxd
  python/cugraph/community/triangle_count.pxd
Labels: 3 - Ready for Review, 4 - Needs Reviewer, RAFT, RAFT Review

#1008 [REVIEW] fix_tests
  CHANGELOG.md
  notebooks/structure/Renumber.ipynb
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_renumber.py
Labels: 5 - Ready to Merge

#1009 [REVIEW] Add tooltip requirements to benchmarks/build.sh [skip-ci]
  CHANGELOG.md
  ci/benchmark/build.sh
Labels: 5 - Ready to Merge

#1007 [REVIEW] Add tolerance support to MG Pagerank and fix kernel launch
  CHANGELOG.md
  cpp/src/community/louvain_kernels.cu
  cpp/src/layout/fa2_kernels.hpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/utilities/graph_utils.cuh
  python/cugraph/dask/opg_pagerank/pagerank.py
  python/cugraph/tests/dask/test_opg_pagerank.py
Labels: 3 - Ready for Review

#1012 [REVIEW] Update local CI README [skip-ci]
  CHANGELOG.md
  ci/local/README.md
Labels: 3 - Ready for Review

#826 [REVIEW] Bipartite python graph
  CHANGELOG.md
  python/cugraph/structure/graph.py
  python/cugraph/tests/test_graph.py
Labels: 5 - Ready to Merge

#1018 [REVIEW] MG PPR
  CHANGELOG.md
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/structure/graph.cu
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/mg/bfs.cuh
  cpp/src/traversal/mg/bfs_comms.cuh
  cpp/src/traversal/mg/common_utils.cuh
  cpp/src/traversal/mg/load_balance.cuh
  cpp/src/traversal/mg/vertex_binning.cuh
  cpp/src/traversal/mg/vertex_binning_kernels.cuh
  cpp/src/traversal/mg/worker_kernels.cuh
  cpp/src/utilities/spmv_1D.cu
  cpp/src/utilities/spmv_1D.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/load_balance.cu
  python/cugraph/__init__.py
  python/cugraph/dask/__init__.py
  python/cugraph/dask/mg_pagerank/__init__.py
  python/cugraph/dask/mg_pagerank/pagerank.py
  python/cugraph/dask/pagerank/pagerank.py
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/mg/__init__.py
  python/cugraph/mg/link_analysis/__init__.py
  python/cugraph/mg/link_analysis/mg_pagerank.pxd
  python/cugraph/mg/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/tests/dask/mg_utility_testing.py
  python/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/tests/dask/test_mg_renumber.py
Labels: 5 - Ready to Merge

#1019 [REVIEW] Remove deprecated CUDA library calls
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/utilities/cusparse_helper.cu
  cpp/src/utilities/cusparse_helper.h
  cpp/src/utilities/spmv_1D.cu
  cpp/src/utilities/spmv_1D.cuh
Labels: 3 - Ready for Review

#1017 [REVIEW] fix local vert and offset calculation
  CHANGELOG.md
  python/cugraph/comms/comms.py
  python/cugraph/dask/common/input_utils.py
  python/cugraph/dask/mg_pagerank/pagerank.py
  python/cugraph/dask/pagerank/__init__.py
  python/cugraph/dask/pagerank/pagerank.py
  python/cugraph/structure/graph.py
  python/cugraph/tests/dask/mg_utility_testing.py
  python/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_pagerank.py
Labels: 4 - Waiting on Author

#1027 [REVIEW][skip-ci] Updating documentation and fixing naming consistentcy
  CHANGELOG.md
  CONTRIBUTING.md
  PRTAGS.md
  README.md
  SOURCEBUILD.md
  conda/environments/cugraph_dev_cuda10.0.yml
  cpp/include/graph.hpp
Labels: 2 - In Progress

#1020 [ENH] Updated Louvain to honor max_level, ECG now calls Louvain for 1 level, then full run
  CHANGELOG.md
  cpp/src/community/ECG.cu
  cpp/src/community/louvain.cpp
  cpp/src/community/louvain_kernels.cu
  cpp/src/community/louvain_kernels.hpp
  cpp/tests/community/ecg_test.cu
  python/cugraph/community/louvain.pxd
  python/cugraph/tests/test_ecg.py
Labels: 3 - Ready for Review
