Repository rapidsai/cugraph, pull requests merged in 2020-02, with the labels that each got.

#697 [REVIEW] Update Conda Environment files to fetch RAPIDS 0.13 packages
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.yml
  conda/environments/cugraph_dev_cuda101.yml
  conda/environments/cugraph_dev_cuda92.yml
Labels: 5 - Ready to Merge

#692 [REVIEW] check for file open result after opening result files in katz_test
  CHANGELOG.md
  cpp/src/tests/centrality/katz_centrality_test.cu
Labels: 5 - Ready to Merge

#694 [REVIEW] Call cudaDeviceGetAttribute instead of cudaGetDeviceProperties in triangle counting
  CHANGELOG.md
  cpp/src/nvgraph/include/triangles_counting.hxx
  cpp/src/nvgraph/triangles_counting.cpp
Labels: 3 - Ready for Review

#701 [REVIEW] [ENH] Add option to filter datasets and tests when run from CI
  CHANGELOG.md
  ci/getGTestTimes.sh
  ci/gpu/build.sh
  ci/test.sh
  cpp/src/tests/components/con_comp_test.cu
  cpp/src/tests/snmg_coo2csr/snmg_coo2csr_test.cu
  cpp/src/tests/snmg_degree/snmg_degree_test.cu
  cpp/src/tests/snmg_pagerank/snmg_pagerank_test.cu
  cpp/src/tests/snmg_spmv/snmg_spmv_test.cu
  cpp/src/tests/sssp/sssp_test.cu
  datasets/get_test_data.sh
Labels: 3 - Ready for Review

#711 [REVIEW] Update prebuild.sh [skip-ci]
  ci/cpu/prebuild.sh
Labels: 3 - Ready for Review

#716 [REVIEW] Fixing bug with disappearing get_column_data_ptr function
  CHANGELOG.md
  python/cugraph/community/ecg_wrapper.pyx
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/utilities/column_utils.pyx
Labels: 3 - Ready for Review

#715 [REVIEW] New conda environment for 10.2
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
Labels: 3 - Ready for Review

#718 Add GH Action moving new issues to triage projects [skip-ci]
  .github/workflows/new-issues-to-triage-projects.yml
Labels: 3 - Ready for Review

#721 Update TRANSITIONGUIDE.md
  TRANSITIONGUIDE.md
Labels: 3 - Ready for Review

#720 [REVIEW] Updating error messages
  CHANGELOG.md
  cpp/src/centrality/katz_centrality.cu
  cpp/src/community/ECG.cu
  cpp/src/community/nvgraph_gdf.cu
  cpp/src/components/connectivity.cu
  cpp/src/converters/nvgraph.cu
  cpp/src/converters/renumber.cu
  cpp/src/cores/core_number.cu
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/nvgraph/include/modularity.cuh
  cpp/src/structure/cugraph.cu
  cpp/src/traversal/sssp.cu
  cpp/src/traversal/two_hop_neighbors.cu
  cpp/src/utilities/error_utils.h
  python/cugraph/tests/dask/test_hibench_small.py
  python/cugraph/tests/dask/test_karate_csv.py
Labels: 3 - Ready for Review

#726 [REVIEW] Fixed SSSP notebook typo error
  CHANGELOG.md
  notebooks/traversal/SSSP.ipynb
Labels: 3 - Ready for Review

#722 [REVIEW] Refactor graph to remove gdf_column
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.h
  cpp/include/algorithms.hpp
  cpp/include/graph.hpp
  cpp/include/rmm_utils.h
  cpp/src/link_analysis/pagerank.cu
  cpp/src/structure/graph.cu
  cpp/src/tests/CMakeLists.txt
  cpp/src/tests/pagerank/pagerank_test.cu
  cpp/src/tests/test_utils.hpp
  cpp/src/utilities/error_utils.h
  python/cugraph/link_analysis/pagerank.pxd
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/structure/graph.py
  python/cugraph/structure/graph_new.pxd
  python/cugraph/structure/graph_new_wrapper.pyx
  python/cugraph/structure/graph_wrapper.pyx
Labels: 2 - In Progress

#733 [REVIEW] fix multi-colum renumbering
  CHANGELOG.md
  python/cugraph/structure/renumber.py
Labels: 3 - Ready for Review
