Repository rapidsai/cugraph, pull requests merged in 2020-05, with the labels that each got.

#836 [REVIEW] Remove SNMG code
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.h
  cpp/tests/CMakeLists.txt
  cpp/tests/renumber/renumber_test.cu
  python/cugraph/snmg/link_analysis/mg_pagerank.pxd
  python/cugraph/snmg/link_analysis/mg_pagerank.py
  python/cugraph/snmg/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/tests/dask/test_hibench_small.py
  python/cugraph/tests/dask/test_karate_csv.py
Labels: 5 - Ready to Merge

#832 [REVIEW] Removed uses of RMM ALLOC functions from db
  CHANGELOG.md
  cpp/src/db/db_object.cu
  cpp/src/db/db_object.cuh
  cpp/src/db/db_operators.cu
  cpp/src/db/db_operators.cuh
  cpp/tests/db/find_matches_test.cu
Labels: 3 - Ready for Review

#851 [REVIEW] Removed RMM from tests
  CHANGELOG.md
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_bfs_bsp.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_filter_unreachable.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_grmat.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_louvain.py
  python/cugraph/tests/test_modularity.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_renumber.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/test_symmetrize.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_unrenumber.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/test_woverlap.py
  python/cugraph/utilities/utils.py
Labels: 3 - Ready for Review

#852 [REVIEW] Fix BFS Notebook
  CHANGELOG.md
  notebooks/traversal/BFS.ipynb
Labels: 3 - Ready for Review

#840 [REVIEW] OPG degree
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/comms_mpi.hpp
  cpp/include/graph.hpp
  cpp/src/comms/mpi/comms_mpi.cpp
  cpp/src/structure/graph.cu
  cpp/src/utilities/cuda_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/nccl/degree_test.cu
Labels: 3 - Ready for Review, 5 - Ready to Merge

#799 [REVIEW] Refactored Graph Class with RAII
  CHANGELOG.md
  cpp/include/algorithms.hpp
  cpp/include/functions.hpp
  cpp/include/graph.hpp
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/centrality/katz_centrality.cu
  cpp/src/components/connectivity.cu
  cpp/src/converters/COOtoCSR.cu
  cpp/src/converters/COOtoCSR.cuh
  cpp/src/cores/core_number.cu
  cpp/src/ktruss/ktruss.cu
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/structure/graph.cu
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/sssp.cu
  cpp/src/traversal/two_hop_neighbors.cu
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/katz_centrality_test.cu
  cpp/tests/components/con_comp_test.cu
  cpp/tests/components/scc_test.cu
  cpp/tests/pagerank/pagerank_test.cu
  cpp/tests/sssp/sssp_test.cu
  notebooks/traversal/BFS.ipynb
  python/cugraph/centrality/betweenness_centrality.pxd
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/katz_centrality.pxd
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/components/connectivity.pxd
  python/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/cores/core_number.pxd
  python/cugraph/cores/core_number_wrapper.pyx
  python/cugraph/cores/k_core.pxd
  python/cugraph/cores/k_core_wrapper.pyx
  python/cugraph/cores/ktruss_subgraph.pxd
  python/cugraph/cores/ktruss_subgraph_wrapper.pyx
  python/cugraph/link_analysis/pagerank.pxd
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard.pxd
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap.pxd
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/structure/graph_new.pxd
  python/cugraph/structure/graph_new.pyx
  python/cugraph/structure/graph_new_wrapper.pyx
  python/cugraph/structure/utils.pxd
  python/cugraph/structure/utils_wrapper.pyx
  python/cugraph/traversal/bfs.pxd
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp.pxd
  python/cugraph/traversal/sssp_wrapper.pyx
Labels: 5 - Ready to Merge, proposal

#860 [REVIEW] Updated notebooks
  CHANGELOG.md
  notebooks/community/ECG.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/Spectral-Clustering.ipynb
  notebooks/community/Subgraph-Extraction.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/link_analysis/Pagerank.ipynb
  notebooks/link_prediction/Jaccard-Similarity.ipynb
  notebooks/link_prediction/Overlap-Similarity.ipynb
  notebooks/traversal/BFS.ipynb
  notebooks/traversal/SSSP.ipynb
Labels: 3 - Ready for Review

#859 [REVIEW][skip-ci] updated docs
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  SOURCEBUILD.md
Labels: 3 - Ready for Review

#862 [REVIEW] Katz Centrality : Auto calculation of alpha parameter if set to none
  CHANGELOG.md
  cpp/include/graph.hpp
  cpp/src/centrality/katz_centrality.cu
  python/cugraph/centrality/katz_centrality.py
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/structure/graph_new.pxd
  python/cugraph/structure/graph_new.pyx
  python/cugraph/tests/test_katz_centrality.py
Labels: 3 - Ready for Review

#865 [REVIEW] Enable C/C++ docs via Doxygen
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/doxygen/Doxyfile
  cpp/doxygen/main_page.md
  docs/README.md
  docs/source/api.rst
  docs/source/conf.py
  docs/source/dask-cugraph.rst.tmp
Labels: 2 - In Progress

#867 [ENH] Updates to support the latest flake8 version
  CHANGELOG.md
  ci/checks/style.sh
  python/.flake8
  python/cugraph/proto/components/scc.py
  python/setup.cfg
  python/setup.py
Labels: 3 - Ready for Review

#874 [REVIEW] Update setup.py for custom clean command
  CHANGELOG.md
  python/setup.py
Labels: 3 - Ready for Review

#817 [REVIEW] Add Vertex Betweenness Centrality
  CHANGELOG.md
  cpp/include/algorithms.hpp
  cpp/include/graph.hpp
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/centrality/betweenness_centrality.cuh
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/bfs.cuh
  cpp/src/traversal/bfs_kernels.cuh
  cpp/src/traversal/sssp.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/sssp/sssp_test.cu
  python/cugraph/centrality/betweenness_centrality.pxd
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/traversal/bfs.pxd
  python/cugraph/traversal/bfs.py
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp_wrapper.pyx
Labels: 3 - Ready for Review

#878 [REVIEW] updated build for docs
  CHANGELOG.md
  build.sh
Labels: 3 - Ready for Review

#879 [REVIEW] Add docs build.sh [skip-ci]
  CHANGELOG.md
  ci/docs/build.sh
Labels: 3 - Ready for Review

#875 [REVIEW] UVM notebook
  CHANGELOG.md
  ci/gpu/test-notebooks.sh
  notebooks/demo/twitter-2010-spark.png
  notebooks/demo/uvm.ipynb
Labels: 5 - Ready to Merge

#818 [REVIEW] Initial version of new "benchmarks" folder
  CHANGELOG.md
  benchmarks/README.md
  benchmarks/__init__.py
  benchmarks/bench_algos.py
  benchmarks/params.py
  benchmarks/pytest.ini
Labels: 3 - Ready for Review

#881 [REVIEW] Raft integration infra
  CHANGELOG.md
  cpp/CMakeLists.txt
  python/cugraph/__init__.py
  python/cugraph/tests/test_raft.py
  python/setup.py
  python/setuputils.py
Labels: 5 - Ready to Merge

#876 [REVIEW] BFS add C++ tests
  CHANGELOG.md
  CONTRIBUTING.md
  benchmarks/bench_algos.py
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/bfs.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/test_utils.h
  cpp/tests/traversal/bfs_ref.h
  cpp/tests/traversal/bfs_test.cu
  cpp/tests/traversal/sssp_test.cu
  python/cugraph/tests/test_bfs.py
Labels: 3 - Ready for Review

#882 [REVIEW] Add Force Atlas 2 to benchmarks
  CHANGELOG.md
  benchmarks/bench_algos.py
  cpp/tests/layout/force_atlas2_test.cu
  python/cugraph/layout/force_atlas2.py
Labels: 3 - Ready for Review

#889 [REVIEW] Added missing conftest.py file to benchmarks
  CHANGELOG.md
  benchmarks/conftest.py
Labels: 3 - Ready for Review

#891 [REVIEW] A few gdf_column stragglers
  CHANGELOG.md
  cpp/include/algorithms.h
  cpp/include/cugraph.h
  cpp/include/functions.h
  cpp/include/types.h
  cpp/src/community/ktruss.cu
  cpp/src/db/db_object.cu
  cpp/src/db/db_object.cuh
  cpp/src/db/db_operators.cuh
  cpp/src/layout/barnes_hut.hpp
  cpp/src/layout/exact_fa2.hpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/nvgraph/nvgraph.h
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/sssp.cu
  cpp/src/traversal/two_hop_neighbors.cuh
  cpp/src/utilities/grmat.cu
  cpp/src/utilities/nvgraph_error_utils.h
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/triangle_test.cu
  cpp/tests/db/find_matches_test.cu
  cpp/tests/grmat/grmat_test.cu
  cpp/tests/nccl/degree_test.cu
  cpp/tests/nccl/nccl_test.cu
  cpp/tests/snmg_coo2csr/snmg_coo2csr_test.cu
  cpp/tests/snmg_degree/snmg_degree_test.cu
  cpp/tests/snmg_pagerank/snmg_pagerank_test.cu
  cpp/tests/snmg_spmv/snmg_spmv_test.cu
  cpp/tests/traversal/sssp_test.cu
  python/cugraph/structure/utils.pxd
Labels: 5 - Ready to Merge

#893 [REVIEW] Add external_repositories dir and raft symlink to .gitignore
  .gitignore
  CHANGELOG.md
Labels: 3 - Ready for Review

#896 [REVIEW] dask infra updates
  CHANGELOG.md
  ci/gpu/build.sh
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  python/setuputils.py
Labels: 3 - Ready for Review

#870 [REVIEW] Fix louvain
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/community/ECG.cu
  cpp/src/community/louvain.cpp
  cpp/src/community/louvain_kernels.cu
  cpp/src/community/louvain_kernels.hpp
  cpp/src/community/spectral_clustering.cu
  cpp/src/converters/COOtoCSR.cuh
  cpp/src/converters/permute_graph.cuh
  cpp/src/nvgraph/include/common_selector.cuh
  cpp/src/nvgraph/include/delta_modularity.cuh
  cpp/src/nvgraph/include/functor.cuh
  cpp/src/nvgraph/include/high_res_clock.h
  cpp/src/nvgraph/include/modularity.cuh
  cpp/src/nvgraph/include/nvlouvain.cuh
  cpp/src/nvgraph/include/size2_selector.cuh
  cpp/src/nvgraph/include/thrust_coarse_generator.cuh
  cpp/src/nvgraph/include/valued_csr_graph.cuh
  cpp/src/utilities/cuda_utils.cuh
  cpp/src/utilities/error_utils.h
  cpp/src/utilities/high_res_timer.hpp
  cpp/src/utilities/nvgraph_error_utils.h
  cpp/src/utilities/validation.cuh
  cpp/tests/community/ecg_test.cu
  cpp/tests/community/louvain_test.cpp
  python/cugraph/community/ecg.pxd
  python/cugraph/community/louvain.pxd
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_louvain.py
Labels: 3 - Ready for Review

#906 [REVIEW] Update Louvain notebook
  CHANGELOG.md
  notebooks/community/Louvain.ipynb
Labels: 3 - Ready for Review

#907 [REVIEW] Fix BFS for directed graphs
  CHANGELOG.md
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/bfs_kernels.cuh
Labels: 3 - Ready for Review

#903 [REVIEW] Add short commit hash to conda package
  CHANGELOG.md
  ci/cpu/build.sh
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
Labels: 5 - Ready to Merge

#911 [REVIEW] Env and changelog update
  CHANGELOG.md
  conda/environments/cugraph_dev_cuda10.0.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
Labels: 5 - Ready to Merge

#916 [REVIEW] Fix CI error on Force Atlas 2 test
  CHANGELOG.md
  cpp/tests/layout/force_atlas2_test.cu
  python/cugraph/tests/test_force_atlas2.py
Labels: 5 - Ready to Merge
