Repository rapidsai/cugraph, pull requests merged in 2021-02, with the labels that each got.

#1368 Prepare Changelog for Automation [skip-ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#1332 [REVIEW] SG Pagerank transition
  cpp/src/utilities/cython.cu
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_subgraph_extraction.py
Labels: improvement, non-breaking

#1358 Auto-label PRs based on their content [skip-ci]
  .github/labeler.yml
Labels: 4 - Needs Reviewer, improvement, non-breaking

#1352 Enabling pytest code coverage output by default
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  python/pytest.ini
Labels: improvement, non-breaking, tests

#1364 Bug fixes for MNMG coarsen_graph, renumber_edgelist, relabel
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
Labels: 3 - Ready for Review, bug, non-breaking

#1369 Update the conda environments and README file
  README.md
  SOURCEBUILD.md
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  docs/source/cugraph_blogs.rst
Labels: improvement, non-breaking

#1355 Implement MNMG Renumber
  cpp/include/experimental/graph.hpp
  cpp/include/utilities/cython.hpp
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
  python/cugraph/dask/structure/renumber.py
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Labels: improvement, non-breaking

#1367 Update CMakeLists.txt files for consistency with RAPIDS and to support cugraph as an external project and other tech debt removal
  conda/environments/builddocs.yml
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/ConfigureArrow.cmake
  cpp/cmake/Modules/ConfigureGoogleTest.cmake
  cpp/cmake/Templates/Arrow.CMakeLists.txt.cmake
  cpp/cmake/Templates/GoogleTest.CMakeLists.txt.cmake
  cpp/tests/CMakeLists.txt
  python/setuputils.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1378 [REVIEW] update subgraph tests and remove legacy pagerank
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/structure/graph.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/pagerank/pagerank_test.cpp
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_subgraph_extraction.py
Labels: improvement, non-breaking

#1359 Build a Dendrogram class, adapt Louvain/Leiden/ECG to use it
  ci/gpu/notebook_list.py
  ci/gpu/test-notebooks.sh
  ci/test.sh
  cpp/CMakeLists.txt
  cpp/src/community/dendrogram.cuh
  cpp/src/community/ecg.cu
  cpp/src/community/flatten_dendrogram.cuh
  cpp/src/community/leiden.cu
  cpp/src/community/leiden.cuh
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/experimental/louvain.cuh
  cpp/tests/experimental/louvain_test.cu
  notebooks/community/ECG.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/Subgraph-Extraction.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/cugraph_benchmarks/bfs_benchmark.ipynb
  notebooks/cugraph_benchmarks/louvain_benchmark.ipynb
  notebooks/cugraph_benchmarks/nx_cugraph_bc_benchmarking.ipynb
  notebooks/cugraph_benchmarks/pagerank_benchmark.ipynb
  notebooks/cugraph_benchmarks/release.ipynb
  notebooks/cugraph_benchmarks/sssp_benchmark.ipynb
  notebooks/demo/uvm.ipynb
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_leiden.py
  python/cugraph/tests/test_louvain.py
Labels: improvement, non-breaking

#1386 Updated CI scripts to use a different error handling convention, updated LD_LIBRARY_PATH for project flash runs
  ci/getGTestTimes.sh
  ci/gpu/build.sh
  ci/gpu/test-notebooks.sh
  ci/test.sh
  ci/utils/nbtest.sh
Labels: 3 - Ready for Review, bug, non-breaking

#1362 Use new coarsen_graph primitive in Louvain
  benchmarks/bench_algos.py
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/relabel.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/ecg_test.cpp
  cpp/tests/community/leiden_test.cpp
  cpp/tests/community/louvain_test.cpp
Labels: improvement, non-breaking

#1361 Added initial infrastructure for MG C++ testing and a Pagerank MG test using it
  build.sh
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tests/README.md
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: improvement, multi-GPU, non-breaking, tests

#1360 Add SG TSP
  README.md
  build.sh
  ci/test.sh
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/Modules/FindFAISS.cmake
  cpp/cmake/faiss_cuda11.patch
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/tsp_test.cu
  datasets/eil51.tsp
  datasets/get_test_data.sh
  datasets/gil262.tsp
  datasets/kroA100.tsp
  datasets/tsp225.tsp
  python/cugraph/__init__.py
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/tests/test_traveling_salesperson.py
  python/cugraph/tests/utils.py
  python/cugraph/traversal/__init__.py
  python/cugraph/traversal/traveling_salesperson.pxd
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Labels: improvement, non-breaking

#1408 Add GHA to mark issues/prs as stale/rotten [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#1413 Update stale GHA with exemptions & new labels [skip-ci]
  .github/workflows/stale.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#1412 TSP fix route return
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Labels: bug, non-breaking

#1392 Rename sort_and_shuffle to groupby_gpuid_and_shuffle
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/utilities/cython.hpp
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
  python/cugraph/structure/graph_primtypes.pxd
Labels: 3 - Ready for Review, improvement, non-breaking

#1415 ENH Build with `cmake --build` & Pass ccache variables to conda recipe & use Ninja in CI
  build.sh
  ci/cpu/build.sh
  conda/recipes/libcugraph/meta.yaml
Labels: 3 - Ready for Review, improvement, non-breaking

#1391 Matching updates for RAFT comms updates (device_sendrecv, device_multicast_sendrecv, gather, gatherv)
  cpp/CMakeLists.txt
  cpp/include/utilities/device_comm.cuh
  cpp/include/utilities/host_scalar_comm.cuh
Labels: 3 - Ready for Review, RAFT, improvement, non-breaking

#1399 Adding new primitives: copy_v_transform_reduce_key_aggregated_out_nbr & transform_reduce_by_adj_matrix_row|col_key_e bug fixes
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/utilities/device_comm.cuh
Labels: improvement, non-breaking

#1394 Add new primitives: compute_in|out_degrees, compute_in|out_weight_sums to graph_view_t
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/include/experimental/graph_view.hpp
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/src/experimental/pagerank.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/degree_test.cpp
  cpp/tests/experimental/weight_sum_test.cpp
Labels: improvement, non-breaking

#1429 [skip-ci] Update 0.18 changelog entry
  CHANGELOG.md
Labels: improvement, non-breaking
