Repository rapidsai/cugraph, pull requests merged in 2021-11, with the labels that each got.

#1882 Fixing Nx and Graph/DiGraph issues
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/tests/test_bfs.py
  python/cugraph/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/cugraph/tests/test_modularity.py
  python/cugraph/cugraph/tests/test_nx_convert.py
  python/cugraph/cugraph/utilities/nx_factory.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1918 Enable crosslink to rmm
  ci/docs/build.sh
  ci/release/update-version.sh
  cpp/doxygen/Doxyfile
Labels: doc

#1916 Reduce MNMG memory requirements
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_mg.cu
  cpp/src/structure/renumber_edgelist_sg.cu
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/test_graphs.hpp
Labels: 3 - Ready for Review, multi-GPU, improvement, non-breaking

#1917 Remove unnecessary host barrier synchronization
  cpp/include/cugraph/prims/copy_to_adj_matrix_row_col.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
Labels: 3 - Ready for Review, multi-GPU, improvement, non-breaking

#1928 Updates to support correct comparisons of cuDF Series with different names
  ci/gpu/build.sh
  python/cugraph/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/cugraph/tests/test_jaccard.py
  python/cugraph/cugraph/tests/test_overlap.py
  python/cugraph/cugraph/tests/test_random_walks.py
  python/cugraph/cugraph/tests/test_renumber.py
  python/cugraph/cugraph/tests/test_sorensen.py
  python/cugraph/cugraph/tests/test_wjaccard.py
  python/cugraph/cugraph/tests/test_woverlap.py
  python/cugraph/cugraph/tests/test_wsorensen.py
Labels: bug, non-breaking

#1907 C API for creating a graph
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/array.h
  cpp/include/cugraph_c/cugraph_api.h
  cpp/include/cugraph_c/error.h
  cpp/include/cugraph_c/graph.h
  cpp/src/c_api/array.cpp
  cpp/src/c_api/bfs.cpp
  cpp/src/c_api/cugraph_api.cpp
  cpp/src/c_api/error.cpp
  cpp/src/c_api/error.hpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/pagerank.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/c_test_utils.h
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/create_sg_graph_envelope_test.c
  cpp/tests/c_api/random_walks_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#1925 Updated error message and using a proper TypeError exception when an invalid MultiGraph is passed in
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/tests/test_graph.py
Labels: bug, non-breaking

#1921 improved Nx conversion performance
  python/cugraph/cugraph/utilities/nx_factory.py
  python/cugraph/cugraph/utilities/utils.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1920 Fix metadata mismatch
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/tests/generators/test_rmat.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1929 Bug fix in the R-mat generator
  cpp/src/generators/generate_rmat_edgelist.cu
Labels: bug, 3 - Ready for Review, non-breaking

#1932 Use collections.abc.Sequence instead of deprecated collections.Sequence.
  python/cugraph/cugraph/dask/common/part_utils.py
Labels: improvement, non-breaking

#1930 Disable HITS and setup 11.5 env
  conda/environments/cugraph_dev_cuda11.5.yml
  cpp/CMakeLists.txt
  notebooks/link_analysis/HITS.ipynb
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/tests/test_hits.py
Labels: improvement, breaking

#1927 add new demo notebook for louvain
  notebooks/demo/mg_louvain.ipynb
Labels: 3 - Ready for Review, improvement, non-breaking

#1898 HITS primitive based implementation
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/prims/property_op_utils.cuh
  cpp/include/cugraph/prims/reduce_v.cuh
  cpp/include/cugraph/prims/transform_reduce_v.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/hits_mg.cu
  cpp/src/link_analysis/hits_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/mg_hits_test.cpp
  cpp/tests/utilities/test_utilities.hpp
  cpp/tests/utilities/thrust_wrapper.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1931 Update rapids-cmake to 21.12
  cpp/CMakeLists.txt
Labels: improvement, 5 - Merge After Dependencies, non-breaking

#1926 Ensure empty shuffled columns have the appropriate dtype
  python/cugraph/cugraph/structure/renumber_wrapper.pyx
Labels: 3 - Ready for Review, improvement, non-breaking

#1924 K-core decomposition API update
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/cores/core_number_impl.cuh
  cpp/src/cores/core_number_mg.cu
  cpp/src/cores/core_number_sg.cu
  cpp/src/cores/legacy/core_number.cu
Labels: feature request, 3 - Ready for Review, non-breaking

#1934 Add options to drop self-loops & multi_edges in C++ test graph generation
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: feature request, 3 - Ready for Review, non-breaking

#1939 Count self-loops and multi-edges
  cpp/include/cugraph/detail/decompress_matrix_partition.cuh
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/structure/count_self_loops_and_multi_edges_test.cpp
  cpp/tests/structure/mg_count_self_loops_and_multi_edges_test.cpp
Labels: feature request, 3 - Ready for Review, non-breaking

#1941 Re-enable HITS in the python API using the new primitive-based implementation
  cpp/include/cugraph/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  notebooks/link_analysis/HITS.ipynb
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/cugraph/link_analysis/hits.pxd
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/link_analysis/hits_wrapper.pyx
  python/cugraph/cugraph/tests/test_hits.py
  python/cugraph/cugraph/tests/utils.py
Labels: improvement, non-breaking, python

#1937 Accounting for raft::random detail changes
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/detail/utility_wrappers.cu
  cpp/src/sampling/rw_traversals.hpp
  cpp/tests/sampling/random_walks_profiling.cu
  cpp/tests/sampling/random_walks_test.cu
  cpp/tests/sampling/rw_low_level_test.cu
Labels: 5 - Ready to Merge, improvement, non-breaking

#1933 K-core implementation for undirected graphs
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/prims/reduce_op.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/cores/core_number_mg.cu
  cpp/src/cores/core_number_sg.cu
  cpp/src/structure/graph_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/cores/core_number_test.cpp
  cpp/tests/cores/mg_core_number_test.cpp
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/thrust_wrapper.cu
Labels: feature request, 3 - Ready for Review, non-breaking

#1943 [BUG] Enforce renumbering for MNMG algos
  benchmarks/python_e2e/main.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/tests/dask/test_mg_renumber.py
Labels: bug, non-breaking

#1938 Add a new graph primitive to filter edges (extract_if_e)
  cpp/include/cugraph/prims/extract_if_e.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_extract_if_e.cu
  cpp/tests/prims/mg_reduce_v.cu
Labels: feature request, 3 - Ready for Review, non-breaking

#1945 cugraph bring in the same cuco as raft and cudf
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 4 - Waiting on Author, improvement, non-breaking

#1949 [REVIEW] Upgrade `clang` to `11.1.0`
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  cpp/scripts/run-clang-format.py
Labels: 4 - Needs Reviewer, improvement, non-breaking

#1952 Update probability params for RMAT call to match Graph500
  benchmarks/python_e2e/cugraph_dask_funcs.py
  benchmarks/python_e2e/cugraph_funcs.py
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/libcugraph_etl/meta.yaml
  cpp/CMakeLists.txt
  cpp/libcugraph_etl/CMakeLists.txt
  python/cugraph/cugraph/generators/rmat.py
  python/cugraph/cugraph/tests/generators/test_rmat.py
Labels: improvement, non-breaking

#1960 Fix Changelog Merge Conflicts for `branch-21.12`
  CHANGELOG.md
Labels: improvement, non-breaking

#1954 Explicitly install cusolver version with the correct ABI version
  conda/recipes/libcugraph/meta.yaml
Labels: 2 - In Progress, improvement, non-breaking

#1958 [REVIEW] Pin max `dask` & `distributed` to `2021.11.2`
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#1957 add rmm pool option for SNMG runs
  benchmarks/python_e2e/cugraph_dask_funcs.py
  benchmarks/python_e2e/main.py
Labels: improvement, non-breaking

#1968 Updates to `libcugraph_etl` conda recipe for CUDA Enhanced Compatibility
  conda/recipes/libcugraph_etl/meta.yaml
Labels: bug, non-breaking

#1950 Fix the difference in 2D partitioning of GPUs in python and C++
  python/cugraph/cugraph/comms/comms.py
Labels: 3 - Ready for Review, improvement, non-breaking
