Repository rapidsai/cugraph, pull requests merged in 2021-01, with the labels that each got.

#1308 [REVIEW] Updates to support nightly MG test automation
  python/cugraph/dask/common/mg_utils.py
  python/cugraph/tests/dask/mg_context.py
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_batch_edge_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_bfs.py
  python/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_katz_centrality.py
  python/cugraph/tests/dask/test_mg_louvain.py
  python/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/tests/dask/test_mg_sssp.py
  python/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/tests/test_symmetrize.py
  python/pytest.ini
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, improvement, non-breaking

#1312 Fix EXPERIMENTAL_LOUVAIN_TEST on Pascal
  ci/gpu/build.sh
  cpp/src/community/louvain.cu
  cpp/src/experimental/louvain.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/louvain_test.cu
Labels: bug, non-breaking

#1322 Fix MNMG Louvain tests on Pascal architecture
  python/cugraph/dask/common/mg_utils.py
  python/cugraph/tests/dask/test_mg_louvain.py
  python/cugraph/utilities/utils.py
  python/setup.py
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#1307 Update SG PageRank C++ tests
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
Labels: 6 - Okay to Auto-Merge, bug, non-breaking

#1318 Create labeler.yml
  .github/labeler.yml
  github/workflows/labeler.yml
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#1325 Updated git utils used by copyright.py for compatibility with current CI env
  ci/checks/style.sh
  ci/utils/git_helpers.py
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking

#1319 [REVIEW] Fix graph nodes function and renumbering from series
  python/cugraph/dask/common/input_utils.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/number_map.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/tests/test_renumber.py
Labels: bug, non-breaking

#1321 [REVIEW] FIX Set bash trap after PATH is updated [skip-ci]
  CHANGELOG.md
  ci/benchmark/build.sh
Labels: bug, non-breaking

#1326 [REVIEW] Fix mnmg cleanup exceptions
  python/cugraph/structure/number_map.py
Labels: 6 - Okay to Auto-Merge, improvement, non-breaking

#1257 Add C++ graph functions (coarsen_grpah, renumber_edgelist, relabel) and primitvies (transform_reduce_by_adj_matrix_row_key, transform_reduce_by_adj_matrix_col_key, copy_v_transform_reduce_key_aggregated_out_nbr)
  cpp/CMakeLists.txt
  cpp/include/experimental/detail/graph_utils.cuh
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_functions.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/include/matrix_partition_device.cuh
  cpp/include/patterns/any_of_adj_matrix_row.cuh
  cpp/include/patterns/copy_to_adj_matrix_row_col.cuh
  cpp/include/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/count_if_v.cuh
  cpp/include/patterns/reduce_op.cuh
  cpp/include/patterns/reduce_v.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/transform_reduce_v.cuh
  cpp/include/patterns/transform_reduce_v_with_adj_matrix_row.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/patterns/vertex_frontier.cuh
  cpp/include/utilities/dataframe_buffer.cuh
  cpp/include/utilities/device_comm.cuh
  cpp/include/utilities/host_scalar_comm.cuh
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/bfs.cu
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/src/experimental/include_cuco_static_map.cuh
  cpp/src/experimental/katz_centrality.cu
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/pagerank.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/experimental/sssp.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1336 Set a specific known working commit hash for gunrock instead of "dev"
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, 6 - Okay to Auto-Merge, bug, non-breaking

#1327 [REVIEW] improving error checking and docs
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/community/ECG.cu
  cpp/src/community/extract_subgraph_by_vertex.cu
  cpp/src/components/connectivity.cu
  cpp/src/cores/core_number.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/src/layout/force_atlas2.cu
  cpp/src/linear_assignment/hungarian.cu
  cpp/src/link_analysis/gunrock_hits.cpp
  cpp/src/link_analysis/pagerank.cu
  cpp/src/link_analysis/pagerank_1D.cu
  cpp/src/link_analysis/pagerank_1D.cuh
  cpp/src/link_prediction/jaccard.cu
  cpp/src/link_prediction/overlap.cu
  cpp/src/structure/graph.cu
  cpp/src/traversal/sssp.cu
  docs/source/api.rst
  docs/source/cugraph_intro.md
  python/cugraph/centrality/__init__.py
  python/cugraph/centrality/betweenness_centrality.py
  python/cugraph/community/spectral_clustering.py
Labels: Waiting on Reviewer, improvement, non-breaking

#1341 Fix #1340 - Use generic from_edgelist() methods
  notebooks/link_analysis/Pagerank.ipynb
Labels: improvement, non-breaking

#1333 Expose dense implementation of Hungarian algorithm
  README.md
  cpp/src/linear_assignment/README-hungarian.md
  python/cugraph/__init__.py
  python/cugraph/linear_assignment/__init__.py
  python/cugraph/linear_assignment/lap.pxd
  python/cugraph/linear_assignment/lap.py
  python/cugraph/linear_assignment/lap_wrapper.pyx
  python/cugraph/tests/test_hungarian.py
Labels: improvement, non-breaking

#1342 Pin gunrock to v1.2 for version 0.18
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1344 Added configuration for new cugraph-doc-codeowners review group
  .github/CODEOWNERS
Labels: 3 - Ready for Review, improvement, non-breaking

#1343 [REVIEW] API update to match RAFT PR #120
  cpp/CMakeLists.txt
  python/cugraph/comms/comms.py
Labels: improvement, non-breaking

#1280 [REVIEW] enable multigraph
  CHANGELOG.md
  python/cugraph/__init__.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/symmetrize.py
  python/cugraph/tests/test_multigraph.py
  python/cugraph/traversal/sssp.py
  python/cugraph/utilities/utils.py
Labels: Waiting on Reviewer, feature request, non-breaking

#1337 Using RAPIDS_DATASET_ROOT_DIR env var in place of absolute path to datasets in tests
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_force_atlas2.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_utils.py
  python/cugraph/tests/utils.py
Labels: 2 - In Progress, improvement, non-breaking

#1354 Implement induced subgraph extraction (SG C++)
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/experimental/graph_functions.hpp
  cpp/include/patterns/copy_to_adj_matrix_row_col.cuh
  cpp/include/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/induced_subgraph.cu
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/induced_subgraph_test.cpp
  python/cugraph/__init__.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/symmetrize.py
  python/cugraph/tests/test_multigraph.py
  python/cugraph/traversal/sssp.py
  python/cugraph/utilities/utils.py
Labels: 3 - Ready for Review, cuGraph, cuda, feature request, non-breaking
