Repository rapidsai/cugraph, pull requests merged in 2021-04, with the labels that each got.

#1498 Fix MNMG test failures and skip tests that are not supported on Pascal
  benchmarks/bench_algos.py
  ci/test.sh
  ci/utils/is_pascal.py
  cpp/src/community/egonet.cu
  notebooks/centrality/Betweenness.ipynb
  notebooks/centrality/Katz.ipynb
  notebooks/community/Spectral-Clustering.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/components/ConnectedComponents.ipynb
  notebooks/cores/core-number.ipynb
  notebooks/cores/kcore.ipynb
  notebooks/cores/ktruss.ipynb
  notebooks/link_analysis/HITS.ipynb
  notebooks/link_prediction/Jaccard-Similarity.ipynb
  notebooks/link_prediction/Overlap-Similarity.ipynb
  notebooks/structure/Renumber-2.ipynb
  notebooks/structure/Renumber.ipynb
  notebooks/structure/Symmetrize.ipynb
  notebooks/traversal/SSSP.ipynb
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_convert_matrix.py
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/test_egonet.py
  python/cugraph/tests/test_filter_unreachable.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_hits.py
  python/cugraph/tests/test_hypergraph.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_maximum_spanning_tree.py
  python/cugraph/tests/test_minimum_spanning_tree.py
  python/cugraph/tests/test_modularity.py
  python/cugraph/tests/test_multigraph.py
  python/cugraph/tests/test_nx_convert.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_paths.py
  python/cugraph/tests/test_renumber.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_utils.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/test_woverlap.py
Labels: 4 - Needs Reviewer, 5 - Ready to Merge, bug, non-breaking

#1504 Clean up nullptr cuda_stream_view arguments
  cpp/CMakeLists.txt
  cpp/tests/traversal/tsp_test.cu
Labels: 4 - Needs Reviewer, 5 - Ready to Merge, Fix, improvement, non-breaking

#1505 [REVIEW] pascal renumbering fix
  benchmarks/bench_algos.py
  notebooks/centrality/Betweenness.ipynb
  notebooks/centrality/Katz.ipynb
  notebooks/community/Spectral-Clustering.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/components/ConnectedComponents.ipynb
  notebooks/cores/core-number.ipynb
  notebooks/cores/kcore.ipynb
  notebooks/cores/ktruss.ipynb
  notebooks/link_analysis/HITS.ipynb
  notebooks/link_prediction/Jaccard-Similarity.ipynb
  notebooks/link_prediction/Overlap-Similarity.ipynb
  notebooks/structure/Renumber-2.ipynb
  notebooks/structure/Renumber.ipynb
  notebooks/structure/Symmetrize.ipynb
  notebooks/traversal/SSSP.ipynb
  python/cugraph/structure/number_map.py
  python/cugraph/tests/test_balanced_cut.py
  python/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/tests/test_bfs.py
  python/cugraph/tests/test_connectivity.py
  python/cugraph/tests/test_convert_matrix.py
  python/cugraph/tests/test_core_number.py
  python/cugraph/tests/test_ecg.py
  python/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/tests/test_egonet.py
  python/cugraph/tests/test_filter_unreachable.py
  python/cugraph/tests/test_graph.py
  python/cugraph/tests/test_hits.py
  python/cugraph/tests/test_hypergraph.py
  python/cugraph/tests/test_jaccard.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_maximum_spanning_tree.py
  python/cugraph/tests/test_minimum_spanning_tree.py
  python/cugraph/tests/test_modularity.py
  python/cugraph/tests/test_multigraph.py
  python/cugraph/tests/test_nx_convert.py
  python/cugraph/tests/test_overlap.py
  python/cugraph/tests/test_pagerank.py
  python/cugraph/tests/test_paths.py
  python/cugraph/tests/test_renumber.py
  python/cugraph/tests/test_sssp.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/tests/test_triangle_count.py
  python/cugraph/tests/test_utils.py
  python/cugraph/tests/test_wjaccard.py
  python/cugraph/tests/test_woverlap.py
Labels: 5 - Ready to Merge, bug, non-breaking

#1503 Reduce the size of the cugraph libraries
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1509 Updating RAFT tag
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1510 Updated NetworkX version to 2.5.1
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
Labels: bug, non-breaking

#1447 Improve graph primitives performance on graphs with widely varying vertex degrees
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_functions.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/include/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/edge_op_utils.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/patterns/vertex_frontier.cuh
  cpp/include/utilities/dataframe_buffer.cuh
  cpp/src/experimental/bfs.cu
  cpp/src/experimental/graph.cu
  cpp/src/experimental/graph_view.cu
  cpp/src/experimental/sssp.cu
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/mg_bfs_test.cpp
  cpp/tests/experimental/mg_katz_centrality_test.cpp
  cpp/tests/experimental/mg_sssp_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/pagerank/mg_pagerank_test.cpp
  cpp/tests/utilities/generate_graph_from_edgelist.cu
Labels: 3 - Ready for Review, improvement, non-breaking, performance

#1376 Add utility function for computing a secondary cost for BFS and SSSP output
  cpp/CMakeLists.txt
  cpp/include/utilities/path_retrieval.hpp
  cpp/src/utilities/path_retrieval.cu
  python/cugraph/tests/test_utils.py
  python/cugraph/utilities/__init__.py
  python/cugraph/utilities/path_retrieval.pxd
  python/cugraph/utilities/path_retrieval.py
  python/cugraph/utilities/path_retrieval_wrapper.pyx
Labels: improvement, non-breaking

#1516 Random Walks - Python Bindings
  README.md
  docs/source/api.rst
  python/cugraph/__init__.py
  python/cugraph/sampling/__init__.py
  python/cugraph/sampling/random_walks.pxd
  python/cugraph/sampling/random_walks.py
  python/cugraph/sampling/random_walks_wrapper.pyx
  python/cugraph/structure/graph_utilities.pxd
  python/cugraph/tests/test_random_walks.py
Labels: improvement, non-breaking

#1521 Update docs and remove all warnings [skip-ci]
  docs/source/api.rst
  python/cugraph/centrality/katz_centrality.py
  python/cugraph/components/connectivity.py
  python/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/structure/symmetrize.py
  python/cugraph/traversal/bfs.py
  python/cugraph/traversal/traveling_salesperson.py
Labels: doc, non-breaking

#1523 [REVIEW] fix mg_renumber non-deterministic errors
  python/cugraph/structure/number_map.py
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_batch_edge_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_bfs.py
  python/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_katz_centrality.py
  python/cugraph/tests/dask/test_mg_louvain.py
  python/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/tests/dask/test_mg_sssp.py
  python/cugraph/tests/dask/test_mg_utility.py
Labels: bug, non-breaking

#1526 Fixed copyright date and format
  docs/source/conf.py
Labels: bug, non-breaking

#1535 Disabling shallow fetch for cuhornet
  cpp/CMakeLists.txt
Labels: ! - Hotfix, ! - Release, bug, non-breaking

#1520 [ENH] Undo cuco::static_map bug workarounds
  cpp/CMakeLists.txt
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/utilities/collect_comm.cuh
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/experimental/renumber_utils.cu
  python/cugraph/centrality/katz_centrality.py
  python/cugraph/components/connectivity.py
  python/cugraph/dask/centrality/katz_centrality.py
Labels: 3 - Ready for Review, Fix, improvement, non-breaking

#1529 [FEA] New C++ testing structure
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
  cpp/tests/centrality/katz_centrality_test.cu
  cpp/tests/community/egonet_test.cu
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/components/con_comp_test.cu
  cpp/tests/components/scc_test.cu
  cpp/tests/components/wcc_graphs.cu
  cpp/tests/components/wcc_graphs.hpp
  cpp/tests/components/wcc_test.cpp
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/degree_test.cpp
  cpp/tests/experimental/generate_rmat_test.cpp
  cpp/tests/experimental/graph_test.cpp
  cpp/tests/experimental/induced_subgraph_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/mg_bfs_test.cpp
  cpp/tests/experimental/mg_katz_centrality_test.cpp
  cpp/tests/experimental/mg_sssp_test.cpp
  cpp/tests/experimental/ms_bfs_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/random_walks_test.cu
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/experimental/weight_sum_test.cpp
  cpp/tests/layout/force_atlas2_test.cu
  cpp/tests/pagerank/mg_pagerank_test.cpp
  cpp/tests/traversal/bfs_test.cu
  cpp/tests/traversal/sssp_test.cu
  cpp/tests/traversal/tsp_test.cu
  cpp/tests/tree/mst_test.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: improvement, non-breaking

#1541 Update CUDA version in build scripts
  ci/cpu/prebuild.sh
Labels: bug, non-breaking

#1554 Fix doc build paths for CI [skip ci]
  ci/docs/build.sh
Labels: bug, non-breaking

#1553 [FEA] Update our thrust version to 1.12
  cpp/CMakeLists.txt
  cpp/src/traversal/mg/common_utils.cuh
  cpp/src/traversal/mg/vertex_binning.cuh
  cpp/tests/centrality/betweenness_centrality_test.cu
  cpp/tests/centrality/edge_betweenness_centrality_test.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1552 Update build system and docs to new minimum cugraph-0.20 requirements
  README.md
  SOURCEBUILD.md
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  cpp/CMakeLists.txt
  python/setup.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1563 Remove conda & pip installs from doc script
  ci/docs/build.sh
Labels: improvement, non-breaking

#1404 [REVIEW] Add new graph structure
  benchmarks/bench_algos.py
  python/cugraph/__init__.py
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/community/ktruss_subgraph.py
  python/cugraph/community/leiden.py
  python/cugraph/community/louvain.py
  python/cugraph/community/subgraph_extraction.py
  python/cugraph/community/triangle_count.py
  python/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/cores/k_core.py
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/layout/force_atlas2.py
  python/cugraph/link_analysis/pagerank.py
  python/cugraph/link_prediction/jaccard.py
  python/cugraph/link_prediction/overlap.py
  python/cugraph/link_prediction/wjaccard.py
  python/cugraph/link_prediction/woverlap.py
  python/cugraph/structure/__init__.py
  python/cugraph/structure/convert_matrix.py
  python/cugraph/structure/graph.py
  python/cugraph/structure/graph_classes.py
  python/cugraph/structure/graph_implementation/__init__.py
  python/cugraph/structure/graph_implementation/npartiteGraph.py
  python/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/structure/hypergraph.py
  python/cugraph/structure/number_map.py
  python/cugraph/structure/symmetrize.py
  python/cugraph/tests/test_graph.py
  python/cugraph/traversal/bfs.py
  python/cugraph/traversal/traveling_salesperson.py
  python/cugraph/tree/minimum_spanning_tree.py
Labels: improvement, non-breaking

#1531 [ENH] Added Random Walks COO convertor and profiling
  cpp/include/algorithms.hpp
  cpp/include/utilities/cython.hpp
  cpp/include/utilities/path_retrieval.hpp
  cpp/src/sampling/random_walks.cu
  cpp/src/sampling/random_walks.cuh
  cpp/src/utilities/cython.cu
  cpp/src/utilities/high_res_timer.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/random_walks_profiling.cu
  cpp/tests/sampling/random_walks_test.cu
  cpp/tests/sampling/random_walks_utils.cuh
  cpp/tests/sampling/rw_low_level_test.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: improvement, merge conflict, non-breaking

#1564 ENH Remove defaults channel from conda build
  README.md
  ci/benchmark/build.sh
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda_build.sh
Labels: 3 - Ready for Review, improvement, non-breaking

#1561 Miscellaneous bug fixes
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/experimental/sssp_test.cpp
Labels: 3 - Ready for Review, bug, non-breaking

#1560 Enable correctness check in C++ testing by default.
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/mg_bfs_test.cpp
  cpp/tests/experimental/mg_katz_centrality_test.cpp
  cpp/tests/experimental/mg_sssp_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/pagerank/mg_pagerank_test.cpp
Labels: 3 - Ready for Review, bug, non-breaking
