Repository rapidsai/cugraph, pull requests merged in 2021-08, with the labels that each got.

#1731 Updated MG python tests to run in single and multi-node environments
  build.sh
  python/conftest.py
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_batch_edge_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_bfs.py
  python/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/tests/dask/test_mg_connectivity.py
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_katz_centrality.py
  python/cugraph/tests/dask/test_mg_louvain.py
  python/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/tests/dask/test_mg_sssp.py
  python/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/tests/utils.py
Labels: improvement, non-breaking

#1744 Modify MNMG louvain to support an empty vertex partition
  cpp/src/community/louvain.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1752 Move legacy implementations into legacy directories
  cpp/CMakeLists.txt
  cpp/src/centrality/legacy/katz_centrality.cu
  cpp/src/community/legacy/ecg.cu
  cpp/src/community/legacy/egonet.cu
  cpp/src/community/legacy/extract_subgraph_by_vertex.cu
  cpp/src/community/legacy/ktruss.cu
  cpp/src/community/legacy/leiden.cu
  cpp/src/community/legacy/leiden.cuh
  cpp/src/community/legacy/spectral_clustering.cu
  cpp/src/community/legacy/triangles_counting.cu
  cpp/src/structure/legacy/graph.cu
  cpp/src/traversal/legacy/bfs.cu
  cpp/src/traversal/legacy/bfs.cuh
  cpp/src/traversal/legacy/bfs_kernels.cuh
  cpp/src/traversal/legacy/mg/bfs.cuh
  cpp/src/traversal/legacy/mg/common_utils.cuh
  cpp/src/traversal/legacy/mg/frontier_expand.cuh
  cpp/src/traversal/legacy/mg/frontier_expand_kernels.cuh
  cpp/src/traversal/legacy/mg/vertex_binning.cuh
  cpp/src/traversal/legacy/mg/vertex_binning_kernels.cuh
  cpp/src/traversal/legacy/sssp.cu
  cpp/src/traversal/legacy/sssp.cuh
  cpp/src/traversal/legacy/sssp_kernels.cuh
  cpp/src/traversal/legacy/traversal_common.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/legacy/betweenness_centrality_test.cu
  cpp/tests/centrality/legacy/edge_betweenness_centrality_test.cu
  cpp/tests/centrality/legacy/katz_centrality_test.cu
  cpp/tests/traversal/legacy/bfs_ref.h
  cpp/tests/traversal/legacy/bfs_test.cu
  cpp/tests/traversal/legacy/sssp_test.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1734 Use the new RAPIDS.cmake to fetch rapids-cmake
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#1755 C++ benchmarking for MG PageRank
  cpp/tests/pagerank/mg_pagerank_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/test_graphs.hpp
Labels: 3 - Ready for Review, benchmarks, multi-GPU, improvement, non-breaking

#1760 Include `cpack` to generate source packages
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1762 C++ benchmarking for additional algorithms
  cpp/tests/components/con_comp_test.cu
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/scc_test.cu
  cpp/tests/components/weakly_connected_components_test.cpp
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/mg_bfs_test.cpp
  cpp/tests/experimental/mg_katz_centrality_test.cpp
  cpp/tests/experimental/mg_sssp_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/layout/force_atlas2_test.cu
  cpp/tests/pagerank/mg_pagerank_test.cpp
  cpp/tests/prims/mg_count_if_v.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/traversal/legacy/sssp_test.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: feature request, 3 - Ready for Review, benchmarks, tests, non-breaking

#1763 Move experimental source files and a few implementation headers
  cpp/CMakeLists.txt
  cpp/src/centrality/katz_centrality.cu
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/generators/generator_tools.cu
  cpp/src/generators/scramble.cuh
  cpp/src/link_analysis/pagerank.cu
  cpp/src/structure/coarsen_graph.cu
  cpp/src/structure/graph.cu
  cpp/src/structure/graph_view.cu
  cpp/src/structure/induced_subgraph.cu
  cpp/src/structure/relabel.cu
  cpp/src/structure/renumber_edgelist.cu
  cpp/src/structure/renumber_utils.cu
  cpp/src/traversal/bfs.cu
  cpp/src/traversal/sssp.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/katz_centrality_test.cpp
  cpp/tests/centrality/mg_katz_centrality_test.cpp
  cpp/tests/community/induced_subgraph_test.cpp
  cpp/tests/generators/generate_rmat_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/structure/coarsen_graph_test.cpp
  cpp/tests/structure/degree_test.cpp
  cpp/tests/structure/graph_test.cpp
  cpp/tests/structure/streams.cu
  cpp/tests/structure/weight_sum_test.cpp
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/traversal/mg_sssp_test.cpp
  cpp/tests/traversal/ms_bfs_test.cpp
  cpp/tests/traversal/sssp_test.cpp
Labels: 3 - Ready for Review, Refactor, improvement, non-breaking

#1761 [REVIEW] updating notebooks
  notebooks/README.md
  notebooks/centrality/Centrality.ipynb
  notebooks/community/ECG.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/ktruss.ipynb
  notebooks/demo/uvm.ipynb
  notebooks/link_analysis/Pagerank.ipynb
  python/cugraph/centrality/katz_centrality.py
Labels: improvement, non-breaking

#1751 Remove hardcoded Pagerank dtype
  python/cugraph/link_analysis/pagerank_wrapper.pyx
Labels: 3 - Ready for Review, improvement, non-breaking

#1766 Bug louvain reverted fix
  cpp/src/community/louvain.cu
Labels: bug, 3 - Ready for Review, non-breaking

#1764 [REVIEW] Bug dask cudf personalization
  python/cugraph/dask/common/part_utils.py
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/link_analysis/pagerank.py
Labels: bug, non-breaking

#1732 [REVIEW] Biased Random Walks for GNN
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/graph.hpp
  cpp/src/sampling/random_walks.cu
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/rw_traversals.hpp
  cpp/src/topology/topology.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/random_walks_profiling.cu
  cpp/tests/sampling/random_walks_test.cu
  cpp/tests/sampling/rw_biased_seg_sort.cu
  cpp/tests/sampling/rw_low_level_test.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1773 Added guards for preventing k-truss execution on CUDA 11.4 systems
  ci/gpu/notebook_list.py
  notebooks/cores/ktruss.ipynb
  python/cugraph/community/__init__.py
  python/cugraph/community/ktruss_subgraph.py
  python/cugraph/tests/test_k_truss_subgraph.py
Labels: bug, ! - Hotfix, non-breaking

#1769 MNMG memory footprint improvement for low average vertex degree graphs (part 1)
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/structure/coarsen_graph.cu
  cpp/src/structure/create_graph_from_edgelist.cpp
  cpp/src/structure/renumber_edgelist.cu
  cpp/src/utilities/cython.cu
  cpp/tests/utilities/rmat_utilities.cpp
Labels: 3 - Ready for Review, multi-GPU, improvement, non-breaking

#1772 Fix unused variables/parameters warnings
  cpp/src/centrality/betweenness_centrality.cu
  cpp/src/community/legacy/egonet.cu
  cpp/src/components/weakly_connected_components.cu
  cpp/src/structure/graph.cu
  cpp/src/structure/graph_view.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1777 Updated to handle CUDA version check on machines with no GPUs
  python/cugraph/community/__init__.py
  python/cugraph/community/ktruss_subgraph.py
Labels: bug, ! - Hotfix, non-breaking

#1775 Temporarily pin RMM while refactor removes deprecated calls
  ci/gpu/build.sh
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/cmake/thirdparty/get_rmm.cmake
Labels: 3 - Ready for Review, improvement, non-breaking, Fix

#1779 [BUG] force_atlas2 to support nx hypercube_graph
  python/cugraph/layout/force_atlas2.py
  python/cugraph/utilities/nx_factory.py
Labels: bug, 3 - Ready for Review, non-breaking

#1758 consolidate tests to use the fixture dask_client
  python/cugraph/tests/dask/mg_context.py
  python/cugraph/tests/dask/test_mg_batch_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_batch_edge_betweenness_centrality.py
  python/cugraph/tests/dask/test_mg_replication.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1781 [skip-ci] Initial doc update for running the python E2E benchmarks in a MNMG environment.
  benchmarks/python_e2e/README.md
Labels: doc, non-breaking

#1786 Fix Forward-Merge Conflicts [skip ci]
  CHANGELOG.md
  ci/gpu/notebook_list.py
  cpp/CMakeLists.txt
  notebooks/community/ktruss.ipynb
  python/cugraph/community/__init__.py
  python/cugraph/community/ktruss_subgraph.py
  python/cugraph/tests/test_k_truss_subgraph.py
Labels: improvement, non-breaking

#1784 add conda environment for CUDA 11.4
  conda/environments/cugraph_dev_cuda11.4.yml
Labels: 3 - Ready for Review, improvement, non-breaking

#1774 MNMG memory footprint improvement for low average vertex degree graphs (part 2)
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/structure/create_graph_from_edgelist.cpp
  cpp/src/structure/renumber_edgelist.cu
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/components/wcc_graphs.cu
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/rmat_utilities.cpp
Labels: 3 - Ready for Review, multi-GPU, improvement, non-breaking

#1785 [REVIEW] Change python docs to pydata theme
  .gitignore
  SOURCEBUILD.md
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  docs/cugraph/Makefile
  docs/cugraph/README.md
  docs/cugraph/requirement.txt
  docs/cugraph/source/_static/copybutton.css
  docs/cugraph/source/_static/copybutton_pydocs.js
  docs/cugraph/source/_static/example_mod.js
  docs/cugraph/source/_static/params.css
  docs/cugraph/source/api.rst
  docs/cugraph/source/api_docs/centrality.rst
  docs/cugraph/source/api_docs/community.rst
  docs/cugraph/source/api_docs/components.rst
  docs/cugraph/source/api_docs/cores.rst
  docs/cugraph/source/api_docs/dask-cugraph.rst
  docs/cugraph/source/api_docs/generator.rst
  docs/cugraph/source/api_docs/helper_functions.rst
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/api_docs/layout.rst
  docs/cugraph/source/api_docs/linear_assignment.rst
  docs/cugraph/source/api_docs/link_analysis.rst
  docs/cugraph/source/api_docs/link_prediction.rst
  docs/cugraph/source/api_docs/sampling.rst
  docs/cugraph/source/api_docs/structure.rst
  docs/cugraph/source/api_docs/traversal.rst
  docs/cugraph/source/api_docs/tree.rst
  docs/cugraph/source/basics/cugraph_blogs.rst
  docs/cugraph/source/basics/cugraph_intro.md
  docs/cugraph/source/basics/cugraph_ref.rst
  docs/cugraph/source/basics/index.rst
  docs/cugraph/source/basics/nx_transition.rst
  docs/cugraph/source/conf.py
  docs/cugraph/source/index.rst
Labels: doc, non-breaking
