Repository rapidsai/cugraph, pull requests merged in 2021-03, with the labels that each got.

#1401 Add boost 1.0 license file.
  thirdparty/LICENSES/LICENSE.boost
Labels: 3 - Ready for Review, doc, non-breaking

#1419 Update C++ MG PageRank test
  cpp/include/algorithms.hpp
  cpp/include/experimental/graph.hpp
  cpp/include/experimental/graph_view.hpp
  cpp/src/experimental/katz_centrality.cu
  cpp/src/experimental/pagerank.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/egonet_test.cu
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/graph_test.cpp
  cpp/tests/experimental/induced_subgraph_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/louvain_test.cu
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/pagerank/mg_pagerank_test.cpp
  cpp/tests/pagerank/pagerank_mg_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/mg_test_utilities.cu
  cpp/tests/utilities/mg_test_utilities.hpp
  cpp/tests/utilities/test_utilities.cpp
  cpp/tests/utilities/test_utilities.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1433 Prepare Changelog for Automation [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#1411 Add R-mat generator
  cpp/CMakeLists.txt
  cpp/include/experimental/graph_generator.hpp
  cpp/src/experimental/generate_rmat_edgelist.cu
  cpp/src/experimental/scramble.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/coarsen_graph_test.cpp
  cpp/tests/experimental/degree_test.cpp
  cpp/tests/experimental/generate_rmat_test.cpp
  cpp/tests/experimental/weight_sum_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, feature request, non-breaking

#1425 update default path of setup to use the new directory paths in build …
  python/setuputils.py
Labels: bug, non-breaking

#1421 Replace rmm::device_vector & thrust::host_vector with rmm::device_uvector & std::vector, respectively.
  cpp/include/compute_partition.cuh
  cpp/include/patterns/count_if_e.cuh
  cpp/include/patterns/transform_reduce_e.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/patterns/vertex_frontier.cuh
  cpp/src/experimental/louvain.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#1436 Remove raft handle duplication
  python/cugraph/centrality/betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/centrality/katz_centrality.pxd
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/comms/comms.pxd
  python/cugraph/comms/comms_wrapper.pyx
  python/cugraph/community/egonet.pxd
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/community/ktruss_subgraph_wrapper.pyx
  python/cugraph/community/leiden_wrapper.pyx
  python/cugraph/community/louvain.pxd
  python/cugraph/community/louvain_wrapper.pyx
  python/cugraph/community/spectral_clustering_wrapper.pyx
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/community/triangle_count_wrapper.pyx
  python/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/cores/core_number_wrapper.pyx
  python/cugraph/cores/k_core_wrapper.pyx
  python/cugraph/dask/centrality/mg_katz_centrality.pxd
  python/cugraph/dask/centrality/mg_katz_centrality_wrapper.pyx
  python/cugraph/dask/community/louvain.pxd
  python/cugraph/dask/community/louvain_wrapper.pyx
  python/cugraph/dask/link_analysis/mg_pagerank.pxd
  python/cugraph/dask/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/dask/structure/renumber_wrapper.pyx
  python/cugraph/dask/traversal/mg_bfs.pxd
  python/cugraph/dask/traversal/mg_bfs_wrapper.pyx
  python/cugraph/dask/traversal/mg_sssp.pxd
  python/cugraph/dask/traversal/mg_sssp_wrapper.pyx
  python/cugraph/layout/force_atlas2_wrapper.pyx
  python/cugraph/linear_assignment/lap_wrapper.pyx
  python/cugraph/link_analysis/hits_wrapper.pyx
  python/cugraph/link_analysis/pagerank.pxd
  python/cugraph/link_analysis/pagerank_wrapper.pyx
  python/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
  python/cugraph/structure/graph_utilities.pxd
  python/cugraph/structure/utils.pxd
  python/cugraph/structure/utils_wrapper.pyx
  python/cugraph/traversal/bfs.pxd
  python/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/traversal/sssp.pxd
  python/cugraph/traversal/sssp_wrapper.pyx
  python/cugraph/traversal/traveling_salesperson_wrapper.pyx
Labels: Fix, improvement, non-breaking

#1431 Create cuGraph developers guide
  cpp/docs/DEVELOPER_GUIDE.md
Labels: doc, non-breaking

#1435 Streams infra + support in egonet
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/src/community/egonet.cu
  cpp/src/experimental/induced_subgraph.cu
  cpp/src/utilities/high_res_timer.hpp
  cpp/tests/community/egonet_test.cu
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/structure/graph_primtypes.pxd
Labels: 3 - Ready for Review, improvement, non-breaking

#1438 Update C++ MG PageRank and SG PageRank, Katz Centrality, BFS, and SSSP to use the new R-mat graph generator
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/bfs_test.cpp
  cpp/tests/experimental/katz_centrality_test.cpp
  cpp/tests/experimental/pagerank_test.cpp
  cpp/tests/experimental/sssp_test.cpp
  cpp/tests/pagerank/mg_pagerank_test.cpp
  cpp/tests/utilities/generate_graph_from_edgelist.cu
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/misc_utilities.cpp
  cpp/tests/utilities/rmat_utilities.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, tests

#1444 Update FAISS to 1.7.0
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1445 Updated NCCL to version 2.8.4
  conda/environments/cugraph_dev_cuda10.1.yml
  conda/environments/cugraph_dev_cuda10.2.yml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
Labels: improvement, non-breaking

#1446 Update Changelog Link [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#1427 [REVIEW] Update and Test Renumber bindings
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  python/cugraph/dask/common/part_utils.py
  python/cugraph/dask/structure/renumber.py
  python/cugraph/structure/new_number_map.py
  python/cugraph/structure/renumber_wrapper.pyx
Labels: improvement, non-breaking

#1434 Fix bugs in copy_v_transform_reduce_key_aggregated_out_nbr & groupby_gpuid_and_shuffle
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/utilities/collect_comm.cuh
  cpp/include/utilities/shuffle_comm.cuh
  cpp/include/utilities/thrust_tuple_utils.cuh
Labels: 3 - Ready for Review, bug, non-breaking

#1455 Update to make notebook_list.py compatible with numba 0.53
  ci/gpu/notebook_list.py
Labels: bug, non-breaking

#1453 Remove literals passed to `device_uvector::set_element_async`
  cpp/src/experimental/graph.cu
Labels: improvement, non-breaking

#1448 Updating docs
  README.md
  docs/source/api.rst
  docs/source/dask-cugraph.rst
  python/cugraph/bsp/traversal/bfs_bsp.py
  python/cugraph/community/egonet.py
  python/cugraph/components/connectivity.py
  python/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/dask/community/louvain.py
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/dask/traversal/bfs.py
  python/cugraph/dask/traversal/sssp.py
  python/cugraph/tree/minimum_spanning_tree.py
Labels: improvement, non-breaking

#1468 Removed unused dependencies from libcugraph recipe, moved non-test script code from test script to gpu build script
  ci/gpu/build.sh
  ci/test.sh
  conda/recipes/libcugraph/meta.yaml
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking

#1441 Add additional datasets to improve coverage
  datasets/README.md
  datasets/dolphins_multi_edge.csv
  datasets/dolphins_s_loop.csv
  datasets/get_test_data.sh
  datasets/karate_mod.mtx
  datasets/karate_multi_edge.csv
  datasets/karate_s_loop.csv
  datasets/karate_str.mtx
  python/cugraph/tests/utils.py
Labels: improvement, non-breaking

#1476 Added cmake function and .hpp template for generating version_config.hpp file.
  cpp/CMakeLists.txt
  cpp/cmake/Modules/Version.cmake
  cpp/cmake/version_config.hpp.in
Labels: improvement, non-breaking

#1475 [REVIEW] Fix for bug in SCC on self-loops
  cpp/src/components/connectivity.cu
  cpp/src/components/scc_matrix.cuh
  cpp/tests/components/scc_test.cu
Labels: improvement, non-breaking

#1452 ENH Change conda build directories to work with ccache
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  conda/recipes/cugraph/meta.yaml
Labels: 4 - Waiting on Author, improvement, non-breaking

#1480 TSP solver bug fix
  cpp/include/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/traversal/tsp_test.cu
Labels: improvement, non-breaking

#1485 ENH Update conda recipes pinning of repo dependencies
  conda/recipes/cugraph/meta.yaml
Labels: 3 - Ready for Review, bug, conda, non-breaking

#1423 Update Louvain to use new graph primitives and pattern accelerators
  cpp/include/algorithms.hpp
  cpp/include/dendrogram.hpp
  cpp/include/experimental/include_cuco_static_map.cuh
  cpp/include/graph.hpp
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/utilities/collect_comm.cuh
  cpp/include/utilities/device_comm.cuh
  cpp/src/community/ecg.cu
  cpp/src/community/flatten_dendrogram.cuh
  cpp/src/community/leiden.cuh
  cpp/src/community/louvain.cu
  cpp/src/community/louvain.cuh
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/shuffle.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/community/mg_louvain_helper.hpp
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/experimental/louvain_test.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: improvement, non-breaking

#1484 [REVIEW] Add indirection and replace algorithms with new renumbering
  python/cugraph/community/egonet_wrapper.pyx
  python/cugraph/community/ktruss_subgraph_wrapper.pyx
  python/cugraph/community/subgraph_extraction_wrapper.pyx
  python/cugraph/cores/k_core_wrapper.pyx
  python/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/dask/common/input_utils.py
  python/cugraph/dask/community/louvain.py
  python/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/dask/traversal/bfs.py
  python/cugraph/dask/traversal/sssp.py
  python/cugraph/structure/new_number_map.py
  python/cugraph/structure/number_map.py
  python/cugraph/structure/renumber_wrapper.pyx
  python/cugraph/tests/test_renumber.py
Labels: improvement, non-breaking

#1439 [REVIEW] Implement C/CUDA RandomWalks functionality
  cpp/CMakeLists.txt
  cpp/include/algorithms.hpp
  cpp/include/utilities/cython.hpp
  cpp/include/utilities/graph_traits.hpp
  cpp/src/experimental/random_walks.cuh
  cpp/src/sampling/random_walks.cu
  cpp/src/utilities/cython.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/experimental/random_walks_test.cu
  cpp/tests/experimental/random_walks_utils.cuh
  cpp/tests/experimental/rw_low_level_test.cu
Labels: feature request, non-breaking

#1483 Multiple graph generator with power law distribution on sizes
  cpp/include/experimental/graph_generator.hpp
  cpp/src/experimental/generate_rmat_edgelist.cu
  cpp/tests/experimental/generate_rmat_test.cpp
Labels: improvement, non-breaking

#1489 [REVIEW] Create C++ documentation
  README.md
  cpp/src/centrality/README.md
  cpp/src/community/README.md
  cpp/src/traversal/README.md
Labels: doc, non-breaking

#1493 Revert "Update conda recipes pinning of repo dependencies" [skip-ci]
  conda/recipes/cugraph/meta.yaml
Labels: bug, non-breaking
