Repository rapidsai/cugraph, pull requests merged in 2021-09, with the labels that each got.

#1797 Fix MG Louvain test compile errors
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/community/mg_louvain_test.cpp
Labels: bug, 3 - Ready for Review, tests, non-breaking

#1591 [REVIEW] multi seeds BFS with one seed per component
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/utilities/cython.hpp
  cpp/src/community/legacy/egonet.cu
  cpp/src/traversal/bfs.cu
  cpp/src/utilities/cython.cu
  cpp/src/visitors/bfs_visitor.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/ms_bfs_test.cpp
  cpp/tests/traversal/ms_bfs_test.cu
  cpp/tests/visitors/bfs_test.cpp
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/mg_bfs.pxd
  python/cugraph/cugraph/dask/traversal/mg_bfs_wrapper.pyx
  python/cugraph/cugraph/tests/dask/test_mg_bfs.py
  python/cugraph/cugraph/traversal/bfs.pxd
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/bfs_wrapper.pyx
Labels: improvement, breaking

#1802 MG WCC bug fix
  cpp/src/structure/create_graph_from_edgelist.cpp
Labels: bug, 3 - Ready for Review, non-breaking

#1804 Clean-up artifacts from the multi-source BFS PR (#1591)
  cpp/include/cugraph/algorithms.hpp
  cpp/src/traversal/bfs.cu
  cpp/src/visitors/bfs_visitor.cpp
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/traversal/ms_bfs_test.cu
  cpp/tests/visitors/bfs_test.cpp
Labels: bug, 3 - Ready for Review, non-breaking

#1800 [REVIEW] Pylibcugraph connected components
  ci/gpu/build.sh
  ci/test.sh
  python/pylibcugraph/pylibcugraph/components/_connectivity.pxd
  python/pylibcugraph/pylibcugraph/components/_connectivity.pyx
  python/pylibcugraph/pylibcugraph/structure/__init__.py
  python/pylibcugraph/pylibcugraph/structure/graph_primtypes.pxd
  python/pylibcugraph/pylibcugraph/structure/graph_utilities.pxd
  python/pylibcugraph/pylibcugraph/tests/__init__.py
  python/pylibcugraph/pylibcugraph/tests/test_connected_components.py
  python/pylibcugraph/pylibcugraph/tests/utils.py
Labels: improvement, non-breaking

#1805 Also building cpp MG tests as part of conda/CI libcugraph builds
  ci/cpu/build.sh
  ci/test.sh
  conda/recipes/libcugraph/build.sh
Labels: improvement, non-breaking

#1790 Update with rapids cmake new features
  cpp/CMakeLists.txt
  cpp/cmake/Modules/Version.cmake
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_nccl.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/cmake/version_config.hpp.in
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#1806 Initial version of `pylibcugraph` conda package and CI build script updates
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/test.sh
  conda/recipes/pylibcugraph/build.sh
  conda/recipes/pylibcugraph/meta.yaml
  python/pylibcugraph/setup.py
Labels: improvement, non-breaking

#1803 Split many files to separate SG from MG template instantiations
  cpp/CMakeLists.txt
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/centrality/katz_centrality_mg.cu
  cpp/src/centrality/katz_centrality_sg.cu
  cpp/src/community/legacy/louvain.cu
  cpp/src/community/louvain.cu
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/louvain_mg.cu
  cpp/src/community/louvain_sg.cu
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/components/weakly_connected_components_mg.cu
  cpp/src/components/weakly_connected_components_sg.cu
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/link_analysis/pagerank_mg.cu
  cpp/src/link_analysis/pagerank_sg.cu
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/coarsen_graph_mg.cu
  cpp/src/structure/coarsen_graph_sg.cu
  cpp/src/structure/create_graph_from_edgelist.cpp
  cpp/src/structure/create_graph_from_edgelist_impl.hpp
  cpp/src/structure/create_graph_from_edgelist_mg.cpp
  cpp/src/structure/create_graph_from_edgelist_sg.cpp
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_mg.cu
  cpp/src/structure/graph_sg.cu
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/graph_view_mg.cu
  cpp/src/structure/graph_view_sg.cu
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/src/structure/induced_subgraph_mg.cu
  cpp/src/structure/induced_subgraph_sg.cu
  cpp/src/structure/relabel_impl.cuh
  cpp/src/structure/relabel_mg.cu
  cpp/src/structure/relabel_sg.cu
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_mg.cu
  cpp/src/structure/renumber_edgelist_sg.cu
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/structure/renumber_utils_mg.cu
  cpp/src/structure/renumber_utils_sg.cu
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/bfs_mg.cu
  cpp/src/traversal/bfs_sg.cu
  cpp/src/traversal/sssp_impl.cuh
  cpp/src/traversal/sssp_mg.cu
  cpp/src/traversal/sssp_sg.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1801 Graph primitives memory scaling improvements for low average vertex degree graphs and many GPUs (Part 1)
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/prims/copy_to_adj_matrix_row_col.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/count_if_e.cuh
  cpp/include/cugraph/prims/property_op_utils.cuh
  cpp/include/cugraph/prims/row_col_properties.cuh
  cpp/include/cugraph/prims/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.cuh
  cpp/include/cugraph/utilities/thrust_tuple_utils.cuh
  cpp/include/cugraph/vertex_partition_device.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/relabel_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/sampling/rw_low_level_test.cu
Labels: 3 - Ready for Review, multi-GPU, Graph Prims, improvement, non-breaking

#1808 Add new new raft symlink path to .gitignore
  .gitignore
Labels: 3 - Ready for Review, improvement, non-breaking

#1812 remove tsp implementation from 21.10
  README.md
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/tsp_test.cu
  docs/cugraph/source/api_docs/traversal.rst
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/tests/test_traveling_salesperson.py
  python/cugraph/cugraph/traversal/__init__.py
  python/cugraph/cugraph/traversal/traveling_salesperson.pxd
  python/cugraph/cugraph/traversal/traveling_salesperson.py
  python/cugraph/cugraph/traversal/traveling_salesperson_wrapper.pyx
Labels: 3 - Ready for Review, improvement, breaking

#1810 Changed pylibcugraph connected_components APIs to use duck typing for CAI inputs, added doc placeholders
  conda/recipes/libcugraph/meta.yaml
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/api_docs/pylibcugraph.rst
  python/pylibcugraph/pylibcugraph/components/_connectivity.pyx
  python/pylibcugraph/pylibcugraph/tests/test_connected_components.py
Labels: improvement, non-breaking

#1793 updated to new doc theme
  conda/environments/cugraph_dev_cuda11.4.yml
  docs/cugraph/source/api_docs/structure.rst
  docs/cugraph/source/basics/cugraph_blogs.rst
  docs/cugraph/source/index.rst
  python/cugraph/cugraph/generators/rmat.py
  python/cugraph/cugraph/structure/graph_classes.py
Labels: 3 - Ready for Review, doc, non-breaking

#1811 Changed code to disable `k_truss` on CUDA 11.4 differently
  python/cugraph/conftest.py
  python/cugraph/cugraph/community/__init__.py
  python/cugraph/cugraph/community/ktruss_subgraph.py
Labels: bug, non-breaking

#1798 Transform Reduce E test
  cpp/include/cugraph/prims/copy_to_adj_matrix_row_col.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/property_op_utils.cuh
  cpp/include/cugraph/prims/row_col_properties.cuh
  cpp/include/cugraph/prims/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/cugraph/utilities/collect_comm.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.cuh
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/include/cugraph/utilities/thrust_tuple_utils.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_transform_reduce_e.cu
Labels: 3 - Ready for Review, multi-GPU, Graph Prims, improvement, non-breaking

#1816 Group return values of renumber_edgelist and input parameters of graph_t & graph_view_t constructors.
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/visitors/graph_factory.hpp
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.hpp
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_mg.cu
  cpp/src/structure/renumber_edgelist_sg.cu
  cpp/src/utilities/cython.cu
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/structure/graph_test.cpp
  cpp/tests/visitors/bfs_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1814 [HOTFIX] Update TSP branch 21.08 with Texas State Copyright
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  thirdparty/LICENSES/LICENSE.texas_state_university
Labels: 3 - Ready for Review, ! - Hotfix, doc, non-breaking

#1813 [HOTFIX] Changed code to disable `k_truss` on CUDA 11.4 differently
  python/cugraph/community/__init__.py
  python/cugraph/community/ktruss_subgraph.py
Labels: bug, ! - Hotfix, non-breaking

#1792 [HOTFIX] Remove `-g` from cython compile commands
  cpp/src/traversal/tsp.cu
  cpp/src/traversal/tsp.hpp
  cpp/src/traversal/tsp_solver.hpp
  cpp/src/traversal/tsp_utils.hpp
  python/cugraph/community/__init__.py
  python/cugraph/community/ktruss_subgraph.py
  python/setup.py
  thirdparty/LICENSES/LICENSE.texas_state_university
Labels: 3 - Ready for Review, improvement, non-breaking

#1827 Accommodate cudf change to is_string_dtype method
  python/cugraph/cugraph/structure/hypergraph.py
Labels: bug, 3 - Ready for Review, non-breaking

#1742 Fea renumbering test
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/katz_centrality_test.cpp
  cpp/tests/centrality/mg_katz_centrality_test.cpp
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/prims/mg_count_if_v.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/structure/graph_test.cpp
  cpp/tests/structure/renumbering_test.cpp
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/traversal/mg_sssp_test.cpp
  cpp/tests/traversal/sssp_test.cpp
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/rmat_utilities.cpp
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/test_utilities.hpp
  cpp/tests/visitors/bfs_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1822 Added the reduction op input parameter to host_scalar_(all)reduce utility functions.
  cpp/include/cugraph/prims/count_if_v.cuh
  cpp/include/cugraph/prims/reduce_v.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/transform_reduce_v.cuh
  cpp/include/cugraph/prims/vertex_frontier.cuh
  cpp/include/cugraph/utilities/host_scalar_comm.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/utilities/cython.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1829 Remove obsolete file
  cpp/include/cugraph/compute_partition.cuh
Labels: 3 - Ready for Review, Refactor, improvement, non-breaking

#1821 Count if e test
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_count_if_e.cu
Labels: 3 - Ready for Review, multi-GPU, Graph Prims, improvement, non-breaking

#1823 [REVIEW] Improve memory scaling for low average vertex degree graphs & many GPUs
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/prims/copy_to_adj_matrix_row_col.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/row_col_properties.cuh
  cpp/include/cugraph/prims/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/cugraph/utilities/device_comm.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.hpp
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/utilities/cython.cu
Labels: 3 - Ready for Review, multi-GPU, Graph Prims, improvement, non-breaking

#1836 add compiler version checks to cmake to fail early
  cpp/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, Fix

#1840 Temporarily disable input argument checks for a currently disabled feature
  cpp/src/structure/graph_impl.cuh
Labels: bug, 3 - Ready for Review, multi-GPU, non-breaking

#1839 Changed value of the expensive check param to `false` in `populate_graph_container`
  cpp/src/utilities/cython.cu
Labels: bug, non-breaking

#1842 add try/catch for python-louvain
  python/cugraph/cugraph/tests/test_louvain.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1841 Pin max dask and distributed versions to 2021.09.1
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#1848 Fix automerger for `branch-21.12`
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/recipes/cugraph/meta.yaml
Labels: gpuCI, improvement, non-breaking, conda

#1850 fix benchmark exit status
  benchmarks/python_e2e/main.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1853 Removed NetworkX requirement for type checks, fixed docstring, added new docstrings, import cleanups
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/community/ecg.py
  python/cugraph/cugraph/community/egonet.py
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/community/leiden.py
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/community/spectral_clustering.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/components/connectivity.py
  python/cugraph/cugraph/cores/core_number.py
  python/cugraph/cugraph/cores/k_core.py
  python/cugraph/cugraph/generators/rmat.py
  python/cugraph/cugraph/layout/force_atlas2.py
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/link_analysis/pagerank.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/sssp.py
  python/cugraph/cugraph/tree/minimum_spanning_tree.py
  python/cugraph/cugraph/tree/minimum_spanning_tree_wrapper.pyx
  python/cugraph/cugraph/utilities/__init__.py
  python/cugraph/cugraph/utilities/nx_factory.py
  python/cugraph/cugraph/utilities/utils.py
  python/pylibcugraph/pylibcugraph/components/_connectivity.pyx
Labels: bug, non-breaking

#1859 Updating cuco to latest
  cpp/cmake/thirdparty/get_cuco.cmake
Labels: 3 - Ready for Review, improvement, non-breaking
