Repository rapidsai/cugraph, pull requests merged in 2021-05, with the labels that each got.

#1574 Merge `branch-0.19` into `branch-0.20`
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1548 [gpuCI] Forward-merge branch-0.19 to branch-0.20 [skip ci]
  CHANGELOG.md
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#1577 ENH Remove 'rapidsai-nightly' conda channel when building main branch
  ci/cpu/build.sh
Labels: improvement, non-breaking

#1578 ENH Remove progress output on conda packages upload
  ci/cpu/upload.sh
  conda_build.sh
Labels: improvement, non-breaking

#1567 [BUG] Fix Random Walks output format and handle missing weights.
  cpp/include/algorithms.hpp
  cpp/include/utilities/path_retrieval.hpp
  cpp/src/sampling/random_walks.cu
  cpp/src/sampling/random_walks.cuh
  cpp/tests/sampling/random_walks_utils.cuh
  cpp/tests/sampling/rw_low_level_test.cu
Labels: 2 - In Progress, breaking, improvement

#1572 Fix multi-GPU hang on graph generation
  cpp/CMakeLists.txt
  cpp/include/patterns/copy_to_adj_matrix_row_col.cuh
  cpp/include/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/utilities/host_barrier.hpp
  cpp/include/utilities/shuffle_comm.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/generate_rmat_edgelist.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/utilities/host_barrier.cpp
Labels: 3 - Ready for Review, bug, multi-GPU, non-breaking

#1559 [REVIEW] add multi-column support in algorithms - part 1
  python/cugraph/centrality/katz_centrality.py
  python/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/community/egonet.py
  python/cugraph/community/subgraph_extraction.py
  python/cugraph/cores/k_core.py
  python/cugraph/linear_assignment/lap.py
  python/cugraph/sampling/random_walks.py
  python/cugraph/structure/graph_classes.py
  python/cugraph/structure/number_map.py
  python/cugraph/tests/test_egonet.py
  python/cugraph/tests/test_k_core.py
  python/cugraph/tests/test_katz_centrality.py
  python/cugraph/tests/test_random_walks.py
  python/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/traversal/sssp.py
Labels: 3 - Ready for Review, 4 - Needs Reviewer, improvement, non-breaking

#1573 Bindings for RMAT
  cpp/include/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  docs/cugraph/source/api.rst
  python/cugraph/generators/__init__.py
  python/cugraph/generators/rmat.pxd
  python/cugraph/generators/rmat.py
  python/cugraph/generators/rmat_wrapper.pyx
  python/cugraph/structure/graph_classes.py
  python/cugraph/structure/graph_utilities.pxd
  python/cugraph/tests/generators/test_rmat.py
  python/cugraph/traversal/ms_bfs.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1597 Bug fix for MNMG Louvain
  cpp/src/experimental/louvain.cuh
Labels: 3 - Ready for Review, bug, multi-GPU, non-breaking

#1596 Bug fix in MG coarsen_grph
  cpp/src/experimental/coarsen_graph.cu
Labels: 3 - Ready for Review, bug, multi-GPU, non-breaking

#1576 Fixing broken path utility
  python/cugraph/utilities/utils.py
Labels: 2 - In Progress, improvement, non-breaking

#1598 Update the relabel function to skip relabeling on missing labels
  cpp/include/cugraph/experimental/graph_functions.hpp
  cpp/src/community/flatten_dendrogram.cuh
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/louvain.cuh
  cpp/src/experimental/relabel.cu
Labels: 3 - Ready for Review, improvement, multi-GPU, non-breaking

#1600 Update release script [skip-ci]
  ci/release/update-version.sh
Labels: improvement, non-breaking

#1601 Added `uninstall` target which uninstalls libcugraph and cugraph from a prior build/install step
  build.sh
Labels: improvement, non-breaking

#1551 Update graph primitives to support vertex-tagging in frontier expansion
  cpp/include/cugraph/experimental/graph_view.hpp
  cpp/include/cugraph/patterns/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/patterns/count_if_e.cuh
  cpp/include/cugraph/patterns/edge_op_utils.cuh
  cpp/include/cugraph/patterns/reduce_op.cuh
  cpp/include/cugraph/patterns/transform_reduce_by_adj_matrix_row_col_key_e.cuh
  cpp/include/cugraph/patterns/transform_reduce_e.cuh
  cpp/include/cugraph/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/cugraph/patterns/vertex_frontier.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.cuh
  cpp/include/cugraph/utilities/device_comm.cuh
  cpp/src/experimental/bfs.cu
  cpp/src/experimental/sssp.cu
Labels: 3 - Ready for Review, 4 - Needs Reviewer, improvement, non-breaking

#1565 Refactor the graph generation (from edge list) code
  cpp/CMakeLists.txt
  cpp/include/cugraph/experimental/graph_functions.hpp
  cpp/include/cugraph/experimental/graph_generator.hpp
  cpp/src/experimental/coarsen_graph.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/structure/create_graph_from_edgelist.cu
  cpp/src/utilities/cython.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/components/wcc_graphs.cu
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/rmat_utilities.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1606 Update docs build script [skip ci]
  ci/docs/build.sh
Labels: improvement, non-breaking

#1604 SG & MG Weakly Connected Components
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/experimental/graph.hpp
  cpp/src/components/weakly_connected_components.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
Labels: 3 - Ready for Review, P0, feature request, multi-GPU, non-breaking

#1608 Update `CHANGELOG.md` links for calver [skip ci]
  CHANGELOG.md
Labels: improvement, non-breaking

#1605 [REVIEW] WCC performance/memory footprint optimization
  cpp/include/cugraph/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/src/components/weakly_connected_components.cu
  cpp/src/experimental/graph.cu
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/rmat_utilities.cu
Labels: 2 - In Progress, P0, improvement, multi-GPU, non-breaking, performance

#1609 Fea rmm device buffer change
  cpp/CMakeLists.txt
  cpp/src/traversal/sssp.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1614 Fix merge conflicts [skip ci]
  CHANGELOG.md
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/experimental/graph.hpp
  cpp/include/cugraph/patterns/update_frontier_v_push_if_out_nbr.cuh
  cpp/src/components/weakly_connected_components.cu
  cpp/src/experimental/graph.cu
  cpp/src/traversal/sssp.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/rmat_utilities.cu
Labels: improvement, non-breaking

#1585 Update `cugraph` to with newest CMake features, including CPM for dependencies
  build.sh
  ci/release/update-version.sh
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.1.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/EvalGpuArchs.cmake
  cpp/cmake/Modules/FindFAISS.cmake
  cpp/cmake/Modules/FindNCCL.cmake
  cpp/cmake/faiss_cuda11.patch
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_cuhornet.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_gunrock.cmake
  cpp/cmake/thirdparty/get_nccl.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/tests/CMakeLists.txt
  python/setup.py
  python/setuputils.py
Labels: 3 - Ready for Review, improvement, merge conflict, non-breaking

#1619 [DOC] Fix developer guide examples for device_buffer [skip-ci]
  cpp/docs/DEVELOPER_GUIDE.md
Labels: 3 - Ready for Review, improvement, non-breaking

#1610 address 'ValueError: Series contains NULL values' from from_cudf_edge…
  notebooks/demo/batch_betweenness.ipynb
Labels: 3 - Ready for Review, improvement, non-breaking

#1615 Undo disabling MG C++ testing outputs for non-root processes
  cpp/tests/utilities/base_fixture.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, tests

#1617 Pass rmm memory allocator to cuco::static_map
  cpp/include/cugraph/patterns/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/utilities/collect_comm.cuh
  cpp/src/experimental/relabel.cu
  cpp/src/experimental/renumber_edgelist.cu
  cpp/src/experimental/renumber_utils.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#1607 Handle int64 in force atlas wrapper and update to uvector
  cpp/include/cugraph/algorithms.hpp
  cpp/src/layout/barnes_hut.hpp
  cpp/src/layout/exact_fa2.hpp
  cpp/src/layout/force_atlas2.cu
  cpp/tests/layout/force_atlas2_test.cu
  python/cugraph/layout/force_atlas2.pxd
  python/cugraph/layout/force_atlas2_wrapper.pyx
Labels: 3 - Ready for Review, improvement, non-breaking

#1592 [REVIEW] Add mnmg out degree
  python/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/structure/graph_primtypes_wrapper.pyx
  python/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/tests/dask/test_mg_katz_centrality.py
Labels: 3 - Ready for Review, improvement, non-breaking

#1629 Updated dependencies for CalVer
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.1.yml
  conda/environments/cugraph_dev_cuda11.2.yml
Labels: improvement, non-breaking

#1625 [FIX] Initialize force_atlas2 `old_forces` device_uvector, use new `rmm::exec_policy`
  cpp/src/layout/barnes_hut.hpp
  cpp/src/layout/exact_fa2.hpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1580 [REVIEW] [FEA] Implement Graph Batching functionality
  cpp/CMakeLists.txt
  cpp/include/cugraph/experimental/graph.hpp
  cpp/include/cugraph/experimental/graph_view.hpp
  cpp/include/cugraph/serialization/serializer.hpp
  cpp/include/cugraph/utilities/path_retrieval.hpp
  cpp/src/serialization/serializer.cu
  cpp/src/utilities/graph_bcast.cu
  cpp/src/utilities/graph_bcast.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/bcast/mg_graph_bcast.cpp
  cpp/tests/sampling/rw_low_level_test.cu
  cpp/tests/serialization/un_serialize_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: improvement, non-breaking
