Repository rapidsai/cugraph, pull requests merged in 2022-09, with the labels that each got.

#2617 Code cleanup
  cpp/include/cugraph/detail/decompress_edge_partition.cuh
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/edge_partition_view.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/rw_traversals.hpp
  cpp/src/serialization/serializer.cu
  cpp/src/utilities/cugraph_ops_utils.hpp
  cpp/tests/centrality/eigenvector_centrality_test.cpp
  cpp/tests/centrality/katz_centrality_test.cpp
  cpp/tests/centrality/mg_eigenvector_centrality_test.cpp
  cpp/tests/centrality/mg_katz_centrality_test.cpp
  cpp/tests/community/ecg_test.cpp
  cpp/tests/community/egonet_test.cu
  cpp/tests/community/induced_subgraph_test.cpp
  cpp/tests/community/leiden_test.cpp
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/community/mg_triangle_count_test.cpp
  cpp/tests/community/triangle_count_test.cpp
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
  cpp/tests/cores/core_number_test.cpp
  cpp/tests/cores/mg_core_number_test.cpp
  cpp/tests/generators/erdos_renyi_test.cpp
  cpp/tests/generators/generate_rmat_test.cpp
  cpp/tests/generators/generators_test.cpp
  cpp/tests/linear_assignment/hungarian_test.cu
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/mg_hits_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/sampling/random_walks_utils.cuh
  cpp/tests/sampling/rw_low_level_test.cu
  cpp/tests/structure/coarsen_graph_test.cpp
  cpp/tests/structure/count_self_loops_and_multi_edges_test.cpp
  cpp/tests/structure/degree_test.cpp
  cpp/tests/structure/graph_test.cpp
  cpp/tests/structure/mg_symmetrize_test.cpp
  cpp/tests/structure/mg_transpose_storage_test.cpp
  cpp/tests/structure/mg_transpose_test.cpp
  cpp/tests/structure/renumbering_test.cpp
  cpp/tests/structure/symmetrize_test.cpp
  cpp/tests/structure/transpose_storage_test.cpp
  cpp/tests/structure/transpose_test.cpp
  cpp/tests/structure/weight_sum_test.cpp
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/extract_bfs_paths_test.cu
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/traversal/mg_extract_bfs_paths_test.cu
  cpp/tests/traversal/mg_sssp_test.cpp
  cpp/tests/traversal/sssp_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, improvement, breaking

#2661 Move GaaS sources, tests, docs, scripts from the rapidsai/GaaS repo to the cugraph repo
  python/cugraph_service/README.md
  python/cugraph_service/cugraph_service_client/__init__.py
  python/cugraph_service/cugraph_service_client/client.py
  python/cugraph_service/cugraph_service_client/cugraph_service_thrift.py
  python/cugraph_service/cugraph_service_client/defaults.py
  python/cugraph_service/cugraph_service_client/exceptions.py
  python/cugraph_service/cugraph_service_client/types.py
  python/cugraph_service/cugraph_service_server/__init__.py
  python/cugraph_service/cugraph_service_server/cugraph_handler.py
  python/cugraph_service/cugraph_service_server/server.py
  python/cugraph_service/img/cugraph_service_pict.png
  python/cugraph_service/img/rapids_logo.png
  python/cugraph_service/scripts/README.md
  python/cugraph_service/scripts/default-config.sh
  python/cugraph_service/scripts/functions.sh
  python/cugraph_service/scripts/run-dask-process.sh
  python/cugraph_service/tests/__init__.py
  python/cugraph_service/tests/client1_script.py
  python/cugraph_service/tests/client2_script.py
  python/cugraph_service/tests/conftest.py
  python/cugraph_service/tests/data.py
  python/cugraph_service/tests/data/karate.csv
  python/cugraph_service/tests/data/merchants.csv
  python/cugraph_service/tests/data/referrals.csv
  python/cugraph_service/tests/data/relationships.csv
  python/cugraph_service/tests/data/transactions.csv
  python/cugraph_service/tests/data/users.csv
  python/cugraph_service/tests/demo1.py
  python/cugraph_service/tests/gen_demo_data.py
  python/cugraph_service/tests/multi_client_test_runner.sh
  python/cugraph_service/tests/test_cugraph_handler.py
  python/cugraph_service/tests/test_e2e.py
  python/cugraph_service/tests/test_mg_cugraph_handler.py
  python/cugraph_service/tests/test_mg_e2e.py
Labels: improvement, non-breaking

#2659 Release all inactive futures
  python/cugraph/cugraph/dask/cores/core_number.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/dask/traversal/bfs.py
Labels: bug, non-breaking

#2628 Refactor Sampling, Structure and Traversal Notebooks
  notebooks/README.md
  notebooks/algorithms/README.md
  notebooks/algorithms/sampling/README.md
  notebooks/algorithms/sampling/RandomWalk.ipynb
  notebooks/algorithms/structure/README.md
  notebooks/algorithms/structure/Renumber-2.ipynb
  notebooks/algorithms/structure/Renumber.ipynb
  notebooks/algorithms/structure/Symmetrize.ipynb
  notebooks/algorithms/traversal/BFS.ipynb
  notebooks/algorithms/traversal/README.md
  notebooks/algorithms/traversal/SSSP.ipynb
  notebooks/cugraph_benchmarks/release.ipynb
  notebooks/img/zachary_graph_path.png
  python/cugraph/cugraph/centrality/betweenness_centrality.py
Labels: doc, Notebook, non-breaking

#2666 Small fix to the MG PyG Test to Account for Current Sampling Behavior
  python/cugraph/cugraph/tests/mg/test_mg_pyg_extensions.py
Labels: improvement, non-breaking, Fix, python

#2680 [DOC] Removed reference to hard limit of 2 billion vertices for dask cugraph
  docs/cugraph/source/api_docs/dask-cugraph.rst
Labels: doc, non-breaking

#2672 updated list of conferences
  docs/cugraph/source/basics/cugraph_blogs.rst
Labels: doc, non-breaking

#2585 MG uniform random walk implementation
  cpp/src/sampling/detail/graph_functions.hpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/detail/sampling_utils_mg.cu
  cpp/src/sampling/detail/sampling_utils_sg.cu
  cpp/src/sampling/random_walks_impl.cuh
  cpp/src/sampling/random_walks_mg.cu
  cpp/src/sampling/random_walks_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/detail/mg_gather_utils.cu
  cpp/tests/sampling/mg_random_walks_test.cpp
  cpp/tests/sampling/mg_random_walks_test.cu
  cpp/tests/sampling/random_walks_check.cuh
  cpp/tests/sampling/random_walks_check.hpp
  cpp/tests/sampling/random_walks_check_mg.cu
  cpp/tests/sampling/random_walks_check_sg.cu
  cpp/tests/sampling/sg_random_walks_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2660 Create graph with edge property values
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_mg.cu
  cpp/src/structure/create_graph_from_edgelist_sg.cu
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/utilities/cython.cu
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/components/wcc_graphs.cu
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
  cpp/tests/structure/graph_test.cpp
  cpp/tests/traversal/ms_bfs_test.cu
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/test_utilities.hpp
Labels: feature request, 3 - Ready for Review, non-breaking

#2671 Promote triangle count from experimental
  benchmarks/python_e2e/cugraph_dask_funcs.py
  benchmarks/python_e2e/cugraph_funcs.py
  benchmarks/python_pytest_based/bench_algos.py
  notebooks/algorithms/community/Triangle-Counting.ipynb
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/community/CMakeLists.txt
  python/cugraph/cugraph/community/__init__.py
  python/cugraph/cugraph/community/triangle_count.pxd
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/community/triangle_count_wrapper.pyx
  python/cugraph/cugraph/dask/community/triangle_count.py
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/experimental/community/__init__.py
  python/cugraph/cugraph/experimental/community/triangle_count.py
  python/cugraph/cugraph/tests/mg/test_mg_triangle_count.py
  python/cugraph/cugraph/tests/test_triangle_count.py
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/tests/test_triangle_count.py
  python/pylibcugraph/pylibcugraph/triangle_count.pyx
Labels: improvement, non-breaking

#2625 Add coverage for uniform neighbor sampling
  python/pylibcugraph/pylibcugraph/tests/test_neighborhood_sampling.py
Labels: improvement, non-breaking

#2706 Add modularity to return result for louvain
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/louvain.cpp
  cpp/tests/c_api/louvain_test.c
Labels: bug, 3 - Ready for Review, non-breaking

#2697 Renumber PG to be contiguous per type
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking

#2698 PG allow get_vertex_data to accept single type or id
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking

#2693 adds mechanism to skip notebook directories for different run types
  ci/gpu/build.sh
  ci/gpu/notebook_list.py
  ci/gpu/test-notebooks.sh
  notebooks/applications/SKIP_CI_TESTING
  notebooks/cugraph_benchmarks/SKIP_CI_TESTING
  notebooks/demo/SKIP_CI_TESTING
  notebooks/gnn/SKIP_CI_TESTING
Labels: feature request, non-breaking

#2679 `graph_mask_t` and separating raft includes for `host_span` and `device_span`
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/edge_partition_view.hpp
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/graph_mask.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/src/detail/graph_utils.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/structure/graph_mask_test.cpp
  cpp/tests/utilities/device_comm_wrapper.hpp
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/community/egonet_wrapper.pyx
  python/cugraph/cugraph/dask/comms/comms.pxd
  python/cugraph/cugraph/dask/comms/comms.py
  python/cugraph/cugraph/dask/comms/comms_wrapper.pyx
  python/cugraph/cugraph/generators/rmat.pxd
  python/cugraph/cugraph/generators/rmat_wrapper.pyx
  python/cugraph/cugraph/sampling/random_walks_wrapper.pyx
  python/cugraph/cugraph/structure/graph_primtypes.pxd
  python/cugraph/cugraph/structure/graph_utilities.pxd
  python/cugraph/cugraph/structure/renumber_wrapper.pyx
  python/cugraph/cugraph/tests/test_property_graph.py
  python/pylibcugraph/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#2688 Fixes bug in `NumberMap` preventing use of string vertex IDs for MG graphs
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/testing/utils.py
  python/cugraph/cugraph/tests/mg/test_mg_doctests.py
  python/cugraph/cugraph/tests/mg/test_mg_renumber.py
Labels: bug, non-breaking

#2717 fix Comms import
  notebooks/demo/mg_pagerank.ipynb
Labels: improvement, non-breaking

#2716 added tests for triangle count on unweighted graphs and graphs with int64 vertex types
  python/cugraph/cugraph/tests/test_triangle_count.py
Labels: 3 - Ready for Review, improvement, non-breaking

#2729 Update raft import
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/dask/common/input_utils.py
  python/cugraph/cugraph/dask/common/mg_utils.py
  python/cugraph/cugraph/dask/comms/comms.py
Labels: improvement, non-breaking

#2739 suppress expansion of unused raft spectral templates
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/src/community/legacy/spectral_clustering.cu
  python/cugraph/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#2703 Implement a random selection primitive
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/prims/per_v_random_select_and_transform_outgoine_e.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_extract_if_e.cu
  cpp/tests/prims/mg_extract_transform_v_frontier_outgoing_e.cu
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
  cpp/tests/prims/property_generator.cuh
Labels: feature request, 3 - Ready for Review, non-breaking

#2682 Enable PLC algos to leverage the PLC graph
  python/cugraph/cugraph/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/community/triangle_count.py
  python/cugraph/cugraph/dask/link_analysis/hits.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/mg/test_mg_core_number.py
  python/cugraph/cugraph/tests/mg/test_mg_eigenvector_centrality.py
  python/cugraph/cugraph/tests/mg/test_mg_hits.py
  python/cugraph/cugraph/tests/mg/test_mg_katz_centrality.py
  python/cugraph/cugraph/tests/mg/test_mg_sssp.py
  python/cugraph/cugraph/tests/mg/test_mg_uniform_neighbor_sample.py
  python/cugraph/cugraph/traversal/sssp.py
  python/pylibcugraph/pylibcugraph/core_number.pyx
  python/pylibcugraph/pylibcugraph/eigenvector_centrality.pyx
  python/pylibcugraph/pylibcugraph/katz_centrality.pyx
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/personalized_pagerank.pyx
  python/pylibcugraph/pylibcugraph/sssp.pyx
  python/pylibcugraph/pylibcugraph/triangle_count.pyx
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: improvement, breaking

#2728 Implement a vertex pair intersection primitive
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/detail/graph_utils.cuh
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/utilities/cython.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/utilities/matrix_market_file_utilities.cu
Labels: feature request, 3 - Ready for Review, non-breaking

#2592 [REVIEW]Hetrograph and dask_cudf support
  python/cugraph/cugraph/gnn/graph_store.py
  python/cugraph/cugraph/tests/mg/test_mg_dgl_extensions.py
  python/cugraph/cugraph/tests/test_graph_store.py
Labels: improvement, non-breaking

#2154 Add tests for reading edge and vertex data from single input in PG, implementation to follow.
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking

#2523 PropertyGraph set index to vertex and edge ids
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/gnn/graph_store.py
  python/cugraph/cugraph/gnn/pyg_extensions/data/cugraph_store.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_pyg_extensions.py
  python/cugraph/cugraph/tests/test_graph_store.py
  python/cugraph/cugraph/tests/test_property_graph.py
  python/cugraph/cugraph/tests/test_pyg_extensions.py
Labels: improvement, non-breaking

#2701 [skip-ci] new notebook for loading mag240m
  notebooks/modules/README.md
  notebooks/modules/SKIP_CI_TESTING
  notebooks/modules/mag240m_pg.ipynb
Labels: improvement, non-breaking

#2755 Fix cuGraph compile-time warnings.
  cpp/src/community/legacy/extract_subgraph_by_vertex.cu
  cpp/src/components/legacy/weak_cc.cuh
  cpp/src/generators/generator_tools.cu
  cpp/src/linear_assignment/hungarian.cu
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/sampling/random_walks.cu
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/rw_traversals.hpp
  cpp/src/serialization/serializer.cu
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/legacy/graph.cu
  cpp/src/traversal/legacy/mg/common_utils.cuh
  cpp/src/tree/mst.cu
  cpp/src/utilities/graph_utils.cuh
  cpp/tests/structure/streams.cu
Labels: 3 - Ready for Review, improvement, non-breaking
