Repository rapidsai/cugraph, pull requests merged in 2022-03, with the labels that each got.

#2095 Fix cugraph-ops header names
  cpp/cmake/thirdparty/get_libcugraphops.cmake
  cpp/include/cugraph/algorithms.hpp
  cpp/src/sampling/neighborhood.cu
  cpp/src/utilities/cugraph_ops_utils.hpp
Labels: 0 - Blocked, improvement, non-breaking

#2096 extract_if_e bug fix.
  cpp/include/cugraph/prims/extract_if_e.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2097 update_frontier_v_push_if_out_nbr C++ test bug fix
  cpp/tests/prims/mg_update_frontier_v_push_if_out_nbr.cu
Labels: bug, 3 - Ready for Review, non-breaking

#2081 Reduce peak memory requirement in graph creation (part 2/2)
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/community/louvain.cuh
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/coarsen_graph_mg.cu
  cpp/src/structure/coarsen_graph_sg.cu
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/tests/centrality/katz_centrality_test.cpp
  cpp/tests/structure/coarsen_graph_test.cpp
  cpp/tests/structure/graph_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2085 Add `node2vec` wrappers to pylibcugraph
  python/cugraph/cugraph/sampling/random_walks.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/node2vec.pyx
  python/pylibcugraph/pylibcugraph/tests/test_node2vec.py
  python/pylibcugraph/pylibcugraph/utils.pxd
  python/pylibcugraph/pylibcugraph/utils.pyx
Labels: feature request, non-breaking

#2106 Corrected image in Hits notebook so right node was highlighted. Issue 2079
  notebooks/img/zachary_graph_hits.png
Labels: doc, non-breaking

#2083 updated release performance notebook to also measure using Nx as imput
  notebooks/cugraph_benchmarks/release.ipynb
Labels: improvement, non-breaking

#2062 Improve MG Louvain scalability
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/row_col_properties.cuh
  cpp/include/cugraph/utilities/collect_comm.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/community/mg_louvain_test.cpp
Labels: 3 - Ready for Review, multi-GPU, Graph Prims, improvement, non-breaking

#2093 Add `node2vec` wrapper to cugraph
  cpp/tests/layout/force_atlas2_test.cu
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/sampling/__init__.py
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/tests/test_node2vec.py
  python/pylibcugraph/pylibcugraph/node2vec.pyx
Labels: feature request, non-breaking

#2111 Add `.github/ops-bot.yaml` config file [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#2038 Improve MG PageRank scalability
  cpp/CMakeLists.txt
  cpp/include/cugraph/prims/copy_to_adj_matrix_row_col.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/utilities/host_barrier.hpp
  cpp/src/utilities/host_barrier.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
Labels: 3 - Ready for Review, multi-GPU, Graph Prims, improvement, non-breaking

#2073 MNMG Neighborhood Sampling
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/graph_functions.cuh
  cpp/src/sampling/detail/gather_utils_impl.cu
  cpp/src/sampling/detail/gather_utils_impl.cuh
  cpp/src/sampling/nbr_sampling_impl.cuh
  cpp/src/sampling/nbr_sampling_mg.cu
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/rw_traversals.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/detail/mg_gather_utils.cu
  cpp/tests/sampling/detail/mg_nbr_sampling.cu
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
Labels: 5 - Ready to Merge, improvement, non-breaking

#2115 [REVIEW] Upgrade `dask` and `distributed`
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2121 Add pylibcugraph as a run dep to the cugraph conda package
  conda/recipes/cugraph/meta.yaml
Labels: bug, non-breaking

#2123 Add HITS to the C API
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/algorithms.h
  cpp/src/c_api/hits.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/hits_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2100 Graph prmitives API update
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/count_if_e.cuh
  cpp/include/cugraph/prims/edge_partition_src_dst_property.cuh
  cpp/include/cugraph/prims/extract_if_e.cuh
  cpp/include/cugraph/prims/property_op_utils.cuh
  cpp/include/cugraph/prims/transform_reduce_by_src_dst_key_e.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/update_edge_partition_src_dst_property.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/prims/mg_copy_v_transform_reduce_inout_nbr.cu
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_extract_if_e.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_update_frontier_v_push_if_out_nbr.cu
Labels: 3 - Ready for Review, improvement, breaking

#2125 Remove unused cython code referencing RAFT APIs that are no longer present
  python/pylibcugraph/pylibcugraph/raft/common/handle.pxd
Labels: bug, non-breaking

#2112 Define the uniform neighbor sampling C API
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
Labels: feature request, 3 - Ready for Review, non-breaking

#2116 Remove major/minor from renumber_edgelist public functions.
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/utilities/cython.hpp
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_edgelist_mg.cu
  cpp/src/structure/renumber_edgelist_sg.cu
  cpp/src/utilities/cython.cu
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/community/mg_louvain_helper.hpp
  cpp/tests/structure/renumbering_test.cpp
  python/cugraph/cugraph/structure/graph_utilities.pxd
  python/cugraph/cugraph/structure/renumber_wrapper.pyx
Labels: 3 - Ready for Review, improvement, breaking

#2127 [FIX] Pin gtest/gmock to 1.10.0 in dev envs
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
Labels: 3 - Ready for Review, improvement, non-breaking

#2147 [REVIEW] Pin `dask` and `distributed` versions
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2151 Temporarily disable new `ops-bot` functionality [skip ci]
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#2155 Fix merge conflicts [skip gpuci]
  .github/ops-bot.yaml
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2153 Enhancement on uniform random sampling of indices near zero.
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/rw_traversals.hpp
Labels: improvement, non-breaking

#2148 [FIX] Use `rapids_find_package` to get `cugraph-ops`
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcugraphops.cmake
  cpp/cmake/thirdparty/get_raft.cmake
Labels: 3 - Ready for Review, improvement, non-breaking

#2164 Updated random_walk_benchmark notebook for API change in cudf
  notebooks/cugraph_benchmarks/random_walk_benchmark.ipynb
Labels: improvement, non-breaking

#2156 Neighborhood sampling C API implementation
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/array.h
  cpp/src/c_api/array.cpp
  cpp/src/c_api/array.hpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/nbr_sampling_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2099 Nx compatibility based on making Graph subclass and calling Cugraph algos
  python/cugraph/cugraph/experimental/compat/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/DiGraph.py
  python/cugraph/cugraph/experimental/compat/nx/Graph.py
  python/cugraph/cugraph/experimental/compat/nx/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/algorithms/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/algorithms/link_analysis/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/algorithms/link_analysis/pagerank_alg.py
  python/cugraph/cugraph/tests/test_compat_algo.py
  python/cugraph/cugraph/tests/test_compat_pr.py
  python/cugraph/cugraph/tests/test_nx_compatibility.py
Labels: 3 - Ready for Review, improvement, non-breaking

#2176 Pin cmake in conda recipe to <3.23
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/libcugraph_etl/meta.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#2118 Add MG neighborhood sampling to pylibcugraph & cugraph APIs
  ci/test.sh
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  datasets/small_tree.csv
  python/cugraph/cugraph/dask/sampling/__init__.py
  python/cugraph/cugraph/dask/sampling/neighborhood_sampling.py
  python/cugraph/cugraph/experimental/dask/__init__.py
  python/cugraph/cugraph/tests/dask/test_mg_neighborhood_sampling.py
  python/cugraph/cugraph/tests/dask/test_mg_replication.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/array.pxd
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/resource_handle.pyx
  python/pylibcugraph/pylibcugraph/tests/test_neighborhood_sampling.py
  python/pylibcugraph/pylibcugraph/uniform_neighborhood_sampling.pyx
  python/pylibcugraph/pylibcugraph/utils.pxd
  python/pylibcugraph/pylibcugraph/utils.pyx
Labels: improvement, non-breaking
