Repository rapidsai/cugraph, pull requests merged in 2022-04, with the labels that each got.

#2190 Branch 22.06 merge 22.04
  README.md
  ci/test.sh
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/libcugraph_etl/meta.yaml
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/array.h
  cpp/src/c_api/array.cpp
  cpp/src/c_api/array.hpp
  cpp/src/c_api/random_walks.cpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/nbr_sampling_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/node2vec_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  datasets/small_line.csv
  datasets/small_tree.csv
  docs/cugraph/source/basics/cugraph_blogs.rst
  docs/cugraph/source/basics/cugraph_intro.md
  img/Scaling.png
  img/cugraph-stack.png
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/link_analysis/hits.py
  python/cugraph/cugraph/dask/sampling/__init__.py
  python/cugraph/cugraph/dask/sampling/neighborhood_sampling.py
  python/cugraph/cugraph/experimental/compat/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/DiGraph.py
  python/cugraph/cugraph/experimental/compat/nx/Graph.py
  python/cugraph/cugraph/experimental/compat/nx/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/algorithms/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/algorithms/link_analysis/__init__.py
  python/cugraph/cugraph/experimental/compat/nx/algorithms/link_analysis/pagerank_alg.py
  python/cugraph/cugraph/experimental/dask/__init__.py
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/tests/dask/test_mg_hits.py
  python/cugraph/cugraph/tests/dask/test_mg_neighborhood_sampling.py
  python/cugraph/cugraph/tests/dask/test_mg_replication.py
  python/cugraph/cugraph/tests/test_compat_algo.py
  python/cugraph/cugraph/tests/test_compat_pr.py
  python/cugraph/cugraph/tests/test_node2vec.py
  python/cugraph/cugraph/tests/test_nx_compatibility.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/array.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph.pxd
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/graph_properties.pyx
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/hits.pyx
  python/pylibcugraph/pylibcugraph/node2vec.pyx
  python/pylibcugraph/pylibcugraph/resource_handle.pyx
  python/pylibcugraph/pylibcugraph/tests/test_neighborhood_sampling.py
  python/pylibcugraph/pylibcugraph/tests/test_node2vec.py
  python/pylibcugraph/pylibcugraph/uniform_neighborhood_sampling.pyx
  python/pylibcugraph/pylibcugraph/utils.pxd
  python/pylibcugraph/pylibcugraph/utils.pyx
Labels: bug, non-breaking

#2152 Remove unused code (gunrock HITS)
  cpp/include/cugraph/algorithms.hpp
  cpp/src/link_analysis/gunrock_hits.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2124 Consolidate C++ conda recipes and add `libcugraph-tests` package
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/test.sh
  conda/recipes/libcugraph/build.sh
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/libcugraph/install_libcugraph.sh
  conda/recipes/libcugraph/install_libcugraph_etl.sh
  conda/recipes/libcugraph/install_libcugraph_tests.sh
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/libcugraph_etl/build.sh
  conda/recipes/libcugraph_etl/meta.yaml
Labels: improvement, non-breaking

#2214 [REVIEW] Unpin `dask` & `distributed` for devlopment
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2192 Add Katz Centrality to the C API
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/centrality_algorithms.h
  cpp/src/c_api/katz.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/katz_test.c
  cpp/tests/c_api/mg_katz_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2219 Fix error from two conflicting merges
  build.sh
  cpp/src/c_api/katz.cpp
Labels: bug, 3 - Ready for Review, non-breaking

#2207 Make diagram and caption consistent in Pagerank.ipynb
  notebooks/link_analysis/Pagerank.ipynb
Labels: improvement, non-breaking

#2185 Labeling algorithm updates for C API
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/labeling_algorithms.h
  cpp/src/c_api/katz.cpp
  cpp/src/c_api/labeling_result.cpp
  cpp/src/c_api/labeling_result.hpp
  cpp/src/c_api/strongly_connected_components.cpp
  cpp/src/c_api/weakly_connected_components.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/bfs_test.c
  cpp/tests/c_api/c_test_utils.h
  cpp/tests/c_api/eigenvector_centrality_test.c
  cpp/tests/c_api/extract_paths_test.c
  cpp/tests/c_api/hits_test.c
  cpp/tests/c_api/katz_test.c
  cpp/tests/c_api/mg_eigenvector_centrality_test.c
  cpp/tests/c_api/mg_hits_test.c
  cpp/tests/c_api/mg_katz_test.c
  cpp/tests/c_api/mg_pagerank_test.c
  cpp/tests/c_api/mg_strongly_connected_components_test.c
  cpp/tests/c_api/mg_test_utils.cpp
  cpp/tests/c_api/mg_test_utils.h
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/mg_weakly_connected_components_test.c
  cpp/tests/c_api/node2vec_test.c
  cpp/tests/c_api/pagerank_test.c
  cpp/tests/c_api/sssp_test.c
  cpp/tests/c_api/strongly_connected_components_test.c
  cpp/tests/c_api/test_utils.cpp
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  cpp/tests/c_api/weakly_connected_components_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2221 Update CMake pinning to allow newer CMake versions.
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/libcugraph/conda_build_config.yaml
Labels: improvement, non-breaking

#2225 Fix typos in documentation
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#2224 Address some MNMG issues in cython.cu
  cpp/include/cugraph/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  python/cugraph/cugraph/structure/graph_utilities.pxd
  python/cugraph/cugraph/structure/renumber_wrapper.pyx
Labels: bug, 3 - Ready for Review, non-breaking

#2211 Updating issue template and missing docs
  .github/ISSUE_TEMPLATE/documentation_request.md
  .github/ISSUE_TEMPLATE/enhancement-request.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  docs/cugraph/source/api_docs/sampling.rst
  docs/cugraph/source/basics/cugraph_ref.rst
Labels: 3 - Ready for Review, doc, non-breaking

#2183 Added GraphStore Function
  python/cugraph/cugraph/gnn/graph_store.py
  python/cugraph/cugraph/tests/test_graph_store.py
Labels: 3 - Ready for Review, improvement, non-breaking

#2213 updated MG Test code to not use DiGraph
  python/cugraph/cugraph/tests/dask/test_mg_bfs.py
  python/cugraph/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/cugraph/tests/dask/test_mg_connectivity.py
  python/cugraph/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/cugraph/tests/dask/test_mg_hits.py
  python/cugraph/cugraph/tests/dask/test_mg_louvain.py
  python/cugraph/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/cugraph/tests/dask/test_mg_sssp.py
  python/cugraph/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/cugraph/tests/utils.py
  python/cugraph/cugraph/utilities/utils.py
Labels: improvement, non-breaking

#2220 Graph primitives API updates
  cpp/include/cugraph/prims/copy_v_transform_reduce_in_out_nbr.cuh
  cpp/include/cugraph/prims/count_if_v.cuh
  cpp/include/cugraph/prims/edge_partition_src_dst_property.cuh
  cpp/include/cugraph/prims/property_op_utils.cuh
  cpp/include/cugraph/prims/reduce_v.cuh
  cpp/include/cugraph/prims/transform_reduce_v.cuh
  cpp/include/cugraph/prims/update_frontier_v_push_if_out_nbr.cuh
  cpp/include/cugraph/prims/vertex_frontier.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/prims/mg_count_if_v.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/prims/mg_update_frontier_v_push_if_out_nbr.cu
Labels: 3 - Ready for Review, Graph Prims, improvement, breaking

#2132 Turn off cuco dependency in RAFT. Re-establish explicit `cuco` and `libcuxx` cmake dependencies
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_libcudacxx.cmake
  cpp/cmake/thirdparty/get_raft.cmake
Labels: 3 - Ready for Review, improvement, non-breaking

#2216 Enable MG support for small datasets
  python/cugraph/cugraph/dask/common/part_utils.py
  python/cugraph/cugraph/structure/renumber_wrapper.pyx
Labels: 3 - Ready for Review, improvement, non-breaking, python

#2201 Add Katz Centrality to pylibcugraph, refactor Katz Centrality for cugraph
  datasets/toy_graph.csv
  python/cugraph/cugraph/centrality/__init__.py
  python/cugraph/cugraph/centrality/katz_centrality.pxd
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality_wrapper.pyx
  python/cugraph/cugraph/tests/test_katz_centrality.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/centrality_algorithms.pxd
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/hits.pyx
  python/pylibcugraph/pylibcugraph/katz_centrality.pyx
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/tests/test_katz_centrality.py
Labels: 3 - Ready for Review, improvement, breaking, python

#2233 Triangle Counts C++ API
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/community/triangle_counts_impl.cuh
  cpp/src/community/triangle_counts_mg.cu
  cpp/src/community/triangle_counts_sg.cu
Labels: feature request, 3 - Ready for Review, non-breaking

#2244 cudf moved the default_hash into the cudf::detail namespace
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
  python/cugraph/cugraph/structure/hypergraph.py
Labels: bug, 3 - Ready for Review, non-breaking

#2236 add API for the new uniform neighborhood sampling
  cpp/include/cugraph_c/algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
Labels: 3 - Ready for Review, improvement, non-breaking, C/CUDA

#2234 Rename primitive functions.
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/prims/per_src_dst_key_transform_reduce_e.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/include/cugraph/prims/update_v_frontier_from_outgoing_e.cuh
  cpp/include/cugraph/utilities/cython.hpp
  cpp/include/cugraph_c/graph.h
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/legacy/louvain.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_update_v_frontier_from_outgoing_e.cu
Labels: 3 - Ready for Review, Graph Prims, improvement, breaking
