Repository rapidsai/cugraph, pull requests merged in 2022-11, with the labels that each got.

#2865 [REVIEW] Update `cuda-python` dependency to 11.7.1
  README.md
  ci/benchmark/build.sh
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  conda_build.sh
Labels: bug, 3 - Ready for Review, non-breaking

#2858 Add package to the list of dependencies
  ci/gpu/build.sh
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  python/cugraph/cugraph/structure/graph_primtypes.pyx
  python/cugraph/cugraph/tests/mg/test_mg_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/test_uniform_neighbor_sample.py
Labels: bug, 3 - Ready for Review, non-breaking

#2854 Define C API and implement induced subgraph
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/visitors/enum_mapping.hpp
  cpp/include/cugraph_c/graph_functions.h
  cpp/include/cugraph_c/resource_handle.h
  cpp/src/c_api/array.cpp
  cpp/src/c_api/induced_subgraph.cpp
  cpp/src/c_api/induced_subgraph_helper.cu
  cpp/src/c_api/induced_subgraph_helper.hpp
  cpp/src/c_api/induced_subgraph_result.cpp
  cpp/src/c_api/induced_subgraph_result.hpp
  cpp/src/detail/collect_local_vertex_values.cu
  cpp/src/detail/groupby_and_count.cu
  cpp/src/detail/shuffle_edgelist.cu
  cpp/src/detail/shuffle_vertices.cu
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/detail/utility_wrappers.cu
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/src/structure/induced_subgraph_mg.cu
  cpp/src/structure/induced_subgraph_sg.cu
  cpp/src/utilities/collect_comm.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/induced_subgraph_test.c
  cpp/tests/c_api/mg_induced_subgraph_test.c
  cpp/tests/structure/induced_subgraph_test.cpp
  cpp/tests/structure/induced_subgraph_validate.cu
  cpp/tests/structure/mg_induced_subgraph_test.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#2879 Add view_concat for edge_minor_property_view_t and update transform_reduce_e_by_dst_key to support reduce_op on tuple types
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#2850 Adds arbitrary server extension support to cugraph-service
  python/cugraph_service/cugraph_service_client/__init__.py
  python/cugraph_service/cugraph_service_client/client.py
  python/cugraph_service/cugraph_service_client/cugraph_service_thrift.py
  python/cugraph_service/cugraph_service_client/types.py
  python/cugraph_service/cugraph_service_server/cugraph_handler.py
  python/cugraph_service/tests/conftest.py
  python/cugraph_service/tests/test_cugraph_handler.py
  python/cugraph_service/tests/test_e2e.py
  python/cugraph_service/tests/test_mg_cugraph_handler.py
  python/cugraph_service/tests/test_mg_e2e.py
  python/cugraph_service/tests/utils.py
Labels: improvement, breaking

#2844 Add parameter checks to BFS and SSSP in C API
  cpp/src/c_api/bfs.cpp
  cpp/tests/c_api/bfs_test.c
  python/cugraph/cugraph/traversal/bfs.py
Labels: bug, 3 - Ready for Review, non-breaking

#2868 Use new rapids-cmake functionality for rpath handling.
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/centrality/CMakeLists.txt
  python/cugraph/cugraph/community/CMakeLists.txt
  python/cugraph/cugraph/components/CMakeLists.txt
  python/cugraph/cugraph/cores/CMakeLists.txt
  python/cugraph/cugraph/dask/centrality/CMakeLists.txt
  python/cugraph/cugraph/dask/comms/CMakeLists.txt
  python/cugraph/cugraph/dask/components/CMakeLists.txt
  python/cugraph/cugraph/dask/structure/CMakeLists.txt
  python/cugraph/cugraph/generators/CMakeLists.txt
  python/cugraph/cugraph/internals/CMakeLists.txt
  python/cugraph/cugraph/layout/CMakeLists.txt
  python/cugraph/cugraph/linear_assignment/CMakeLists.txt
  python/cugraph/cugraph/link_prediction/CMakeLists.txt
  python/cugraph/cugraph/sampling/CMakeLists.txt
  python/cugraph/cugraph/structure/CMakeLists.txt
  python/cugraph/cugraph/tree/CMakeLists.txt
  python/cugraph/cugraph/utilities/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/components/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/internal_types/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/raft/common/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/testing/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#2855 [REVIEW] Remove pg dependency from cugraph store.py
  python/cugraph/cugraph/gnn/dgl_extensions/base_cugraph_store.py
  python/cugraph/cugraph/gnn/dgl_extensions/cugraph_store.py
  python/cugraph/cugraph/gnn/dgl_extensions/feature_storage.py
  python/cugraph/cugraph/gnn/dgl_extensions/utils/find_edges.py
  python/cugraph/cugraph/gnn/dgl_extensions/utils/node_subgraph.py
  python/cugraph/cugraph/gnn/dgl_extensions/utils/sampling.py
Labels: improvement, non-breaking

#2889 Update cugraph to support building for Ada and Hopper
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuhornet.cmake
Labels: 3 - Ready for Review, improvement, non-breaking

#2848 [HOTFIX] Update cuda-python dependency to 11.7.1
  README.md
  ci/benchmark/build.sh
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  conda_build.sh
Labels: ! - Hotfix, improvement, non-breaking

#2856 CAPI create graph from CSR
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/graph.h
  cpp/src/c_api/graph.hpp
  cpp/src/c_api/graph_helper.cu
  cpp/src/c_api/graph_helper.hpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/utils.hpp
  cpp/tests/c_api/create_graph_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2895 Correct build failures when doing a local build
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_validate.cu
Labels: bug, 3 - Ready for Review, non-breaking

#2861 Update uniform random walks implementation
  cpp/src/c_api/random_walks.cpp
  cpp/tests/c_api/mg_random_walks_test.c
  cpp/tests/c_api/sg_random_walks_test.c
  notebooks/algorithms/sampling/RandomWalk.ipynb
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/sampling/random_walks.py
  python/cugraph/cugraph/sampling/random_walks.pxd
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/sampling/random_walks_wrapper.pyx
  python/cugraph/cugraph/tests/mg/test_mg_random_walks.py
  python/cugraph/cugraph/tests/test_random_walks.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/uniform_random_walks.pyx
Labels: improvement, non-breaking

#2796 PG: join new vertex data by vertex ids
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking, Fix

#2898 Fix bug in how is_symmetric is set when transposing storage
  cpp/src/c_api/core_number.cpp
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/tests/c_api/weakly_connected_components_test.c
Labels: bug, 3 - Ready for Review, non-breaking

#2832 Cugraph-Service Remote Graphs and Algorithm Dispatch
  python/cugraph/cugraph/gnn/pyg_extensions/loader/dispatch.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph_service/cugraph_service_client/__init__.py
  python/cugraph_service/cugraph_service_client/client.py
  python/cugraph_service/cugraph_service_client/cugraph_service_thrift.py
  python/cugraph_service/cugraph_service_client/remote_graph.py
  python/cugraph_service/cugraph_service_client/remote_graph_utils.py
  python/cugraph_service/cugraph_service_server/cugraph_handler.py
  python/cugraph_service/tests/test_remote_graph.py
Labels: feature request, non-breaking

#2915 Implement two_hop_neighbors C API
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_functions.hpp
  cpp/src/c_api/graph_helper.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_two_hop_neighbors_test.c
  cpp/tests/c_api/two_hop_neighbors_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2862 Adds setup.py files and conda recipes for cugraph-service
  build.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/test.sh
  conda/recipes/cugraph-service/install_cugraph-service-client.sh
  conda/recipes/cugraph-service/install_cugraph-service-server.sh
  conda/recipes/cugraph-service/meta.yaml
  python/cugraph-service/README.md
  python/cugraph-service/client/cugraph_service_client/__init__.py
  python/cugraph-service/client/cugraph_service_client/_version.py
  python/cugraph-service/client/cugraph_service_client/client.py
  python/cugraph-service/client/cugraph_service_client/cugraph_service_thrift.py
  python/cugraph-service/client/cugraph_service_client/defaults.py
  python/cugraph-service/client/cugraph_service_client/exceptions.py
  python/cugraph-service/client/cugraph_service_client/remote_graph.py
  python/cugraph-service/client/cugraph_service_client/remote_graph_utils.py
  python/cugraph-service/client/cugraph_service_client/types.py
  python/cugraph-service/client/setup.cfg
  python/cugraph-service/client/setup.py
  python/cugraph-service/client/versioneer.py
  python/cugraph-service/img/cugraph_service_pict.png
  python/cugraph-service/img/rapids_logo.png
  python/cugraph-service/pytest.ini
  python/cugraph-service/scripts/README.md
  python/cugraph-service/scripts/default-config.sh
  python/cugraph-service/scripts/functions.sh
  python/cugraph-service/scripts/run-dask-process.sh
  python/cugraph-service/server/cugraph_service_server/__init__.py
  python/cugraph-service/server/cugraph_service_server/__main__.py
  python/cugraph-service/server/cugraph_service_server/_version.py
  python/cugraph-service/server/cugraph_service_server/cugraph_handler.py
  python/cugraph-service/server/setup.cfg
  python/cugraph-service/server/setup.py
  python/cugraph-service/server/versioneer.py
  python/cugraph-service/tests/README.md
  python/cugraph-service/tests/__init__.py
  python/cugraph-service/tests/client1_script.py
  python/cugraph-service/tests/client2_script.py
  python/cugraph-service/tests/conftest.py
  python/cugraph-service/tests/data.py
  python/cugraph-service/tests/data/karate.csv
  python/cugraph-service/tests/data/merchants.csv
  python/cugraph-service/tests/data/referrals.csv
  python/cugraph-service/tests/data/relationships.csv
  python/cugraph-service/tests/data/transactions.csv
  python/cugraph-service/tests/data/users.csv
  python/cugraph-service/tests/demo1.py
  python/cugraph-service/tests/gen_demo_data.py
  python/cugraph-service/tests/multi_client_test_runner.sh
  python/cugraph-service/tests/test_cugraph_handler.py
  python/cugraph-service/tests/test_e2e.py
  python/cugraph-service/tests/test_mg_cugraph_handler.py
  python/cugraph-service/tests/test_mg_e2e.py
  python/cugraph-service/tests/test_remote_graph.py
  python/cugraph-service/tests/utils.py
  python/cugraph_service/tests/__init__.py
Labels: feature request, non-breaking

#2826 Add ProperyGraph to doc generation and update docstrings
  docs/cugraph/source/api_docs/graph_implementation.rst
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/api_docs/property_graph.rst
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/test_doctests.py
Labels: doc, non-breaking

#2866 Update python WCC to leverage the CAPI
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/components/connectivity.pxd
  python/cugraph/cugraph/components/connectivity.py
  python/cugraph/cugraph/components/connectivity_wrapper.pyx
  python/cugraph/cugraph/dask/components/connectivity.py
  python/cugraph/cugraph/dask/components/mg_connectivity.pxd
  python/cugraph/cugraph/dask/components/mg_connectivity_wrapper.pyx
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/tests/mg/test_mg_connectivity.py
  python/cugraph/cugraph/tests/test_connectivity.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/labeling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/components/_connectivity.pyx
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/tests/test_connected_components.py
  python/pylibcugraph/pylibcugraph/weakly_connected_components.pyx
Labels: merge conflict, improvement, non-breaking

#2921 Adds `cugraph-dgl` conda package, updates CI scripts to build and upload it
  SOURCEBUILD.md
  build.sh
  ci/cpu/build.sh
  ci/cpu/upload.sh
  conda/recipes/cugraph-dgl/build.sh
  conda/recipes/cugraph-dgl/meta.yaml
  python/cugraph-dgl/README.MD
  python/cugraph-dgl/conda/cugraph_dgl_dev_11.6.yml
  python/cugraph-dgl/cugraph_dgl/__init__.py
  python/cugraph-dgl/cugraph_dgl/convert.py
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
  python/cugraph-dgl/cugraph_dgl/utils/__init__.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_conversion_utils.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_storage_utils.py
  python/cugraph-dgl/cugraph_dgl/utils/test_utils.py
  python/cugraph-dgl/setup.py
  python/cugraph-dgl/tests/__init__.py
  python/cugraph-dgl/tests/test_cugraph_storage.py
  python/cugraph-dgl/tests/test_from_dgl_hetrograph.py
Labels: improvement, non-breaking

#2896 [REVIEW] Bring up cugraph_dgl_repo
  python/cugraph-dgl/README.MD
  python/cugraph-dgl/cugraph_dgl/convert.py
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_conversion_utils.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_storage_utils.py
  python/cugraph-dgl/tests/test_cugraph_storage.py
  python/cugraph-dgl/tests/test_from_dgl_hetrograph.py
  python/cugraph-dgl/tests/utils.py
Labels: feature request, 5 - Ready to Merge, non-breaking

#2904 [BUG] Adds option to build.sh to build without cugraphops, updates docs
  SOURCEBUILD.md
  build.sh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/tests/CMakeLists.txt
  python/cugraph/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
Labels: bug, non-breaking

#2924 [REVIEW] Optimize `PG.add_data`
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: 5 - Ready to Merge, improvement, non-breaking

#2920 key, value store abstraction
  cpp/src/community/detail/common_methods.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/kv_store.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/structure/relabel_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/traversal/extract_bfs_paths_impl.cuh
  cpp/src/utilities/collect_comm.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#2923 Implement C API Similarity
  cpp/src/c_api/similarity.cpp
  cpp/src/link_prediction/jaccard_impl.cuh
  cpp/src/link_prediction/overlap_impl.cuh
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/link_prediction/sorensen_impl.cuh
  cpp/tests/c_api/mg_similarity_test.c
  cpp/tests/c_api/similarity_test.c
  cpp/tests/link_prediction/mg_similarity_test.cpp
  cpp/tests/link_prediction/similarity_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2926 Debug MG egonet issues
  cpp/src/community/egonet_impl.cuh
  cpp/src/structure/decompress_to_edgelist_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/community/mg_egonet_test.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#2935 [BUG] Fixes options added to build.sh for building without cugraph-ops that were dropped in a merge mistake.
  build.sh
Labels: bug, non-breaking

#2943 Fix build script to install dask main
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: bug, non-breaking

#2936 [REVIEW]Make dgl, pytorch optional imports for cugraph_dgl package
  python/cugraph-dgl/cugraph_dgl/_version.py
  python/cugraph-dgl/cugraph_dgl/convert.py
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_conversion_utils.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_storage_utils.py
  python/cugraph-dgl/setup.cfg
  python/cugraph-dgl/setup.py
  python/cugraph-dgl/tests/test_cugraph_storage.py
  python/cugraph-dgl/tests/test_from_dgl_hetrograph.py
  python/cugraph-dgl/tests/utils.py
  python/cugraph-dgl/versioneer.py
Labels: improvement, non-breaking

#2860 Fix PyG Loaders by properly supporting `multi_get_tensor`
  notebooks/gnn/pyg_hetero_mag.ipynb
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/gnn/pyg_extensions/data/cugraph_store.py
  python/cugraph/cugraph/gnn/pyg_extensions/sampler/cugraph_sampler.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_pyg_extensions.py
  python/cugraph/cugraph/tests/test_property_graph.py
  python/cugraph/cugraph/tests/test_pyg_extensions.py
Labels: improvement, breaking, Fix

#2948 Update gitignore to Exclude Egg Files
  .gitignore
Labels: improvement, non-breaking, Fix

#2929 [REVIEW] Update dgl dependency to dglcuda=11.6
  conda/recipes/cugraph-dgl/meta.yaml
Labels: bug, non-breaking

#2955 remove all algorithms from cython.cu
  cpp/include/cugraph/utilities/cython.hpp
  cpp/src/utilities/cython.cu
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/dask/centrality/CMakeLists.txt
  python/cugraph/cugraph/dask/centrality/mg_katz_centrality.pxd
  python/cugraph/cugraph/dask/centrality/mg_katz_centrality_wrapper.pyx
Labels: 3 - Ready for Review, improvement, breaking

#2882 Add vector properties
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: merge conflict, improvement, non-breaking

#2887 [REVIEW] Optimize dask.uniform_neighbor_sample
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/mg/test_mg_uniform_neighbor_sample.py
Labels: improvement, non-breaking

#2932 CuGraph-Service Asyncio Fix
  python/cugraph-service/client/cugraph_service_client/client.py
  python/cugraph-service/scripts/default-config.sh
  python/cugraph-service/tests/test_mg_e2e.py
Labels: improvement, non-breaking, Fix

#2957 Don't use CMake 3.25.0 as it has a FindCUDAToolkit show stopping bug
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: bug, 3 - Ready for Review, ! - Hotfix, non-breaking

#2704 Add or Update Similarity algorithms
  benchmarks/python_pytest_based/bench_algos.py
  notebooks/algorithms/community/Subgraph-Extraction.ipynb
  python/cugraph/cugraph/community/leiden.py
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/link_prediction/__init__.py
  python/cugraph/cugraph/dask/link_prediction/jaccard.py
  python/cugraph/cugraph/dask/link_prediction/overlap.py
  python/cugraph/cugraph/dask/link_prediction/sorensen.py
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/experimental/link_prediction/__init__.py
  python/cugraph/cugraph/experimental/link_prediction/jaccard.py
  python/cugraph/cugraph/experimental/link_prediction/overlap.py
  python/cugraph/cugraph/experimental/link_prediction/sorensen.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/tests/mg/test_mg_jaccard.py
  python/cugraph/cugraph/tests/mg/test_mg_louvain.py
  python/cugraph/cugraph/tests/mg/test_mg_overlap.py
  python/cugraph/cugraph/tests/mg/test_mg_sorensen.py
  python/cugraph/cugraph/tests/test_jaccard.py
  python/cugraph/cugraph/tests/test_leiden.py
  python/cugraph/cugraph/tests/test_louvain.py
  python/cugraph/cugraph/tests/test_overlap.py
  python/cugraph/cugraph/tests/test_sorensen.py
  python/cugraph/cugraph/tests/test_sssp.py
  python/cugraph/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/cugraph/traversal/sssp.py
  python/cugraph/cugraph/utilities/utils.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/similarity_algorithms.pxd
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/jaccard_coefficients.pyx
  python/pylibcugraph/pylibcugraph/overlap_coefficients.pyx
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/personalized_pagerank.pyx
  python/pylibcugraph/pylibcugraph/sorensen_coefficients.pyx
  python/pylibcugraph/pylibcugraph/two_hop_neighbors.pyx
Labels: merge conflict, improvement, non-breaking

#2919 [REVIEW] Add conda yml for`cugraph+torch+DGL` dev
  conda/environments/cugraph_dev_cuda11.6.yml
Labels: feature request, non-breaking

#2951 Provide option to keep original vertex/edge IDs when renumbering
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: feature request, non-breaking

#2933 Implement k core
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/src/c_api/graph.hpp
  cpp/src/c_api/k_core.cpp
  cpp/src/cores/k_core_impl.cuh
  cpp/src/detail/collect_local_vertex_values.cu
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/k_core_test.c
  cpp/tests/c_api/mg_k_core_test.c
  cpp/tests/cores/k_core_test.cpp
  cpp/tests/cores/k_core_validate.cu
  cpp/tests/cores/k_core_validate.hpp
  cpp/tests/cores/mg_k_core_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2972 [skip gpuci] Update dgl-cuda conda installation instructions
  python/cugraph-dgl/README.MD
Labels: doc, non-breaking

#2905 PyG Monorepo Refactor
  build.sh
  ci/checks/copyright.py
  ci/cpu/build.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/test.sh
  conda/recipes/cugraph-pyg/build.sh
  conda/recipes/cugraph-pyg/conda_build_config.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  notebooks/gnn/pyg_hetero_mag.ipynb
  python/cugraph-pyg/MANIFEST.in
  python/cugraph-pyg/cugraph_pyg/__init__.py
  python/cugraph-pyg/cugraph_pyg/_version.py
  python/cugraph-pyg/cugraph_pyg/data/__init__.py
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/__init__.py
  python/cugraph-pyg/cugraph_pyg/loader/dispatch.py
  python/cugraph-pyg/cugraph_pyg/sampler/__init__.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/int/test_int_cgs.py
  python/cugraph-pyg/cugraph_pyg/tests/int/test_int_cugraph.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_pyg_extensions.py
  python/cugraph-pyg/cugraph_pyg/tests/test_pyg_extensions.py
  python/cugraph-pyg/cugraph_pyg/utilities/__init__.py
  python/cugraph-pyg/cugraph_pyg/utilities/api_tools.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph-pyg/pytest.ini
  python/cugraph-pyg/setup.cfg
  python/cugraph-pyg/setup.py
  python/cugraph-pyg/setuputils.py
  python/cugraph-pyg/versioneer.py
  python/cugraph-service/tests/test_remote_graph.py
Labels: improvement, breaking

#2977 [REVIEW] Fix cluster startup script
  python/cugraph-service/scripts/default-config.sh
  python/cugraph-service/scripts/run-dask-process.sh
  python/cugraph-service/tests/test_mg_e2e.py
Labels: bug, non-breaking, Fix

#3002 Shuffle the vertex pair
  cpp/src/c_api/graph_functions.cpp
  notebooks/algorithms/link_prediction/Jaccard-Similarity.ipynb
  notebooks/algorithms/link_prediction/Overlap-Similarity.ipynb
  notebooks/algorithms/structure/Renumber.ipynb
  python/cugraph/cugraph/dask/link_prediction/jaccard.py
  python/cugraph/cugraph/dask/link_prediction/overlap.py
  python/cugraph/cugraph/dask/link_prediction/sorensen.py
  python/cugraph/cugraph/experimental/link_prediction/jaccard.py
  python/cugraph/cugraph/experimental/link_prediction/overlap.py
  python/cugraph/cugraph/experimental/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/wjaccard.py
  python/cugraph/cugraph/link_prediction/woverlap.py
  python/cugraph/cugraph/link_prediction/wsorensen.py
  python/cugraph/cugraph/tests/mg/test_mg_jaccard.py
  python/cugraph/cugraph/tests/mg/test_mg_overlap.py
  python/cugraph/cugraph/tests/mg/test_mg_sorensen.py
  python/cugraph/cugraph/tests/test_jaccard.py
  python/cugraph/cugraph/tests/test_overlap.py
  python/cugraph/cugraph/tests/test_sorensen.py
  python/cugraph/cugraph/tests/test_wjaccard.py
  python/cugraph/cugraph/tests/test_woverlap.py
  python/cugraph/cugraph/tests/test_wsorensen.py
  python/pylibcugraph/pylibcugraph/jaccard_coefficients.pyx
  python/pylibcugraph/pylibcugraph/overlap_coefficients.pyx
  python/pylibcugraph/pylibcugraph/sorensen_coefficients.pyx
Labels: improvement, non-breaking

#3007 Updates experimental warning wrapper and PropertyGraph docs for correct experimental namespace name
  docs/cugraph/source/api_docs/property_graph.rst
  python/pylibcugraph/pylibcugraph/utilities/api_tools.py
Labels: bug, non-breaking

#2964 Add wheel builds
  .github/workflows/wheels.yml
  .gitignore
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcugraphops.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/libcugraph_etl/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_pyg_extensions.py
  python/cugraph-pyg/cugraph_pyg/tests/test_pyg_extensions.py
  python/cugraph/CMakeLists.txt
  python/cugraph/LICENSE
  python/cugraph/_custom_build/backend.py
  python/cugraph/cugraph/dask/common/read_utils.py
  python/cugraph/cugraph/testing/utils.py
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/mg/test_mg_bfs.py
  python/cugraph/cugraph/tests/mg/test_mg_dgl_extensions.py
  python/cugraph/cugraph/tests/mg/test_mg_random_walks.py
  python/cugraph/cugraph/tests/mg/test_mg_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/test_dgl_extension_graph_store.py
  python/cugraph/cugraph/tests/test_doctests.py
  python/cugraph/cugraph/tests/test_random_walks.py
  python/cugraph/cugraph/tests/test_uniform_neighbor_sample.py
  python/cugraph/pyproject.toml
  python/cugraph/pytest.ini
  python/cugraph/setup.py
  python/cugraph/setuputils.py
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/LICENSE
  python/pylibcugraph/_custom_build/backend.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/components/_connectivity.pyx
  python/pylibcugraph/pylibcugraph/raft/common/cuda.pyx
  python/pylibcugraph/pylibcugraph/raft/common/handle.pyx
  python/pylibcugraph/pylibcugraph/structure/graph_primtypes.pxd
  python/pylibcugraph/pylibcugraph/structure/graph_utilities.pxd
  python/pylibcugraph/pylibcugraph/testing/utils.py
  python/pylibcugraph/pylibcugraph/tests/conftest.py
  python/pylibcugraph/pylibcugraph/tests/test_neighborhood_sampling.py
  python/pylibcugraph/pyproject.toml
  python/pylibcugraph/pytest.ini
  python/pylibcugraph/setup.py
  python/pylibcugraph/setuputils.py
Labels: feature request, 5 - Ready to Merge, non-breaking

#3008 Branch 22.12 merge 22.10
  README.md
Labels: improvement, non-breaking
