Repository rapidsai/cugraph, pull requests merged in 2022-06, with the labels that each got.

#2273 add bindings for triangle counting
  benchmarks/python_e2e/cugraph_dask_funcs.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/community/__init__.py
  python/cugraph/cugraph/dask/community/triangle_count.py
  python/cugraph/cugraph/dask/link_analysis/hits.py
  python/cugraph/cugraph/dask/sampling/neighborhood_sampling.py
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/experimental/community/__init__.py
  python/cugraph/cugraph/experimental/community/triangle_count.py
  python/cugraph/cugraph/tests/mg/test_mg_triangle_count.py
  python/cugraph/cugraph/tests/test_triangle_count.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/community_algorithms.pxd
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/tests/test_triangle_count.py
  python/pylibcugraph/pylibcugraph/triangle_count.pyx
Labels: 3 - Ready for Review, improvement, non-breaking

#2276 Refactored SG `hits` and MG `katz_centrality`
  docs/cugraph/source/api_docs/pylibcugraph.rst
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/link_analysis/hits.py
  python/cugraph/cugraph/link_analysis/__init__.py
  python/cugraph/cugraph/link_analysis/hits.pxd
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/link_analysis/hits_wrapper.pyx
  python/cugraph/cugraph/tests/mg/test_mg_katz_centrality.py
  python/cugraph/cugraph/utilities/api_tools.py
  python/pylibcugraph/pylibcugraph/hits.pyx
  python/pylibcugraph/pylibcugraph/katz_centrality.pyx
  python/pylibcugraph/pylibcugraph/tests/test_eigenvector_centrality.py
  python/pylibcugraph/pylibcugraph/tests/test_katz_centrality.py
  python/pylibcugraph/pylibcugraph/utilities/api_tools.py
Labels: bug, 3 - Ready for Review, Refactor, non-breaking, python

#2295 Migrate SG and MG SSSP to pylibcugraph
  python/cugraph/cugraph/dask/traversal/mg_sssp.pxd
  python/cugraph/cugraph/dask/traversal/mg_sssp_wrapper.pyx
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/traversal/sssp.pxd
  python/cugraph/cugraph/traversal/sssp.py
  python/cugraph/cugraph/traversal/sssp_wrapper.pyx
Labels: improvement, non-breaking, python

#2321 fix sampling handling of dscr region
  cpp/src/sampling/detail/sampling_utils_impl.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2286 Multi GPU Property Graph with basic creation support
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
Labels: feature request, multi-GPU, non-breaking, P0, python

#2327 Fix import in the api_docs
  docs/cugraph/source/api_docs/dask-cugraph.rst
Labels: bug, 3 - Ready for Review, non-breaking, Fix

#2336 Default GPU_COUNT to 1 in cmake file
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking, C/CUDA

#2335 DOC Fix for Renumber-2.ipynb
  notebooks/centrality/Betweenness.ipynb
  notebooks/centrality/Centrality.ipynb
  notebooks/centrality/Katz.ipynb
  notebooks/community/Louvain.ipynb
  notebooks/community/Spectral-Clustering.ipynb
  notebooks/community/Triangle-Counting.ipynb
  notebooks/components/ConnectedComponents.ipynb
  notebooks/cores/kcore.ipynb
  notebooks/demo/batch_betweenness.ipynb
  notebooks/link_analysis/HITS.ipynb
  notebooks/link_analysis/Pagerank.ipynb
  notebooks/link_prediction/Jaccard-Similarity.ipynb
  notebooks/link_prediction/Overlap-Similarity.ipynb
  notebooks/sampling/RandomWalk.ipynb
  notebooks/structure/Renumber-2.ipynb
  notebooks/structure/Renumber.ipynb
  notebooks/structure/Symmetrize.ipynb
  notebooks/traversal/BFS.ipynb
  notebooks/traversal/SSSP.ipynb
Labels: improvement, non-breaking

#2339 Clean up some unused code in the C API (and beyond)
  cpp/CMakeLists.txt
  cpp/include/cugraph/visitors/bfs_visitor.hpp
  cpp/include/cugraph/visitors/cascaded_dispatch.hpp
  cpp/include/cugraph/visitors/erased_api.hpp
  cpp/include/cugraph/visitors/graph_enum_mapping.hpp
  cpp/include/cugraph/visitors/graph_factory.hpp
  cpp/include/cugraph/visitors/graph_make_visitor.hpp
  cpp/include/cugraph/visitors/rw_visitor.hpp
  cpp/include/cugraph_c/cugraph_api.h
  cpp/include/cugraph_c/graph.h
  cpp/include/cugraph_c/resource_handle.h
  cpp/src/c_api/array.cpp
  cpp/src/c_api/cugraph_api.cpp
  cpp/src/visitors/bfs_visitor.cpp
  cpp/src/visitors/graph_envelope.cpp
  cpp/src/visitors/graph_make_visitor.cpp
  cpp/src/visitors/rw_visitor.cpp
  cpp/src/visitors/visitors_factory.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/c_test_utils.h
  cpp/tests/c_api/mg_create_graph_test.c
  cpp/tests/visitors/bfs_test.cpp
  cpp/tests/visitors/rw_test.cu
Labels: 3 - Ready for Review, improvement, breaking

#2343 Fix sampling bug
  cpp/src/sampling/detail/sampling_utils_impl.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2344 Remove legacy sssp implementation
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/utilities/cython.cu
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#2328 Performance-optimize storing edge partition source/destination properties in (key, value) pairs
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/prims/detail/nbr_intersection.cuh
  cpp/include/cugraph/prims/edge_partition_src_dst_property.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/include/cugraph/prims/update_edge_partition_src_dst_property.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.cuh
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/src/community/louvain.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/utilities/misc_utilities.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: 3 - Ready for Review, Graph Prims, improvement, breaking, performance

#2341 Release notebook: Nx Generators & Adding Perf_counter
  notebooks/cugraph_benchmarks/release.ipynb
Labels: improvement, non-breaking, python

#2342 [REVIEW] Unpin `dask` & `distributed` for development
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2350 Resolve Forward merging of branch-22.06 into branch-22.08
  CHANGELOG.md
  ci/cpu/build.sh
Labels: improvement, non-breaking

#2325 Fix triangle count
  cpp/src/c_api/triangle_count.cpp
  cpp/tests/c_api/mg_triangle_count_test.c
  cpp/tests/c_api/triangle_count_test.c
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2358 [REVIEW]Fix Fanout -1
  python/cugraph/cugraph/gnn/graph_store.py
  python/cugraph/cugraph/tests/test_graph_store.py
  python/cugraph/cugraph/utilities/utils.py
Labels: bug, non-breaking

#2360 Support raft updating to new version of cuco
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/include/cugraph/prims/detail/nbr_intersection.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/include/cugraph/utilities/collect_comm.cuh
  cpp/src/structure/relabel_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#2337 Update the list of algos to benchmark
  benchmarks/python_e2e/benchmark.py
  benchmarks/python_e2e/cugraph_dask_funcs.py
  benchmarks/python_e2e/cugraph_funcs.py
  benchmarks/python_e2e/main.py
  benchmarks/python_e2e/reporting.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/common/part_utils.py
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/tests/mg/test_mg_degree.py
  python/cugraph/cugraph/tests/mg/test_mg_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_katz_centrality.py
  python/cugraph/cugraph/tests/mg/test_mg_neighborhood_sampling.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_katz_centrality.py
  python/cugraph/cugraph/tests/test_neighborhood_sampling.py
Labels: improvement, non-breaking, python

#2356 Switch back to PC generator
  cpp/src/detail/utility_wrappers.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#2353 Update sampling primitive again, fix hypersparse computations
  cpp/src/sampling/detail/sampling_utils_impl.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2357 Remove topology header
  cpp/src/components/connectivity.cu
  cpp/src/sampling/random_walks.cuh
  cpp/src/topology/topology.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/components/scc_test.cu
  cpp/tests/sampling/rw_biased_seg_sort.cu
  cpp/tests/sampling/rw_low_level_test.cu
Labels: 3 - Ready for Review, Refactor, improvement, non-breaking

#2368 [REVIEW] Switch `language` from `None` to `"en"` in docs build
  docs/cugraph/source/conf.py
Labels: doc, non-breaking

#2354 Remove GraphCSC/GraphCSCView object, no longer used
  cpp/include/cugraph/legacy/eidecl_graph.hpp
  cpp/include/cugraph/legacy/eidir_graph.hpp
  cpp/include/cugraph/legacy/graph.hpp
  cpp/include/cugraph/utilities/cython.hpp
  cpp/src/utilities/cython.cu
Labels: 3 - Ready for Review, Refactor, improvement, breaking

#2345 Update multi-GPU example to include data generation [skip-ci]
  docs/cugraph/source/api_docs/dask-cugraph.rst
Labels: doc, non-breaking

#2377 [skip-ci] Cost Matrix first version
  notebooks/applications/CostMatrix.ipynb
  notebooks/img/Full-four_node_replication.png
  notebooks/img/graph_after_ghost.png
  notebooks/img/graph_after_replication.png
Labels: feature request, demo, non-breaking
