Repository rapidsai/cugraph, pull requests merged in 2022-01, with the labels that each got.

#1994 Pass RMM memory allocator to cuco
  cpp/src/structure/relabel_impl.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#2002 Branch 22.02 merge 21.12
  CHANGELOG.md
Labels: improvement, non-breaking

#1989 make C++ tests run faster (fewer tests)
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/structure/coarsen_graph_test.cpp
  cpp/tests/structure/graph_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/test_graphs.hpp
Labels: 3 - Ready for Review, improvement, non-breaking

#1981 Fix README example
  CONTRIBUTING.md
  README.md
Labels: doc, non-breaking

#1977 Use CUB 1.15.0's new segmented sort
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/include/cugraph/prims/copy_v_transform_reduce_key_aggregated_out_nbr.cuh
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/tests/community/louvain_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2007 drop fa2 cpu code
  notebooks/layout/Force-Atlas2.ipynb
Labels: 3 - Ready for Review, Notebook, improvement, non-breaking

#2008 Fix call to `getDeviceAttribute` following API change in RMM.
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
  python/cugraph/cugraph/utilities/utils.py
Labels: improvement, non-breaking

#2027 Prepare upload scripts for Python 3.7 removal
  ci/cpu/prebuild.sh
Labels: improvement, non-breaking

#2020 Updated build.sh help text and test execution steps in SOURCEBUILD.md
  SOURCEBUILD.md
Labels: improvement, non-breaking

#2029 Fix build script
  ci/cpu/build.sh
Labels: improvement, non-breaking

#1863 [FEA] Remove FAISS dependency, inherit other common dependencies from raft
  build.sh
  ci/gpu/build.sh
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuco.cmake
  cpp/cmake/thirdparty/get_faiss.cmake
  cpp/cmake/thirdparty/get_gtest.cmake
  cpp/cmake/thirdparty/get_gunrock.cmake
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/cmake/thirdparty/get_rmm.cmake
  cpp/cmake/thirdparty/get_thrust.cmake
  cpp/tests/CMakeLists.txt
Labels: 3 - Ready for Review, improvement, non-breaking

#2017 Removed unused CI files
  Dockerfile
  ci/local/README.md
  ci/local/build.sh
Labels: improvement, non-breaking

#2031 [REVIEW] Pin `dask` & `distributed`
  conda/environments/cugraph_dev_cuda11.0.yml
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2032 Fix raft git ref
  cpp/cmake/thirdparty/get_raft.cmake
Labels: improvement, non-breaking

#1999 Initial PropertyGraph implementation and tests
  build.sh
  cpp/cmake/thirdparty/get_raft.cmake
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/community/ecg_wrapper.pyx
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/generators/rmat_wrapper.pyx
  python/cugraph/cugraph/sampling/random_walks_wrapper.pyx
  python/cugraph/cugraph/structure/__init__.py
  python/cugraph/cugraph/structure/graph_primtypes_wrapper.pyx
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
  python/cugraph/cugraph/tests/utils.py
  python/cugraph/cugraph/utilities/api_tools.py
Labels: improvement, non-breaking

#2034 updated for release 22.02
  README.md
  notebooks/cugraph_benchmarks/release.ipynb
Labels: improvement, non-breaking

#1996 [Review] Add optimized 2x string column renumbering code
  cpp/libcugraph_etl/CMakeLists.txt
  cpp/libcugraph_etl/include/cugraph_etl/functions.hpp
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
  cpp/libcugraph_etl/include/hash/hash_allocator.cuh
  cpp/libcugraph_etl/include/hash/helper_functions.cuh
  cpp/libcugraph_etl/include/hash/managed.cuh
  cpp/libcugraph_etl/src/renumbering.cu
Labels: 4 - Waiting on Author, improvement, non-breaking

#1998 Fix optional and cstddef includes
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/visitors/erased_pack.hpp
  cpp/src/topology/topology.cuh
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: 3 - Ready for Review, improvement, non-breaking, Fix

#2014 Initial automated doctest, all current examples now pass, other documentation edits
  docs/cugraph/source/api_docs/centrality.rst
  docs/cugraph/source/api_docs/community.rst
  docs/cugraph/source/api_docs/cores.rst
  docs/cugraph/source/api_docs/link_analysis.rst
  docs/cugraph/source/api_docs/link_prediction.rst
  docs/cugraph/source/api_docs/structure.rst
  docs/cugraph/source/api_docs/traversal.rst
  docs/cugraph/source/conf.py
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/comms/comms.py
  python/cugraph/cugraph/community/ecg.py
  python/cugraph/cugraph/community/egonet.py
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/community/leiden.py
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/community/spectral_clustering.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/components/connectivity.py
  python/cugraph/cugraph/cores/core_number.py
  python/cugraph/cugraph/cores/k_core.py
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/common/read_utils.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/cugraph/cugraph/dask/components/connectivity.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/generators/rmat.py
  python/cugraph/cugraph/layout/force_atlas2.py
  python/cugraph/cugraph/linear_assignment/lap.py
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/link_analysis/pagerank.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/wjaccard.py
  python/cugraph/cugraph/link_prediction/woverlap.py
  python/cugraph/cugraph/link_prediction/wsorensen.py
  python/cugraph/cugraph/proto/components/scc.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/structure/convert_matrix.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/npartiteGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/hypergraph.py
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/structure/shuffle.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/tests/test_doctests.py
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/sssp.py
  python/cugraph/cugraph/tree/minimum_spanning_tree.py
  python/cugraph/cugraph/utilities/utils.py
Labels: 3 - Ready for Review, doc, non-breaking, python

#2041 Always upload libcugraph [skip-ci]
  ci/cpu/prebuild.sh
Labels: bug, non-breaking

#2039 Do not build CUDA libs in Python jobs
  ci/cpu/build.sh
Labels: improvement, non-breaking

#2050 Updates to enable NumberMap to generate unique src/dst column names
  notebooks/structure/Renumber-2.ipynb
  notebooks/structure/Renumber.ipynb
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/centrality/mg_katz_centrality_wrapper.pyx
  python/cugraph/cugraph/dask/common/input_utils.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/cugraph/cugraph/dask/community/louvain_wrapper.pyx
  python/cugraph/cugraph/dask/components/connectivity.py
  python/cugraph/cugraph/dask/components/mg_connectivity_wrapper.pyx
  python/cugraph/cugraph/dask/link_analysis/mg_pagerank_wrapper.pyx
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/mg_bfs_wrapper.pyx
  python/cugraph/cugraph/dask/traversal/mg_sssp_wrapper.pyx
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/graph_primtypes.pyx
  python/cugraph/cugraph/structure/graph_primtypes_wrapper.pyx
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/structure/renumber_wrapper.pyx
  python/cugraph/cugraph/tests/dask/test_mg_katz_centrality.py
  python/cugraph/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/cugraph/tests/test_renumber.py
Labels: bug, non-breaking, python
