Repository rapidsai/cugraph, pull requests merged in 2022-08, with the labels that each got.

#2473 Updated imports to be compatible with latest version of cupy
  python/cugraph/cugraph/tests/test_bfs.py
  python/cugraph/cugraph/tests/test_connectivity.py
  python/cugraph/cugraph/tests/test_sssp.py
Labels: bug, non-breaking

#2472 [REVIEW] Centralize common `css` & `js` code in docs
  cpp/doxygen/Doxyfile
  cpp/doxygen/header.html
  docs/cugraph/source/_static/custom.js
  docs/cugraph/source/_static/custom_styles.css
  docs/cugraph/source/conf.py
Labels: doc, non-breaking

#2477 fix non-deterministic bug in uniform neighborhood sampling
  cpp/include/cugraph/detail/decompress_edge_partition.cuh
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2475 Fix typos in Python CMakeLists CUDA arch file
  python/cugraph/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
Labels: bug, non-breaking

#2478 [REVIEW] Pin `dask` & `distributed` for release
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2440 Use Datasets API to Update Notebook Examples
  notebooks/algorithms/centrality/Betweenness.ipynb
  notebooks/algorithms/centrality/Katz.ipynb
  notebooks/algorithms/community/ECG.ipynb
  notebooks/algorithms/community/Louvain.ipynb
  notebooks/algorithms/community/Spectral-Clustering.ipynb
  notebooks/algorithms/community/Subgraph-Extraction.ipynb
  notebooks/algorithms/community/Triangle-Counting.ipynb
  notebooks/algorithms/community/ktruss.ipynb
  notebooks/algorithms/components/ConnectedComponents.ipynb
  notebooks/algorithms/cores/core-number.ipynb
  notebooks/algorithms/cores/kcore.ipynb
  notebooks/algorithms/layout/Force-Atlas2.ipynb
  notebooks/applications/CostMatrix.ipynb
  notebooks/centrality/Centrality.ipynb
  notebooks/img/Full-four_node_replication.png
  notebooks/img/graph_after_ghost.png
  notebooks/img/graph_after_replication.png
  notebooks/link_analysis/HITS.ipynb
  notebooks/link_analysis/Pagerank.ipynb
  notebooks/link_prediction/Jaccard-Similarity.ipynb
  notebooks/link_prediction/Overlap-Similarity.ipynb
  notebooks/sampling/RandomWalk.ipynb
  notebooks/structure/Renumber-2.ipynb
  notebooks/structure/Renumber.ipynb
  notebooks/structure/Symmetrize.ipynb
  notebooks/traversal/BFS.ipynb
  notebooks/traversal/SSSP.ipynb
Labels: Notebook, improvement, non-breaking

#2449 Don't store redundant columns in PropertyGraph Dataframes
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking

#2441 Use Datasets API to Update Docstring Examples
  MANIFEST.in
  python/cugraph/MANIFEST.in
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/centrality/degree_centrality.py
  python/cugraph/cugraph/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/community/ecg.py
  python/cugraph/cugraph/community/egonet.py
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/community/leiden.py
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/community/spectral_clustering.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/components/connectivity.py
  python/cugraph/cugraph/cores/core_number.py
  python/cugraph/cugraph/cores/k_core.py
  python/cugraph/cugraph/experimental/datasets/metadata/__init__.py
  python/cugraph/cugraph/layout/force_atlas2.py
  python/cugraph/cugraph/link_analysis/hits.py
  python/cugraph/cugraph/link_analysis/pagerank.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/wjaccard.py
  python/cugraph/cugraph/link_prediction/woverlap.py
  python/cugraph/cugraph/link_prediction/wsorensen.py
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/sssp.py
  python/cugraph/cugraph/tree/minimum_spanning_tree.py
Labels: doc, non-breaking

#2456 Updates to Link Notebooks
  notebooks/README.md
  notebooks/algorithms/README.md
  notebooks/algorithms/centrality/Centrality.ipynb
  notebooks/algorithms/layout/Force-Atlas2.ipynb
  notebooks/algorithms/link_analysis/HITS.ipynb
  notebooks/algorithms/link_analysis/Pagerank.ipynb
  notebooks/algorithms/link_analysis/README.md
  notebooks/algorithms/link_prediction/Jaccard-Similarity.ipynb
  notebooks/algorithms/link_prediction/Overlap-Similarity.ipynb
  notebooks/algorithms/link_prediction/README.md
  notebooks/applications/CostMatrix.ipynb
  notebooks/centrality/Centrality.ipynb
  notebooks/img/Full-four_node_replication.png
  notebooks/img/graph_after_ghost.png
  notebooks/img/graph_after_replication.png
  notebooks/img/karate_hits.png
  notebooks/img/zachary_graph_hits.png
  notebooks/link_prediction/README.md
Labels: Notebook, improvement, non-breaking, python

#2507 Update `k_core.py` to Check for Graph Direction
  python/cugraph/cugraph/cores/k_core.py
Labels: bug, non-breaking

#2506 [REVIEW] Defer loading of `custom.js`
  docs/cugraph/source/conf.py
Labels: doc, non-breaking

#2511 Fix PropertyGraph MG tests
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
Labels: bug, non-breaking

#2517 [REVIEW] Unpin `dask` and `distributed` for development
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2516 Branch 22.10 fix mg bfs type mismatch
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/tests/mg/test_mg_bfs.py
  python/cugraph/cugraph/tests/mg/test_mg_graph.py
Labels: bug, non-breaking

#2501 Rename multiple .cuh (.cu) files to .hpp (.cpp)
  cpp/CMakeLists.txt
  cpp/include/cugraph/utilities/dataframe_buffer.hpp
  cpp/include/cugraph/utilities/device_comm.hpp
  cpp/include/cugraph/utilities/host_scalar_comm.hpp
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/detail/graph_utils.cuh
  cpp/src/detail/shuffle_wrappers.cu
  cpp/src/prims/count_if_v.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/edge_partition_src_dst_property.cuh
  cpp/src/prims/extract_if_e.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/prims/reduce_v.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/src/prims/transform_reduce_v.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/prims/update_edge_partition_src_dst_property.cuh
  cpp/src/prims/update_v_frontier.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/traversal/extract_bfs_paths_impl.cuh
  cpp/src/utilities/collect_comm.cuh
  cpp/src/utilities/cython.cu
  cpp/src/utilities/graph_bcast.cpp
  cpp/src/utilities/graph_bcast.hpp
  cpp/tests/c_api/mg_test_utils.cpp
  cpp/tests/community/mg_louvain_helper.cu
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
  cpp/tests/utilities/device_comm_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.cu
Labels: 3 - Ready for Review, improvement, breaking

#2587 remove pagerank from cython.cu
  cpp/src/utilities/cython.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#2569 Leiden C++ API
  cpp/CMakeLists.txt
  cpp/src/community/leiden_impl.cuh
  cpp/src/community/leiden_sg.cu
Labels: feature request, 3 - Ready for Review, good first issue, non-breaking

#2550 [REVIEW] Use edge_ids directly in uniform sampling call to prevent cost of edge_id lookup
  python/cugraph/cugraph/gnn/graph_store.py
  python/cugraph/cugraph/tests/test_graph_store.py
Labels: 3 - Ready for Review, improvement, non-breaking, GNN

#2599 Branch 22.10 merge 22.08
  CHANGELOG.md
Labels: improvement, non-breaking

#2518 Use rapids-cmake 22.10 best practice for RAPIDS.cmake location
  fetch_rapids.cmake
Labels: improvement, non-breaking

#2503 Split edge_partition_src_dst_property.cuh to .hpp and .cuh files.
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/louvain.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/prims/count_if_e.cuh
  cpp/src/prims/edge_partition_src_dst_property.cuh
  cpp/src/prims/extract_if_e.cuh
  cpp/src/prims/fill_edge_src_dst_property.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_extract_if_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#2588 Fix MG Louvain C API test
  cpp/tests/c_api/mg_louvain_test.c
Labels: bug, 3 - Ready for Review, non-breaking

#2584 Update vertex_frontier_t to take unsorted (tagged-)vertex list with possible duplicates
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/prims/update_v_frontier.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
Labels: 3 - Ready for Review, improvement, breaking

#2586 Define a selection primtive API
  cpp/src/prims/per_v_random_select_and_transform_outgoine_e.cuh
Labels: feature request, 3 - Ready for Review, 5 - Merge After Dependencies, non-breaking

#2594 Restructure Louvain to be more like other algorithms
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_view.hpp
  cpp/src/community/detail/common_methods.cuh
  cpp/src/community/detail/common_methods.hpp
  cpp/src/community/detail/common_methods_mg.cu
  cpp/src/community/detail/common_methods_sg.cu
  cpp/src/community/flatten_dendrogram.hpp
  cpp/src/community/legacy/leiden.cu
  cpp/src/community/legacy/louvain.cu
  cpp/src/community/leiden_impl.cuh
  cpp/src/community/louvain.cuh
  cpp/src/community/louvain_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/tests/community/mg_louvain_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2521 [API] create a graph with additional edge properties
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/graph_functions.hpp
Labels: feature request, 3 - Ready for Review, non-breaking

#2567 CuGraph+PyG Wrappers and Loaders
  notebooks/gnn/pyg_hetero_mag.ipynb
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/gnn/pyg_extensions/__init__.py
  python/cugraph/cugraph/gnn/pyg_extensions/data/__init__.py
  python/cugraph/cugraph/gnn/pyg_extensions/data/cugraph_store.py
  python/cugraph/cugraph/gnn/pyg_extensions/loader/__init__.py
  python/cugraph/cugraph/gnn/pyg_extensions/loader/link_neighbor_loader.py
  python/cugraph/cugraph/gnn/pyg_extensions/loader/neighbor_loader.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/mg/test_mg_pyg_extensions.py
  python/cugraph/cugraph/tests/mg/test_mg_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/test_pyg_extensions.py
  python/cugraph/cugraph/tests/test_uniform_neighbor_sample.py
Labels: feature request, breaking, python, GNN

#2607 Fix MG PLC algos intermittent hang
  conda/recipes/cugraph/meta.yaml
  python/cugraph/cugraph/dask/cores/core_number.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/dask/traversal/bfs.py
Labels: bug, non-breaking
