Repository rapidsai/cugraph, pull requests merged in 2022-05, with the labels that each got.

#2215 Branch 22.06 MNMG bug work and support for Undirected Graphs
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/sampling/neighborhood_sampling.py
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/tests/dask/test_mg_bfs.py
  python/cugraph/cugraph/tests/dask/test_mg_comms.py
  python/cugraph/cugraph/tests/dask/test_mg_connectivity.py
  python/cugraph/cugraph/tests/dask/test_mg_degree.py
  python/cugraph/cugraph/tests/dask/test_mg_hits.py
  python/cugraph/cugraph/tests/dask/test_mg_katz_centrality.py
  python/cugraph/cugraph/tests/dask/test_mg_louvain.py
  python/cugraph/cugraph/tests/dask/test_mg_neighborhood_sampling.py
  python/cugraph/cugraph/tests/dask/test_mg_pagerank.py
  python/cugraph/cugraph/tests/dask/test_mg_renumber.py
  python/cugraph/cugraph/tests/dask/test_mg_sssp.py
  python/cugraph/cugraph/tests/dask/test_mg_utility.py
  python/cugraph/cugraph/tests/test_jaccard.py
Labels: bug, non-breaking, python

#2245 Branch 22.06 bugs
  notebooks/link_prediction/Overlap-Similarity.ipynb
  python/cugraph/cugraph/tree/minimum_spanning_tree.py
Labels: 3 - Ready for Review, improvement, non-breaking, Fix

#2256 Resolves maximum spanning tree bug when using Edgelist instead of Adjlist
  python/cugraph/cugraph/tests/test_maximum_spanning_tree.py
  python/cugraph/cugraph/tests/test_minimum_spanning_tree.py
  python/cugraph/cugraph/tree/minimum_spanning_tree.py
Labels: bug, 3 - Ready for Review, non-breaking, python

#2262 Revert old pattern of SG cugraph testing for CI purposes
  ci/test.sh
Labels: improvement, non-breaking, python

#2259 Add Degree Centrality to cugraph
  docs/cugraph/source/api_docs/centrality.rst
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/centrality/__init__.py
  python/cugraph/cugraph/centrality/degree_centrality.py
  python/cugraph/cugraph/tests/test_degree_centrality.py
Labels: 3 - Ready for Review, improvement, non-breaking, python

#2247 Undirected graph support for MG graphs
  python/cugraph/cugraph/dask/link_analysis/hits.py
  python/cugraph/cugraph/dask/sampling/neighborhood_sampling.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/tests/mg/test_mg_neighborhood_sampling.py
Labels: improvement, non-breaking, python

#2269 Multi-GPU reduce_v & transform_reduce_v bug fix.
  cpp/include/cugraph/prims/reduce_op.cuh
Labels: bug, 3 - Ready for Review, non-breaking

#2271 Define triangle_count C API
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/triangle_count.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/c_test_utils.h
  cpp/tests/c_api/mg_triangle_count_test.c
  cpp/tests/c_api/triangle_count_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2253 Triangle Counting
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/prims/detail/nbr_intersection.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_nbr_intersection_of_e_endpoints.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/include/cugraph/prims/property_op_utils.cuh
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/include/cugraph/utilities/thrust_tuple_utils.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/community/triangle_count_mg.cu
  cpp/src/community/triangle_count_sg.cu
  cpp/src/community/triangle_counts_impl.cuh
  cpp/src/community/triangle_counts_mg.cu
  cpp/src/community/triangle_counts_sg.cu
  cpp/src/cores/core_number_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/community/mg_triangle_count_test.cpp
  cpp/tests/community/triangle_count_test.cpp
  cpp/tests/structure/graph_test.cpp
  cpp/tests/utilities/test_graphs.hpp
Labels: feature request, 3 - Ready for Review, multi-GPU, Graph Prims, non-breaking

#2267 [BUG] Update some clustering algos to only support undirected graphs
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/community/leiden.py
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/cugraph/cugraph/tests/mg/test_mg_louvain.py
  python/cugraph/cugraph/tests/test_k_truss_subgraph.py
  python/cugraph/cugraph/tests/test_leiden.py
  python/cugraph/cugraph/tests/test_louvain.py
  python/cugraph/cugraph/tests/test_triangle_count.py
Labels: bug, 3 - Ready for Review, merge conflict, non-breaking

#2254 Add MG Hits and MG Neighborhood_sampling to benchmarks
  benchmarks/python_e2e/benchmark.py
  benchmarks/python_e2e/cugraph_dask_funcs.py
  benchmarks/python_e2e/main.py
  python/cugraph/cugraph/dask/link_analysis/hits.py
  python/cugraph/cugraph/dask/sampling/neighborhood_sampling.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/number_map.py
Labels: 4 - Waiting on Author, improvement, non-breaking, python

#2274 Add do_expensive_check to graph primitives
  cpp/include/cugraph/prims/count_if_e.cuh
  cpp/include/cugraph/prims/count_if_v.cuh
  cpp/include/cugraph/prims/extract_if_e.cuh
  cpp/include/cugraph/prims/per_src_dst_key_transform_reduce_e.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/include/cugraph/prims/reduce_v.cuh
  cpp/include/cugraph/prims/transform_reduce_e.cuh
  cpp/include/cugraph/prims/transform_reduce_v.cuh
  cpp/include/cugraph/prims/update_edge_partition_src_dst_property.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#2291 Fix MG BFS through C API
  cpp/src/c_api/bfs.cpp
  cpp/src/c_api/sssp.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_bfs_test.c
  cpp/tests/c_api/mg_sssp_test.c
Labels: bug, 3 - Ready for Review, non-breaking

#2261 Branch 22.06 bug fixes + update imports
  docs/cugraph/source/api_docs/dask-cugraph.rst
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/tests/test_node2vec.py
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/node2vec.pyx
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/sssp.pyx
  python/pylibcugraph/pylibcugraph/tests/conftest.py
  python/pylibcugraph/pylibcugraph/tests/test_graph_sg.py
  python/pylibcugraph/pylibcugraph/tests/test_katz_centrality.py
  python/pylibcugraph/pylibcugraph/tests/test_neighborhood_sampling.py
  python/pylibcugraph/pylibcugraph/tests/test_pagerank.py
  python/pylibcugraph/pylibcugraph/tests/test_sssp.py
Labels: 2 - In Progress, improvement, non-breaking, python

#2287 Implement eigenvector centrality
  .gitignore
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/src/c_api/eigenvector_centrality.cpp
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/centrality/eigenvector_centrality_mg.cu
  cpp/src/centrality/eigenvector_centrality_sg.cu
  cpp/src/detail/utility_wrappers.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/eigenvector_centrality_test.c
  cpp/tests/c_api/mg_eigenvector_centrality_test.c
  cpp/tests/centrality/eigenvector_centrality_test.cpp
  cpp/tests/centrality/mg_eigenvector_centrality_test.cpp
Labels: 3 - Ready for Review, improvement, non-breaking

#2101 Use conda compilers
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/meta.yaml
  python/pylibcugraph/setup.py
Labels: improvement, non-breaking

#2051 Use mamba to build packages
  ci/benchmark/build.sh
  ci/cpu/build.sh
  ci/gpu/build.sh
Labels: improvement, non-breaking

#2284 Migrate SG and MG BFS to pylibcugraph
  .gitignore
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/mg_bfs.pxd
  python/cugraph/cugraph/dask/traversal/mg_bfs_wrapper.pyx
  python/cugraph/cugraph/traversal/bfs.pxd
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/bfs_wrapper.pyx
  python/cugraph/cugraph/traversal/sssp_wrapper.pyx
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/bfs.pyx
Labels: improvement, non-breaking, python

#2288 Add and test mechanism for creating graph with edge index as weight
  cpp/include/cugraph_c/array.h
  cpp/src/c_api/array.cpp
  cpp/src/sampling/detail/graph_functions.hpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/detail/sampling_utils_mg.cu
  cpp/src/sampling/detail/sampling_utils_sg.cu
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/tests/c_api/mg_test_utils.cpp
  cpp/tests/c_api/mg_test_utils.h
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2292 Add Louvain to the C API
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/louvain.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/louvain_test.c
  cpp/tests/c_api/mg_louvain_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2302 Triangle counting C API implementation
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_nbr_intersection_of_e_endpoints.cuh
  cpp/src/c_api/triangle_count.cpp
  cpp/tests/c_api/mg_triangle_count_test.c
  cpp/tests/c_api/triangle_count_test.c
Labels: 3 - Ready for Review, improvement, non-breaking

#2279 fixes BUG 2275
  python/cugraph/cugraph/structure/convert_matrix.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/tests/test_convert_matrix.py
  python/cugraph/cugraph/tests/test_graph.py
Labels: bug, 3 - Ready for Review, non-breaking

#2301 Fix uniform neighborhood sampling remove duplicates
  cpp/include/cugraph/algorithms.hpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/detail/graph_functions.hpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/detail/sampling_utils_sg.cu
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/src/sampling/uniform_neighbor_sampling_mg.cpp
  cpp/src/sampling/uniform_neighbor_sampling_sg.cpp
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
Labels: 3 - Ready for Review, improvement, breaking

#2290 Split update_v_frontier_from_outgoing_e to two simpler primitives
  cpp/include/cugraph/detail/graph_utils.cuh
  cpp/include/cugraph/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/include/cugraph/prims/reduce_op.cuh
  cpp/include/cugraph/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/include/cugraph/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/include/cugraph/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/include/cugraph/prims/update_v_frontier.cuh
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/src/community/louvain.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
  cpp/tests/prims/mg_update_v_frontier_from_outgoing_e.cu
Labels: 3 - Ready for Review, Graph Prims, improvement, breaking

#2312 [REVIEW] Pin `dask` & `distributed` for release
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking

#2305 Add test to reproduce issue with double weights, fix issue (graph cre…
  cpp/include/cugraph_c/graph.h
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/tests/c_api/c_test_utils.h
  cpp/tests/c_api/mg_sssp_test.c
  cpp/tests/c_api/mg_test_utils.cpp
  cpp/tests/c_api/mg_test_utils.h
  cpp/tests/c_api/sssp_test.c
  cpp/tests/c_api/test_utils.cpp
Labels: bug, 3 - Ready for Review, non-breaking

#2278 Refactor mg symmetrize tests
  python/cugraph/cugraph/tests/mg/test_mg_symmetrize.py
Labels: improvement, non-breaking, python

#2317 [REVIEW] Pin `dask` and `distributed` for release
  conda/environments/cugraph_dev_cuda11.2.yml
  conda/environments/cugraph_dev_cuda11.4.yml
  conda/environments/cugraph_dev_cuda11.5.yml
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking
