Repository rapidsai/cugraph, pull requests merged in 2023-07, with the labels that each got.

#3688 [FIX] Rename `cugraph-ops` symbols (refactoring) and update GHA workflows to call pytest via `python -m pytest`
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  cpp/src/sampling/neighborhood.cu
  cpp/src/utilities/cugraph_ops_utils.hpp
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/transformerconv.py
  python/cugraph-dgl/tests/nn/test_transformerconv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/base.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gat_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gatv2_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/transformer_conv.py
Labels: bug, non-breaking

#3694 Include cuCollection public header for hash functions
  cpp/src/detail/graph_partition_utils.cuh
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_count_if_v.cu
  cpp/tests/prims/mg_extract_transform_e.cu
  cpp/tests/prims/mg_extract_transform_v_frontier_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_e.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
  cpp/tests/prims/property_generator.cuh
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
Labels: improvement, non-breaking

#3669 [FIX] Fix the hang in cuGraph Python Uniform Neighbor Sample, Add Logging to Bulk Sampler
  benchmarks/cugraph/standalone/bulk_sampling/benchmarking_script.ipynb
  benchmarks/cugraph/standalone/bulk_sampling/bulk_sampling.sh
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  mg_utils/run-dask-process.sh
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
Labels: bug, breaking

#3713 Only run cugraph conda CI for CUDA 11.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3711 [BUG] Fix namesapce to default_hash and hash_functions
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
  cpp/src/community/detail/common_methods.cuh
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/kv_store.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/structure/relabel_impl.cuh
Labels: bug, non-breaking

#3693 Make `pylibcugraphops` optional imports in `cugraph-dgl` and `-pyg`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/conda/cugraph_dgl_dev_11.6.yml
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/transformerconv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/base.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gat_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gatv2_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/transformer_conv.py
Labels: bug, non-breaking

#3701 [BUG] Fix Bulk Sampling Test Issue
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
  python/cugraph/cugraph/utilities/utils.py
Labels: bug, non-breaking

#3699 Integrate C++ Sampling Source Behavior Updates
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: feature request, non-breaking

#3702 [WIP] Make edge ids optional
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
Labels: improvement, non-breaking

#3721 Reorder dependencies.yaml channels
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
Labels: bug, non-breaking

#3456 cugraph: Build CUDA 12 packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/meta.yaml
  dependencies.yaml
Labels: feature request, non-breaking

#3723 Fix primitive bug discovered in MG edge betweenness centrality testing
  cpp/src/prims/transform_e.cuh
Labels: bug, non-breaking

#3704 Stop using setup.py in build.sh
  build.sh
Labels: improvement, breaking

#3727 Remove RAFT specialization.
  cpp/src/community/legacy/spectral_clustering.cu
Labels: improvement, non-breaking

#3729 Fix sampling call parameters if compiled with -DNO_CUGRAPH_OPS
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
Labels: bug, non-breaking

#3656 force atlas notebook changes to run in cugraph 23.08 container.
  notebooks/algorithms/layout/Force-Atlas2.ipynb
Labels: bug, non-breaking

#3725 Add CUDA 12.0 conda environment.
  conda/environments/all_cuda-120_arch-x86_64.yaml
Labels: feature request, non-breaking

#3731 Switch to new wheel building pipeline
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_cugraph.sh
  ci/build_wheel_pylibcugraph.sh
  ci/test_wheel.sh
  ci/test_wheel_cugraph.sh
  ci/test_wheel_pylibcugraph.sh
Labels: improvement, non-breaking

#3707 Renumber utility function for sampling output
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/src/c_api/capi_helper.cu
  cpp/src/c_api/graph_helper_impl.cuh
  cpp/src/sampling/renumber_sampled_edgelist_impl.cuh
  cpp/src/sampling/renumber_sampled_edgelist_sg.cu
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/community/mg_egonet_test.cu
  cpp/tests/sampling/renumber_sampled_edgelist_test.cu
  cpp/tests/structure/mg_induced_subgraph_test.cu
Labels: feature request, non-breaking

#3724 C API for renumbering the samples
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/tests/c_api/uniform_neighbor_sample_test.c
Labels: improvement, non-breaking

#3662 Refactor RMAT
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_generators.hpp
  cpp/include/cugraph/utilities/cython.hpp
  cpp/include/cugraph_c/graph_generators.h
  cpp/src/c_api/graph_generators.cpp
  cpp/src/generators/generate_rmat_edgelist.cu
  cpp/src/utilities/cython.cu
  cpp/tests/c_api/generate_rmat_test.c
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/dask/comms/comms.pxd
  python/cugraph/cugraph/dask/comms/comms_wrapper.pyx
  python/cugraph/cugraph/generators/CMakeLists.txt
  python/cugraph/cugraph/generators/rmat.pxd
  python/cugraph/cugraph/generators/rmat.py
  python/cugraph/cugraph/generators/rmat_wrapper.pyx
  python/cugraph/cugraph/structure/graph_utilities.pxd
  python/cugraph/cugraph/tests/generators/test_rmat.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_generators.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/resource_handle.pxd
  python/pylibcugraph/pylibcugraph/bfs.pyx
  python/pylibcugraph/pylibcugraph/components/_connectivity.pxd
  python/pylibcugraph/pylibcugraph/generate_rmat_edgelist.pyx
  python/pylibcugraph/pylibcugraph/generate_rmat_edgelists.pyx
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/hits.pyx
  python/pylibcugraph/pylibcugraph/katz_centrality.pyx
  python/pylibcugraph/pylibcugraph/node2vec.pyx
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/personalized_pagerank.pyx
  python/pylibcugraph/pylibcugraph/structure/graph_utilities.pxd
  python/pylibcugraph/pylibcugraph/tests/test_rmat.py
  python/pylibcugraph/pylibcugraph/triangle_count.pyx
  python/pylibcugraph/pylibcugraph/two_hop_neighbors.pyx
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/uniform_random_walks.pyx
  python/pylibcugraph/pylibcugraph/utils.pyx
  python/pylibcugraph/pylibcugraph/weakly_connected_components.pyx
Labels: improvement, non-breaking

#3620 Created landing spot for centrality and similarity algorithms
  docs/cugraph/source/graph_support/DGL_support.md
  docs/cugraph/source/graph_support/algorithms.md
  docs/cugraph/source/graph_support/algorithms/Centrality.md
  docs/cugraph/source/graph_support/algorithms/Similarity.md
  docs/cugraph/source/graph_support/algorithms/betweenness_centrality.md
  docs/cugraph/source/graph_support/algorithms/degree_centrality.md
  docs/cugraph/source/graph_support/algorithms/eigenvector_centrality.md
  docs/cugraph/source/graph_support/algorithms/jaccard_similarity.md
  docs/cugraph/source/graph_support/algorithms/katz_centrality.md
  docs/cugraph/source/graph_support/algorithms/overlap_similarity.md
  docs/cugraph/source/graph_support/algorithms/sorensen_coefficient.md
  docs/cugraph/source/images/zachary_graph_centrality.png
  docs/cugraph/source/tutorials/cugraph_notebooks.md
  notebooks/algorithms/centrality/Centrality.ipynb
  notebooks/algorithms/centrality/Degree.ipynb
  notebooks/algorithms/centrality/Eigenvector.ipynb
  notebooks/algorithms/centrality/Katz.ipynb
  notebooks/algorithms/link_prediction/Jaccard-Similarity.ipynb
  notebooks/algorithms/link_prediction/Overlap-Similarity.ipynb
  notebooks/algorithms/link_prediction/Sorensen_coefficient.ipynb
  notebooks/img/karate_similarity.png
Labels: doc, non-breaking

#3734 PLC and Python Support for Sample-Side MFG Creation
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: improvement, breaking

#3672 Refactor edge betweenness centrality
  cpp/src/c_api/centrality_result.cpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/tests/centrality/betweenness_centrality_reference.hpp
  cpp/tests/centrality/edge_betweenness_centrality_test.cpp
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/centrality/CMakeLists.txt
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/centrality/edge_betweenness_centrality.pxd
  python/cugraph/cugraph/centrality/edge_betweenness_centrality_wrapper.pyx
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/centrality/__init__.py
  python/cugraph/cugraph/dask/centrality/betweenness_centrality.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/tests/centrality/test_batch_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/structure/test_graph.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/centrality_algorithms.pxd
  python/pylibcugraph/pylibcugraph/edge_betweenness_centrality.pyx
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/tests/test_edge_betweenness_centrality.py
Labels: improvement, breaking

#3741 Compute shortest distances between given sets of origins and destinations for large diameter graphs
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.hpp
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/key_store.cuh
  cpp/src/prims/kv_store.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/src/traversal/od_shortest_distances_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/od_shortest_distances_test.cpp
Labels: feature request, non-breaking

#3747 Fixes options for `--pydevelop` to remove unneeded CWD path ("."), restores use of `setup.py` temporarily for develop builds
  build.sh
Labels: bug, non-breaking

#3742 Support MFG creation on sampling gpus for cugraph dgl
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/examples/dataset_from_disk_cudf.ipynb
  python/cugraph-dgl/tests/test_dataset.py
  python/cugraph-dgl/tests/test_utils.py
Labels: improvement, non-breaking

#3758 Fix bug discovered in Jaccard testing
  cpp/src/c_api/graph_functions.cpp
Labels: bug, non-breaking
