Repository rapidsai/cugraph, pull requests merged in 2023-06, with the labels that each got.

#3622 Refresh requirements
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking

#3636 Fix minor typo in README.md
  README.md
Labels: doc, non-breaking

#3638 Fix dependency versions for `23.08`
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking

#3627 Remove documentation build scripts for Jenkins
  ci/docs/build.sh
Labels: improvement, non-breaking

#3634 Unpin `dask` and `distributed` for development
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking

#3641 Disables memory usage assertions
  python/pylibcugraph/pylibcugraph/tests/test_uniform_neighbor_sample.py
Labels: improvement, non-breaking

#3640 use rapids-upload-docs script
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking

#3609 Unpin scikit-build upper bound
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking

#3647 [HOTFIX] Fix random walks error identified in CUDA-12 testing
  cpp/src/sampling/random_walks_impl.cuh
  cpp/tests/c_api/sg_random_walks_test.c
Labels: bug, non-breaking

#3648 Update to CMake 3.26.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/conda_build_config.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/libcugraph_etl/CMakeLists.txt
  dependencies.yaml
  python/cugraph/CMakeLists.txt
  python/cugraph/pyproject.toml
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking

#3646 Optimize cugraph-dgl MFG creation
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/examples/dataset_from_disk_cudf.ipynb
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
Labels: improvement, non-breaking

#3655 Fix broadcast root during the replication call
  python/cugraph/cugraph/dask/common/input_utils.py
  python/cugraph/cugraph/dask/common/part_utils.py
Labels: bug, non-breaking

#3639 Adds `fail_on_nonconvergence` option to `pagerank` to provide pagerank results even on non-convergence
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph_c/centrality_algorithms.h
  cpp/src/c_api/centrality_result.cpp
  cpp/src/c_api/centrality_result.hpp
  cpp/src/c_api/pagerank.cpp
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/link_analysis/pagerank_mg.cu
  cpp/src/link_analysis/pagerank_sg.cu
  cpp/tests/c_api/mg_pagerank_test.c
  cpp/tests/c_api/pagerank_test.c
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/exceptions.py
  python/cugraph/cugraph/link_analysis/pagerank.py
  python/cugraph/cugraph/tests/link_analysis/test_pagerank.py
  python/cugraph/cugraph/tests/link_analysis/test_pagerank_mg.py
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/centrality_algorithms.pxd
  python/pylibcugraph/pylibcugraph/exceptions.py
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/personalized_pagerank.pyx
Labels: feature request, non-breaking

#3661 [REVIEW] Optimize bulk sampling
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
Labels: improvement, non-breaking

#3628 Add Benchmark for Bulk Sampling
  benchmarks/cugraph/standalone/bulk_sampling/README.md
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  python/cugraph/cugraph/testing/mg_utils.py
Labels: feature request, non-breaking

#3602 Implement C++ Edge Betweenness Centrality
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/decompress_edge_partition.cuh
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph_c/centrality_algorithms.h
  cpp/src/c_api/betweenness_centrality.cpp
  cpp/src/c_api/centrality_result.hpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/centrality/betweenness_centrality_mg.cu
  cpp/src/centrality/betweenness_centrality_sg.cu
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/decompress_to_edgelist_impl.cuh
  cpp/src/structure/decompress_to_edgelist_mg.cu
  cpp/src/structure/decompress_to_edgelist_sg.cu
  cpp/src/structure/symmetrize_graph_impl.cuh
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/edge_betweenness_centrality_test.c
  cpp/tests/c_api/mg_edge_betweenness_centrality_test.c
  cpp/tests/centrality/betweenness_centrality_reference.hpp
  cpp/tests/centrality/edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/eigenvector_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/community/egonet_validate.cu
  cpp/tests/cores/k_core_validate.cu
  cpp/tests/prims/mg_transform_e.cu
  cpp/tests/sampling/random_walks_check.cuh
  cpp/tests/structure/mg_symmetrize_test.cpp
  cpp/tests/structure/mg_transpose_storage_test.cpp
  cpp/tests/structure/mg_transpose_test.cpp
  cpp/tests/structure/symmetrize_test.cpp
  cpp/tests/structure/transpose_storage_test.cpp
  cpp/tests/structure/transpose_test.cpp
  cpp/tests/utilities/test_utilities.hpp
  cpp/tests/utilities/test_utilities_impl.cuh
  cpp/tests/utilities/test_utilities_mg.cu
  cpp/tests/utilities/test_utilities_sg.cu
Labels: improvement, non-breaking

#3650 this fixes github links in cugraph, cugraph-dgl and cugraph-pyg
  docs/cugraph/source/conf.py
  docs/cugraph/source/sphinxext/github_link.py
Labels: doc, non-breaking
