Repository rapidsai/cugraph, pull requests merged in 2023-09, with the labels that each got.

#3816 Remove Deprecated Sampling Options
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
Labels: improvement, breaking

#3842 Use new `raft::compiled_static` targets
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  python/cugraph/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
Labels: improvement, non-breaking

#3846 [IMP] Add ability to get batch size from the loader in cuGraph-PyG
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
Labels: improvement, non-breaking

#3840 Rename `cugraph-nx` to `nx-cugraph`
  build.sh
  ci/build_python.sh
  ci/release/update-version.sh
  ci/test_python.sh
  conda/recipes/nx-cugraph/build.sh
  conda/recipes/nx-cugraph/meta.yaml
  dependencies.yaml
  docs/cugraph/source/installation/source_build.md
  python/cugraph-nx/cugraph_nx/tests/test_convert.py
  python/cugraph/cugraph/tests/link_analysis/test_pagerank.py
  python/nx-cugraph/.flake8
  python/nx-cugraph/LICENSE
  python/nx-cugraph/Makefile
  python/nx-cugraph/README.md
  python/nx-cugraph/conftest.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/betweenness.py
  python/nx-cugraph/nx_cugraph/algorithms/community/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/classes/__init__.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/convert.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/nx-cugraph/nx_cugraph/tests/__init__.py
  python/nx-cugraph/nx_cugraph/tests/bench_convert.py
  python/nx-cugraph/nx_cugraph/tests/conftest.py
  python/nx-cugraph/nx_cugraph/tests/test_convert.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
  python/nx-cugraph/nx_cugraph/typing.py
  python/nx-cugraph/nx_cugraph/utils/__init__.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
  python/nx-cugraph/nx_cugraph/utils/misc.py
  python/nx-cugraph/pyproject.toml
  python/nx-cugraph/run_nx_tests.sh
  python/nx-cugraph/setup.py
Labels: improvement, breaking

#3792 Expose threshold in louvain
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/louvain.cpp
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/louvain_mg.cu
  cpp/src/community/louvain_sg.cu
  cpp/tests/c_api/louvain_test.c
  cpp/tests/c_api/mg_louvain_test.c
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/mg_louvain_test.cpp
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/community_algorithms.pxd
  python/pylibcugraph/pylibcugraph/louvain.pyx
  python/pylibcugraph/pylibcugraph/tests/test_louvain.py
Labels: improvement, breaking

#3835 Remove the assumption made on the client data's keys
  python/cugraph/cugraph/dask/common/part_utils.py
Labels: bug, non-breaking

#3821 Adding metadata getter methods to datasets API
  python/cugraph/cugraph/datasets/dataset.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
Labels: improvement, non-breaking

#3853 Uses `conda mambabuild` rather than `mamba mambabuild`
  ci/build_cpp.sh
  ci/build_python.sh
Labels: bug, non-breaking

#3858 Fix subtle memory leak in nbr_intersection primitive
  cpp/src/prims/detail/nbr_intersection.cuh
Labels: bug, non-breaking

#3815 Sampling post processing functions to accelerate MFG creation.
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/sampling_functions.hpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/prims/kv_store.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/sampling/renumber_sampled_edgelist_impl.cuh
  cpp/src/sampling/renumber_sampled_edgelist_sg.cu
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/src/sampling/sampling_post_processing_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/renumber_sampled_edgelist_test.cu
  cpp/tests/sampling/sampling_post_processing_test.cu
Labels: feature request, non-breaking

#3521 New mtmg API for integration
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_ucp.cmake
  cpp/include/cugraph/mtmg/detail/device_shared_device_span.hpp
  cpp/include/cugraph/mtmg/detail/device_shared_device_vector.hpp
  cpp/include/cugraph/mtmg/detail/device_shared_wrapper.hpp
  cpp/include/cugraph/mtmg/detail/per_device_edgelist.hpp
  cpp/include/cugraph/mtmg/edge_property.hpp
  cpp/include/cugraph/mtmg/edge_property_view.hpp
  cpp/include/cugraph/mtmg/edgelist.hpp
  cpp/include/cugraph/mtmg/graph.hpp
  cpp/include/cugraph/mtmg/graph_view.hpp
  cpp/include/cugraph/mtmg/handle.hpp
  cpp/include/cugraph/mtmg/instance_manager.hpp
  cpp/include/cugraph/mtmg/per_thread_edgelist.hpp
  cpp/include/cugraph/mtmg/renumber_map.hpp
  cpp/include/cugraph/mtmg/renumber_map_view.hpp
  cpp/include/cugraph/mtmg/resource_manager.hpp
  cpp/include/cugraph/mtmg/vertex_result.hpp
  cpp/include/cugraph/mtmg/vertex_result_view.hpp
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/mtmg/vertex_result.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/mtmg/threaded_test.cu
Labels: improvement, non-breaking

#3859 Update to clang 16.0.6.
  .pre-commit-config.yaml
  cpp/src/components/legacy/scc_matrix.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/sampling/random_walks.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/tests/prims/mg_extract_transform_e.cu
  cpp/tests/traversal/mg_sssp_test.cpp
  cpp/tests/traversal/sssp_test.cpp
  cpp/tests/utilities/test_utilities.hpp
Labels: improvement, non-breaking

#3865 MFG C++ code bug fix
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/tests/sampling/sampling_post_processing_test.cu
Labels: bug, non-breaking

#3828 Refactor python code for similarity algos to use latest CAPI
  cpp/CMakeLists.txt
  cpp/src/link_prediction/legacy/jaccard.cu
  cpp/src/link_prediction/legacy/overlap.cu
  cpp/tests/c_api/mg_similarity_test.c
  cpp/tests/c_api/similarity_test.c
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/community/induced_subgraph.py
  python/cugraph/cugraph/dask/link_prediction/jaccard.py
  python/cugraph/cugraph/dask/link_prediction/overlap.py
  python/cugraph/cugraph/dask/link_prediction/sorensen.py
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/experimental/link_prediction/__init__.py
  python/cugraph/cugraph/experimental/link_prediction/jaccard.py
  python/cugraph/cugraph/experimental/link_prediction/overlap.py
  python/cugraph/cugraph/experimental/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/CMakeLists.txt
  python/cugraph/cugraph/link_prediction/__init__.py
  python/cugraph/cugraph/link_prediction/jaccard.pxd
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/jaccard_wrapper.pyx
  python/cugraph/cugraph/link_prediction/overlap.pxd
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/overlap_wrapper.pyx
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/wjaccard.py
  python/cugraph/cugraph/link_prediction/woverlap.py
  python/cugraph/cugraph/link_prediction/wsorensen.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/tests/link_prediction/test_jaccard.py
  python/cugraph/cugraph/tests/link_prediction/test_overlap.py
  python/cugraph/cugraph/tests/link_prediction/test_sorensen.py
  python/cugraph/cugraph/tests/link_prediction/test_wjaccard.py
  python/cugraph/cugraph/tests/link_prediction/test_woverlap.py
  python/cugraph/cugraph/tests/link_prediction/test_wsorensen.py
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/experimental/__init__.py
  python/pylibcugraph/pylibcugraph/jaccard_coefficients.pyx
  python/pylibcugraph/pylibcugraph/overlap_coefficients.pyx
  python/pylibcugraph/pylibcugraph/sorensen_coefficients.pyx
Labels: bug, non-breaking

#3867 Update image names
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#3866 adding dining preference dataset
  python/cugraph/cugraph/datasets/__init__.py
  python/cugraph/cugraph/datasets/metadata/dining_prefs.yaml
  python/cugraph/cugraph/testing/__init__.py
Labels: feature request, non-breaking

#3870 Add file to update-version.sh
  ci/release/update-version.sh
Labels: bug, non-breaking

#3869 Fix torch seed in `cugraph-dgl` and `-pyg` tests for conv layers
  python/cugraph-dgl/tests/nn/test_gatconv.py
  python/cugraph-dgl/tests/nn/test_gatv2conv.py
  python/cugraph-dgl/tests/nn/test_relgraphconv.py
  python/cugraph-dgl/tests/nn/test_sageconv.py
  python/cugraph-dgl/tests/nn/test_transformerconv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_gatv2_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_rgcn_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_sage_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_transformer_conv.py
Labels: bug, non-breaking

#3795 cuGraph-PyG Loader Improvements
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/loader/filter.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
Labels: improvement, breaking

#3775 Update dgl benchmarks
  benchmarks/cugraph-dgl/scale-benchmarks/__init__.py
  benchmarks/cugraph-dgl/scale-benchmarks/dgl_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/load_graph_feats.py
  benchmarks/cugraph-dgl/scale-benchmarks/model.py
Labels: improvement, non-breaking

#3868 similarity notebook to compare link prediction algos
  notebooks/algorithms/link_prediction/similarity_combined.ipynb
Labels: feature request, non-breaking

#3660 [REVIEW] Add Pure DGL Dataloading benchmark
  benchmarks/cugraph-dgl/python-script/dgl_dataloading_benchmark/dgl_benchmark.py
Labels: feature request, non-breaking

#3837 Enable temporarily disabled MG tests
  ci/test_python.sh
  ci/test_wheel.sh
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/tests/traversal/test_bfs_mg.py
Labels: improvement, non-breaking

#3879 Enable weights for MG similarity algorithms
  python/cugraph/cugraph/dask/link_prediction/jaccard.py
  python/cugraph/cugraph/dask/link_prediction/overlap.py
  python/cugraph/cugraph/dask/link_prediction/sorensen.py
  python/cugraph/cugraph/tests/link_prediction/test_jaccard_mg.py
  python/cugraph/cugraph/tests/link_prediction/test_overlap_mg.py
  python/cugraph/cugraph/tests/link_prediction/test_sorensen_mg.py
Labels: improvement, non-breaking

#3877 Update Allocator Selection in cuGraph-DGL Example
  python/cugraph-dgl/examples/graphsage/node-classification.py
Labels: bug, non-breaking, CRITICAL BUG!

#3852 Updates to build and test `nx-cugraph` wheel as part of CI and nightly workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  ci/test_wheel.sh
  ci/test_wheel_cugraph.sh
  ci/test_wheel_nx-cugraph.sh
  ci/wheel_smoke_test_nx-cugraph.py
Labels: improvement, non-breaking

#3838 Add cuGraph devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  cpp/.clangd
  dependencies.yaml
Labels: improvement, non-breaking

#3841 Integrate C++ Renumbering and Compression
  cpp/include/cugraph/sampling_functions.hpp
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/sampling/sampling_utilities.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
  python/pylibcugraph/pylibcugraph/tests/test_uniform_neighbor_sample.py
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: feature request, non-breaking

#3848 Add entry point to tell NetworkX about nx-cugraph without importing it.
  ci/release/update-version.sh
  python/nx-cugraph/.flake8
  python/nx-cugraph/Makefile
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/_nx_cugraph/core.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/betweenness.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
  python/nx-cugraph/nx_cugraph/utils/misc.py
  python/nx-cugraph/pyproject.toml
Labels: improvement, non-breaking

#3814 Temporarily disable the deletion of the dask dataframe
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: bug, non-breaking

#3893 Updates the source build docs to include libcugraphops as a build prerequisite
  docs/cugraph/source/installation/source_build.md
Labels: improvement, non-breaking

#3896 Pin `dask` and `distributed` for `23.10` release
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking

#3898 Merge branch-23.10 into branch-23.12
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .gitignore
  ci/release/update-version.sh
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  cpp/.clangd
  cpp/include/cugraph/sampling_functions.hpp
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  dependencies.yaml
  docs/cugraph/source/installation/source_build.md
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/sampling/sampling_utilities.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/nx-cugraph/.flake8
  python/nx-cugraph/Makefile
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/_nx_cugraph/core.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/betweenness.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
  python/nx-cugraph/nx_cugraph/utils/misc.py
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
  python/pylibcugraph/pylibcugraph/tests/test_uniform_neighbor_sample.py
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: improvement, non-breaking

#3886 Adds logic to handle isolated vertices at python layer
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/tests/community/test_louvain.py
  python/cugraph/cugraph/utilities/utils.py
Labels: bug, non-breaking

#3843 Refactor legacy k truss
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/utilities/graph_traits.hpp
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/legacy_k_truss.cpp
  cpp/src/community/legacy/ktruss.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/legacy_k_truss_test.c
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/community/CMakeLists.txt
  python/cugraph/cugraph/community/ktruss_subgraph.pxd
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/community/ktruss_subgraph_wrapper.pyx
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/community_algorithms.pxd
  python/pylibcugraph/pylibcugraph/k_truss_subgraph.pyx
Labels: improvement, non-breaking

#3891 fixes force atlas to allow string as vertex names
  python/cugraph/cugraph/layout/force_atlas2_wrapper.pyx
  python/cugraph/cugraph/tests/layout/test_force_atlas2.py
Labels: improvement, non-breaking

#3874 WholeGraph Feature Store for cuGraph-PyG and cuGraph-DGL
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/cugraph/gnn/feature_storage/feat_storage.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
Labels: feature request, non-breaking
