Repository rapidsai/cugraph, pull requests merged in 2023-10, with the labels that each got.

#3887 Integrate renumbering and compression to `cugraph-dgl` to accelerate MFG creation
  python/cugraph-dgl/cugraph_dgl/dataloading/__init__.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/base.py
  python/cugraph-dgl/tests/test_utils.py
Labels: improvement, non-breaking

#3897 nx-cugraph: handle louvain with isolated nodes
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/algorithms/isolate.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/convert.py
  python/nx-cugraph/nx_cugraph/tests/test_community.py
Labels: improvement, non-breaking

#3907 Increase dask-related timeouts for CI testing
  ci/test_python.sh
  ci/test_wheel.sh
Labels: bug, non-breaking, CRITICAL BUG!

#3903 Build CUDA 12.0 ARM conda packages.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3895 Remove `dask_cudf` dataframe for the `_make_plc_graph` while creating `cugraph.Graph`
  python/cugraph/cugraph/dask/common/part_utils.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: bug, non-breaking

#3854 Adds benchmarks for `nx-cugraph`
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-conda/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  benchmarks/cugraph-dgl/pytest-based/bench_cugraph_dgl_uniform_neighbor_sample.py
  benchmarks/cugraph-dgl/python-script/dgl_dataloading_benchmark/dgl_benchmark.py
  benchmarks/cugraph-dgl/python-script/ogbn_mag_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/dgl_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/load_graph_feats.py
  benchmarks/cugraph-dgl/scale-benchmarks/model.py
  benchmarks/cugraph-service/pytest-based/bench_cgs_client_scaling.py
  benchmarks/cugraph/pytest-based/bench_algos.py
  benchmarks/cugraph/pytest-based/conftest.py
  benchmarks/cugraph/standalone/benchmark.py
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  benchmarks/cugraph/standalone/cugraph_dask_funcs.py
  benchmarks/cugraph/standalone/cugraph_funcs.py
  benchmarks/cugraph/standalone/cugraph_graph_creation.py
  benchmarks/cugraph/standalone/main.py
  benchmarks/cugraph/standalone/pylibcugraph_bench.py
  benchmarks/cugraph/standalone/reporting.py
  benchmarks/dgl/create_dataset.py
  benchmarks/dgl/pytest-based/dgl_benchmark.py
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  benchmarks/pytest.ini
  benchmarks/shared/build_cugraph_ucx/test_client_bandwidth.py
  benchmarks/shared/build_cugraph_ucx/test_cugraph_sampling.py
  benchmarks/shared/python/cugraph_benchmarking/params.py
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/cugraph_dgl/dataloading/__init__.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/base.py
  python/cugraph-dgl/tests/test_utils.py
  python/cugraph/cugraph/gnn/feature_storage/feat_storage.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: improvement, non-breaking

#3918 Add wget to test_notebook dependencies
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, non-breaking

#3906 Link wholegrah and cugraphops XML docs
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  docs/cugraph/source/conf.py
Labels: improvement, non-breaking

#3924 Update Broken Links in README.md
  README.md
Labels: doc, non-breaking

#3928 Use branch-23.12 workflows.
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3916 new build all option
  build.sh
Labels: improvement, non-breaking

#3919 Forward-merge branch-23.10 to branch-23.12
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  CHANGELOG.md
  ci/test_python.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph/cugraph/dask/common/part_utils.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/algorithms/isolate.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/convert.py
  python/nx-cugraph/nx_cugraph/tests/test_community.py
Labels: improvement, non-breaking

#3913 Silence spurious compiler warnings
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
Labels: improvement, non-breaking

#3905 Updates to 23.12
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.0-pip/devcontainer.json
  .github/workflows/pr.yaml
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: improvement, non-breaking

#3830 Add nx-cugraph notebook for showing accelerated networkX APIs
  notebooks/demo/nx_cugraph_demo.ipynb
Labels: improvement, non-breaking

#3940 Temporarily disable mg testing
  ci/test_python.sh
  ci/test_wheel.sh
Labels: improvement, non-breaking

#3917 Implement the transform_e primitive (to update property values for all edges)
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/utilities/packed_bool_utils.hpp
  cpp/src/prims/transform_e.cuh
  cpp/tests/prims/mg_transform_e.cu
Labels: feature request, non-breaking

#3944 nx-cugraph: xfail test_louvain.py:test_threshold in Python 3.9
  python/nx-cugraph/nx_cugraph/interface.py
Labels: bug, non-breaking

#3894 Some MTMG code cleanup and small optimizations
  cpp/include/cugraph/mtmg/detail/per_device_edgelist.hpp
  cpp/include/cugraph/mtmg/handle.hpp
  cpp/include/cugraph/mtmg/instance_manager.hpp
  cpp/include/cugraph/mtmg/resource_manager.hpp
  cpp/include/cugraph/mtmg/vertex_result_view.hpp
  cpp/src/mtmg/vertex_result.cu
  cpp/tests/mtmg/threaded_test.cu
Labels: improvement, non-breaking

#3953 Unpin `dask` and `distributed` for `23.12` development
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#3955 Download `xml` docs artifact through CloudFront endpoint
  ci/build_docs.sh
Labels: improvement, non-breaking

#3550 Update the neighbor intersection primitive to support edge masking.
  cpp/include/cugraph/detail/decompress_edge_partition.cuh
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/graph_mask.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/include/cugraph/utilities/mask_utils.cuh
  cpp/include/cugraph/utilities/packed_bool_utils.hpp
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/detail/optional_dataframe_buffer.hpp
  cpp/src/prims/kv_store.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/decompress_to_edgelist_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_weighted_intersection.cu
  cpp/tests/structure/graph_mask_test.cpp
Labels: feature request, non-breaking

#3927 Fix an issue occurring in the cuGraph-DGL example for "mixed" mode.
  python/cugraph-dgl/examples/graphsage/node-classification.py
Labels: improvement, non-breaking

#3943 nx-cugraph: handle seed argument in edge_betweenness_centrality
  python/nx-cugraph/nx_cugraph/algorithms/centrality/betweenness.py
Labels: improvement, non-breaking

#3952 Errors compiling for DLFW on CUDA 12.3
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
Labels: improvement, non-breaking

#3962 Skip certain `cugraph-pyg` tests when `torch_sparse` is not available
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
Labels: improvement, non-breaking
