Repository rapidsai/cugraph, pull requests merged in 2023-03, with the labels that each got.

#3298 Stop using versioneer to manage versions
  .gitattributes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
  MANIFEST.in
  ci/checks/copyright.py
  ci/release/apply_wheel_modifications.sh
  ci/release/update-version.sh
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  python/.gitattributes
  python/cugraph-dgl/cugraph_dgl/__init__.py
  python/cugraph-dgl/cugraph_dgl/_version.py
  python/cugraph-dgl/setup.cfg
  python/cugraph-dgl/setup.py
  python/cugraph-dgl/versioneer.py
  python/cugraph-pyg/MANIFEST.in
  python/cugraph-pyg/cugraph_pyg/__init__.py
  python/cugraph-pyg/cugraph_pyg/_version.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph-pyg/setup.cfg
  python/cugraph-pyg/setup.py
  python/cugraph-pyg/versioneer.py
  python/cugraph-service/client/cugraph_service_client/__init__.py
  python/cugraph-service/client/cugraph_service_client/_version.py
  python/cugraph-service/client/setup.cfg
  python/cugraph-service/client/setup.py
  python/cugraph-service/client/versioneer.py
  python/cugraph-service/server/cugraph_service_server/__init__.py
  python/cugraph-service/server/cugraph_service_server/_version.py
  python/cugraph-service/server/setup.cfg
  python/cugraph-service/server/setup.py
  python/cugraph-service/server/versioneer.py
  python/cugraph/MANIFEST.in
  python/cugraph/_custom_build/backend.py
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/_version.py
  python/cugraph/pyproject.toml
  python/cugraph/setup.cfg
  python/cugraph/setup.py
  python/cugraph/versioneer.py
  python/pylibcugraph/_custom_build/backend.py
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_version.py
  python/pylibcugraph/pyproject.toml
  python/pylibcugraph/setup.cfg
  python/pylibcugraph/setup.py
  python/pylibcugraph/versioneer.py
Labels: improvement, non-breaking

#3306 Remove unused RAFT import causing `ImportError`
  python/cugraph/cugraph/__init__.py
Labels: bug, non-breaking

#3307 Update to GCC 11
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/conda_build_config.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#3324 Pass `AWS_SESSION_TOKEN` and `SCCACHE_S3_USE_SSL` vars to conda build
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
Labels: improvement, non-breaking

#3322 Changed docs to reflect need for undirected graph in wcc algo
  python/cugraph/cugraph/components/connectivity.py
Labels: doc, non-breaking

#3341 elementwise_min|max reduction op
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/prims/reduce_op.cuh
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
Labels: improvement, non-breaking

#3342 Remove MANIFEST.in use auto-generated one for sdists and package_data for wheels
  MANIFEST.in
  python/cugraph/MANIFEST.in
  python/cugraph/setup.py
  python/pylibcugraph/MANIFEST.in
  python/pylibcugraph/setup.py
Labels: bug, non-breaking

#3348 Updating cugraph to use consolidated libraft target
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/src/community/legacy/spectral_clustering.cu
  dependencies.yaml
Labels: improvement, non-breaking

#3350 Stop setting package version attribute in wheels
  ci/release/apply_wheel_modifications.sh
Labels: improvement, non-breaking

#3269 API improvements for end-to-end MG sampling performance
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/libcugraph_etl/CMakeLists.txt
  cpp/src/c_api/graph.hpp
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/detail/groupby_and_count.cu
  cpp/src/detail/shuffle_vertex_pairs.cu
  cpp/src/detail/shuffle_vertices.cu
  cpp/src/detail/utility_wrappers.cu
  cpp/src/sampling/detail/graph_functions.hpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/detail/sampling_utils_mg.cu
  cpp/src/sampling/detail/sampling_utils_sg.cu
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/src/sampling/uniform_neighbor_sampling_mg.cpp
  cpp/src/sampling/uniform_neighbor_sampling_sg.cpp
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_mg.cu
  cpp/src/structure/create_graph_from_edgelist_sg.cu
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/symmetrize_edgelist_impl.cuh
  cpp/src/structure/symmetrize_graph_impl.cuh
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_test_utils.cpp
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  cpp/tests/link_prediction/mg_similarity_test.cpp
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
  cpp/tests/traversal/ms_bfs_test.cu
  cpp/tests/utilities/csv_file_utilities.cu
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/test_utilities_impl.cuh
  fetch_rapids.cmake
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: improvement, breaking

#3312 [IMP] Add CI to cugraph_dgl
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/tests/test_utils.py
Labels: improvement, non-breaking

#3285 Define and implement C API for RMAT generators
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_generators.hpp
  cpp/include/cugraph_c/graph_generators.h
  cpp/src/c_api/graph_generators.cpp
  cpp/src/generators/generate_rmat_edgelist.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/generate_rmat_test.c
  cpp/tests/c_api/mg_generate_rmat_test.c
  cpp/tests/cores/core_number_test.cpp
  cpp/tests/utilities/base_fixture.hpp
  cpp/tests/utilities/test_graphs.hpp
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_generators.pxd
Labels: improvement, non-breaking

#3361 Properly handle dask change
  ci/build_cpp.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  python/cugraph/cugraph/dask/comms/comms.py
Labels: bug, non-breaking

#3349 Create a subgraph as a PropertyGraph via `extract_subgraph`
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/data_store/test_property_graph.py
  python/cugraph/cugraph/tests/data_store/test_property_graph_mg.py
Labels: improvement, non-breaking

#3354 Missing indentation leading to an UnboundedLocalError
  python/cugraph/cugraph/sampling/random_walks.py
Labels: bug, non-breaking

#3288 Update cugraph-pyg Recipe and CI Script
  ci/build_python.sh
  ci/test_python.sh
  conda/recipes/cugraph-pyg/meta.yaml
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph/cugraph/tests/structure/test_graph.py
Labels: improvement, breaking

#3347 Random vertex sampling utility function for C++ tests
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/c_api/random.cpp
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/select_random_vertices_impl.hpp
  cpp/src/structure/select_random_vertices_mg.cu
  cpp/src/structure/select_random_vertices_sg.cu
  cpp/tests/c_api/betweenness_centrality_test.c
  cpp/tests/centrality/betweenness_centrality_test.cpp
  cpp/tests/centrality/edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
  cpp/tests/structure/induced_subgraph_test.cpp
  cpp/tests/structure/mg_induced_subgraph_test.cu
  cpp/tests/utilities/test_utilities.cu
  cpp/tests/utilities/test_utilities_impl.cuh
  cpp/tests/utilities/test_utilities_sg.cu
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: improvement, non-breaking

#3247 [REVIEW] Bug Fixes to DGL Dataloader
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/examples/dataset_from_disk_cudf.ipynb
  python/cugraph-dgl/tests/conftest.py
  python/cugraph-dgl/tests/test_dataloader.py
Labels: bug, non-breaking

#2925 [REVIEW] Graph sage example
  python/cugraph-dgl/examples/graphsage/README.MD
  python/cugraph-dgl/examples/graphsage/node-classification.py
Labels: improvement, non-breaking

#3379 Properly retrieve the dask worker from client calls
  python/cugraph/cugraph/dask/comms/comms.py
Labels: improvement, non-breaking

#3329 docs: Typo on Leiden docstring
  python/cugraph/cugraph/community/leiden.py
Labels: doc, non-breaking

#3389 Replace CUDA_TRY with RAFT_CUDA_TRY
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
  cpp/libcugraph_etl/src/renumbering.cu
  cpp/tests/structure/streams.cu
  cpp/tests/utilities/mg_utilities.cpp
Labels: bug, non-breaking

#3400 Pin cupy in wheel tests to supported versions
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3371 MG C++ test updates
  cpp/include/cugraph/graph_view.hpp
  cpp/src/c_api/random.cpp
  cpp/tests/c_api/mg_generate_rmat_test.c
  cpp/tests/centrality/betweenness_centrality_test.cpp
  cpp/tests/centrality/betweenness_centrality_validate.cu
  cpp/tests/centrality/betweenness_centrality_validate.hpp
  cpp/tests/centrality/mg_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_eigenvector_centrality_test.cpp
  cpp/tests/centrality/mg_katz_centrality_test.cpp
  cpp/tests/community/mg_egonet_test.cu
  cpp/tests/community/mg_louvain_test.cpp
  cpp/tests/community/mg_triangle_count_test.cpp
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/wcc_test.cpp
  cpp/tests/cores/mg_core_number_test.cpp
  cpp/tests/cores/mg_k_core_test.cpp
  cpp/tests/link_analysis/mg_hits_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_prediction/mg_similarity_test.cpp
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_count_if_v.cu
  cpp/tests/prims/mg_extract_transform_e.cu
  cpp/tests/prims/mg_extract_transform_v_frontier_outgoing_e.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
  cpp/tests/sampling/mg_random_walks_test.cpp
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_random_walks_test.cpp
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
  cpp/tests/structure/mg_count_self_loops_and_multi_edges_test.cpp
  cpp/tests/structure/mg_induced_subgraph_test.cu
  cpp/tests/structure/mg_symmetrize_test.cpp
  cpp/tests/structure/mg_transpose_storage_test.cpp
  cpp/tests/structure/mg_transpose_test.cpp
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/traversal/mg_extract_bfs_paths_test.cu
  cpp/tests/traversal/mg_k_hop_nbrs_test.cpp
  cpp/tests/traversal/mg_sssp_test.cpp
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/test_utilities.hpp
  cpp/tests/utilities/test_utilities_impl.cuh
  cpp/tests/utilities/test_utilities_mg.cu
Labels: improvement, non-breaking
