Repository rapidsai/cugraph, pull requests merged in 2023-11, with the labels that each got.

#3961 [BUG] Check if Dask has quit to avoid throwing an exception and triggering a segfault on ddp exit
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
Labels: bug, non-breaking

#3970 Skip certain `cugraph-pyg` tests when torch-sparse is not available
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
Labels: improvement, non-breaking

#3980 [BUG] Restore the original default order of CSR, which does not reverse edges in cuGraph-PyG
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
Labels: bug, breaking, CRITICAL BUG!

#3979 Fix eigenvector testing and HITS testing discrepancies
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/tests/c_api/eigenvector_centrality_test.c
  cpp/tests/centrality/eigenvector_centrality_test.cpp
  cpp/tests/link_analysis/hits_test.cpp
  python/cugraph/cugraph/tests/link_analysis/test_hits.py
Labels: bug, non-breaking

#3977 [REVIEW]Optimize cugraph-DGL csc codepath
  benchmarks/cugraph-dgl/scale-benchmarks/cugraph_dgl_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/model.py
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
Labels: improvement, non-breaking

#3973 CuGraph compatibility fixes
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
Labels: improvement, non-breaking

#3984 Updates README file to include nx-cugraph user documentation, adds nx-cugraph to main README
  README.md
  img/Stack2.png
  python/nx-cugraph/README.md
Labels: improvement, non-breaking

#3989 Fixes to nx-cugraph README: fixes typos, updates link to NX backend docs
  python/nx-cugraph/README.md
Labels: improvement, non-breaking

#3994 Adds `update-version.sh` support for recently added files containing RAPIDS versions
  ci/release/update-version.sh
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: improvement, non-breaking

#3993 Move MTMG_TEST to MG tests block
  build.sh
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  python/cugraph/cugraph/structure/property_graph.py
Labels: bug, non-breaking

#3991 Use new `rapids-dask-dependency` metapackage for managing `dask` versions
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking

#4004 Pin to minor versions of packages outside the cuGraph repository.
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
Labels: bug, non-breaking

#3978 [BUG] Fix Incorrect Edge Index, Directory Selection in cuGraph-PyG Loader
  ci/test_python.sh
  conda/recipes/cugraph-pyg/meta.yaml
  dependencies.yaml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
Labels: bug, non-breaking, CRITICAL BUG!

#4009 Build concurrency for nightly and merge triggers
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#4011 Find rmm before cuco
  cpp/CMakeLists.txt
Labels: bug, non-breaking

#3957 `Resultset` and `Dataset` Refactors
  datasets/README.md
  python/cugraph-pyg/cugraph_pyg/tests/conftest.py
  python/cugraph-service/server/cugraph_service_server/testing/benchmark_server_extension.py
  python/cugraph/cugraph/dask/community/leiden.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/cugraph/cugraph/datasets/__init__.py
  python/cugraph/cugraph/datasets/dataset.py
  python/cugraph/cugraph/datasets/metadata/cit-patents.yaml
  python/cugraph/cugraph/datasets/metadata/europe_osm.yaml
  python/cugraph/cugraph/datasets/metadata/hollywood.yaml
  python/cugraph/cugraph/datasets/metadata/soc-livejournal1.yaml
  python/cugraph/cugraph/datasets/metadata/soc-twitter-2010.yaml
  python/cugraph/cugraph/experimental/datasets/__init__.py
  python/cugraph/cugraph/experimental/datasets/dataset.py
  python/cugraph/cugraph/experimental/datasets/datasets_config.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/__init__.py
  python/cugraph/cugraph/experimental/datasets/metadata/cyber.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/dolphins.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/email-Eu-core.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/karate-disjoint.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/karate.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/karate_asymmetric.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/karate_data.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/karate_undirected.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/ktruss_polbooks.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/netscience.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/polbooks.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/small_line.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/small_tree.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/toy_graph.yaml
  python/cugraph/cugraph/experimental/datasets/metadata/toy_graph_undirected.yaml
  python/cugraph/cugraph/testing/__init__.py
  python/cugraph/cugraph/testing/generate_resultsets.py
  python/cugraph/cugraph/testing/resultset.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/nx/test_compat_pr.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
  python/cugraph/cugraph/tests/utils/test_resultset.py
Labels: improvement, breaking

#4012 Branch 24.02 merge branch 23.12
  .github/workflows/build.yaml
  ci/build_wheel.sh
  ci/release/update-version.sh
  ci/test_python.sh
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: bug, DO NOT MERGE, non-breaking

#3985 [BUG] Fix Graph Construction From Pandas in cuGraph-PyG
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
Labels: bug, non-breaking, CRITICAL BUG!

#3988 Address FIXMEs
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/utilities/device_comm.hpp
  cpp/include/cugraph/utilities/host_scalar_comm.hpp
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
Labels: improvement, non-breaking

#3990 Fix Leiden refinement phase
  cpp/src/community/detail/common_methods.cuh
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/community/flatten_dendrogram.hpp
  cpp/src/community/leiden_impl.cuh
  cpp/tests/c_api/leiden_test.c
  cpp/tests/c_api/louvain_test.c
  cpp/tests/community/louvain_test.cpp
  python/cugraph/cugraph/tests/community/test_leiden.py
Labels: bug, non-breaking

#3995 Support `drop_last` Argument in cuGraph-PyG Loader
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
Labels: improvement, non-breaking

#3875 Enable parallel mode
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/collect_comm_wrapper.hpp
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/allgather.cpp
  cpp/src/c_api/extract_ego.cpp
  cpp/src/c_api/induced_subgraph.cpp
  cpp/src/c_api/induced_subgraph_result.cpp
  cpp/src/c_api/induced_subgraph_result.hpp
  cpp/src/c_api/legacy_k_truss.cpp
  cpp/src/detail/collect_comm_wrapper.cu
  dependencies.yaml
  python/cugraph/cugraph/structure/__init__.py
  python/cugraph/cugraph/structure/replicate_edgelist.py
  python/cugraph/cugraph/tests/community/test_induced_subgraph_mg.py
  python/cugraph/cugraph/tests/internals/test_replicate_edgelist_mg.py
  python/cugraph/pyproject.toml
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/replicate_edgelist.pyx
Labels: improvement, non-breaking

#3982 Update C API graph creation function signatures
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph_c/graph.h
  cpp/include/cugraph_c/resource_handle.h
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/resource_handle.cpp
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/remove_multi_edges.cu
  cpp/src/structure/remove_multi_edges_impl.cuh
  cpp/src/structure/remove_self_loops.cu
  cpp/src/structure/remove_self_loops_impl.cuh
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_create_graph_test.c
Labels: improvement, non-breaking

#4002 [DOC]: Fix invalid links and add materials to notebooks
  docs/cugraph/source/graph_support/algorithms/Centrality.md
  docs/cugraph/source/installation/getting_cugraph.md
  notebooks/algorithms/centrality/Centrality.ipynb
  notebooks/algorithms/centrality/Degree.ipynb
  notebooks/algorithms/centrality/Katz.ipynb
  readme_pages/CONTRIBUTING.md
Labels: doc, non-breaking

#4019 `nx-cugraph` README update: adds missing `connected_components` algo to table
  python/nx-cugraph/README.md
Labels: improvement, non-breaking

#3941 Moves more MG graph ETL to libcugraph and re-enables MG tests in CI
  ci/test_python.sh
  ci/test_wheel.sh
  cpp/include/cugraph_c/graph.h
  python/cugraph/cugraph/dask/community/egonet.py
  python/cugraph/cugraph/dask/community/induced_subgraph.py
  python/cugraph/cugraph/dask/community/leiden.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/sampling/random_walks.py
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/testing/mg_utils.py
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/link_analysis/test_hits_mg.py
  python/cugraph/cugraph/tests/structure/test_graph_mg.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph.pxd
  python/pylibcugraph/pylibcugraph/analyze_clustering_edge_cut.pyx
  python/pylibcugraph/pylibcugraph/analyze_clustering_modularity.pyx
  python/pylibcugraph/pylibcugraph/analyze_clustering_ratio_cut.pyx
  python/pylibcugraph/pylibcugraph/balanced_cut_clustering.pyx
  python/pylibcugraph/pylibcugraph/ecg.pyx
  python/pylibcugraph/pylibcugraph/edge_betweenness_centrality.pyx
  python/pylibcugraph/pylibcugraph/egonet.pyx
  python/pylibcugraph/pylibcugraph/eigenvector_centrality.pyx
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/induced_subgraph.pyx
  python/pylibcugraph/pylibcugraph/k_truss_subgraph.pyx
  python/pylibcugraph/pylibcugraph/leiden.pyx
  python/pylibcugraph/pylibcugraph/louvain.pyx
  python/pylibcugraph/pylibcugraph/node2vec.pyx
  python/pylibcugraph/pylibcugraph/pagerank.pyx
  python/pylibcugraph/pylibcugraph/personalized_pagerank.pyx
  python/pylibcugraph/pylibcugraph/spectral_modularity_maximization.pyx
  python/pylibcugraph/pylibcugraph/sssp.pyx
  python/pylibcugraph/pylibcugraph/tests/conftest.py
  python/pylibcugraph/pylibcugraph/tests/test_eigenvector_centrality.py
  python/pylibcugraph/pylibcugraph/tests/test_graph_sg.py
  python/pylibcugraph/pylibcugraph/tests/test_katz_centrality.py
  python/pylibcugraph/pylibcugraph/tests/test_louvain.py
  python/pylibcugraph/pylibcugraph/tests/test_node2vec.py
  python/pylibcugraph/pylibcugraph/tests/test_pagerank.py
  python/pylibcugraph/pylibcugraph/tests/test_sssp.py
  python/pylibcugraph/pylibcugraph/tests/test_triangle_count.py
  python/pylibcugraph/pylibcugraph/tests/test_uniform_neighbor_sample.py
  python/pylibcugraph/pylibcugraph/tests/test_utils.py
  python/pylibcugraph/pylibcugraph/uniform_random_walks.pyx
  python/pylibcugraph/pylibcugraph/weakly_connected_components.pyx
Labels: improvement, breaking

#4021 Correct defect found in DLFW testing
  cpp/src/c_api/graph_mg.cpp
  cpp/tests/c_api/mg_test_utils.cpp
Labels: improvement, non-breaking

#4024 Removes unsupported `setup.py` calls, cleans up text
  docs/cugraph/source/installation/source_build.md
Labels: improvement, non-breaking
