Repository rapidsai/cugraph, pull requests merged in 2023-02, with the labels that each got.

#3211 Updates dependency to latest DGL
  conda/recipes/cugraph-dgl/meta.yaml
Labels: improvement, non-breaking

#3167 Fixes devices vector alloc to fix seg fault, removes unused RAFT code in PLC, re-enables full CI testing
  ci/test_notebooks.sh
  ci/test_python.sh
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/community/legacy/spectral_clustering.cu
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/raft/__init__.py
  python/pylibcugraph/pylibcugraph/raft/common/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/raft/common/TODO
  python/pylibcugraph/pylibcugraph/raft/common/__init__.py
  python/pylibcugraph/pylibcugraph/raft/common/cuda.pxd
  python/pylibcugraph/pylibcugraph/raft/common/cuda.pyx
  python/pylibcugraph/pylibcugraph/raft/common/handle.pxd
  python/pylibcugraph/pylibcugraph/raft/common/handle.pyx
  python/pylibcugraph/pylibcugraph/tests/test_graph_sg.py
Labels: bug, non-breaking

#3229 Fix Edge case in Bulk Sampler
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/tests/test_bulk_sampler.py
Labels: bug, non-breaking, Fix

#3231 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking

#3096 Build pip wheels alongside conda CI
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/wheels.yml
  ci/release/update-version.sh
  ci/wheel_smoke_test_cugraph.py
  ci/wheel_smoke_test_pylibcugraph.py
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  python/cugraph/CMakeLists.txt
  python/cugraph/_custom_build/backend.py
  python/cugraph/setup.py
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/_custom_build/backend.py
  python/pylibcugraph/setup.py
Labels: improvement, non-breaking

#3222 Move date to build string in `conda` recipe
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
Labels: improvement, non-breaking

#3232 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/setup.py
Labels: improvement, breaking

#3240 [REVIEW] Resolve auto merger
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/setup.py
Labels: improvement, non-breaking

#3237 Minor code clean-up
  cpp/src/structure/graph_view_impl.cuh
Labels: 3 - Ready for Review, improvement, non-breaking

#3241 [REVIEW] Fix `libraft-distance` version in `23.04`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#3246 Remove legacy C++ code for k-core algorithms
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/cores/legacy/core_number.cu
Labels: 3 - Ready for Review, improvement, breaking

#3214 Fix libcugraph debug build warnings/errors
  cpp/src/sampling/random_walks_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/legacy/graph.cu
  cpp/src/utilities/eidir_graph_utils.hpp
Labels: bug, 3 - Ready for Review, non-breaking

#3169 Performance tuning the sampling primitive for multi-node multi-GPU systems.
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#3250 Remove legacy mg bfs
  cpp/src/traversal/legacy/bfs.cu
  cpp/src/traversal/legacy/mg/bfs.cuh
  cpp/src/traversal/legacy/mg/common_utils.cuh
  cpp/src/traversal/legacy/mg/frontier_expand.cuh
  cpp/src/traversal/legacy/mg/frontier_expand_kernels.cuh
  cpp/src/traversal/legacy/mg/vertex_binning.cuh
  cpp/src/traversal/legacy/mg/vertex_binning_kernels.cuh
Labels: 3 - Ready for Review, improvement, breaking

#3248 Remove legacy two_hop_neighbors function
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/utilities/path_retrieval.hpp
  cpp/src/traversal/legacy/two_hop_neighbors.cu
  cpp/src/traversal/legacy/two_hop_neighbors.cuh
  python/cugraph/cugraph/structure/graph_primtypes.pxd
  python/cugraph/cugraph/structure/graph_primtypes_wrapper.pyx
Labels: 3 - Ready for Review, improvement, breaking

#3251 Update shared workflow branches
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3253 Bump pinned pip wheel deps to 23.4
  python/cugraph/_custom_build/backend.py
  python/cugraph/setup.py
  python/pylibcugraph/_custom_build/backend.py
  python/pylibcugraph/setup.py
Labels: 3 - Ready for Review, improvement, non-breaking

#3238 Uniform sampling code cleanup and minor performance tuning
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/tests/sampling/detail/nbr_sampling_utils.cuh
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#3160 Implement Vertex betweenness centrality
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph_c/centrality_algorithms.h
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/betweenness_centrality.cpp
  cpp/src/c_api/error.hpp
  cpp/src/c_api/random.cpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/centrality/betweenness_centrality_mg.cu
  cpp/src/centrality/betweenness_centrality_sg.cu
  cpp/src/detail/utility_wrappers.cu
  cpp/src/generators/generate_rmat_edgelist.cu
  cpp/src/layout/legacy/barnes_hut.cuh
  cpp/src/layout/legacy/exact_fa2.cuh
  cpp/src/sampling/random_walks.cuh
  cpp/src/structure/select_random_vertices_impl.hpp
  cpp/src/structure/select_random_vertices_mg.cpp
  cpp/src/structure/select_random_vertices_sg.cpp
  cpp/tests/c_api/betweenness_centrality_test.c
  cpp/tests/c_api/edge_betweenness_centrality.c
  cpp/tests/c_api/mg_betweenness_centrality_test.c
  cpp/tests/centrality/betweenness_centrality_reference.hpp
  cpp/tests/centrality/betweenness_centrality_test.cpp
  cpp/tests/centrality/betweenness_centrality_validate.cu
  cpp/tests/centrality/betweenness_centrality_validate.hpp
  cpp/tests/centrality/edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/test_utilities_impl.cuh
Labels: improvement, non-breaking

#3265 Remove cublas from the link dependencies
  cpp/CMakeLists.txt
Labels: improvement, non-breaking

#3252 Remove legacy sampling implementation, no longer used
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/detail/graph_functions.hpp
  cpp/src/sampling/detail/sampling_utils_impl.cuh
  cpp/src/sampling/detail/sampling_utils_mg.cu
  cpp/src/sampling/detail/sampling_utils_sg.cu
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/src/sampling/uniform_neighbor_sampling_mg.cpp
  cpp/src/sampling/uniform_neighbor_sampling_sg.cpp
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: improvement, breaking

#3258 Reduce error handling verbosity in CI tests scripts
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking

#3267 Download datasets in ARM wheel tests.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#3243 [REVIEW] Unpin `dask` and `distributed` for development
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  python/cugraph-service/server/setup.py
Labels: improvement, non-breaking

#3249 Bug fix to BulkSampler
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/tests/mg/test_mg_bulk_sampler.py
  python/cugraph/cugraph/tests/test_bulk_sampler.py
Labels: bug, non-breaking

#3268 Cleanup obsolete visitor code
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/visitors/enum_mapping.hpp
  cpp/include/cugraph/visitors/erased_pack.hpp
  cpp/include/cugraph/visitors/graph_enum.hpp
  cpp/include/cugraph/visitors/graph_envelope.hpp
  cpp/include/cugraph/visitors/ret_terased.hpp
  cpp/include/cugraph_c/array.h
  cpp/include/cugraph_c/resource_handle.h
  cpp/src/c_api/abstract_functor.hpp
  cpp/src/c_api/array.cpp
  cpp/src/c_api/array.hpp
  cpp/src/c_api/extract_ego.cpp
  cpp/src/c_api/generic_cascaded_dispatch.hpp
  cpp/src/c_api/graph.hpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/random_walks.cpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/c_api/utils.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/create_sg_graph_envelope_test.c
  cpp/tests/c_api/random_walks_test.c
Labels: improvement, breaking

#3283 remove legacy WCC code
  cpp/include/cugraph/algorithms.hpp
  cpp/src/components/legacy/connectivity.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/components/con_comp_test.cu
  python/pylibcugraph/pylibcugraph/components/_connectivity.pxd
Labels: improvement, breaking

#3242 Remove gpuCI scripts.
  README.md
  ci/benchmark/build.sh
  ci/checks/changelog.sh
  ci/checks/style.sh
  ci/cpu/build.sh
  ci/cpu/prebuild.sh
  ci/cpu/upload.sh
  ci/gpu/build.sh
  ci/gpu/notebook_list.py
  ci/gpu/test-notebooks.sh
  ci/notebook_list.py
  ci/release/update-version.sh
  ci/test_notebooks.sh
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  readme_pages/SOURCEBUILD.md
Labels: improvement, non-breaking

#3295 Disable dataset downloads in ARM smoke tests.
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#3175 Allow adding data to PropertyGraph that already has indices set
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: feature request, non-breaking

#3294 Add dfg as a pre-commit hook.
  .github/workflows/pr.yaml
  .pre-commit-config.yaml
Labels: improvement, non-breaking

#3270 Add missing cugraph-ops conditional
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
Labels: bug, non-breaking

#3157 Add docs build job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .gitignore
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/cugraph/source/api_docs/centrality.rst
  docs/cugraph/source/api_docs/cugraph_pyg.rst
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/conf.py
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/relgraphconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/sageconv.py
  python/cugraph/cugraph/link_analysis/pagerank.py
Labels: improvement, non-breaking
