Repository rapidsai/cugraph, pull requests merged in 2023-08, with the labels that each got.

#3761 Pin `dask` and `distributed` for `23.08` release
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking

#3762 Change the renumber_sampled_edgelist function behavior.
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/renumber_sampled_edgelist_impl.cuh
  cpp/src/sampling/renumber_sampled_edgelist_sg.cu
  cpp/tests/sampling/renumber_sampled_edgelist_test.cu
Labels: bug, breaking

#3757 fix inconsistent graph properties between the SG and the MG API
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/testing/utils.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/community/test_balanced_cut.py
  python/cugraph/cugraph/tests/community/test_induced_subgraph_mg.py
  python/cugraph/cugraph/tests/community/test_k_truss_subgraph.py
  python/cugraph/cugraph/tests/community/test_triangle_count_mg.py
  python/cugraph/cugraph/tests/core/test_k_core_mg.py
  python/cugraph/cugraph/tests/link_analysis/test_pagerank.py
  python/cugraph/cugraph/tests/nx/test_nx_convert.py
  python/cugraph/cugraph/tests/sampling/test_random_walks.py
  python/cugraph/cugraph/tests/structure/test_graph.py
  python/cugraph/cugraph/tests/structure/test_graph_mg.py
  python/cugraph/cugraph/tests/structure/test_multigraph.py
  python/cugraph/cugraph/utilities/nx_factory.py
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/uniform_random_walks.pyx
Labels: bug, non-breaking

#3716 Update to Cython 3.0.0
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  dependencies.yaml
  python/cugraph/cugraph/community/ktruss_subgraph_wrapper.pyx
  python/cugraph/cugraph/structure/graph_primtypes.pxd
  python/cugraph/cugraph/structure/graph_primtypes.pyx
  python/cugraph/pyproject.toml
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
  python/pylibcugraph/pyproject.toml
Labels: improvement, breaking

#3778 Fixes `KeyError` for `get_two_hop_neighbors` when called with a small start vertices list
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: bug, non-breaking

#3614 Add new cugraph-nx package (networkx backend using pylibcugraph)
  build.sh
  cpp/tests/traversal/od_shortest_distances_test.cpp
  docs/cugraph/source/installation/source_build.md
  python/cugraph-nx/.flake8
  python/cugraph-nx/LICENSE
  python/cugraph-nx/Makefile
  python/cugraph-nx/README.md
  python/cugraph-nx/conftest.py
  python/cugraph-nx/cugraph_nx/__init__.py
  python/cugraph-nx/cugraph_nx/algorithms/__init__.py
  python/cugraph-nx/cugraph_nx/algorithms/centrality/__init__.py
  python/cugraph-nx/cugraph_nx/algorithms/centrality/betweenness.py
  python/cugraph-nx/cugraph_nx/classes/__init__.py
  python/cugraph-nx/cugraph_nx/classes/digraph.py
  python/cugraph-nx/cugraph_nx/classes/graph.py
  python/cugraph-nx/cugraph_nx/convert.py
  python/cugraph-nx/cugraph_nx/interface.py
  python/cugraph-nx/cugraph_nx/tests/__init__.py
  python/cugraph-nx/cugraph_nx/tests/bench_convert.py
  python/cugraph-nx/cugraph_nx/tests/conftest.py
  python/cugraph-nx/cugraph_nx/tests/test_convert.py
  python/cugraph-nx/cugraph_nx/tests/test_match_api.py
  python/cugraph-nx/cugraph_nx/typing.py
  python/cugraph-nx/cugraph_nx/utils/__init__.py
  python/cugraph-nx/cugraph_nx/utils/decorators.py
  python/cugraph-nx/lint.yaml
  python/cugraph-nx/pyproject.toml
  python/cugraph-nx/run_nx_tests.sh
  python/cugraph-nx/setup.py
Labels: improvement, non-breaking

#3789 Fix ValueError Caused By Batches With No Samples
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
Labels: bug, breaking

#3779 Clean-up old testing conventions in `test_ecg.py`
  python/cugraph/cugraph/tests/community/test_ecg.py
Labels: improvement, non-breaking

#3777 Calling `dataset.get_edgelist()` returns a copy of an edge list instead of global
  python/cugraph/cugraph/datasets/dataset.py
Labels: improvement, non-breaking

#3782 Allow models to use a lightweight sparse structure
  python/cugraph-dgl/cugraph_dgl/nn/conv/__init__.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/base.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/sageconv.py
  python/cugraph-dgl/tests/conftest.py
  python/cugraph-dgl/tests/nn/test_sageconv.py
  python/cugraph-dgl/tests/nn/test_sparsegraph.py
Labels: improvement, non-breaking

#3811 Use rapidsai/ci:cuda11.8.0-ubuntu22.04-py3.10 for docs build
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#3781 Update `python_run_cugraph` in `dependencies.yaml`
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: bug, non-breaking

#3799 Adds missing copyright and license text to __init__.py package files
  benchmarks/shared/python/cugraph_benchmarking/__init__.py
  python/cugraph-dgl/cugraph_dgl/utils/__init__.py
  python/cugraph-nx/cugraph_nx/tests/__init__.py
  python/cugraph-service/server/cugraph_service_server/testing/__init__.py
  python/cugraph-service/tests/__init__.py
  python/cugraph/cugraph/dask/common/__init__.py
  python/cugraph/cugraph/dask/comms/__init__.py
  python/cugraph/cugraph/dask/components/__init__.py
  python/cugraph/cugraph/dask/link_analysis/__init__.py
  python/cugraph/cugraph/dask/link_prediction/__init__.py
  python/cugraph/cugraph/dask/structure/__init__.py
  python/cugraph/cugraph/dask/traversal/__init__.py
  python/cugraph/cugraph/datasets/metadata/__init__.py
  python/cugraph/cugraph/experimental/compat/__init__.py
  python/cugraph/cugraph/experimental/components/__init__.py
  python/cugraph/cugraph/experimental/datasets/metadata/__init__.py
  python/cugraph/cugraph/experimental/link_prediction/__init__.py
  python/cugraph/cugraph/experimental/structure/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/__init__.py
  python/pylibcugraph/pylibcugraph/components/__init__.py
  python/pylibcugraph/pylibcugraph/internal_types/__init__.py
  python/pylibcugraph/pylibcugraph/structure/__init__.py
  python/pylibcugraph/pylibcugraph/utilities/__init__.py
Labels: improvement, non-breaking

#3705 Testing util improvements and refactoring
  python/cugraph/cugraph/testing/__init__.py
  python/cugraph/cugraph/testing/generate_resultsets.py
  python/cugraph/cugraph/testing/resultset.py
  python/cugraph/cugraph/tests/traversal/test_bfs.py
  python/cugraph/cugraph/tests/traversal/test_paths.py
  python/cugraph/cugraph/tests/traversal/test_sssp.py
Labels: improvement, non-breaking

#3808 Allow cugraph-nx to run networkx tests for nx versions 3.0, 3.1, and 3.2
  python/cugraph-nx/cugraph_nx/interface.py
  python/cugraph-nx/pyproject.toml
  python/cugraph-nx/run_nx_tests.sh
Labels: improvement, non-breaking

#3810 [REVIEW] Cugraph dgl block improvements
  python/cugraph-dgl/cugraph_dgl/dataloading/dataset.py
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph-dgl/tests/test_dataset.py
  python/cugraph-dgl/tests/test_utils.py
Labels: improvement, non-breaking

#3818 Unpin `dask` and `distributed` for `23.10` development
  ci/test_wheel_cugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking

#3817 Update the docstrings of the similarity algorithms
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/sorensen.py
Labels: doc, non-breaking

#3827 Use `copy-pr-bot`
  .github/copy-pr-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#3833 Disable mg tests
  ci/test_python.sh
  ci/test_wheel.sh
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_eigenvector_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_katz_centrality_mg.py
  python/cugraph/cugraph/tests/comms/test_comms_mg.py
  python/cugraph/cugraph/tests/components/test_connectivity_mg.py
  python/cugraph/cugraph/tests/core/test_k_core_mg.py
  python/cugraph/cugraph/tests/internals/test_renumber_mg.py
  python/cugraph/cugraph/tests/link_analysis/test_hits_mg.py
  python/cugraph/cugraph/tests/link_analysis/test_pagerank_mg.py
  python/cugraph/cugraph/tests/link_prediction/test_jaccard_mg.py
  python/cugraph/cugraph/tests/link_prediction/test_overlap_mg.py
  python/cugraph/cugraph/tests/link_prediction/test_sorensen_mg.py
  python/cugraph/cugraph/tests/sampling/test_egonet_mg.py
  python/cugraph/cugraph/tests/sampling/test_random_walks_mg.py
  python/cugraph/cugraph/tests/traversal/test_bfs_mg.py
  python/cugraph/cugraph/tests/traversal/test_sssp_mg.py
Labels: bug, non-breaking

#3813 Fix OD shortest distance matrix computation test failures.
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/tests/traversal/od_shortest_distances_test.cpp
Labels: bug, non-breaking, CRITICAL BUG!

#3829 Remove legacy betweenness centrality
  cpp/CMakeLists.txt
  cpp/src/centrality/legacy/betweenness_centrality.cu
  cpp/src/centrality/legacy/betweenness_centrality.cuh
  cpp/src/centrality/legacy/betweenness_centrality_kernels.cuh
  cpp/src/traversal/legacy/bfs.cu
  cpp/src/traversal/legacy/bfs.cuh
  cpp/src/traversal/legacy/bfs_kernels.cuh
  cpp/src/traversal/legacy/traversal_common.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/legacy/betweenness_centrality_test.cu
  cpp/tests/centrality/legacy/edge_betweenness_centrality_test.cu
  cpp/tests/traversal/legacy/bfs_ref.h
  cpp/tests/traversal/legacy/bfs_test.cu
Labels: improvement, breaking

#3826 Update README.md
  README.md
Labels: improvement, non-breaking

#3823 [BUG] Fix Batch Renumbering of Empty Batches
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io_mg.py
Labels: bug, non-breaking

#3809 Simplify wheel build scripts and allow alphas of RAPIDS dependencies
  ci/build_wheel.sh
  ci/build_wheel_cugraph.sh
  ci/release/apply_wheel_modifications.sh
  ci/test_wheel_cugraph.sh
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-nx/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking
