Repository rapidsai/cugraph, pull requests merged in 2023-01, with the labels that each got.

#3097 GH Actions Notebook Testing Fixes
  .github/workflows/pr.yaml
  conda/environments/all_cuda-115_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#3098 Update workflows for nightly tests
  .github/workflows/build.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3012 Adds better reporting of server subprocess errors during testing
  python/cugraph-service/server/cugraph_service_server/testing/utils.py
Labels: improvement, non-breaking

#3088 [REVIEW] Add cugraph+UCX build instructions
  benchmarks/shared/build_cugraph_ucx/README.MD
  benchmarks/shared/build_cugraph_ucx/build-ucx.sh
  benchmarks/shared/build_cugraph_ucx/cugraph_ucx.dockerfile
  benchmarks/shared/build_cugraph_ucx/test_client_bandwidth.py
  benchmarks/shared/build_cugraph_ucx/test_cugraph_sampling.py
Labels: feature request, 3 - Ready for Review, non-breaking

#2975 Update per_v_transform_reduce_incoming|outgoing_e to take a reduction operator.
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/detail/common_methods.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/extract_if_e.cuh
  cpp/src/prims/extract_transform_v_frontier_outgoing_e.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/prims/reduce_op.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/graph_weight_utils_impl.cuh
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
Labels: feature request, 3 - Ready for Review, non-breaking

#3089 [REVIEW] Add DGL benchmarks
  benchmarks/dgl/README.md
  benchmarks/dgl/create_dataset.py
  benchmarks/dgl/pytest-based/dgl_benchmark.py
Labels: feature request, 3 - Ready for Review, non-breaking

#3055 Bug fix in the C++ CSV file reader (used in C++ testing only).
  cpp/tests/utilities/csv_file_utilities.cu
Labels: bug, 3 - Ready for Review, non-breaking

#2999 Fix MG C++ Jaccard/Overlap/Sorensen coefficients tests.
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/c_api/bfs.cpp
  cpp/src/c_api/extract_ego.cpp
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/induced_subgraph_helper.cu
  cpp/src/c_api/pagerank.cpp
  cpp/src/c_api/triangle_count.cpp
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/detail/shuffle_edgelist.cu
  cpp/src/detail/shuffle_vertex_pairs.cu
  cpp/src/detail/shuffle_vertices.cu
  cpp/src/link_prediction/jaccard_impl.cuh
  cpp/src/link_prediction/jaccard_mg.cu
  cpp/src/link_prediction/jaccard_sg.cu
  cpp/src/link_prediction/overlap_impl.cuh
  cpp/src/link_prediction/overlap_mg.cu
  cpp/src/link_prediction/overlap_sg.cu
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/link_prediction/sorensen_impl.cuh
  cpp/src/link_prediction/sorensen_mg.cu
  cpp/src/link_prediction/sorensen_sg.cu
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/symmetrize_edgelist_impl.cuh
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/tests/centrality/mg_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/community/mg_egonet_test.cu
  cpp/tests/link_prediction/mg_similarity_test.cpp
  cpp/tests/link_prediction/similarity_compare.hpp
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/structure/mg_induced_subgraph_test.cu
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/test_utilities.hpp
  cpp/tests/utilities/test_utilities_impl.cuh
Labels: 3 - Ready for Review, improvement, non-breaking, Fix

#3092 [REVIEW] cugraph_dgl benchmarks
  benchmarks/cugraph-dgl/pytest-based/README.MD
  benchmarks/cugraph-dgl/pytest-based/bench_cugraph_dgl_uniform_neighbor_sample.py
  benchmarks/shared/python/cugraph_benchmarking/params.py
  ci/test_python.sh
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
Labels: feature request, 3 - Ready for Review, non-breaking

#3119 Updates README for cugraph-service to provide an up-to-date quickstart
  python/cugraph-service/README.md
  python/cugraph-service/img/cugraph_service_pict.png
Labels: improvement, non-breaking

#3132 TEMPORARILY allows python and notebook tests that return exit code 139 to pass.
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-115_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, non-breaking

#3093 Fix C++ Bugs in Graph Creation with Edge Properties
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
Labels: improvement, non-breaking, Fix

#3087 Adds initial cugraph-service client scaling benchmark, refactorings, performance config updates
  benchmarks/cugraph-service/pytest-based/bench_cgs_client_scaling.py
  benchmarks/cugraph-service/pytest-based/bench_cgs_uniform_neighbor_sample.py
  benchmarks/cugraph/pytest-based/bench_cugraph_uniform_neighbor_sample.py
  benchmarks/pytest.ini
  benchmarks/shared/python/cugraph_benchmarking/params.py
  benchmarks/shared/python/cugraph_benchmarking/timer.py
  python/cugraph-service/server/cugraph_service_server/__init__.py
  python/cugraph-service/server/cugraph_service_server/__main__.py
  python/cugraph-service/server/cugraph_service_server/cugraph_handler.py
  python/cugraph-service/server/cugraph_service_server/testing/benchmark_server_extension.py
  python/cugraph-service/server/cugraph_service_server/testing/utils.py
  python/cugraph-service/server/setup.py
  python/cugraph-service/tests/test_cugraph_handler.py
  python/cugraph-service/tests/test_mg_cugraph_handler.py
  python/cugraph-service/tests/test_mg_e2e.py
  python/cugraph-service/tests/test_remote_graph.py
  python/cugraph/cugraph/testing/mg_utils.py
Labels: improvement, non-breaking

#2996 Use Vertex ID Offsets in CuGraphStorage
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/dispatch.py
  python/cugraph-pyg/cugraph_pyg/tests/conftest.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph-service/client/cugraph_service_client/client.py
  python/cugraph-service/client/cugraph_service_client/cugraph_service_thrift.py
  python/cugraph-service/client/cugraph_service_client/remote_graph.py
  python/cugraph-service/client/cugraph_service_client/remote_graph_utils.py
  python/cugraph-service/client/cugraph_service_client/types.py
  python/cugraph-service/server/cugraph_service_server/cugraph_handler.py
  python/cugraph-service/tests/test_e2e.py
  python/cugraph-service/tests/test_remote_graph.py
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking, Fix

#3126 Drop DiGraph
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/components/connectivity.py
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/structure/__init__.py
  python/cugraph/cugraph/structure/convert_matrix.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/testing/utils.py
  python/cugraph/cugraph/tests/test_balanced_cut.py
  python/cugraph/cugraph/tests/test_bfs.py
  python/cugraph/cugraph/tests/test_connectivity.py
  python/cugraph/cugraph/tests/test_convert_matrix.py
  python/cugraph/cugraph/tests/test_graph.py
  python/cugraph/cugraph/tests/test_louvain.py
  python/cugraph/cugraph/tests/test_multigraph.py
  python/cugraph/cugraph/tests/test_nx_convert.py
  python/cugraph/cugraph/tests/test_random_walks.py
  python/cugraph/cugraph/tests/test_sssp.py
  python/cugraph/cugraph/tests/test_subgraph_extraction.py
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/ms_bfs.py
  python/cugraph/cugraph/traversal/sssp.py
  python/cugraph/cugraph/utilities/utils.py
Labels: improvement, non-breaking

#3090 Fix tests for MG property graph
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
Labels: improvement, non-breaking, Fix

#3127 build.sh switch to use `RAPIDS` magic value
  build.sh
Labels: improvement, non-breaking

#3061 Sampling primitive performance optimization.
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/utilities/mg_utilities.cpp
  cpp/tests/utilities/mg_utilities.hpp
  cpp/tests/utilities/thrust_wrapper.cu
Labels: 3 - Ready for Review, improvement, non-breaking

#3128 Fix documentation author
  docs/cugraph/source/conf.py
Labels: improvement, non-breaking

#3123 MGPropertyGraph: fix OOM when renumbering by type
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
Labels: merge conflict, improvement, non-breaking

#3143 [REVIEW] Update cugraph_dgl to use the new FeatureStore
  benchmarks/cugraph-dgl/notebooks/get_node_storage.ipynb
  benchmarks/cugraph-dgl/notebooks/heterogeneous_dataloader_benchmark.ipynb
  benchmarks/cugraph-dgl/notebooks/homogenous_dataloader_benchmark.ipynb
  benchmarks/cugraph-dgl/python-script/ogbn_mag_benchmark.py
  python/cugraph-dgl/cugraph_dgl/__init__.py
  python/cugraph-dgl/cugraph_dgl/convert.py
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_conversion_utils.py
  python/cugraph-dgl/cugraph_dgl/utils/cugraph_storage_utils.py
  python/cugraph-dgl/cugraph_dgl/utils/feature_storage.py
  python/cugraph-dgl/tests/test_cugraph_storage.py
  python/cugraph-dgl/tests/utils.py
  python/cugraph/cugraph/gnn/dgl_extensions/dgl_uniform_sampler.py
  python/cugraph/cugraph/gnn/dgl_extensions/utils/sampling.py
  python/cugraph/cugraph/gnn/feature_storage/feat_storage.py
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/mg/test_mg_dgl_uniform_sampler.py
  python/cugraph/cugraph/tests/test_dgl_extension_graph_store.py
  python/cugraph/cugraph/tests/test_dgl_uniform_sampler.py
Labels: improvement, breaking

#3161 Update to support NetworkX 3.0 (and handle other deprecations)
  conda/environments/all_cuda-115_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/cugraph/tests/generators/test_rmat.py
  python/cugraph/cugraph/tests/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/test_bfs.py
  python/cugraph/cugraph/tests/test_convert_matrix.py
  python/cugraph/cugraph/tests/test_edge_betweenness_centrality.py
  python/cugraph/cugraph/tests/test_graph.py
  python/cugraph/cugraph/tests/test_hungarian.py
  python/cugraph/cugraph/tests/test_paths.py
  python/cugraph/cugraph/traversal/sssp.py
Labels: improvement, non-breaking

#3101 [IMP] Speed Improvements for cuGraph-PyG (Short Circuit, Use Type Indices)
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
  python/cugraph/cugraph/tests/test_property_graph.py
Labels: improvement, non-breaking

#3082 Implement New Sampling API in Python
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/uniform_neighbor_sampling_impl.hpp
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph/cugraph/dask/common/mg_utils.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/mg/test_mg_doctests.py
  python/cugraph/cugraph/tests/mg/test_mg_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/test_doctests.py
  python/cugraph/cugraph/tests/test_graph.py
  python/cugraph/cugraph/tests/test_uniform_neighbor_sample.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/random.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
  python/pylibcugraph/pylibcugraph/random.pxd
  python/pylibcugraph/pylibcugraph/random.pyx
  python/pylibcugraph/pylibcugraph/testing/type_utils.pyx
  python/pylibcugraph/pylibcugraph/testing/utils.py
  python/pylibcugraph/pylibcugraph/tests/test_uniform_neighbor_sample.py
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: feature request, breaking

#3171 Update cuhornet to fix `using namespace rmm;`.
  cpp/cmake/thirdparty/get_cuhornet.cmake
Labels: 3 - Ready for Review, improvement, non-breaking

#3120 Build CUDA 11.8 and Python 3.10 Packages
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  dependencies.yaml
  python/cugraph-pyg/setup.py
  python/cugraph/setup.py
  python/pylibcugraph/setup.py
  readme_pages/SOURCEBUILD.md
  readme_pages/getting_cugraph.md
Labels: improvement, non-breaking

#3155 Remove CGS from cuGraph-PyG
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/dispatch.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/int/test_int_cgs.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
Labels: improvement, breaking

#3174 Pin gcc to 9.x.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, 3 - Ready for Review, non-breaking

#3183 Fix merge conflicts
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  dependencies.yaml
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/dispatch.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/int/test_int_cgs.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/setup.py
  python/cugraph/setup.py
  python/pylibcugraph/setup.py
  readme_pages/SOURCEBUILD.md
  readme_pages/getting_cugraph.md
Labels: improvement, non-breaking

#3190 Import handle from core
  python/pylibcugraph/pylibcugraph/raft/common/handle.pxd
Labels: bug, 3 - Ready for Review, non-breaking

#3166 add type annotations to `cugraph_dgl` nn modules
  python/cugraph-dgl/conda/cugraph_dgl_dev_11.6.yml
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/relgraphconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/sageconv.py
  python/cugraph-dgl/tests/nn/test_gatconv.py
  python/cugraph-dgl/tests/nn/test_relgraphconv.py
  python/cugraph-dgl/tests/nn/test_sageconv.py
Labels: improvement, non-breaking

#3159 Replace PropertyGraph in cugraph-PyG with FeatureStore
  python/cugraph-pyg/cugraph_pyg/data/__init__.py
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph/cugraph/gnn/feature_storage/feat_storage.py
Labels: improvement, breaking

#3135 Create a notebook comparing nx and cuGraph using synthetic data
  notebooks/applications/gen_550M.ipynb
  notebooks/cugraph_benchmarks/synth_release.ipynb
Labels: doc, non-breaking, P1

#3156 Adding density algorithm and test
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/tests/test_graph.py
Labels: improvement, non-breaking

#3184 [FEA] Enable using cugraph uniform sampling in multi client environments
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/test_uniform_neighbor_sample.py
Labels: improvement, non-breaking

#3191 Drop extraneous columns that were appearing in MGPropertyGraph
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/tests/mg/test_mg_property_graph.py
Labels: improvement, non-breaking, Fix

#3170 Bulk Loading Support for cuGraph-PyG
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-pyg/cugraph_pyg/data/__init__.py
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/__init__.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/loader/filter.py
  python/cugraph-pyg/cugraph_pyg/sampler/__init__.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/conftest.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/utilities/api_tools.py
  python/cugraph/cugraph/experimental/gnn/__init__.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/tests/mg/test_mg_bulk_sampler.py
  python/cugraph/cugraph/tests/test_bulk_sampler.py
Labels: feature request, non-breaking
