Repository rapidsai/cugraph, pull requests merged in 2023-12, with the labels that each got.

#4034 Fix % 0 bug in MG_SELECT_RANDOM_VERTICES test
  cpp/tests/structure/mg_select_random_vertices_test.cpp
Labels: bug, non-breaking

#4038 Pin actions/labeler to v4
  .github/workflows/labeler.yml
Labels: bug, non-breaking

#4032 Clean up self-loop and multi-edge removal logic
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/remove_multi_edges_impl.cuh
  cpp/src/structure/remove_self_loops_impl.cuh
  cpp/tests/community/triangle_count_test.cpp
  cpp/tests/utilities/test_graphs.hpp
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: improvement, non-breaking, cuGraph

#4046 Add a barrier before cugraph Graph creation
  python/cugraph/cugraph/dask/common/mg_utils.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: bug, non-breaking, python

#4043 Fix HITS convergence error.
  cpp/src/link_analysis/hits_impl.cuh
  cpp/tests/c_api/hits_test.c
  cpp/tests/c_api/mg_hits_test.c
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/mg_hits_test.cpp
Labels: improvement, non-breaking, cuGraph

#4041 Remove CUGRAPH_BUILD_WHEELS and standardize Python builds
  ci/build_wheel_cugraph.sh
  ci/build_wheel_pylibcugraph.sh
  python/cugraph/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
Labels: improvement, non-breaking, CMake, python, ci

#4045 Update dependencies.yaml to new pip index
  dependencies.yaml
Labels: improvement, non-breaking

#3862 Update for CCCL 2.x
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/community/detail/mis_impl.cuh
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/detail/collect_local_vertex_values.cu
  cpp/src/generators/erdos_renyi_generator.cu
  cpp/src/generators/simple_generators.cu
  cpp/src/mtmg/vertex_result.cu
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/tests/sampling/sampling_post_processing_test.cu
Labels: improvement, non-breaking, cuGraph

#3914 Add `HeteroGATConv` to `cugraph-pyg`
  python/cugraph-pyg/cugraph_pyg/nn/conv/__init__.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/hetero_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/conftest.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_hetero_gat_conv.py
Labels: improvement, non-breaking, python

#4028 nx-cugraph: update usage of `nodes_or_number` for nx compat
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/generators.py
  python/nx-cugraph/nx_cugraph/algorithms/core.py
  python/nx-cugraph/nx_cugraph/generators/classic.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
Labels: improvement, non-breaking, python

#4026 Replace graph_view.hpp::number_of_edges with compute_number_of_edges
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/structure/graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/src/utilities/cugraph_ops_utils.hpp
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
Labels: feature request, non-breaking, cuGraph

#4042 Test select_random_vertices for all possible values of flags
  cpp/tests/structure/mg_select_random_vertices_test.cpp
Labels: improvement, non-breaking, cuGraph

#4044 Remove checks for Pascal, no longer supported
  ci/notebook_list.py
  ci/test.sh
  ci/utils/is_pascal.py
  cpp/CMakeLists.txt
  cpp/tests/community/ecg_test.cpp
  cpp/tests/community/leiden_test.cpp
  cpp/tests/community/louvain_test.cpp
Labels: improvement, non-breaking, cuGraph, CMake, ci

#4053 Switch to scikit-build-core
  build.sh
  ci/build_wheel_cugraph.sh
  ci/build_wheel_pylibcugraph.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  dependencies.yaml
  docs/cugraph/source/wholegraph/installation/source_build.md
  python/cugraph-dgl/setup.py
  python/cugraph-pyg/setup.py
  python/cugraph-pyg/setuputils.py
  python/cugraph-service/client/setup.py
  python/cugraph-service/server/pyproject.toml
  python/cugraph-service/server/setup.py
  python/cugraph/CMakeLists.txt
  python/cugraph/pyproject.toml
  python/cugraph/setup.py
  python/nx-cugraph/setup.py
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pyproject.toml
  python/pylibcugraph/setup.py
Labels: improvement, breaking, CMake, python, ci, conda

#4052 Update to CCCL 2.2.0.
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_python.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cccl.cmake
Labels: improvement, breaking, cuGraph, CMake, ci
