Repository rapidsai/cugraph, pull requests merged in 2023-04, with the labels that each got.

#3212 [REVIEW]Multi-trainers cugraph-DGL examples
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-dgl/examples/muti_trainer_MG_example/workflow.py
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
Labels: improvement, non-breaking

#3343 New cugraph site structure
  docs/cugraph/source/api_docs/cugraph_dgl.rst
  docs/cugraph/source/dev_resources/API.rst
  docs/cugraph/source/dev_resources/index.rst
  docs/cugraph/source/graph_support/DGL_support.md
  docs/cugraph/source/graph_support/PyG_support.md
  docs/cugraph/source/graph_support/algorithms.md
  docs/cugraph/source/graph_support/compatibility.rst
  docs/cugraph/source/graph_support/cugraph_service.rst
  docs/cugraph/source/graph_support/cugraphops_support.rst
  docs/cugraph/source/graph_support/datastores.rst
  docs/cugraph/source/graph_support/feature_stores.md
  docs/cugraph/source/graph_support/gnn_support.rst
  docs/cugraph/source/graph_support/graph_algorithms.rst
  docs/cugraph/source/graph_support/index.rst
  docs/cugraph/source/graph_support/knowledge_stores.md
  docs/cugraph/source/graph_support/pg_example.png
  docs/cugraph/source/graph_support/property_graph.md
  docs/cugraph/source/graph_support/wholegraph_support.rst
  docs/cugraph/source/index.rst
  docs/cugraph/source/installation/getting_cugraph.md
  docs/cugraph/source/installation/index.rst
  docs/cugraph/source/references/cugraph_ref.rst
  docs/cugraph/source/references/datasets.rst
  docs/cugraph/source/references/index.rst
  docs/cugraph/source/references/licenses.rst
  docs/cugraph/source/releases/index.rst
  docs/cugraph/source/tutorials/blogs.rst
  docs/cugraph/source/tutorials/community_resources.md
  docs/cugraph/source/tutorials/cugraph_blogs.rst
  docs/cugraph/source/tutorials/cugraph_notebooks.md
  docs/cugraph/source/tutorials/how_to_guides.md
  docs/cugraph/source/tutorials/index.rst
Labels: doc, non-breaking

#3289 Update cuGraph-PyG Tests and Support Loading Saved Bulk Samples
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/conftest.py
  python/cugraph-pyg/cugraph_pyg/tests/int/test_int_cugraph.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
Labels: improvement, non-breaking

#3355 Generate pyproject dependencies using dfg
  .pre-commit-config.yaml
  ci/release/apply_wheel_modifications.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking

#3411 Add back deleted version attribute
  python/pylibcugraph/pylibcugraph/__init__.py
Labels: bug, non-breaking

#3308 docs: RMAT doc string typo
  python/cugraph/cugraph/generators/rmat.py
Labels: doc, non-breaking

#3382 Use Correct Searchsorted Function and Drop cupy from CuGraphStore in cugraph-pyg
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
Labels: bug, breaking

#3410 Update raft dependency to 23.06
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
Labels: bug, non-breaking

#3300 Adapt to rapidsai/rmm#1221 which moves allocator callbacks
  benchmarks/cugraph-dgl/notebooks/get_node_storage.ipynb
  benchmarks/cugraph-dgl/notebooks/heterogeneous_dataloader_benchmark.ipynb
  benchmarks/cugraph-dgl/notebooks/homogenous_dataloader_benchmark.ipynb
  python/cugraph-dgl/examples/dataset_from_disk_cudf.ipynb
Labels: improvement, non-breaking

#3416 [BUG] Critical: Force cudf.concat when passing in a cudf Series to MG Uniform Neighbor Sample
  python/cugraph/cugraph/dask/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
Labels: bug, non-breaking

#3352 Fix `PropertyGraph.renumber_*_by_type` with only default types
  python/cugraph/cugraph/dask/structure/mg_property_graph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/tests/data_store/test_property_graph_mg.py
Labels: improvement, non-breaking

#3422 [BUG] Support Minor Releases of PyG
  conda/recipes/cugraph-pyg/meta.yaml
Labels: bug, non-breaking

#3360 update conv layers in cugraph-dgl for pylibcugraphops 23.04
  ci/test_python.sh
  python/cugraph-dgl/cugraph_dgl/nn/conv/base.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/relgraphconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/sageconv.py
  python/cugraph-dgl/tests/nn/test_gatconv.py
  python/cugraph-dgl/tests/nn/test_sageconv.py
Labels: improvement, non-breaking

#3427 [REVIEW] Pin `dask` and `distributed` for release
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
Labels: improvement, breaking

#3463 Remove uses-setup-env-vars
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#3464 Remove legacy implementation of induce subgraph
  cpp/CMakeLists.txt
  cpp/src/community/legacy/extract_subgraph_by_vertex.cu
Labels: improvement, breaking

#3481 Fix issue with latest rapids-make
  build.sh
Labels: bug, non-breaking

#3468 Sphinx updates
  docs/cugraph/source/api_docs/cugraph/centrality.rst
  docs/cugraph/source/api_docs/cugraph/components.rst
  docs/cugraph/source/api_docs/cugraph/helper_functions.rst
  docs/cugraph/source/api_docs/cugraph/index.rst
  docs/cugraph/source/api_docs/cugraph/layout.rst
  docs/cugraph/source/api_docs/cugraph/linear_assignment.rst
  docs/cugraph/source/api_docs/cugraph/link_analysis.rst
  docs/cugraph/source/api_docs/cugraph/link_prediction.rst
  docs/cugraph/source/api_docs/cugraph/structure.rst
  docs/cugraph/source/api_docs/cugraph/traversal.rst
  docs/cugraph/source/api_docs/cugraph/tree.rst
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/api_docs/service/index.rst
  docs/cugraph/source/api_docs/structure.rst
  docs/cugraph/source/basics/index.rst
  docs/cugraph/source/index.rst
  docs/cugraph/source/tutorials/cugraph_notebooks.md
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-service/client/cugraph_service_client/types.py
  python/cugraph-service/server/cugraph_service_server/cugraph_handler.py
  python/cugraph/cugraph/centrality/degree_centrality.py
  python/cugraph/cugraph/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/dask/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/link_analysis/pagerank.py
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/woverlap.py
  python/cugraph/cugraph/link_prediction/wsorensen.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/pylibcugraph/pylibcugraph/bfs.pyx
Labels: doc, non-breaking

#3484 Fix graph_properties_t's members order
  cpp/src/structure/symmetrize_graph_impl.cuh
Labels: bug, non-breaking

#3485 Update clang-format to 16.0.1.
  .pre-commit-config.yaml
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_mask.hpp
  cpp/include/cugraph/legacy/graph.hpp
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/community/egonet_impl.cuh
  cpp/src/community/legacy/louvain.cuh
  cpp/src/components/legacy/scc_matrix.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/linear_assignment/legacy/hungarian.cu
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/prims/reduce_op.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/prims/update_v_frontier.cuh
  cpp/src/sampling/random_walks.cuh
  cpp/src/sampling/rw_traversals.hpp
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/legacy/bfs_kernels.cuh
  cpp/src/utilities/graph_utils.cuh
  cpp/tests/components/scc_test.cu
  cpp/tests/generators/erdos_renyi_test.cpp
  cpp/tests/generators/generators_test.cpp
  cpp/tests/linear_assignment/hungarian_test.cu
  cpp/tests/prims/mg_extract_transform_e.cu
  cpp/tests/structure/streams.cu
  cpp/tests/traversal/mg_sssp_test.cpp
  cpp/tests/traversal/sssp_test.cpp
  cpp/tests/utilities/test_utilities.hpp
  python/cugraph/cugraph/internals/callbacks_implems.hpp
  readme_pages/CONTRIBUTING.md
Labels: improvement, non-breaking

#3492 Remove wheel pytest verbosity
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#3460 Optimize random walks
  python/cugraph/cugraph/community/induced_subgraph.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/tests/nx/test_nx_convert.py
  python/cugraph/cugraph/tests/sampling/test_random_walks.py
  python/cugraph/cugraph/utilities/nx_factory.py
Labels: improvement, non-breaking

#3488 adding cugraph-ops
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  dependencies.yaml
  docs/cugraph/source/api_docs/cugraph-ops/bipartite_operators.rst
  docs/cugraph/source/api_docs/cugraph-ops/dimenet.rst
  docs/cugraph/source/api_docs/cugraph-ops/fg_operators.rst
  docs/cugraph/source/api_docs/cugraph-ops/graph_types.rst
  docs/cugraph/source/api_docs/cugraph-ops/index.rst
  docs/cugraph/source/api_docs/cugraph-ops/mfg_operators.rst
  docs/cugraph/source/api_docs/cugraph-ops/pytorch.rst
  docs/cugraph/source/api_docs/cugraph-ops/static_operators.rst
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/index.rst
Labels: doc, non-breaking

#3502 Remove usage of rapids-get-rapids-version-from-git
  ci/build_docs.sh
  ci/release/update-version.sh
Labels: improvement, non-breaking

#3455 Update select_random_vertices to sample from a given distributed set or from (0, V]
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/partition_manager.hpp
  cpp/src/c_api/random.cpp
  cpp/src/structure/select_random_vertices_impl.hpp
  cpp/src/structure/select_random_vertices_mg.cu
  cpp/src/structure/select_random_vertices_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/betweenness_centrality_test.cpp
  cpp/tests/centrality/edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cu
  cpp/tests/sampling/sg_uniform_neighbor_sampling.cu
  cpp/tests/structure/induced_subgraph_test.cpp
  cpp/tests/structure/mg_induced_subgraph_test.cu
  cpp/tests/structure/mg_select_random_vertices_test.cpp
  cpp/tests/traversal/extract_bfs_paths_test.cu
  cpp/tests/traversal/mg_extract_bfs_paths_test.cu
  cpp/tests/traversal/randomly_select_destinations.cuh
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: improvement, non-breaking

#3498 [BUG] Fix Intermittent Error when Converting cuDF DataFrame to Tensor by Converting to cuPy Array First
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
Labels: bug, non-breaking

#3497 [FIX] Update cugraph-PyG Dependencies to include cuGraph
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/server/pyproject.toml
Labels: bug, non-breaking

#3506 Updates to allow python benchmarks to run on additional datasets by default
  benchmarks/cugraph/pytest-based/bench_algos.py
  benchmarks/cugraph/pytest-based/conftest.py
  ci/test_python.sh
  python/cugraph/cugraph/testing/utils.py
Labels: bug, non-breaking

#3508 per_v_transform_reduce_incoming|outgoing_e bug fix (when we're using (key, value) pairs to store edge src|dst property values)
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
Labels: bug, non-breaking

#3505 Dropping Python 3.8
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/release/update-version.sh
  conda/recipes/cugraph-service/conda_build_config.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: feature request, breaking

#3509 Correct MG Leiden and SCC tests
  cpp/src/c_api/leiden.cpp
  cpp/src/c_api/strongly_connected_components.cpp
Labels: bug, non-breaking

#3482 packed bool specialization to store edge endpoint|edge properties
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/include/cugraph/utilities/atomic_ops.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.hpp
  cpp/include/cugraph/utilities/device_functors.cuh
  cpp/include/cugraph/utilities/packed_bool_utils.hpp
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/fill_edge_property.cuh
  cpp/src/prims/fill_edge_src_dst_property.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/prims/reduce_op.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
Labels: improvement, non-breaking

#3520 [FIX] fix cugraphops namespace
  cpp/include/cugraph/algorithms.hpp
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/sampling/neighborhood.cu
  cpp/src/utilities/cugraph_ops_utils.hpp
Labels: improvement, non-breaking

#3518 [REVIEW] Profile graph creation runtime and memory footprint
  benchmarks/cugraph/standalone/cugraph_dask_funcs.py
  benchmarks/cugraph/standalone/cugraph_graph_creation.py
  python/cugraph/cugraph/testing/mg_utils.py
Labels: feature request, non-breaking

#3523 Revert shared-action-workflows pin
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking
