Repository rapidsai/cugraph, pull requests merged in 2024-04, with the labels that each got.

#4286 Use `conda env create --yes` instead of `--force`
  ci/build_docs.sh
  ci/check_style.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#4296 [BUG] Always Persist Dask DataFrames in cuGraph-DGL Graph Storage
  python/cugraph-dgl/cugraph_dgl/cugraph_storage.py
Labels: bug, non-breaking, CRITICAL BUG!

#4282 fix PyPI URL in docs
  docs/cugraph/source/installation/getting_cugraph.md
Labels: doc, non-breaking

#4261 Update triangle count to internally use edge masking and update Triangle counting & K-hop neighbor tests to include edge masked graph view inputs
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/traversal/k_hop_nbrs_impl.cuh
  cpp/tests/community/mg_triangle_count_test.cpp
  cpp/tests/community/triangle_count_test.cpp
  cpp/tests/traversal/k_hop_nbrs_test.cpp
  cpp/tests/traversal/mg_k_hop_nbrs_test.cpp
Labels: improvement, non-breaking, cuGraph

#4311 Fix Table for Synthetic Data notebook
  notebooks/cugraph_benchmarks/synth_release_single_gpu.ipynb
Labels: doc, non-breaking, python

#4310 Fix Docstring for `from_dask_cudf_edgelist`
  python/cugraph/cugraph/structure/graph_classes.py
Labels: doc, non-breaking, python

#4321 Updates the nx-cugraph README.md with the latest upstream URLs
  .pre-commit-config.yaml
  python/nx-cugraph/README.md
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: doc, non-breaking, python

#4317 Test GNN Examples and Add CUDA 12 Testing
  ci/build_docs.sh
  ci/run_cugraph_pyg_pytests.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-pyg.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/cugraph_pyg/examples/graph_sage_mg.py
  python/cugraph-pyg/cugraph_pyg/examples/graph_sage_sg.py
Labels: improvement, non-breaking, python, ci, conda

#4239 [FIX] Remove Unnecessary CUDA Check Causing Deprecation Warning
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
Labels: bug, non-breaking, python

#4332 Update pre-commit hooks to include all C and C++ files
  .pre-commit-config.yaml
  cpp/libcugraph_etl/include/cugraph_etl/functions.hpp
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
  cpp/libcugraph_etl/include/hash/hash_allocator.cuh
  cpp/libcugraph_etl/include/hash/helper_functions.cuh
  cpp/libcugraph_etl/src/renumbering.cu
  cpp/tests/c_api/bfs_test.c
  cpp/tests/c_api/core_number_test.c
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/degrees_test.c
  cpp/tests/c_api/edge_betweenness_centrality_test.c
  cpp/tests/c_api/egonet_test.c
  cpp/tests/c_api/eigenvector_centrality_test.c
  cpp/tests/c_api/generate_rmat_test.c
  cpp/tests/c_api/hits_test.c
  cpp/tests/c_api/k_core_test.c
  cpp/tests/c_api/k_truss_test.c
  cpp/tests/c_api/legacy_spectral_test.c
  cpp/tests/c_api/mg_create_graph_test.c
  cpp/tests/c_api/mg_degrees_test.c
  cpp/tests/c_api/mg_edge_betweenness_centrality_test.c
  cpp/tests/c_api/mg_egonet_test.c
  cpp/tests/c_api/mg_louvain_test.c
  cpp/tests/c_api/mg_pagerank_test.c
  cpp/tests/c_api/mg_similarity_test.c
  cpp/tests/c_api/mg_test_utils.h
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/node2vec_test.c
  cpp/tests/c_api/pagerank_test.c
  cpp/tests/c_api/sg_random_walks_test.c
  cpp/tests/c_api/similarity_test.c
  cpp/tests/c_api/sssp_test.c
  cpp/tests/c_api/strongly_connected_components_test.c
  cpp/tests/c_api/test_utils.cpp
  cpp/tests/c_api/triangle_count_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  cpp/tests/c_api/weakly_connected_components_test.c
Labels: improvement, non-breaking, cuGraph

#4309 Refactor CMakeLists.txt to better express usage requirements
  cpp/CMakeLists.txt
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/tests/CMakeLists.txt
Labels: bug, non-breaking, cuGraph, CMake

#4319 Use appropriate edge src and dst properties based on is_multi_gpu flag
  cpp/src/components/vertex_coloring_impl.cuh
Labels: improvement, non-breaking, cuGraph

#4320 Bug fix in cugraph::detail::extract_transform_v_froniter_e
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
Labels: bug, non-breaking, cuGraph

#4353 Add missing `<optional>` include
  cpp/tests/centrality/betweenness_centrality_reference.hpp
Labels: improvement, non-breaking

#4274 Get rid of sentinel namespace
  cpp/src/prims/key_store.cuh
  cpp/src/prims/kv_store.cuh
Labels: improvement, non-breaking, cuGraph

#4357 Change mamba option --force to --yes
  ci/test_python.sh
Labels: bug, non-breaking, ci

#4329 Update GNN sampling post processing functions to optionally consider seed vertices in renumbering
  cpp/include/cugraph/sampling_functions.hpp
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/src/sampling/sampling_post_processing_sg.cu
  cpp/tests/sampling/sampling_post_processing_test.cu
Labels: feature request, non-breaking, cuGraph

#4352 Fix false C++ HITS test failure on H100
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/mg_hits_test.cpp
Labels: bug, non-breaking, cuGraph

#4347 Update generation and flattening of dendrogram in Leiden
  cpp/src/community/flatten_dendrogram.hpp
  cpp/src/community/leiden_impl.cuh
  python/cugraph/cugraph/tests/community/test_leiden.py
Labels: improvement, non-breaking, cuGraph, python

#4362 Erdos-Renyi generator had bad logic in thrust calls
  cpp/src/generators/erdos_renyi_generator.cu
  cpp/tests/generators/erdos_renyi_test.cpp
Labels: bug, non-breaking, cuGraph

#4365 Convert device_memory_resource* to device_async_resource_ref
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/dendrogram.hpp
  cpp/include/cugraph/legacy/functions.hpp
  cpp/include/cugraph/legacy/graph.hpp
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
  cpp/libcugraph_etl/include/hash/hash_allocator.cuh
  cpp/libcugraph_etl/include/hash/helper_functions.cuh
  cpp/src/converters/legacy/COOtoCSR.cu
  cpp/src/converters/legacy/COOtoCSR.cuh
  cpp/src/tree/legacy/mst.cu
  cpp/tests/utilities/base_fixture.hpp
Labels: improvement, breaking, cuGraph

#4376 Fix bad Leiden result
  cpp/src/community/leiden_impl.cuh
Labels: bug, non-breaking, cuGraph

#4348 `nx-cugraph`: support `should_run` that was added in NetworkX 3.3
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/generators.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/degree_alg.py
  python/nx-cugraph/nx_cugraph/algorithms/cluster.py
  python/nx-cugraph/nx_cugraph/algorithms/isolate.py
  python/nx-cugraph/nx_cugraph/classes/function.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
  python/nx-cugraph/pyproject.toml
  python/nx-cugraph/run_nx_tests.sh
  python/nx-cugraph/scripts/update_readme.py
Labels: improvement, non-breaking, python

#4314 Adds missing files to `update-version.sh`
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci
