Repository rapidsai/cugraph, pull requests merged in 2024-05, with the labels that each got.

#4383 Update `k_truss` to work with many connected components
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/core.py
Labels: improvement, non-breaking, python

#4374 Migrate to `{{ stdlib("c") }}`
  conda/recipes/cugraph-pyg/conda_build_config.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/meta.yaml
Labels: improvement, non-breaking, conda

#4331 Removed obsolete methods from rst file
  docs/cugraph/source/api_docs/cugraph/link_prediction.rst
Labels: doc, non-breaking

#4408 Updates SG `PropertyGraph` and `cugraph-service` to apply `DataFrame.fillna()` based on latest cuDF changes
  python/cugraph-service/server/cugraph_service_server/cugraph_handler.py
  python/cugraph-service/server/cugraph_service_server/testing/benchmark_server_extension.py
  python/cugraph/cugraph/structure/property_graph.py
Labels: improvement, non-breaking, python

#4389 Address k_truss_subgraph(use_weights=) deprecation
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/tests/community/test_k_truss_subgraph.py
Labels: improvement, non-breaking, python

#4391 Remove unused benchmark fixture in test_dask_mg_random_walks
  python/cugraph/cugraph/tests/sampling/test_random_walks_mg.py
Labels: improvement, non-breaking, python

#4386 Adjust deprecated cugraph.subgraph usage in Python tests
  python/cugraph/cugraph/tests/community/test_subgraph_extraction.py
Labels: improvement, non-breaking, python

#4390 Address do_expensive_check FutureWarnings in Python tests
  python/cugraph/cugraph/tests/link_prediction/test_overlap.py
  python/cugraph/cugraph/tests/link_prediction/test_sorensen.py
Labels: improvement, non-breaking, python

#4388 Address PendingDeprecationWarning from _from_edgelist
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
Labels: improvement, non-breaking, python

#4381 Replace deprecated cupy.sparse with cupyx.scipy.sparse
  python/cugraph/cugraph/tests/generators/test_rmat.py
Labels: improvement, non-breaking, python

#4410 Update collect_comm to handle value of tuple type
  cpp/src/utilities/collect_comm.cuh
Labels: improvement, non-breaking, cuGraph

#4397 Update decompress_to_edgelist to handle edge types
  cpp/include/cugraph/detail/decompress_edge_partition.cuh
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/c_api/betweenness_centrality.cpp
  cpp/src/community/k_truss_impl.cuh
  cpp/src/prims/transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/decompress_to_edgelist_impl.cuh
  cpp/src/structure/decompress_to_edgelist_mg.cu
  cpp/src/structure/decompress_to_edgelist_sg.cu
  cpp/src/structure/symmetrize_graph_impl.cuh
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/tests/centrality/eigenvector_centrality_test.cpp
  cpp/tests/community/egonet_validate.cu
  cpp/tests/cores/k_core_validate.cu
  cpp/tests/prims/mg_transform_e.cu
  cpp/tests/sampling/random_walks_check.cuh
  cpp/tests/structure/mg_symmetrize_test.cpp
  cpp/tests/structure/mg_transpose_storage_test.cpp
  cpp/tests/structure/mg_transpose_test.cpp
  cpp/tests/structure/symmetrize_test.cpp
  cpp/tests/structure/transpose_storage_test.cpp
  cpp/tests/structure/transpose_test.cpp
  cpp/tests/utilities/conversion_utilities_impl.cuh
  cpp/tests/utilities/debug_utilities_impl.hpp
Labels: improvement, non-breaking, cuGraph

#4355 [FEA] Support Seed Retention for Sampling with Renumbering
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/uniform_neighbor_sampling.cpp
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: feature request, non-breaking, cuGraph, python

#4244 Refactor Several MG Tests
  python/cugraph/cugraph/tests/centrality/test_batch_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_batch_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_degree_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_eigenvector_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_katz_centrality_mg.py
  python/cugraph/cugraph/tests/comms/test_comms_mg.py
  python/cugraph/cugraph/tests/community/test_induced_subgraph_mg.py
  python/cugraph/cugraph/tests/community/test_leiden_mg.py
  python/cugraph/cugraph/tests/community/test_louvain_mg.py
  python/cugraph/cugraph/tests/community/test_triangle_count_mg.py
  python/cugraph/cugraph/tests/components/test_connectivity_mg.py
  python/cugraph/cugraph/tests/core/test_core_number_mg.py
  python/cugraph/cugraph/tests/core/test_k_core_mg.py
  python/cugraph/cugraph/tests/internals/test_renumber_mg.py
  python/cugraph/cugraph/tests/internals/test_replicate_edgelist_mg.py
  python/cugraph/cugraph/tests/internals/test_symmetrize_mg.py
Labels: improvement, non-breaking, python

#4417 BFS fix for exec_policy
  cpp/src/traversal/bfs_impl.cuh
Labels: bug, non-breaking

#4421 [FIX] Remove Unintentional Expensive Check from SG Uniform Neighbor Sample
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
Labels: bug, non-breaking, CRITICAL BUG!, python

#4335 Update cugraph-pyg models for PyG 2.5
  ci/test_wheel_cugraph-pyg.sh
  conda/recipes/cugraph-pyg/meta.yaml
  dependencies.yaml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/cugraph_pyg/nn/conv/base.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gat_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gatv2_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/hetero_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/rgcn_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/sage_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/transformer_conv.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_gatv2_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_hetero_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_rgcn_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_sage_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_transformer_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/utils/__init__.py
  python/cugraph-pyg/cugraph_pyg/utils/imports.py
Labels: improvement, breaking, python, ci, conda

#4425 Update doxygen comments to specify in,out instead of in/out
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph_c/community_algorithms.h
  cpp/include/cugraph_c/graph_generators.h
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/include/cugraph_c/traversal_algorithms.h
Labels: improvement, non-breaking, cuGraph

#4426 Expose graph_view method to count multi edges through C API and PLC
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/graph_functions.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/count_multi_edges_test.c
  cpp/tests/c_api/mg_count_multi_edges_test.c
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/count_multi_edges.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#4429 Fix MG Betweenness Centrality Test Bug
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
Labels: improvement, non-breaking, python

#4415 Enable FutureWarnings and DeprecationWarnings as errors in cugraph
  python/cugraph/pytest.ini
Labels: improvement, breaking, python

#4339 Update operators.rst
  docs/cugraph/source/api_docs/cugraph-ops/python/operators.rst
Labels: doc, non-breaking

#4360 Update pip devcontainers to UCX v1.15.0
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
Labels: improvement, non-breaking

#4361 add --rm and --name to devcontainer run args
  .devcontainer/cuda11.8-conda/devcontainer.json
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#4395 nx-cugraph: add `ego_graph`
  python/nx-cugraph/README.md
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/convert.py
  python/nx-cugraph/nx_cugraph/generators/__init__.py
  python/nx-cugraph/nx_cugraph/generators/ego.py
  python/nx-cugraph/nx_cugraph/tests/test_ego_graph.py
  python/nx-cugraph/pyproject.toml
Labels: improvement, non-breaking, python

#4323 test sphinx mapping to networkx
  docs/cugraph/source/conf.py
  python/cugraph/cugraph/structure/convert_matrix.py
Labels: doc, non-breaking, python

#4315 MNMG Approximation Algorithm for the Weighted Matching Problem
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/community/approx_weighted_matching_impl.cuh
  cpp/src/community/approx_weighted_matching_mg.cu
  cpp/src/community/approx_weighted_matching_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/mg_weighted_matching_test.cpp
  cpp/tests/community/weighted_matching_test.cpp
Labels: feature request, non-breaking, cuGraph, CMake

#4434 Fix a bug in kv_store_t implementation
  cpp/src/prims/kv_store.cuh
Labels: bug, non-breaking, cuGraph

#4279 DOC: doc-update-link-for-cugraphops
  docs/cugraph/source/graph_support/cugraphops_support.rst
Labels: doc, non-breaking

#4275 Fix stream synchronization in MTMG graph construction
  cpp/include/cugraph/mtmg/detail/per_device_edgelist.hpp
  cpp/include/cugraph/mtmg/edge_property.hpp
  cpp/include/cugraph/mtmg/edge_property_view.hpp
  cpp/include/cugraph/mtmg/edgelist.hpp
  cpp/include/cugraph/mtmg/handle.hpp
  cpp/include/cugraph/mtmg/per_thread_edgelist.hpp
  cpp/tests/mtmg/multi_node_threaded_test.cu
  cpp/tests/mtmg/threaded_test.cu
  cpp/tests/mtmg/threaded_test_jaccard.cu
  cpp/tests/mtmg/threaded_test_louvain.cu
Labels: improvement, non-breaking, cuGraph

#4441 Call New `replicate_edgelist` Function
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/replicate_edgelist.py
Labels: improvement, breaking, python

#4444 Fix bug in kv_store_t's insertion methods
  cpp/src/prims/kv_store.cuh
Labels: bug, non-breaking, cuGraph

#4447 Pin torch version in `cugraph-dgl` wheel test
  ci/test_wheel_cugraph-dgl.sh
Labels: improvement, non-breaking, ci

#4435 Fixed links and added c++ docs per issue 4431
  docs/cugraph/source/graph_support/algorithms.md
  docs/cugraph/source/graph_support/algorithms/cpp_algorithms/centrality_cpp.md
  docs/cugraph/source/graph_support/algorithms/cpp_algorithms/linear_cpp.md
  docs/cugraph/source/graph_support/algorithms/cpp_algorithms/traversal_cpp.md
Labels: doc, non-breaking

#4396 first copy of general cugraph tutorial.
  docs/cugraph/source/tutorials/basic_cugraph.md
  docs/cugraph/source/tutorials/how_to_guides.md
Labels: doc, non-breaking

#4384 Distributed Sampling in cuGraph-PyG
  ci/run_cugraph_pyg_pytests.sh
  ci/test.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-pyg.sh
  conda/recipes/cugraph-pyg/meta.yaml
  dependencies.yaml
  docs/cugraph/source/api_docs/cugraph-pyg/cugraph_pyg.rst
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/cugraph_pyg/data/__init__.py
  python/cugraph-pyg/cugraph_pyg/data/dask_graph_store.py
  python/cugraph-pyg/cugraph_pyg/data/feature_store.py
  python/cugraph-pyg/cugraph_pyg/data/graph_store.py
  python/cugraph-pyg/cugraph_pyg/examples/README.md
  python/cugraph-pyg/cugraph_pyg/examples/cugraph_dist_sampling_mg.py
  python/cugraph-pyg/cugraph_pyg/examples/cugraph_dist_sampling_sg.py
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_sg.py
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_snmg.py
  python/cugraph-pyg/cugraph_pyg/examples/graph_sage_mg.py
  python/cugraph-pyg/cugraph_pyg/examples/graph_sage_sg.py
  python/cugraph-pyg/cugraph_pyg/loader/__init__.py
  python/cugraph-pyg/cugraph_pyg/loader/dask_node_loader.py
  python/cugraph-pyg/cugraph_pyg/loader/neighbor_loader.py
  python/cugraph-pyg/cugraph_pyg/loader/node_loader.py
  python/cugraph-pyg/cugraph_pyg/sampler/__init__.py
  python/cugraph-pyg/cugraph_pyg/sampler/sampler.py
  python/cugraph-pyg/cugraph_pyg/sampler/sampler_utils.py
  python/cugraph-pyg/cugraph_pyg/tests/data/test_dask_graph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/data/test_dask_graph_store_mg.py
  python/cugraph-pyg/cugraph_pyg/tests/data/test_feature_store.py
  python/cugraph-pyg/cugraph_pyg/tests/data/test_graph_store.py
  python/cugraph-pyg/cugraph_pyg/tests/data/test_graph_store_mg.py
  python/cugraph-pyg/cugraph_pyg/tests/loader/test_dask_neighbor_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/loader/test_dask_neighbor_loader_mg.py
  python/cugraph-pyg/cugraph_pyg/tests/loader/test_neighbor_loader.py
  python/cugraph-pyg/cugraph_pyg/tests/loader/test_neighbor_loader_mg.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_gatv2_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_hetero_gat_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_rgcn_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_sage_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/nn/test_transformer_conv.py
  python/cugraph-pyg/cugraph_pyg/tests/sampler/test_sampler_utils.py
  python/cugraph-pyg/cugraph_pyg/tests/sampler/test_sampler_utils_mg.py
  python/cugraph-pyg/pytest.ini
  python/cugraph/cugraph/gnn/__init__.py
  python/cugraph/cugraph/gnn/data_loading/__init__.py
  python/cugraph/cugraph/gnn/data_loading/dist_sampler.py
Labels: feature request, breaking, python, ci, conda

#4448 remove unnecessary 'setuptools' and 'wheel' dependencies
  conda/recipes/cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, conda

#4432 [FEA] New WholeGraph Feature Store for PyG
  ci/build_wheel.sh
  dependencies.yaml
  docs/cugraph/source/api_docs/cugraph-pyg/cugraph_pyg.rst
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/cugraph_pyg/data/__init__.py
  python/cugraph-pyg/cugraph_pyg/data/feature_store.py
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_mnmg.py
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_sg.py
  python/cugraph-pyg/cugraph_pyg/tests/data/test_feature_store_mg.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph/pyproject.toml
Labels: feature request, non-breaking, python, ci
