Repository rapidsai/cugraph, pull requests merged in 2024-09, with the labels that each got.

#4602 Heterogeneous renumbering implementation
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/sampling_functions.hpp
  cpp/src/detail/utility_wrappers_32.cu
  cpp/src/detail/utility_wrappers_64.cu
  cpp/src/detail/utility_wrappers_impl.cuh
  cpp/src/sampling/renumber_sampled_edgelist_impl.cuh
  cpp/src/sampling/renumber_sampled_edgelist_sg_v32_e32.cu
  cpp/src/sampling/renumber_sampled_edgelist_sg_v64_e64.cu
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/src/sampling/sampling_post_processing_sg_v32_e32.cu
  cpp/src/sampling/sampling_post_processing_sg_v32_e64.cu
  cpp/src/sampling/sampling_post_processing_sg_v64_e64.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/detail/sampling_post_processing_validate.cu
  cpp/tests/sampling/detail/sampling_post_processing_validate.hpp
  cpp/tests/sampling/sampling_heterogeneous_post_processing_test.cpp
  cpp/tests/sampling/sampling_post_processing_test.cpp
  cpp/tests/utilities/property_generator_utilities.hpp
  cpp/tests/utilities/property_generator_utilities_impl.cuh
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: feature request, breaking, cuGraph, CMake

#4624 Download fewer datasets for C/C++ unit tests
  ci/test_cpp.sh
  datasets/get_test_data.sh
Labels: improvement, non-breaking, ci, datasets

#4630 Update edge triangle count to call a non detail primitive
  cpp/include/cugraph/algorithms.hpp
  cpp/src/community/edge_triangle_count_impl.cuh
  cpp/src/community/edge_triangle_count_mg_v32_e32.cu
  cpp/src/community/edge_triangle_count_mg_v32_e64.cu
  cpp/src/community/edge_triangle_count_mg_v64_e64.cu
  cpp/src/community/edge_triangle_count_sg_v32_e32.cu
  cpp/src/community/edge_triangle_count_sg_v32_e64.cu
  cpp/src/community/edge_triangle_count_sg_v64_e64.cu
  cpp/src/prims/per_v_pair_dst_nbr_intersection.cuh
Labels: improvement, non-breaking, cuGraph

#4648 Add `--cpu-only` or `--gpu-only` Arguments to `nx-cugraph` Benchmark
  benchmarks/nx-cugraph/pytest-based/README.md
  benchmarks/nx-cugraph/pytest-based/run-main-benchmarks.sh
Labels: improvement, non-breaking, benchmarks

#4645 Biased Random Walks and Node2Vec implementation
  cpp/include/cugraph/algorithms.hpp
  cpp/src/c_api/random_walks.cpp
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/sampling/random_walks_impl.cuh
  cpp/src/sampling/random_walks_mg_v32_e32.cu
  cpp/src/sampling/random_walks_mg_v32_e64.cu
  cpp/src/sampling/random_walks_mg_v64_e64.cu
  cpp/src/sampling/random_walks_sg_v32_e32.cu
  cpp/src/sampling/random_walks_sg_v32_e64.cu
  cpp/src/sampling/random_walks_sg_v64_e64.cu
  cpp/tests/c_api/sg_random_walks_test.c
  cpp/tests/sampling/mg_random_walks_test.cpp
  cpp/tests/sampling/random_walks_check.cuh
  cpp/tests/sampling/sg_random_walks_test.cpp
Labels: improvement, non-breaking, cuGraph

#4652 Update flake8 to 7.1.1.
  .pre-commit-config.yaml
  benchmarks/cugraph-dgl/python-script/ogbn_mag_benchmark.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/base.py
  python/cugraph-dgl/examples/graphsage/node-classification-dask.py
  python/cugraph-dgl/examples/graphsage/node-classification.py
  python/cugraph-dgl/examples/multi_trainer_MG_example/model.py
  python/cugraph-dgl/examples/multi_trainer_MG_example/workflow_mnmg.py
  python/cugraph-dgl/examples/multi_trainer_MG_example/workflow_snmg.py
  python/cugraph-pyg/cugraph_pyg/data/dask_graph_store.py
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_sg.py
  python/cugraph-service/tests/test_e2e.py
  python/cugraph-service/tests/test_mg_e2e.py
  python/cugraph/cugraph/tests/generators/test_rmat.py
  python/cugraph/cugraph/tests/generators/test_rmat_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/structure/test_graph_mg.py
  python/cugraph/cugraph/tests/traversal/test_sssp.py
  python/cugraph/cugraph/traversal/sssp.py
Labels: improvement, non-breaking, python, benchmarks

#4654 Use CI workflow branch 'branch-24.10' again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#4650 Recommending `miniforge` for conda install
  benchmarks/cugraph-dgl/notebooks/get_node_storage.ipynb
  benchmarks/cugraph-dgl/notebooks/heterogeneous_dataloader_benchmark.ipynb
  benchmarks/cugraph-dgl/notebooks/homogenous_dataloader_benchmark.ipynb
  benchmarks/cugraph/notebooks/feature_storage.ipynb
  docs/cugraph/source/installation/getting_cugraph.md
  docs/cugraph/source/wholegraph/installation/getting_wholegraph.md
  notebooks/demo/mg_pagerank.ipynb
Labels: doc, non-breaking, python, benchmarks

#4658 Drops duplicate edges in non-MultiGraph PLC `SGGraph` instances
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/tests/test_pagerank.py
Labels: bug, non-breaking, python, nx-cugraph

#4664 Update update-version.sh to use packaging lib
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#4629 nx-cugraph: Updates nxcg.Graph classes for API-compatibility with NetworkX Graph classes, needed for zero code change graph generators
  ci/run_nx_cugraph_pytests.sh
  ci/test_python.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/generators.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/algorithms/core.py
  python/nx-cugraph/nx_cugraph/algorithms/link_analysis/hits_alg.py
  python/nx-cugraph/nx_cugraph/algorithms/operators/unary.py
  python/nx-cugraph/nx_cugraph/algorithms/shortest_paths/generic.py
  python/nx-cugraph/nx_cugraph/algorithms/shortest_paths/unweighted.py
  python/nx-cugraph/nx_cugraph/algorithms/traversal/breadth_first_search.py
  python/nx-cugraph/nx_cugraph/classes/__init__.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/classes/multidigraph.py
  python/nx-cugraph/nx_cugraph/classes/multigraph.py
  python/nx-cugraph/nx_cugraph/convert.py
  python/nx-cugraph/nx_cugraph/convert_matrix.py
  python/nx-cugraph/nx_cugraph/generators/_utils.py
  python/nx-cugraph/nx_cugraph/generators/classic.py
  python/nx-cugraph/nx_cugraph/generators/community.py
  python/nx-cugraph/nx_cugraph/generators/ego.py
  python/nx-cugraph/nx_cugraph/generators/small.py
  python/nx-cugraph/nx_cugraph/generators/social.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/nx-cugraph/nx_cugraph/relabel.py
  python/nx-cugraph/nx_cugraph/tests/test_bfs.py
  python/nx-cugraph/nx_cugraph/tests/test_classes.py
  python/nx-cugraph/nx_cugraph/tests/test_cluster.py
  python/nx-cugraph/nx_cugraph/tests/test_convert.py
  python/nx-cugraph/nx_cugraph/tests/test_ego_graph.py
  python/nx-cugraph/nx_cugraph/tests/test_generators.py
  python/nx-cugraph/nx_cugraph/tests/test_graph_methods.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
  python/nx-cugraph/nx_cugraph/tests/test_multigraph.py
  python/nx-cugraph/nx_cugraph/tests/test_pagerank.py
  python/nx-cugraph/nx_cugraph/tests/testing_utils.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
  python/nx-cugraph/nx_cugraph/utils/misc.py
  python/nx-cugraph/pyproject.toml
  python/nx-cugraph/run_nx_tests.sh
Labels: improvement, non-breaking, python, ci, conda, nx-cugraph

#4661 bump NCCL floor to 2.18.1.1, include nccl.h where it's needed
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  cpp/include/cugraph/mtmg/instance_manager.hpp
  cpp/include/cugraph/mtmg/resource_manager.hpp
  cpp/tests/mtmg/multi_node_threaded_test.cu
  dependencies.yaml
Labels: improvement, non-breaking, cuGraph, conda

#4656 Install mg test executables
  cpp/tests/CMakeLists.txt
Labels: bug, non-breaking, cuGraph, CMake

#4666 Fix `cit-patents` Dataset for `nx-cugraph` Benchmark
  benchmarks/nx-cugraph/pytest-based/run-main-benchmarks.sh
Labels: improvement, non-breaking, benchmarks

#4595 [FEA] Biased Sampling in cuGraph-DGL
  python/cugraph-dgl/cugraph_dgl/dataloading/neighbor_sampler.py
  python/cugraph-dgl/cugraph_dgl/graph.py
  python/cugraph-dgl/cugraph_dgl/tests/dataloading/test_dataloader.py
  python/cugraph-dgl/cugraph_dgl/tests/dataloading/test_dataloader_mg.py
  python/cugraph/cugraph/gnn/data_loading/dist_sampler.py
  python/pylibcugraph/pylibcugraph/biased_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/uniform_neighbor_sample.pyx
Labels: feature request, non-breaking, python

#4651 reduce pip verbosity in wheel builds
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci

#4682 Merge branch-24.10 into branch-24.12
  ci/test_python.sh
  ci/test_wheel_cugraph-dgl.sh
  ci/test_wheel_cugraph-pyg.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  dependencies.yaml
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/cugraph/tests/data_store/test_property_graph.py
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#4663 Swtch traceback to `--native` in `cugraph`
  benchmarks/pytest.ini
  python/cugraph-equivariant/cugraph_equivariant/tests/pytest.ini
  python/cugraph-pyg/cugraph_pyg/tests/pytest.ini
  python/cugraph-pyg/pytest.ini
  python/cugraph-service/pytest.ini
  python/cugraph-service/tests/pytest.ini
  python/cugraph/pytest.ini
  python/nx-cugraph/nx_cugraph/tests/pytest.ini
  python/pylibcugraph/pytest.ini
Labels: improvement, non-breaking, python, benchmarks
