Repository rapidsai/cugraph, pull requests merged in 2024-01, with the labels that each got.

#4064 [BUG]Fix non-type template parameter to cugraph::relabel
  cpp/src/community/flatten_dendrogram.hpp
Labels: bug, non-breaking, cuGraph

#4070 Remove Experimental Wrappers from GNN Code
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  python/cugraph-dgl/cugraph_dgl/dataloading/dataloader.py
  python/cugraph-pyg/cugraph_pyg/data/__init__.py
  python/cugraph-pyg/cugraph_pyg/data/cugraph_store.py
  python/cugraph-pyg/cugraph_pyg/loader/__init__.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/experimental/gnn/__init__.py
  python/cugraph/cugraph/gnn/__init__.py
  python/cugraph/cugraph/gnn/data_loading/__init__.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
Labels: feature request, breaking, python, benchmarks

#4035 [FEA]: Add DASK edgelist and graph support to the Dataset API
  python/cugraph/cugraph/datasets/dataset.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
Labels: improvement, non-breaking, python

#4075 build wheels for `cugraph-dgl` and `cugraph-pyg`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_cugraph-dgl.sh
  ci/build_wheel_cugraph-pyg.sh
  ci/test_wheel_cugraph-dgl.sh
  ci/test_wheel_cugraph-pyg.sh
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
Labels: improvement, non-breaking, python, ci

#4054 Fix MG weighted similarity test failure
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/structure/remove_multi_edges.cu
  cpp/src/structure/remove_multi_edges_impl.cuh
  cpp/tests/link_prediction/weighted_similarity_test.cpp
  cpp/tests/utilities/test_graphs.hpp
Labels: bug, non-breaking, cuGraph

#4065 Adds `nx-cugraph` benchmarks for 23.12 algos (SSSP, pagerank, hits, katz_centrality, degree_centrality, eigenvector_centrality)
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  benchmarks/shared/python/cugraph_benchmarking/params.py
Labels: improvement, non-breaking, benchmarks

#4083 Correct `cugraph-pyg` package name used in wheels and fix test script
  ci/test_python.sh
  ci/test_wheel_cugraph-pyg.sh
  python/cugraph-pyg/cugraph_pyg/tests/mg/test_mg_cugraph_store.py
  python/cugraph-pyg/pyproject.toml
Labels: bug, non-breaking, python, ci

#4084 refactor CUDA versions in dependencies.yaml
  .pre-commit-config.yaml
  dependencies.yaml
Labels: improvement, non-breaking

#3584 Sampling Performance Testing
  benchmarks/cugraph/standalone/bulk_sampling/.gitignore
  benchmarks/cugraph/standalone/bulk_sampling/README.md
  benchmarks/cugraph/standalone/bulk_sampling/bench_cugraph_training.py
  benchmarks/cugraph/standalone/bulk_sampling/bulk_sampling.sh
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  benchmarks/cugraph/standalone/bulk_sampling/datasets/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/datasets/dataset.py
  benchmarks/cugraph/standalone/bulk_sampling/datasets/ogbn_papers100M.py
  benchmarks/cugraph/standalone/bulk_sampling/models/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/models/pyg/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/models/pyg/models_cugraph_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/models/pyg/models_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/run_sampling.sh
  benchmarks/cugraph/standalone/bulk_sampling/run_train_job.sh
  benchmarks/cugraph/standalone/bulk_sampling/trainers/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/pyg/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/pyg/trainers_cugraph_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/pyg/trainers_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/trainer.py
  cpp/src/community/flatten_dendrogram.hpp
  mg_utils/wait_for_workers.py
  python/cugraph-pyg/cugraph_pyg/loader/cugraph_node_loader.py
  python/cugraph-pyg/cugraph_pyg/sampler/cugraph_sampler.py
  python/cugraph-pyg/cugraph_pyg/tests/test_cugraph_store.py
  python/cugraph/cugraph/experimental/__init__.py
Labels: feature request, non-breaking, cuGraph, python, benchmarks

#4077 Fix OOB error, BFS C API should validate that the source vertex is a valid vertex
  ci/test_python.sh
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/src/c_api/abstract_functor.hpp
  cpp/src/c_api/bfs.cpp
  cpp/src/detail/utility_wrappers.cu
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/pylibcugraph/pylibcugraph/graphs.pyx
Labels: bug, non-breaking, cuGraph, python, ci

#4030 MNMG ECG
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/detail/collect_comm_wrapper.hpp
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/src/c_api/louvain.cpp
  cpp/src/community/ecg_impl.cuh
  cpp/src/community/ecg_mg.cu
  cpp/src/community/ecg_sg.cu
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/louvain_mg.cu
  cpp/src/community/louvain_sg.cu
  cpp/src/detail/permute_range.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/community/louvain_test.cpp
  cpp/tests/community/mg_ecg_test.cpp
  cpp/tests/community/mg_louvain_test.cpp
Labels: feature request, non-breaking, cuGraph, CMake

#4090 Remove usages of rapids-env-update
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#4092 nx-cugraph: PLC now handles isolated nodes; clean up our workarounds
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/_version.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/algorithms/components/connected.py
  python/nx-cugraph/nx_cugraph/tests/__init__.py
  python/nx-cugraph/nx_cugraph/tests/test_connected.py
Labels: improvement, non-breaking, python

#4071 nx-cugraph: add weakly connected components
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/components/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/components/connected.py
  python/nx-cugraph/nx_cugraph/algorithms/components/strongly_connected.py
  python/nx-cugraph/nx_cugraph/algorithms/components/weakly_connected.py
  python/nx-cugraph/nx_cugraph/algorithms/isolate.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/interface.py
Labels: improvement, non-breaking, python

#4086 Provide explicit pool sizes and avoid RMM detail APIs
  cpp/include/cugraph/mtmg/resource_manager.hpp
  cpp/tests/utilities/base_fixture.hpp
Labels: improvement, non-breaking, cuGraph

#4093 nx-cugraph: add triangles and clustering algorithms
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/basic.py
  python/nx-cugraph/nx_cugraph/algorithms/cluster.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/tests/test_cluster.py
Labels: improvement, non-breaking, python

#4101 Forward-merge branch-24.02 to branch-24.04
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/basic.py
  python/nx-cugraph/nx_cugraph/algorithms/cluster.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/tests/test_cluster.py
Labels: python

#4100 nx-cugraph: add `core_number` (undirected graphs only)
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/core.py
Labels: improvement, non-breaking, python

#4102 Forward-merge branch-24.02 to branch-24.04
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/core.py
Labels: python

#4080 Fix Jaccard hang
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: bug, non-breaking, python

#4074 Match weight-sharing option of GATConv in DGL
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatv2conv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/relgraphconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/sageconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/transformerconv.py
  python/cugraph-dgl/tests/conftest.py
  python/cugraph-dgl/tests/nn/__init__.py
  python/cugraph-dgl/tests/nn/common.py
  python/cugraph-dgl/tests/nn/test_gatconv.py
  python/cugraph-dgl/tests/nn/test_gatv2conv.py
  python/cugraph-dgl/tests/nn/test_relgraphconv.py
  python/cugraph-dgl/tests/nn/test_sageconv.py
  python/cugraph-dgl/tests/nn/test_transformerconv.py
Labels: improvement, non-breaking, python

#4113 Forward-merge branch-24.02 to branch-24.04
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/algorithms/bipartite/basic.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/betweenness.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/eigenvector.py
  python/nx-cugraph/nx_cugraph/algorithms/centrality/katz.py
  python/nx-cugraph/nx_cugraph/algorithms/cluster.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/algorithms/components/connected.py
  python/nx-cugraph/nx_cugraph/algorithms/components/strongly_connected.py
  python/nx-cugraph/nx_cugraph/algorithms/components/weakly_connected.py
  python/nx-cugraph/nx_cugraph/algorithms/core.py
  python/nx-cugraph/nx_cugraph/algorithms/dag.py
  python/nx-cugraph/nx_cugraph/algorithms/link_analysis/hits_alg.py
  python/nx-cugraph/nx_cugraph/algorithms/link_analysis/pagerank_alg.py
  python/nx-cugraph/nx_cugraph/algorithms/shortest_paths/unweighted.py
  python/nx-cugraph/nx_cugraph/algorithms/traversal/breadth_first_search.py
  python/nx-cugraph/nx_cugraph/algorithms/tree/recognition.py
  python/nx-cugraph/nx_cugraph/utils/decorators.py
Labels: python

#4096 Implement has_edge() & compute_multiplicity()
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/graph_view.hpp
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/utilities/error_check_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/structure/count_self_loops_and_multi_edges_test.cpp
  cpp/tests/structure/has_edge_and_compute_multiplicity_test.cpp
  cpp/tests/structure/mg_has_edge_and_compute_multiplicity_test.cpp
  cpp/tests/utilities/device_comm_wrapper.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: feature request, non-breaking, cuGraph, CMake

#4114 Forward-merge branch-24.02 to branch-24.04
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/graph_view.hpp
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/utilities/error_check_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/structure/count_self_loops_and_multi_edges_test.cpp
  cpp/tests/structure/has_edge_and_compute_multiplicity_test.cpp
  cpp/tests/structure/mg_has_edge_and_compute_multiplicity_test.cpp
  cpp/tests/utilities/device_comm_wrapper.cu
  cpp/tests/utilities/test_utilities.hpp
Labels: cuGraph, CMake

#4103 nx-cugraph: add `complement` and `reverse`
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/operators/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/operators/unary.py
Labels: improvement, non-breaking, python

#4117 Forward-merge branch-24.02 to branch-24.04
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/operators/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/operators/unary.py
Labels: python

#4085 Update per_v_transform_reduce_incoming|outgoing_e to support edge masking
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/prims/detail/prim_functors.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
Labels: feature request, non-breaking, cuGraph

#4036 Create `cugraph-equivariant` package
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cugraph-equivariant.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-equivariant.sh
  conda/recipes/cugraph-equivariant/build.sh
  conda/recipes/cugraph-equivariant/meta.yaml
  dependencies.yaml
  python/cugraph-equivariant/LICENSE
  python/cugraph-equivariant/README.md
  python/cugraph-equivariant/cugraph_equivariant/VERSION
  python/cugraph-equivariant/cugraph_equivariant/__init__.py
  python/cugraph-equivariant/cugraph_equivariant/_version.py
  python/cugraph-equivariant/cugraph_equivariant/nn/__init__.py
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/tests/conftest.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_scatter.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/utils/__init__.py
  python/cugraph-equivariant/cugraph_equivariant/utils/scatter.py
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-equivariant/setup.py
Labels: improvement, non-breaking, python, ci, conda
