Repository rapidsai/cugraph, pull requests merged in 2024-07, with the labels that each got.

#4461 [IMP] Limit the Test Data Size when Running CI in `gcn_dist_sg.py`
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_sg.py
Labels: improvement, non-breaking, python

#4491 DOC: typo in nx_transition.rst
  docs/cugraph/source/basics/nx_transition.rst
Labels: doc, non-breaking

#4393 Use rapids-build-backend
  .pre-commit-config.yaml
  build.sh
  ci/build_cpp.sh
  ci/build_docs.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-equivariant/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/install_cugraph-service-server.sh
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/nx-cugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-dgl/cugraph_dgl/_version.py
  python/cugraph-dgl/pyproject.toml
  python/cugraph-dgl/tests/test_version.py
  python/cugraph-equivariant/cugraph_equivariant/_version.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_version.py
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/cugraph_pyg/_version.py
  python/cugraph-pyg/cugraph_pyg/tests/test_version.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/cugraph_service_client/_version.py
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/cugraph_service_server/_version.py
  python/cugraph-service/server/pyproject.toml
  python/cugraph-service/tests/test_version.py
  python/cugraph/cugraph/_version.py
  python/cugraph/cugraph/tests/test_version.py
  python/cugraph/pyproject.toml
  python/nx-cugraph/_nx_cugraph/_version.py
  python/nx-cugraph/nx_cugraph/tests/test_version.py
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pylibcugraph/_version.py
  python/pylibcugraph/pylibcugraph/tests/test_version.py
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#4443 Biased sampling
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/sampling_functions.hpp
  cpp/include/cugraph/utilities/dataframe_buffer.hpp
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/property_op_utils.cuh
  cpp/src/sampling/detail/check_edge_bias_values.cuh
  cpp/src/sampling/detail/check_edge_bias_values_mg_v32_e32.cu
  cpp/src/sampling/detail/check_edge_bias_values_mg_v32_e64.cu
  cpp/src/sampling/detail/check_edge_bias_values_mg_v64_e64.cu
  cpp/src/sampling/detail/check_edge_bias_values_sg_v32_e32.cu
  cpp/src/sampling/detail/check_edge_bias_values_sg_v32_e64.cu
  cpp/src/sampling/detail/check_edge_bias_values_sg_v64_e64.cu
  cpp/src/sampling/detail/prepare_next_frontier_impl.cuh
  cpp/src/sampling/detail/sample_edges.cuh
  cpp/src/sampling/detail/sample_edges_mg_v32_e32.cu
  cpp/src/sampling/detail/sample_edges_mg_v32_e64.cu
  cpp/src/sampling/detail/sample_edges_mg_v64_e64.cu
  cpp/src/sampling/detail/sample_edges_sg_v32_e32.cu
  cpp/src/sampling/detail/sample_edges_sg_v32_e64.cu
  cpp/src/sampling/detail/sample_edges_sg_v64_e64.cu
  cpp/src/sampling/detail/sampling_utils.hpp
  cpp/src/sampling/detail/shuffle_and_organize_output_impl.cuh
  cpp/src/sampling/neighbor_sampling_impl.hpp
  cpp/src/sampling/neighbor_sampling_mg_v32_e32.cpp
  cpp/src/sampling/neighbor_sampling_mg_v32_e64.cpp
  cpp/src/sampling/neighbor_sampling_mg_v64_e64.cpp
  cpp/src/sampling/neighbor_sampling_sg_v32_e32.cpp
  cpp/src/sampling/neighbor_sampling_sg_v32_e64.cpp
  cpp/src/sampling/neighbor_sampling_sg_v64_e64.cpp
  cpp/src/sampling/uniform_neighbor_sampling_sg.cpp
  cpp/src/sampling/uniform_neighbor_sampling_sg_v64_e64.cpp
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/centrality/katz_centrality_test.cpp
  cpp/tests/community/k_truss_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
  cpp/tests/cores/core_number_test.cpp
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/pagerank_test.cpp
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/sampling/biased_neighbor_sampling.cpp
  cpp/tests/sampling/detail/nbr_sampling_validate.cu
  cpp/tests/sampling/detail/nbr_sampling_validate.hpp
  cpp/tests/sampling/mg_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/sampling_post_processing_test.cu
  cpp/tests/sampling/uniform_neighbor_sampling.cpp
  cpp/tests/structure/induced_subgraph_test.cpp
  cpp/tests/structure/mg_induced_subgraph_test.cu
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/sssp_test.cpp
  cpp/tests/utilities/conversion_utilities_impl.cuh
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: feature request, non-breaking, cuGraph, CMake

#4478 Doc cleanup for nx-cugraph: fixed typos, cleaned up various descriptions, renamed notebook to match naming convetion.
  dependencies.yaml
  docs/cugraph/source/nx_cugraph/nx_cugraph.md
  notebooks/cugraph_benchmarks/nx_cugraph_benchmark.ipynb
  notebooks/cugraph_benchmarks/nx_cugraph_codeless_switching.ipynb
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
Labels: doc, non-breaking, python

#4516 Update MG Benchmark List
  benchmarks/cugraph/pytest-based/bench_algos.py
  python/cugraph/cugraph/tests/community/test_triangle_count_mg.py
Labels: bug, non-breaking, graph-devops, python, benchmarks

#4517 [BUG] Fix a hang issue in MG triangle counts (when invoked with a small number of vertices to update triangle counts)
  cpp/src/community/triangle_count_impl.cuh
Labels: bug, non-breaking, cuGraph

#4509 Avoid --find-links in wheel jobs
  ci/build_wheel_cugraph.sh
Labels: improvement, non-breaking, ci

#4522 Skip the benchmark ctests within CI
  ci/test_cpp.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cugraph-pyg/conda_build_config.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#4514 Use MNMG version of ECG in python layer instead, and remove legacy ECG and Louvain
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/legacy_ecg.cpp
  cpp/src/community/legacy/ecg.cu
  cpp/src/community/legacy/louvain.cu
  cpp/src/community/legacy/louvain.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/legacy_ecg_test.c
  cpp/tests/community/legacy_ecg_test.cpp
  cpp/tests/community/louvain_test.cpp
  cpp/tests/lookup/lookup_src_dst_test.cpp
  cpp/tests/lookup/mg_lookup_src_dst_test.cpp
  notebooks/algorithms/community/Community-Clustering.ipynb
  notebooks/algorithms/community/ECG.ipynb
  python/cugraph/cugraph/community/ecg.py
  python/cugraph/cugraph/tests/community/test_ecg.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/community_algorithms.pxd
  python/pylibcugraph/pylibcugraph/ecg.pyx
Labels: feature request, breaking, cuGraph, CMake, python

#4525 Better handle cudf.pandas in `from_pandas_edgelist`
  python/nx-cugraph/lint.yaml
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/convert_matrix.py
Labels: improvement, non-breaking, python, nx-cugraph

#4526 Add CUDA_STATIC_MATH_LIBRARIES
  cpp/libcugraph_etl/CMakeLists.txt
Labels: improvement, non-breaking, cuGraph, CMake

#4519 Distribute start_list across ranks
  python/cugraph/cugraph/dask/community/triangle_count.py
  python/cugraph/cugraph/tests/community/test_triangle_count_mg.py
Labels: bug, non-breaking, python

#4480 Fix TensorProductConv test and improve docs
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_tensor_product_conv.py
Labels: bug, non-breaking, python

#4518 [FIX] Skip Distributed Sampler Tests if PyTorch with CUDA is not Available
  python/cugraph/cugraph/tests/sampling/test_dist_sampler.py
  python/cugraph/cugraph/tests/sampling/test_dist_sampler_mg.py
Labels: bug, non-breaking, python

#4527 Performance optimize BFS (including direction optimizing BFS implementation, mainly for single-GPU)
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/utilities/atomic_ops.cuh
  cpp/include/cugraph/utilities/dataframe_buffer.hpp
  cpp/src/c_api/graph_helper_impl.cuh
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/approx_weighted_matching_impl.cuh
  cpp/src/community/detail/common_methods.cuh
  cpp/src/community/detail/maximal_independent_moves.cuh
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/community/ecg_impl.cuh
  cpp/src/community/k_truss_impl.cuh
  cpp/src/community/leiden_impl.cuh
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/mis_impl.cuh
  cpp/src/components/vertex_coloring_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/edge_bucket.cuh
  cpp/src/prims/extract_transform_e.cuh
  cpp/src/prims/extract_transform_v_frontier_outgoing_e.cuh
  cpp/src/prims/fill_edge_property.cuh
  cpp/src/prims/fill_edge_src_dst_property.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_src_dst.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/k_hop_nbrs_impl.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/components/mg_mis_test.cu
  cpp/tests/components/mg_vertex_coloring_test.cu
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_transform_reduce_dst_key_aggregated_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_transform_e.cu
  cpp/tests/prims/mg_transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_e_by_src_dst_key.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_src_dst.cu
  cpp/tests/traversal/bfs_test.cpp
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/utilities/property_generator_utilities_impl.cuh
Labels: improvement, non-breaking, cuGraph, CMake

#4532 [IMP] Set the Default WG Memory Type to 'distributed' for the MNMG PyG Example
  python/cugraph-pyg/cugraph_pyg/examples/gcn_dist_mnmg.py
Labels: improvement, non-breaking, python

#4540 Fix Warning from `simpleDistributedGraph.py`
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: improvement, non-breaking, python

#4536 Ensure `get_test_data.sh` doesn't re-download datasets
  datasets/get_test_data.sh
Labels: improvement, non-breaking, datasets

#4539 Create a graph from the edge list in multiple chunks
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_mg_v32_e32.cu
  cpp/src/structure/create_graph_from_edgelist_mg_v32_e64.cu
  cpp/src/structure/create_graph_from_edgelist_mg_v64_e64.cu
  cpp/src/structure/create_graph_from_edgelist_sg_v32_e32.cu
  cpp/src/structure/create_graph_from_edgelist_sg_v32_e64.cu
  cpp/src/structure/create_graph_from_edgelist_sg_v64_e64.cu
  cpp/tests/mtmg/multi_node_threaded_test.cu
  cpp/tests/mtmg/threaded_test.cu
  cpp/tests/mtmg/threaded_test_jaccard.cu
  cpp/tests/mtmg/threaded_test_louvain.cu
  cpp/tests/structure/renumbering_test.cpp
  cpp/tests/utilities/test_graphs.hpp
Labels: improvement, non-breaking, cuGraph

#4533 Refactor C++ unit tests to allow finer grained filtering
  cpp/tests/centrality/edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/eigenvector_centrality_test.cpp
  cpp/tests/centrality/katz_centrality_test.cpp
  cpp/tests/centrality/mg_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_edge_betweenness_centrality_test.cpp
  cpp/tests/centrality/mg_eigenvector_centrality_test.cpp
  cpp/tests/centrality/mg_katz_centrality_test.cpp
  cpp/tests/community/mg_weighted_matching_test.cpp
  cpp/tests/link_analysis/hits_test.cpp
  cpp/tests/link_analysis/mg_hits_test.cpp
  cpp/tests/link_analysis/mg_pagerank_test.cpp
  cpp/tests/prims/mg_count_if_e.cu
  cpp/tests/prims/mg_count_if_v.cu
  cpp/tests/prims/mg_extract_transform_e.cu
  cpp/tests/prims/mg_extract_transform_v_frontier_outgoing_e.cu
  cpp/tests/prims/mg_per_v_random_select_transform_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_dst_key_aggregated_outgoing_e.cu
  cpp/tests/prims/mg_per_v_transform_reduce_incoming_outgoing_e.cu
  cpp/tests/prims/mg_reduce_v.cu
  cpp/tests/prims/mg_transform_e.cu
  cpp/tests/prims/mg_transform_reduce_e.cu
  cpp/tests/prims/mg_transform_reduce_e_by_src_dst_key.cu
  cpp/tests/prims/mg_transform_reduce_v.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_src_dst.cu
  cpp/tests/sampling/biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_random_walks_test.cpp
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/sg_random_walks_test.cpp
  cpp/tests/sampling/uniform_neighbor_sampling.cpp
  cpp/tests/structure/degree_test.cpp
  cpp/tests/structure/induced_subgraph_test.cpp
  cpp/tests/structure/mg_induced_subgraph_test.cu
  cpp/tests/structure/mg_symmetrize_test.cpp
  cpp/tests/structure/mg_transpose_storage_test.cpp
  cpp/tests/structure/mg_transpose_test.cpp
  cpp/tests/structure/renumbering_test.cpp
  cpp/tests/structure/symmetrize_test.cpp
  cpp/tests/structure/transpose_storage_test.cpp
  cpp/tests/structure/transpose_test.cpp
  cpp/tests/structure/weight_sum_test.cpp
  cpp/tests/traversal/mg_bfs_test.cpp
  cpp/tests/traversal/mg_k_hop_nbrs_test.cpp
Labels: improvement, non-breaking, cuGraph

#4535 Define and Implement C API for biased sampling
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/properties.h
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/c_api/properties.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/biased_neighbor_sample_test.c
  cpp/tests/c_api/mg_biased_neighbor_sample_test.c
  python/pylibcugraph/pylibcugraph/_cugraph_c/properties.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
Labels: improvement, non-breaking, cuGraph, CMake, python

#4541 Add Additional Check For SSSP Source Vertex & Fix SSSP Benchmark
  benchmarks/cugraph/pytest-based/bench_algos.py
  benchmarks/pytest.ini
Labels: bug, non-breaking, benchmarks

#4544 Use workflow branch 24.08 again
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#4521 remove thriftpy2 ceiling
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cugraph-service/meta.yaml
  dependencies.yaml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
Labels: improvement, non-breaking, python, conda

#4530 Add `-cuXX` suffixed versions of cugraph-service-client dependency to pyproject.toml's project.dependencies list
  dependencies.yaml
Labels: improvement, non-breaking

#4549 Fix triangle count test bug
  python/cugraph/cugraph/tests/community/test_triangle_count.py
  python/cugraph/cugraph/tests/traversal/test_paths.py
Labels: bug, non-breaking, python

#4559 Temporarily Disable Feature Store Tests with WholeGraph
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
Labels: bug, non-breaking, CRITICAL BUG!, python

#4552 split up CUDA-suffixed dependencies in dependencies.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python

#4375 Optimize K-Truss
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/mtmg/detail/per_device_edgelist.hpp
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/k_truss.cpp
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/community/edge_triangle_count_impl.cuh
  cpp/src/community/k_truss_impl.cuh
  cpp/src/community/k_truss_mg_v32_e32.cu
  cpp/src/community/k_truss_mg_v32_e64.cu
  cpp/src/community/k_truss_mg_v64_e64.cu
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/k_core_impl.cuh
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/symmetrize_edgelist_impl.cuh
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/src/utilities/shuffle_vertex_pairs.cuh
  cpp/src/utilities/shuffle_vertex_pairs_mg_v32_e32.cu
  cpp/src/utilities/shuffle_vertex_pairs_mg_v32_e64.cu
  cpp/src/utilities/shuffle_vertex_pairs_mg_v64_e64.cu
  cpp/src/utilities/shuffle_vertices_mg_v32_integral.cu
  cpp/src/utilities/shuffle_vertices_mg_v64_integral.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_k_truss_test.c
  cpp/tests/community/mg_k_truss_test.cpp
  cpp/tests/link_prediction/mg_similarity_test.cpp
  cpp/tests/link_prediction/mg_weighted_similarity_test.cpp
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_weighted_intersection.cu
  cpp/tests/structure/mg_has_edge_and_compute_multiplicity_test.cpp
  cpp/tests/utilities/test_graphs.hpp
Labels: improvement, non-breaking, cuGraph, CMake

#4563 Fix build error with NO_CUGRAPH_OPS
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
Labels: bug, non-breaking, cuGraph

#4537 nx-cugraph: add `from_dict_of_lists` and `to_dict_of_lists`
  python/nx-cugraph/README.md
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/convert.py
  python/nx-cugraph/nx_cugraph/tests/test_convert.py
Labels: improvement, non-breaking, python, nx-cugraph

#4550 nx-cugraph: fix `from_pandas_edgekey` given edgekey but not edgeattr
  python/nx-cugraph/nx_cugraph/convert_matrix.py
Labels: bug, non-breaking, python, nx-cugraph

#4538 nx-cugraph: add dijkstra sssp functions
  python/nx-cugraph/README.md
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/shortest_paths/generic.py
  python/nx-cugraph/nx_cugraph/algorithms/shortest_paths/unweighted.py
  python/nx-cugraph/nx_cugraph/algorithms/shortest_paths/weighted.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
Labels: improvement, non-breaking, python, nx-cugraph

#4565 Merge branch-24.08 into branch-24.10
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cugraph-service/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/cugraph/tests/community/test_triangle_count.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
  python/cugraph/cugraph/tests/traversal/test_paths.py
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, conda

#4528 Further optimize `from_pandas_edgelist` with cudf
  python/nx-cugraph/nx_cugraph/convert_matrix.py
  python/nx-cugraph/nx_cugraph/tests/test_convert_matrix.py
  python/nx-cugraph/nx_cugraph/tests/test_utils.py
  python/nx-cugraph/nx_cugraph/utils/misc.py
Labels: improvement, non-breaking, python, nx-cugraph

#4555 Fix MG `katz_centrality`: Check if DataFrame Arg is Not None
  python/cugraph/cugraph/dask/centrality/katz_centrality.py
Labels: bug, non-breaking, python

#4548 [BUG] Use the Correct WG Communicator
  python/cugraph-pyg/cugraph_pyg/data/feature_store.py
  python/cugraph-pyg/cugraph_pyg/data/graph_store.py
Labels: bug, non-breaking, python

#4562 Fix ucx-py version, use UCX 1.17.0 in pip devcontainers
  .devcontainer/cuda12.5-pip/devcontainer.json
  ci/release/update-version.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#4560 [BUG] Fix Failing WholeGraph Tests
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
Labels: bug, non-breaking, python

#4567 nx-cugraph: add `G.__networkx_cache__` to enable graph conversion caching
  python/nx-cugraph/nx_cugraph/classes/graph.py
  python/nx-cugraph/nx_cugraph/classes/multigraph.py
Labels: improvement, non-breaking, python, nx-cugraph

#4570 Add pylibcugraph dependency on pylibraft.
  conda/recipes/pylibcugraph/meta.yaml
Labels: bug, non-breaking, conda

#4543 Support non p2p configuration when initializing the comms
  python/cugraph/cugraph/dask/comms/comms.py
  python/cugraph/cugraph/testing/mg_utils.py
  python/cugraph/cugraph/tests/conftest.py
Labels: improvement, non-breaking, python

#4438 MG Implementation K-Truss
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/dask/__init__.py
  python/cugraph/cugraph/dask/community/__init__.py
  python/cugraph/cugraph/dask/community/ktruss_subgraph.py
  python/cugraph/cugraph/tests/community/test_k_truss_subgraph.py
  python/cugraph/cugraph/tests/community/test_k_truss_subgraph_mg.py
  python/pylibcugraph/pylibcugraph/k_truss_subgraph.pyx
Labels: improvement, non-breaking, python

#4571 nx-cugraph: check networkx version
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/__init__.py
Labels: improvement, non-breaking, python, nx-cugraph

#4582 add setuptools to host requirements for conda packages that need it
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-equivariant/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/nx-cugraph/meta.yaml
Labels: bug, non-breaking, conda
