Repository rapidsai/cugraph, pull requests merged in 2024-03, with the labels that each got.

#4207 Update installation docs for CUDA 12.
  docs/cugraph/source/installation/getting_cugraph.md
Labels: doc, non-breaking

#4215 Fix `louvain_communities`, `PropertyGraph`, cudf `column.full`, dgl 2.1.0 CI failures
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/test_python.sh
  ci/test_wheel_cugraph-dgl.sh
  python/cugraph/cugraph/structure/hypergraph.py
  python/cugraph/cugraph/tests/data_store/test_property_graph.py
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
Labels: bug, non-breaking, python, ci

#4213 Add Python 3.11 to Conda docs
  docs/cugraph/source/installation/getting_cugraph.md
Labels: doc, non-breaking

#4214 Remove CUGRAPH_EXPECTS(!(this->has_edge_mask()), unimplemented.)
  cpp/src/structure/graph_view_impl.cuh
Labels: bug, non-breaking, cuGraph

#4194 C API for MNMG ECG
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/community_algorithms.h
  cpp/src/c_api/ecg.cpp
  cpp/src/c_api/legacy_ecg.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/ecg_test.c
  cpp/tests/c_api/legacy_ecg_test.c
  cpp/tests/c_api/mg_ecg_test.c
  cpp/tests/community/legacy_ecg_test.cpp
  python/pylibcugraph/pylibcugraph/_cugraph_c/community_algorithms.pxd
  python/pylibcugraph/pylibcugraph/ecg.pyx
Labels: improvement, breaking, cuGraph, CMake, python

#4209 Add `DeprecationWarning` to `batched_ego_graphs`
  python/cugraph/cugraph/community/egonet.py
  python/cugraph/cugraph/dask/community/egonet.py
Labels: improvement, non-breaking, python

#4220 Remove Usage of Experimental Datasets Package
  benchmarks/cugraph/pytest-based/bench_cugraph_uniform_neighbor_sample.py
Labels: bug, non-breaking, benchmarks

#4158 Add new all-pairs similarity algorithm
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/include/cugraph_c/graph_functions.h
  cpp/include/cugraph_c/similarity_algorithms.h
  cpp/src/c_api/similarity.cpp
  cpp/src/link_prediction/jaccard_impl.cuh
  cpp/src/link_prediction/jaccard_mg.cu
  cpp/src/link_prediction/jaccard_sg.cu
  cpp/src/link_prediction/overlap_impl.cuh
  cpp/src/link_prediction/overlap_mg.cu
  cpp/src/link_prediction/overlap_sg.cu
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/link_prediction/sorensen_impl.cuh
  cpp/src/link_prediction/sorensen_mg.cu
  cpp/src/link_prediction/sorensen_sg.cu
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/sampling/renumber_sampled_edgelist_impl.cuh
  cpp/src/sampling/sampling_post_processing_impl.cuh
  cpp/src/structure/detail/structure_utils.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_two_hop_neighbors_test.c
  cpp/tests/c_api/similarity_test.c
  cpp/tests/c_api/two_hop_neighbors_test.c
  cpp/tests/link_prediction/similarity_compare.hpp
  cpp/tests/link_prediction/similarity_test.cu
  cpp/tests/mtmg/threaded_test_louvain.cu
Labels: improvement, non-breaking, cuGraph, CMake

#4216 Treat nx-cugraph, cugraph-pyg, cugraph-dgl, and cugraph-equivariant CI artifacts as pure wheels
  ci/build_wheel.sh
  ci/test_wheel.sh
  ci/test_wheel_cugraph-dgl.sh
  ci/test_wheel_cugraph-equivariant.sh
  ci/test_wheel_cugraph-pyg.sh
Labels: improvement, non-breaking, ci

#4218 Use public pandas and cudf APIs where possible
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/hypergraph.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
Labels: improvement, non-breaking, python

#4221 transform_e bug fix in edge masking
  cpp/src/prims/transform_e.cuh
Labels: bug, non-breaking, cuGraph

#4229 remove NVTX calls in libcugraph_etl
  cpp/libcugraph_etl/include/hash/concurrent_unordered_map.cuh
Labels: bug, non-breaking, CRITICAL BUG!

#4224 Update cuGraph-PyG GraphSAGE Examples
  python/cugraph-pyg/cugraph_pyg/examples/graph_sage_mg.py
  python/cugraph-pyg/cugraph_pyg/examples/graph_sage_sg.py
Labels: bug, non-breaking, CRITICAL BUG!, python

#4210 Add additional `kwargs` to GATConv
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatconv.py
  python/cugraph-dgl/cugraph_dgl/nn/conv/gatv2conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gat_conv.py
  python/cugraph-pyg/cugraph_pyg/nn/conv/gatv2_conv.py
Labels: improvement, non-breaking, python

#4098 Mark kernels as internal
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  cpp/include/cugraph/detail/decompress_edge_partition.cuh
  cpp/libcugraph_etl/include/hash/helper_functions.cuh
  cpp/libcugraph_etl/src/renumbering.cu
  cpp/src/community/legacy/ecg.cu
  cpp/src/components/legacy/weak_cc.cuh
  cpp/src/layout/legacy/bh_kernels.cuh
  cpp/src/layout/legacy/exact_repulsion.cuh
  cpp/src/layout/legacy/fa2_kernels.cuh
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/src/utilities/eidecl_graph_utils.hpp
  cpp/src/utilities/eidir_graph_utils.hpp
  cpp/src/utilities/graph_utils.cuh
  cpp/src/utilities/path_retrieval.cu
Labels: bug, non-breaking, cuGraph

#4130 Replace local copyright check with pre-commit-hooks verify-copyright
  .pre-commit-config.yaml
  ci/checks/copyright.py
Labels: improvement, non-breaking, ci

#4160 Starting work on blog links and nx_cugraph docs
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/basics/nx_transition.rst
  docs/cugraph/source/graph_support/property_graph.md
  docs/cugraph/source/images/ancestors.png
  docs/cugraph/source/images/bfs_tree.png
  docs/cugraph/source/images/conn_component.png
  docs/cugraph/source/images/descendents.png
  docs/cugraph/source/images/k_truss.png
  docs/cugraph/source/images/katz.png
  docs/cugraph/source/images/pagerank.png
  docs/cugraph/source/images/sssp.png
  docs/cugraph/source/images/wcc.png
  docs/cugraph/source/index.rst
  docs/cugraph/source/nx_cugraph/index.rst
  docs/cugraph/source/nx_cugraph/nx_cugraph.md
  docs/cugraph/source/tutorials/community_resources.md
  docs/cugraph/source/tutorials/cugraph_blogs.rst
Labels: doc, non-breaking

#4222 Added a weighted example to the jaccard notebook
  notebooks/algorithms/link_prediction/Jaccard-Similarity.ipynb
  notebooks/img/dorm_data_diagram.png
Labels: improvement, non-breaking, python

#4227 Make external vertex and edge shuffling function public
  cpp/CMakeLists.txt
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/utilities/shuffle_vertex_pairs.cu
  cpp/src/utilities/shuffle_vertices.cu
Labels: improvement, non-breaking, cuGraph, CMake

#4211 Graph coloring and MIS
  cpp/CMakeLists.txt
  cpp/include/cugraph/algorithms.hpp
  cpp/src/community/detail/maximal_independent_moves.cuh
  cpp/src/community/detail/maximal_independent_moves.hpp
  cpp/src/community/detail/maximal_independent_moves_mg.cu
  cpp/src/community/detail/maximal_independent_moves_sg.cu
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/components/mis_impl.cuh
  cpp/src/components/mis_mg.cu
  cpp/src/components/mis_sg.cu
  cpp/src/components/vertex_coloring_impl.cuh
  cpp/src/components/vertex_coloring_mg.cu
  cpp/src/components/vertex_coloring_sg.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/components/mg_mis_test.cu
  cpp/tests/components/mg_vertex_coloring_test.cu
  cpp/tests/components/mis_test.cu
  cpp/tests/components/vertex_coloring_test.cu
Labels: feature request, non-breaking, cuGraph, CMake

#4212 Add degrees to C API
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/abstract_functor.hpp
  cpp/src/c_api/degrees.cu
  cpp/src/c_api/degrees_result.cpp
  cpp/src/c_api/degrees_result.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/c_test_utils.h
  cpp/tests/c_api/degrees_test.c
  cpp/tests/c_api/mg_degrees_test.c
  cpp/tests/c_api/test_utils.cpp
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/tests/centrality/test_degree_centrality_mg.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/degrees.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#4228 Adds nx-cugraph benchmarks for APIs added to prior releases that were never benchmarked
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
Labels: improvement, non-breaking, benchmarks

#4233 Add upper bound to prevent usage of NumPy 2
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, conda

#4237 MTMG gather use of streams
  cpp/include/cugraph/mtmg/instance_manager.hpp
  cpp/include/cugraph/mtmg/vertex_result_view.hpp
  cpp/src/mtmg/vertex_result.cu
Labels: bug, non-breaking, CRITICAL BUG!, cuGraph

#4225 Updates nx-cugraph `README` for latest h/w, CUDA, python, NX requirements, moves updater to pre-commit
  .pre-commit-config.yaml
  ci/test_python.sh
  python/nx-cugraph/README.md
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/_nx_cugraph/core.py
  python/nx-cugraph/scripts/update_readme.py
Labels: improvement, non-breaking, python, ci

#4161 Enforce matching type
  cpp/src/c_api/random_walks.cpp
  python/cugraph/cugraph/sampling/node2vec.py
  python/cugraph/cugraph/tests/sampling/test_node2vec.py
Labels: improvement, non-breaking, cuGraph, python

#4238 Fix kv_store_t build error when cuCollection is used as a backend and the value type is thrust::tuple
  cpp/src/prims/detail/optional_dataframe_buffer.hpp
  cpp/src/prims/kv_store.cuh
  cpp/tests/prims/mg_per_v_transform_reduce_dst_key_aggregated_outgoing_e.cu
Labels: bug, non-breaking, cuGraph

#4197 Refactor MG Centrality Tests
  python/cugraph/cugraph/tests/centrality/test_batch_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_batch_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_degree_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_eigenvector_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_katz_centrality_mg.py
Labels: improvement, non-breaking, python

#4240 Removes (unintentional?) runtime dependency on `packaging` from nx-cugraph
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: bug, non-breaking, python

#4128 cugraph examples
  cpp/examples/README.md
  cpp/examples/build.sh
  cpp/examples/developers/graph_operations/CMakeLists.txt
  cpp/examples/developers/graph_operations/graph_operations.cu
  cpp/examples/developers/vertex_and_edge_partition/CMakeLists.txt
  cpp/examples/developers/vertex_and_edge_partition/vertex_and_edge_partition.cu
  cpp/examples/fetch_dependencies.cmake
  cpp/examples/users/multi_gpu_application/CMakeLists.txt
  cpp/examples/users/multi_gpu_application/mg_graph_algorithms.cpp
  cpp/examples/users/single_gpu_application/CMakeLists.txt
  cpp/examples/users/single_gpu_application/sg_graph_algorithms.cpp
Labels: feature request, non-breaking, cuGraph, CMake

#4242 nx-cugraph: add `is_negatively_weighted`
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/classes/function.py
  python/nx-cugraph/nx_cugraph/tests/test_classes_function.py
  python/nx-cugraph/pyproject.toml
  python/nx-cugraph/scripts/update_readme.py
Labels: improvement, non-breaking, python

#4223 Enable pytest failures on warnings from cudf
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/community/spectral_clustering.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/dask/community/leiden.py
  python/cugraph/cugraph/dask/community/louvain.py
  python/cugraph/cugraph/dask/link_analysis/pagerank.py
  python/cugraph/cugraph/dask/sampling/random_walks.py
  python/cugraph/cugraph/gnn/dgl_extensions/dgl_uniform_sampler.py
  python/cugraph/cugraph/link_analysis/pagerank.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/sampling/random_walks.py
  python/cugraph/cugraph/sampling/uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/layout/test_force_atlas2.py
  python/cugraph/pytest.ini
Labels: improvement, non-breaking, python

#4254 update example build script with targets and options/help
  cpp/examples/README.md
  cpp/examples/build.sh
Labels: improvement, non-breaking

#4257 Remove outdated conda_build.sh.
  conda_build.sh
Labels: improvement, non-breaking

#4260 Always scatter in FP32 in TPConv
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
Labels: improvement, non-breaking, python

#4263 Forward-merge branch-24.04 to branch-24.06
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
Labels: python

#4264 Update pre-commit-hooks to v0.0.3
  .pre-commit-config.yaml
Labels: bug, non-breaking

#4262 Fix Bug in MG `ego_graph`
  ci/test_python.sh
  ci/test_wheel.sh
  python/cugraph/cugraph/dask/common/part_utils.py
  python/cugraph/cugraph/dask/comms/comms.py
Labels: bug, non-breaking, python, ci

#4059 Ktruss implementation
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_cuhornet.cmake
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph/utilities/graph_traits.hpp
  cpp/src/c_api/k_truss.cpp
  cpp/src/community/edge_triangle_count_impl.cuh
  cpp/src/community/edge_triangle_count_sg.cu
  cpp/src/community/k_truss_impl.cuh
  cpp/src/community/k_truss_sg.cu
  cpp/src/community/legacy/ktruss.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/k_truss_test.c
  cpp/tests/community/k_truss_test.cpp
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: improvement, non-breaking, cuGraph, CMake
