Repository rapidsai/cugraph, pull requests merged in 2024-02, with the labels that each got.

#4121 Adds option to rapids_cpm_find for raft to disable hnswlib feature, adds updates for pytest 8 compat, temporarily skips IO intensive test in CI
  ci/test_python.sh
  ci/test_wheel.sh
  cpp/cmake/thirdparty/get_raft.cmake
  python/nx-cugraph/nx_cugraph/interface.py
Labels: improvement, non-breaking, cuGraph, CMake, python, ci

#4127 Re-run `ci/release/update-version.sh 24.04.00`
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  python/cugraph-equivariant/pyproject.toml
Labels: improvement, non-breaking, python

#4112 Adds benchmarks for additional nx-cugraph 24.02 algos
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  benchmarks/nx-cugraph/pytest-based/run-2402.sh
  python/nx-cugraph/nx_cugraph/algorithms/traversal/breadth_first_search.py
  python/nx-cugraph/nx_cugraph/classes/digraph.py
  python/nx-cugraph/nx_cugraph/classes/graph.py
Labels: improvement, non-breaking, python, benchmarks

#4095 Optimize the drop-duplicate functionality
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/pylibcugraph/pylibcugraph/graphs.pyx
Labels: improvement, non-breaking, python

#4120 Removes the `networkx_algorithm` decorator to all SCC functions to disable dispatching to them
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/components/strongly_connected.py
  python/nx-cugraph/nx_cugraph/interface.py
Labels: bug, non-breaking, python

#4138 Forward-merge branch-24.02 to branch-24.04
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/components/strongly_connected.py
  python/nx-cugraph/nx_cugraph/interface.py
Labels: python

#4131 corrected links in C API and added groups for support functions
  cpp/include/cugraph_c/community_algorithms.h
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/include/cugraph_c/traversal_algorithms.h
  docs/cugraph/source/api_docs/cugraph_c/community.rst
  docs/cugraph/source/api_docs/cugraph_c/labeling.rst
  docs/cugraph/source/api_docs/cugraph_c/sampling.rst
  docs/cugraph/source/api_docs/cugraph_c/similarity.rst
  docs/cugraph/source/api_docs/cugraph_c/traversal.rst
Labels: doc, non-breaking, cuGraph

#4135 Updates nx-cugraph README.md with latest algos
  python/nx-cugraph/README.md
  python/nx-cugraph/nx_cugraph/scripts/print_tree.py
Labels: doc, non-breaking, python

#4133 Constraint pytorch-dependent wheel test to only run on amd64
  .github/workflows/test.yaml
Labels: bug, non-breaking

#4144 Fixes for pandas 2, latest cudf, and wheel building
  ci/test_wheel_cugraph-dgl.sh
  ci/test_wheel_cugraph-pyg.sh
  cpp/libcugraph_etl/CMakeLists.txt
  cpp/libcugraph_etl/src/renumbering.cu
  python/cugraph-dgl/cugraph_dgl/dataloading/utils/sampling_helpers.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/gnn/dgl_extensions/dgl_uniform_sampler.py
  python/cugraph/cugraph/sampling/sampling_utilities.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
Labels: bug, breaking, cuGraph, CMake, python, ci

#4147 Exclude tests from builds
  python/cugraph-dgl/pyproject.toml
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-equivariant/setup.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: bug, non-breaking, python

#4148 Ensure that `ctest` is called with `--no-tests=error`.
  ci/test_cpp.sh
Labels: improvement, non-breaking, ci

#4109 handle more RAPIDS version formats in update-version.sh, refactor dependencies.yaml
  ci/release/update-version.sh
  dependencies.yaml
Labels: bug, non-breaking, ci

#4157 Revert "Exclude tests from builds (#4147)"
  python/cugraph-dgl/pyproject.toml
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-equivariant/setup.py
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: bug, non-breaking, python

#4119 Address primitives performance regression with the added edge masking support (when edge masking is not in use)
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/prims/transform_reduce_e.cuh
Labels: improvement, non-breaking, cuGraph

#4162 Add cuda-nvtx-dev, add missing CUDA library dependencies.
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-120_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#4167 Fix `FutureWarnings` in Graph Creation
  python/cugraph/cugraph/structure/number_map.py
Labels: bug, non-breaking, python

#4091 Add a new notebook for SNMG benchmark runs
  notebooks/cugraph_benchmarks/synth_release_single_node_multi_gpu.ipynb
Labels: improvement, non-breaking, python

#4168 Use input rng_state rather than creating a local one
  cpp/src/community/detail/refine_impl.cuh
Labels: bug, non-breaking, cuGraph

#4088 Support CUDA 12.2
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_docs.sh
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cugraph/meta.yaml
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/pylibcugraph/meta.yaml
  cpp/tests/CMakeLists.txt
  dependencies.yaml
  docs/cugraph/source/conf.py
  fetch_rapids.cmake
  python/cugraph/CMakeLists.txt
  python/pylibcugraph/CMakeLists.txt
Labels: feature request, non-breaking, cuGraph, CMake, python, ci, conda

#4169 Update SG notebook
  notebooks/cugraph_benchmarks/synth_release_single_gpu.ipynb
  notebooks/cugraph_benchmarks/synth_release_single_node_multi_gpu.ipynb
Labels: bug, non-breaking, python

#4111 Update cugraph for compatibility with the latest cuco
  cpp/src/prims/key_store.cuh
  cpp/src/prims/kv_store.cuh
Labels: improvement, non-breaking, cuGraph

#4175 target branch-24.04 for GitHub Actions workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#4146 Update ops-bot.yaml
  .github/ops-bot.yaml
Labels: improvement, non-breaking

#4152 Add environment-agnostic scripts for running ctests and pytests
  ci/run_ctests.sh
  ci/run_cugraph_benchmark_pytests.sh
  ci/run_cugraph_dgl_pytests.sh
  ci/run_cugraph_equivariant_pytests.sh
  ci/run_cugraph_pyg_pytests.sh
  ci/run_cugraph_pytests.sh
  ci/run_cugraph_service_pytests.sh
  ci/run_nx_cugraph_pytests.sh
  ci/run_pylibcugraph_pytests.sh
  ci/test_cpp.sh
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#4183 Refactor and Fix `test_induced_subgraph_mg`
  python/cugraph/cugraph/community/induced_subgraph.py
  python/cugraph/cugraph/tests/community/test_induced_subgraph_mg.py
Labels: bug, breaking, python

#4184 Update devcontainers to CUDA Toolkit 12.2
  .devcontainer/cuda11.8-pip/devcontainer.json
  .devcontainer/cuda12.2-conda/devcontainer.json
  .devcontainer/cuda12.2-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4126 Enable edge masking in additional primitives
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/utilities/mask_utils.cuh
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/prims/detail/extract_transform_v_frontier_e.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/detail/prim_functors.cuh
  cpp/src/prims/extract_transform_e.cuh
  cpp/src/prims/extract_transform_v_frontier_outgoing_e.cuh
  cpp/src/prims/fill_edge_src_dst_property.cuh
  cpp/src/prims/per_v_transform_reduce_incoming_outgoing_e.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/sampling/detail/gather_one_hop_edgelist_impl.cuh
  cpp/src/structure/graph_weight_utils_impl.cuh
  cpp/src/structure/induced_subgraph_impl.cuh
  cpp/tests/prims/mg_extract_transform_e.cu
  cpp/tests/prims/mg_extract_transform_v_frontier_outgoing_e.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_weighted_intersection.cu
  cpp/tests/prims/mg_transform_reduce_v_frontier_outgoing_e_by_dst.cu
  cpp/tests/structure/weight_sum_test.cpp
Labels: feature request, non-breaking, cuGraph

#4180 Update README for cugraph notebooks
  notebooks/README.md
Labels: doc, non-breaking, python

#4177 Update `louvain_communities` to match NetworkX 3.3 (added max_level)
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/algorithms/community/louvain.py
  python/nx-cugraph/nx_cugraph/interface.py
  python/nx-cugraph/nx_cugraph/tests/test_match_api.py
Labels: improvement, non-breaking, python

#4192 nx-cugraph: update `get_info` function keys to NetworkX 3.3
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/_nx_cugraph/core.py
Labels: improvement, non-breaking, python

#4189 Adds additional detail to Jaccard notebook
  notebooks/algorithms/link_prediction/Jaccard-Similarity.ipynb
Labels: improvement, non-breaking, python

#4195 Add support for Python 3.11, require NumPy 1.23+
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-122_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  conda/recipes/cugraph-service/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-pyg/pyproject.toml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/nx-cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, conda
