Repository rapidsai/cugraph, pull requests merged in 2024-12, with the labels that each got.

#4794 Adapt to rmm logger changes
  build.sh
  ci/build_docs.sh
  cpp/CMakeLists.txt
  docs/cugraph/source/api_docs/index.rst
  docs/cugraph/source/conf.py
Labels: improvement, non-breaking, cuGraph, CMake, ci

#4769 Notebook to run Centrality against PatentsView data for Medium Blog
  notebooks/demo/centrality_patentsview.ipynb
Labels: doc, non-breaking, python, Notebook

#4792 pip devcontainers: use UCX 1.17, prefer system installation
  .devcontainer/Dockerfile
  .devcontainer/cuda11.8-pip/devcontainer.json
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4775 Remove edge renumber map from the homogeneous sampling API
  cpp/include/cugraph/sampling_functions.hpp
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/sampling/neighbor_sampling_impl.hpp
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/heterogeneous_biased_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/heterogeneous_uniform_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/homogeneous_biased_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/homogeneous_uniform_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
Labels: improvement, non-breaking, cuGraph, python

#4799 Fix CCCL 2.7.0-rc2 compile issue by removing reference from values.
  cpp/libcugraph_etl/src/renumbering.cu
Labels: bug, non-breaking, cuGraph

#4798 Remove upper bounds on cuda-python to allow 12.6.2 and 11.8.5
  conda/recipes/cugraph/meta.yaml
Labels: feature request, non-breaking, conda

#4808 [BUG] Set Max PyTorch Version, Skip 11.4 Tests Using WholeGraph
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
Labels: bug, breaking, CRITICAL BUG!, python, conda

#4813 Update cuda-python lower bounds to 12.6.2 / 11.8.5
  conda/recipes/cugraph/meta.yaml
Labels: improvement, non-breaking, conda

#4824 Update version references in workflow
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#4790 Add `amazon0302.txt.gz` Benchmarking Dataset to Datasets API
  python/cugraph/cugraph/datasets/__init__.py
  python/cugraph/cugraph/datasets/metadata/amazon0302.yaml
  python/cugraph/cugraph/testing/__init__.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
  python/cugraph/cugraph/utilities/utils.py
Labels: feature request, breaking, python

#4816 gate telemetry dispatch calls on TELEMETRY_ENABLED env var
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4832 Forward-merge branch-24.12 into branch-25.02
  CHANGELOG.md
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/cugraph/datasets/dataset.py
  python/cugraph/cugraph/testing/resultset.py
  python/cugraph/cugraph/tests/conftest.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
  python/cugraph/pyproject.toml
Labels: python, conda

#4662 Changed ci build_docs to just upload the xml so the cugraph-docs can create the docs
  ci/build_docs.sh
Labels: doc, non-breaking, ci

#4834 update telemetry actions to fluent-bit friendly style
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4829 Add cuda-python dependency
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
Labels: bug, non-breaking, python, conda

#4805 remove 'wget' conda dependency, re-organize dependencies.yaml
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/libcugraph/meta.yaml
  dependencies.yaml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#4839 Remove sphinx pinning
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#4835 Update for raft logger changes
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking, cuGraph, CMake

#4842 Get breathe from conda
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda
