Repository rapidsai/cugraph, pull requests merged in 2024-11, with the labels that each got.

#4747 Put a ceiling on cuda-python
  conda/recipes/cugraph/meta.yaml
Labels: bug, non-breaking, conda

#4744 Remove CMake/C++ references to cugraph-ops
  build.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_libcugraphops.cmake
  cpp/include/cugraph/algorithms.hpp
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/sampling/neighbor_sampling_impl.hpp
  cpp/src/sampling/neighborhood.cu
  cpp/tests/c_api/biased_neighbor_sample_test.c
  cpp/tests/c_api/mg_biased_neighbor_sample_test.c
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/uniform_neighbor_sampling.cpp
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/tests/docs/test_doctests.py
  python/cugraph/pytest.ini
Labels: improvement, breaking, cuGraph, CMake, python

#4748 Remove `nx-cugraph` build/test/publish from cugraph
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_nx-cugraph.sh
  ci/release/update-version.sh
  ci/run_nx_cugraph_pytests.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/test_wheel_nx-cugraph.sh
  ci/wheel_smoke_test_nx-cugraph.py
Labels: improvement, breaking, graph-devops, ci

#4752 remove cugraph-dgl and cugraph-pyg building/testing/publishing
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cugraph-dgl.sh
  ci/build_wheel_cugraph-pyg.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-dgl.sh
  ci/test_wheel_cugraph-pyg.sh
Labels: improvement, breaking, ci

#4754 enforce wheel size limits, README formatting in CI
  ci/build_wheel_cugraph-equivariant.sh
  ci/build_wheel_cugraph.sh
  ci/build_wheel_pylibcugraph.sh
  ci/validate_wheel.sh
  python/cugraph-equivariant/pyproject.toml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci

#4755 Fix improper initialization of degree_type
  cpp/src/c_api/core_number.cpp
Labels: bug, non-breaking, cuGraph

#4608 support heterogenous fanout type
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph/sampling_functions.hpp
  cpp/include/cugraph_c/sampling_algorithms.h
  cpp/src/c_api/array.hpp
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/detail/utility_wrappers_32.cu
  cpp/src/detail/utility_wrappers_64.cu
  cpp/src/detail/utility_wrappers_impl.cuh
  cpp/src/sampling/detail/conversion_utilities.cu
  cpp/src/sampling/detail/sampling_utils.hpp
  cpp/src/sampling/detail/shuffle_and_organize_output_impl.cuh
  cpp/src/sampling/detail/shuffle_and_organize_output_mg_v32_e32.cu
  cpp/src/sampling/detail/shuffle_and_organize_output_mg_v64_e64.cu
  cpp/src/sampling/neighbor_sampling_impl.hpp
  cpp/src/sampling/neighbor_sampling_mg_v32_e32.cpp
  cpp/src/sampling/neighbor_sampling_mg_v32_e32.cu
  cpp/src/sampling/neighbor_sampling_mg_v64_e64.cpp
  cpp/src/sampling/neighbor_sampling_mg_v64_e64.cu
  cpp/src/sampling/neighbor_sampling_sg_v32_e32.cpp
  cpp/src/sampling/neighbor_sampling_sg_v32_e32.cu
  cpp/src/sampling/neighbor_sampling_sg_v64_e64.cpp
  cpp/src/sampling/neighbor_sampling_sg_v64_e64.cu
  cpp/src/utilities/shuffle_vertices.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/sampling/heterogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/heterogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/homogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/homogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/mg_heterogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_heterogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/mg_homogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_homogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/algorithms.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/sampling_algorithms.pxd
  python/pylibcugraph/pylibcugraph/heterogeneous_biased_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/heterogeneous_uniform_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/homogeneous_biased_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/homogeneous_uniform_neighbor_sample.pyx
  python/pylibcugraph/pylibcugraph/internal_types/sampling_result.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#4741 Fix MG similarity issues
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/tests/link_prediction/mg_similarity_test.cpp
  cpp/tests/link_prediction/similarity_test.cu
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
  python/cugraph/cugraph/tests/link_prediction/test_jaccard.py
  python/cugraph/cugraph/tests/link_prediction/test_sorensen.py
Labels: bug, non-breaking, cuGraph, python

#4761 Update nx-cugraph Docs URLs
  docs/cugraph/source/nx_cugraph/benchmarks.md
  docs/cugraph/source/nx_cugraph/supported-algorithms.rst
Labels: doc, non-breaking

#4762 Remove cugraph-equivariance
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  build.sh
  ci/build_python.sh
  ci/build_wheel.sh
  ci/build_wheel_cugraph-equivariant.sh
  ci/run_cugraph_equivariant_pytests.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-equivariant.sh
  conda/recipes/cugraph-equivariant/build.sh
  conda/recipes/cugraph-equivariant/meta.yaml
  cpp/tests/community/balanced_edge_test.cpp
  dependencies.yaml
  docs/cugraph/source/installation/getting_cugraph.md
  python/cugraph-equivariant/LICENSE
  python/cugraph-equivariant/README.md
  python/cugraph-equivariant/cugraph_equivariant/VERSION
  python/cugraph-equivariant/cugraph_equivariant/__init__.py
  python/cugraph-equivariant/cugraph_equivariant/_version.py
  python/cugraph-equivariant/cugraph_equivariant/nn/__init__.py
  python/cugraph-equivariant/cugraph_equivariant/nn/tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/tests/conftest.py
  python/cugraph-equivariant/cugraph_equivariant/tests/pytest.ini
  python/cugraph-equivariant/cugraph_equivariant/tests/test_scatter.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_tensor_product_conv.py
  python/cugraph-equivariant/cugraph_equivariant/tests/test_version.py
  python/cugraph-equivariant/cugraph_equivariant/utils/__init__.py
  python/cugraph-equivariant/cugraph_equivariant/utils/scatter.py
  python/cugraph-equivariant/pyproject.toml
  python/cugraph-equivariant/setup.py
Labels: improvement, non-breaking, cuGraph, python, ci, conda

#4703 Relax PyTorch upper bound (allowing 2.4)
  ci/build_docs.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  dependencies.yaml
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-dgl/pyproject.toml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
  python/cugraph-pyg/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#4750 extract the edgelist from the graph
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/decompress_to_edgelist.cpp
  cpp/src/c_api/edgelist.cpp
  cpp/src/c_api/edgelist.hpp
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/number_map.py
  python/cugraph/cugraph/tests/structure/test_graph.py
  python/cugraph/cugraph/tests/structure/test_graph_mg.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/decompress_to_edgelist.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#4740 add telemetry
  .github/workflows/pr.yaml
Labels: improvement, non-breaking, Needs build-infra

#4783 Increase max_iterations in MG HITS TEST
  cpp/tests/link_analysis/mg_hits_test.cpp
Labels: improvement, non-breaking, cuGraph

#4774 Fix debug build failure
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/sampling/neighbor_sampling_impl.hpp
Labels: bug, non-breaking, cuGraph

#4776 Updates READMEs, updates `core_number` to properly ignore `degree_type`, minor cleanup
  README.md
  python/cugraph/cugraph/cores/core_number.py
  python/cugraph/cugraph/dask/cores/core_number.py
  python/cugraph/cugraph/datasets/dataset.py
  python/cugraph/cugraph/tests/core/test_core_number.py
  python/cugraph/cugraph/tests/core/test_core_number_mg.py
  python/cugraph/cugraph/tests/link_prediction/test_jaccard.py
  python/pylibcugraph/pylibcugraph/core_number.pyx
Labels: improvement, non-breaking, python

#4766 Drop support for NetworkX 3.0 and 3.1 for nx-cugraph
  docs/cugraph/source/nx_cugraph/how-it-works.md
  docs/cugraph/source/nx_cugraph/installation.md
Labels: doc, non-breaking

#4771 Add sphinx-lint pre-commit and some docs fixes
  .pre-commit-config.yaml
  docs/cugraph/source/api_docs/cugraph-ops/index.rst
  docs/cugraph/source/api_docs/cugraph-ops/python/index.rst
  docs/cugraph/source/nx_cugraph/index.rst
  docs/cugraph/source/nx_cugraph/supported-algorithms.rst
  docs/cugraph/source/tutorials/cugraph_blogs.rst
Labels: bug, non-breaking

#4781 Re-enable balanced edge cut test
  cpp/tests/community/balanced_edge_test.cpp
Labels: bug, non-breaking, cuGraph

#4746 Add breaking change workflow trigger
  .github/workflows/trigger-breaking-change-alert.yaml
Labels: improvement, non-breaking

#4789 Require approval to run CI on draft PRs
  .github/copy-pr-bot.yaml
Labels: improvement, non-breaking
