Repository rapidsai/cugraph, pull requests merged in 2024-10, with the labels that each got.

#4634 Prune workflows based on changed files
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4669 Add `nx-cugraph` Docs Pages
  docs/cugraph/source/_static/bc_benchmark.png
  docs/cugraph/source/_static/colab.png
  docs/cugraph/source/_static/nxcg-execution-diagram.jpg
  docs/cugraph/source/nx_cugraph/benchmarks.md
  docs/cugraph/source/nx_cugraph/faqs.md
  docs/cugraph/source/nx_cugraph/how-it-works.md
  docs/cugraph/source/nx_cugraph/index.rst
  docs/cugraph/source/nx_cugraph/installation.md
  docs/cugraph/source/nx_cugraph/nx_cugraph.md
  docs/cugraph/source/nx_cugraph/supported-algorithms.rst
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: doc, non-breaking, python

#4677 Add `nx-cugraph` introduction notebook to repo
  notebooks/demo/accelerating_networkx.ipynb
Labels: feature request, non-breaking, python, Notebook

#4674 Implementing some of the VDR feedback
  docs/cugraph/source/index.rst
  docs/cugraph/source/top_toc.rst
Labels: doc, non-breaking

#4649 Refactor the python function symmetrizing the edgelist
  cpp/include/cugraph_c/graph.h
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/mg_create_graph_test.c
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/structure/hypergraph.py
  python/cugraph/cugraph/structure/property_graph.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/tests/sampling/test_random_walks_mg.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample.py
  python/cugraph/cugraph/tests/sampling/test_uniform_neighbor_sample_mg.py
  python/cugraph/cugraph/tests/structure/test_graph.py
  python/cugraph/cugraph/tests/structure/test_multigraph.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
  python/cugraph/cugraph/utilities/nx_factory.py
  python/cugraph/pytest.ini
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
Labels: improvement, non-breaking, cuGraph, python

#4690 Constrain versions of PyTorch and CI artifacts in CI Runs, upgrade to dgl 2.4
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-dgl.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  dependencies.yaml
  docs/cugraph/source/graph_support/DGL_support.md
  docs/cugraph/source/wholegraph/installation/container.md
  python/cugraph-dgl/README.md
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
Labels: bug, non-breaking, python, ci, conda

#4697 Merge branch-24.10 into branch-24.12
  ci/build_docs.sh
  ci/build_python.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  ci/test_wheel_cugraph-dgl.sh
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-125_arch-x86_64.yaml
  conda/recipes/cugraph-dgl/meta.yaml
  conda/recipes/cugraph-pyg/meta.yaml
  dependencies.yaml
  docs/cugraph/source/graph_support/DGL_support.md
  docs/cugraph/source/wholegraph/installation/container.md
  python/cugraph-dgl/README.md
  python/cugraph-dgl/conda/cugraph_dgl_dev_cuda-118.yaml
  python/cugraph-pyg/conda/cugraph_pyg_dev_cuda-118.yaml
Labels: improvement, non-breaking, python, ci, conda

#4694 Updates docs to describe nx-cugraph based on latest updates for 24.10
  docs/cugraph/source/basics/cugraph_cascading.md
  docs/cugraph/source/basics/index.md
  docs/cugraph/source/basics/index.rst
  docs/cugraph/source/basics/nx_transition.rst
  docs/cugraph/source/index.rst
  docs/cugraph/source/nx_cugraph/benchmarks.md
  docs/cugraph/source/nx_cugraph/faqs.md
  docs/cugraph/source/nx_cugraph/how-it-works.md
  docs/cugraph/source/nx_cugraph/index.rst
  docs/cugraph/source/nx_cugraph/installation.md
  docs/cugraph/source/nx_cugraph/supported-algorithms.rst
  docs/cugraph/source/top_toc.rst
  readme_pages/pylibcugraph.md
Labels: bug, non-breaking

#4685 `nx-cugraph`: add `NX_CUGRAPH_AUTOCONFIG=True` env var to enable full zero-code change
  python/nx-cugraph/_nx_cugraph/__init__.py
Labels: improvement, non-breaking, python

#4671 Update all rmm imports to use pylibrmm/librmm
  python/cugraph/cugraph/structure/graph_primtypes.pxd
  python/cugraph/cugraph/structure/graph_primtypes.pyx
  python/cugraph/cugraph/structure/graph_utilities.pxd
Labels: improvement, non-breaking, python

#4717 Update nx-cugraph to NetworkX 3.4
  .pre-commit-config.yaml
  python/nx-cugraph/_nx_cugraph/__init__.py
  python/nx-cugraph/nx_cugraph/tests/test_ego_graph.py
Labels: bug, non-breaking, python, nx-cugraph

#4705 Update `nx-cugraph` README with New Env Variable
  python/nx-cugraph/README.md
Labels: doc, non-breaking, python

#4718 Remove deprecated C API functions for graph creation/graph free
  cpp/include/cugraph_c/graph.h
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/tests/c_api/betweenness_centrality_test.c
  cpp/tests/c_api/bfs_test.c
  cpp/tests/c_api/biased_neighbor_sample_test.c
  cpp/tests/c_api/core_number_test.c
  cpp/tests/c_api/create_graph_test.c
  cpp/tests/c_api/ecg_test.c
  cpp/tests/c_api/edge_betweenness_centrality_test.c
  cpp/tests/c_api/egonet_test.c
  cpp/tests/c_api/eigenvector_centrality_test.c
  cpp/tests/c_api/extract_paths_test.c
  cpp/tests/c_api/hits_test.c
  cpp/tests/c_api/k_core_test.c
  cpp/tests/c_api/k_truss_test.c
  cpp/tests/c_api/katz_test.c
  cpp/tests/c_api/legacy_spectral_test.c
  cpp/tests/c_api/leiden_test.c
  cpp/tests/c_api/louvain_test.c
  cpp/tests/c_api/mg_betweenness_centrality_test.c
  cpp/tests/c_api/mg_bfs_test.c
  cpp/tests/c_api/mg_biased_neighbor_sample_test.c
  cpp/tests/c_api/mg_core_number_test.c
  cpp/tests/c_api/mg_ecg_test.c
  cpp/tests/c_api/mg_edge_betweenness_centrality_test.c
  cpp/tests/c_api/mg_egonet_test.c
  cpp/tests/c_api/mg_eigenvector_centrality_test.c
  cpp/tests/c_api/mg_hits_test.c
  cpp/tests/c_api/mg_induced_subgraph_test.c
  cpp/tests/c_api/mg_k_core_test.c
  cpp/tests/c_api/mg_k_truss_test.c
  cpp/tests/c_api/mg_katz_test.c
  cpp/tests/c_api/mg_leiden_test.c
  cpp/tests/c_api/mg_lookup_src_dst_test.c
  cpp/tests/c_api/mg_louvain_test.c
  cpp/tests/c_api/mg_negative_sampling_test.c
  cpp/tests/c_api/mg_pagerank_test.c
  cpp/tests/c_api/mg_random_walks_test.c
  cpp/tests/c_api/mg_similarity_test.c
  cpp/tests/c_api/mg_sssp_test.c
  cpp/tests/c_api/mg_strongly_connected_components_test.c
  cpp/tests/c_api/mg_test_utils.cpp
  cpp/tests/c_api/mg_triangle_count_test.c
  cpp/tests/c_api/mg_two_hop_neighbors_test.c
  cpp/tests/c_api/mg_uniform_neighbor_sample_test.c
  cpp/tests/c_api/mg_weakly_connected_components_test.c
  cpp/tests/c_api/negative_sampling_test.c
  cpp/tests/c_api/pagerank_test.c
  cpp/tests/c_api/sg_random_walks_test.c
  cpp/tests/c_api/similarity_test.c
  cpp/tests/c_api/sssp_test.c
  cpp/tests/c_api/strongly_connected_components_test.c
  cpp/tests/c_api/test_utils.cpp
  cpp/tests/c_api/triangle_count_test.c
  cpp/tests/c_api/two_hop_neighbors_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  cpp/tests/c_api/weakly_connected_components_test.c
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
Labels: improvement, breaking, cuGraph, python

#4726 Adds new dataset for benchmarking in the 100k node 1M edge range, adds additional k-values for BC benchmarks
  benchmarks/nx-cugraph/pytest-based/README.md
  benchmarks/nx-cugraph/pytest-based/bench_algos.py
  benchmarks/nx-cugraph/pytest-based/create_results_summary_page.py
  benchmarks/nx-cugraph/pytest-based/get_graph_bench_dataset.py
  benchmarks/nx-cugraph/pytest-based/run-main-benchmarks.sh
Labels: improvement, non-breaking, benchmarks

#4727 Remove `--collect-only` Option Left by Accident
  benchmarks/nx-cugraph/pytest-based/run-main-benchmarks.sh
Labels: bug, non-breaking

#4687 [FEA] Support Edge ID Lookup in PyLibcuGraph
  cpp/include/cugraph_c/lookup_src_dst.h
  cpp/src/c_api/lookup_src_dst.cpp
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/lookup_src_dst.pxd
  python/pylibcugraph/pylibcugraph/edge_id_lookup_table.pxd
  python/pylibcugraph/pylibcugraph/edge_id_lookup_table.pyx
  python/pylibcugraph/pylibcugraph/internal_types/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/internal_types/edge_id_lookup_result.pxd
  python/pylibcugraph/pylibcugraph/internal_types/edge_id_lookup_result.pyx
  python/pylibcugraph/pylibcugraph/tests/test_lookup_table.py
Labels: feature request, non-breaking, cuGraph, CMake, python

#4730 Address Leiden clustering generating too many clusters
  cpp/src/community/detail/refine.hpp
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/community/detail/refine_mg_v32_e32.cu
  cpp/src/community/detail/refine_mg_v64_e64.cu
  cpp/src/community/detail/refine_sg_v32_e32.cu
  cpp/src/community/detail/refine_sg_v64_e64.cu
  cpp/src/community/leiden_impl.cuh
Labels: bug, non-breaking, cuGraph

#4723 re-run all CI when files in .github/workflows change
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4732 devcontainer: replace `VAULT_HOST` with `AWS_ROLE_ARN`
  .devcontainer/Dockerfile
Labels: improvement, non-breaking

#4719 print sccache stats in builds
  .pre-commit-config.yaml
  ci/build_cpp.sh
  ci/build_python.sh
  ci/build_wheel.sh
Labels: improvement, non-breaking, ci
