Repository rapidsai/cugraph, pull requests merged in 2025-05, with the labels that each got.

#5031 Reduce peak memory usage
  cpp/include/cugraph/edge_partition_device_view.cuh
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/community/detail/common_methods.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/prims/detail/extract_transform_if_v_frontier_e.cuh
  cpp/src/prims/detail/multi_stream_utils.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/relabel_impl.cuh
  cpp/src/structure/remove_multi_edges_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/traversal/extract_bfs_paths_impl.cuh
  cpp/src/utilities/collect_comm.cuh
Labels: improvement, non-breaking, cuGraph

#5036 Use public pylibcudf APIs in graph_primtypes
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cugraph/recipe.yaml
  dependencies.yaml
  python/cugraph/cugraph/structure/graph_primtypes.pxd
  python/cugraph/cugraph/structure/graph_primtypes.pyx
  python/cugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#5057 Add support for Python 3.13
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, conda

#5062 Forward-merge branch-25.06 into branch-25.08
  ci/release/update-version.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cugraph/recipe.yaml
  dependencies.yaml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/cugraph/structure/graph_primtypes.pxd
  python/cugraph/cugraph/structure/graph_primtypes.pyx
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#5068 Pin cython to avoid version 3.1.0 because of bug (cython issue 6841)
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cugraph-service/recipe.yaml
  conda/recipes/cugraph/recipe.yaml
  conda/recipes/pylibcugraph/recipe.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: bug, non-breaking, python, conda

#5070 Make thrust_tuple_cat device callable.
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/sampling/detail/gather_one_hop_edgelist_impl.cuh
  cpp/src/sampling/detail/sample_edges.cuh
Labels: improvement, non-breaking, cuGraph

#5027 Use pytest-xdist for parallel testing
  ci/test_python.sh
  dependencies.yaml
  python/cugraph/cugraph/tests/utils/test_dataset.py
  python/cugraph/cugraph/tests/utils/test_resultset.py
Labels: improvement, non-breaking, python, ci

#5072 Remove get_test_data before tests run.
  ci/test_python.sh
Labels: improvement, non-breaking, ci

#5073 Update to clang 20
  .pre-commit-config.yaml
  cpp/include/cugraph/graph.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/libcugraph_etl/src/renumbering.cu
  cpp/src/c_api/graph_generators.cpp
  cpp/src/lookup/lookup_src_dst_impl.cuh
  cpp/src/prims/detail/extract_transform_if_v_frontier_e.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/detail/per_v_transform_reduce_e.cuh
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/tests/generators/generate_bipartite_rmat_test.cpp
  cpp/tests/generators/generate_rmat_test.cpp
Labels: improvement, non-breaking, cuGraph

#5061 Remove Remaining cuGraph-DGL Code
  benchmarks/cugraph/notebooks/feature_storage.ipynb
  benchmarks/dgl/README.md
  benchmarks/dgl/create_dataset.py
  benchmarks/dgl/pytest-based/dgl_benchmark.py
  ci/run_cugraph_pytests.sh
  ci/test_wheel.sh
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/cugraph/experimental/__init__.py
  python/cugraph/cugraph/gnn/__init__.py
  python/cugraph/cugraph/gnn/data_loading/__init__.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler_io.py
  python/cugraph/cugraph/gnn/dgl_extensions/__init__.py
  python/cugraph/cugraph/gnn/dgl_extensions/dgl_uniform_sampler.py
  python/cugraph/cugraph/gnn/dgl_extensions/feature_storage.py
  python/cugraph/cugraph/gnn/dgl_extensions/utils/__init__.py
  python/cugraph/cugraph/gnn/dgl_extensions/utils/sampling.py
  python/cugraph/cugraph/gnn/feature_storage/__init__.py
  python/cugraph/cugraph/gnn/feature_storage/feat_storage.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage.py
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
  python/cugraph/cugraph/tests/gnn/test_dgl_uniform_sampler.py
  python/cugraph/cugraph/tests/gnn/test_dgl_uniform_sampler_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_io_mg.py
  python/cugraph/cugraph/tests/sampling/test_bulk_sampler_mg.py
  python/cugraph/pyproject.toml
Labels: improvement, breaking, python, ci, benchmarks, conda

#5074 Convert non-type template parameter store_transposed in edge_src|dst_property_t to a runtime parameter
  cpp/include/cugraph/edge_partition_endpoint_property_device_view.cuh
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/centrality/eigenvector_centrality_impl.cuh
  cpp/src/centrality/katz_centrality_impl.cuh
  cpp/src/community/approx_weighted_matching_impl.cuh
  cpp/src/community/detail/common_methods.cuh
  cpp/src/community/detail/common_methods.hpp
  cpp/src/community/detail/common_methods_mg_v32_e32.cu
  cpp/src/community/detail/common_methods_mg_v64_e64.cu
  cpp/src/community/detail/common_methods_sg_v32_e32.cu
  cpp/src/community/detail/common_methods_sg_v64_e64.cu
  cpp/src/community/detail/maximal_independent_moves.cuh
  cpp/src/community/detail/refine.hpp
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/community/detail/refine_mg_v32_e32.cu
  cpp/src/community/detail/refine_mg_v64_e64.cu
  cpp/src/community/detail/refine_sg_v32_e32.cu
  cpp/src/community/detail/refine_sg_v64_e64.cu
  cpp/src/community/ecg_impl.cuh
  cpp/src/community/k_truss_impl.cuh
  cpp/src/community/leiden_impl.cuh
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/mis_impl.cuh
  cpp/src/components/vertex_coloring_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/link_analysis/hits_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/prims/detail/per_v_transform_reduce_e.cuh
  cpp/src/prims/fill_edge_src_dst_property.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/sampling/random_walks_impl.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/tests/components/mg_mis_test.cu
  cpp/tests/components/mg_vertex_coloring_test.cu
  cpp/tests/components/mis_test.cu
  cpp/tests/components/vertex_coloring_test.cu
  cpp/tests/utilities/property_generator_utilities.hpp
  cpp/tests/utilities/property_generator_utilities_impl.cuh
Labels: improvement, breaking, cuGraph

#5076 Remove pure=False from client.compute calls
  python/cugraph/cugraph/dask/common/part_utils.py
  python/cugraph/cugraph/structure/graph_implementation/simpleDistributedGraph.py
Labels: improvement, non-breaking, python

#5075 Finish CUDA 12.9 migration and use branch-25.06 workflows
  .devcontainer/cuda12.8-conda/devcontainer.json
  .devcontainer/cuda12.8-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/workflows/trigger-breaking-change-alert.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#5015 Do not pretend to default initialize a device lambda
  cpp/src/prims/count_if_v.cuh
  cpp/src/prims/transform_reduce_v.cuh
  cpp/src/prims/update_v_frontier.cuh
Labels: improvement, non-breaking, cuGraph

#5051 Fix MSBFS Test Failure
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/ms_bfs_test.cpp
  cpp/tests/traversal/ms_bfs_test.cu
  cpp/tests/utilities/thrust_wrapper.cu
  cpp/tests/utilities/thrust_wrapper.hpp
Labels: bug, non-breaking, cuGraph, CMake

#5078 Utility functions to create an edge_src|dst_property view objects.
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/src/community/approx_weighted_matching_impl.cuh
  cpp/src/community/detail/common_methods.cuh
  cpp/src/community/detail/maximal_independent_moves.cuh
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/components/mis_impl.cuh
  cpp/src/components/vertex_coloring_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
Labels: improvement, non-breaking

#5077 Test code for Graph 500 BFS
  cpp/include/cugraph/partition_manager.hpp
  cpp/src/utilities/shuffle_vertex_pairs.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/traversal/mg_graph500_bfs_test.cu
  cpp/tests/traversal/nbr_unrenumber_cache.cuh
Labels: improvement, non-breaking, cuGraph, CMake

#5084 Adds `test_node2vec` to temporary non-xdist test list
  ci/test_python.sh
Labels: bug, non-breaking, ci

#5087 Removes unnecessary dependencies from cugraph-service
  dependencies.yaml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph-service/tests/test_remote_graph.py
Labels: improvement, non-breaking, python

#5044 add C implementation of MST
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/algorithms.h
  cpp/include/cugraph_c/tree_algorithms.h
  cpp/src/c_api/legacy_mst.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/legacy_mst_test.c
  python/cugraph/cugraph/tree/minimum_spanning_tree.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/tree_algorithms.pxd
  python/pylibcugraph/pylibcugraph/minimum_spanning_tree.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#5085 Fix pylibcudf dependency
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
Labels: bug, non-breaking, python, conda

#5089 use 'rapids-init-pip' in wheel CI, other CI changes
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  ci/build_wheel.sh
  ci/build_wheel_cugraph.sh
  ci/build_wheel_libcugraph.sh
  ci/build_wheel_pylibcugraph.sh
  ci/test_wheel_cugraph.sh
  ci/test_wheel_pylibcugraph.sh
Labels: improvement, non-breaking, ci

#5093 Test WCC with edge masking
  cpp/tests/components/mg_weakly_connected_components_test.cpp
  cpp/tests/components/weakly_connected_components_test.cpp
Labels: improvement, non-breaking, cuGraph

#5082 Update method retrieving the edgelist
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/graph_implementation/simpleGraph.py
  python/cugraph/cugraph/tests/structure/test_convert_matrix.py
  python/cugraph/cugraph/tests/structure/test_graph.py
  python/cugraph/cugraph/tests/structure/test_graph_mg.py
  python/cugraph/cugraph/tests/structure/test_multigraph.py
Labels: bug, non-breaking, python
