Repository rapidsai/cugraph, pull requests merged in 2025-04, with the labels that each got.

#4999 Port all conda recipes to `rattler-build`
  ci/build_cpp.sh
  ci/build_python.sh
  conda/recipes/cugraph-service/install_cugraph-service-client.sh
  conda/recipes/cugraph-service/install_cugraph-service-server.sh
  conda/recipes/cugraph-service/meta.yaml
  conda/recipes/cugraph-service/recipe.yaml
  conda/recipes/cugraph/build.sh
  conda/recipes/cugraph/meta.yaml
  conda/recipes/cugraph/recipe.yaml
  conda/recipes/libcugraph/build.sh
  conda/recipes/libcugraph/install_libcugraph.sh
  conda/recipes/libcugraph/install_libcugraph_etl.sh
  conda/recipes/libcugraph/install_libcugraph_tests.sh
  conda/recipes/libcugraph/meta.yaml
  conda/recipes/libcugraph/recipe.yaml
  conda/recipes/pylibcugraph/build.sh
  conda/recipes/pylibcugraph/meta.yaml
  conda/recipes/pylibcugraph/recipe.yaml
  python/cugraph-service/client/pyproject.toml
  python/cugraph-service/server/pyproject.toml
  python/cugraph/pyproject.toml
  python/libcugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, ci, conda

#5007 Branch 25.06 merge 25.04
  .github/workflows/pr.yaml
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph_c/graph_functions.h
  cpp/include/cugraph_c/layout_algorithms.h
  cpp/src/c_api/capi_helper.cu
  cpp/src/c_api/capi_helper.hpp
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/legacy_fa2.cpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/detail/utility_wrappers_32.cu
  cpp/src/detail/utility_wrappers_64.cu
  cpp/src/detail/utility_wrappers_impl.cuh
  cpp/src/layout/legacy/force_atlas2.cu
  cpp/tests/c_api/betweenness_centrality_test.c
  cpp/tests/c_api/mg_betweenness_centrality_test.c
  cpp/tests/centrality/betweenness_centrality_reference.hpp
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/tests/centrality/test_batch_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_batch_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality.py
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/sssp.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/_cugraph_c/layout_algorithms.pxd
  python/pylibcugraph/pylibcugraph/bfs.pyx
  python/pylibcugraph/pylibcugraph/egonet.pyx
  python/pylibcugraph/pylibcugraph/force_atlas2.pyx
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/has_vertex.pyx
  python/pylibcugraph/pylibcugraph/sssp.pyx
  python/pylibcugraph/pylibcugraph/utils.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#5004 Fix sampling primitive build error.
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
Labels: bug, non-breaking, cuGraph

#5023 Add missing thrust headers & Pass dtype objects to cuDF as_column
  cpp/include/cugraph/utilities/misc_utils.cuh
  cpp/src/detail/utility_wrappers_impl.cuh
  cpp/tests/centrality/betweenness_centrality_validate.cu
  cpp/tests/community/egonet_validate.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_intersection.cu
  cpp/tests/prims/mg_per_v_pair_transform_dst_nbr_weighted_intersection.cu
  cpp/tests/prims/mg_transform_reduce_dst_nbr_intersection_of_e_endpoints_by_v.cu
  cpp/tests/utilities/csv_file_utilities.cu
  cpp/tests/utilities/thrust_wrapper.cu
  python/cugraph/cugraph/structure/hypergraph.py
Labels: improvement, non-breaking, cuGraph, python

#5021 Add ARM conda environments
  conda/environments/all_cuda-118_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-aarch64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#5014 Update C++ test binary file output directory from build/tests to build/gtests
  cpp/tests/CMakeLists.txt
Labels: improvement, non-breaking, cuGraph, CMake

#5001 Fixes Failing Cugraph Uniform Neighbor Sample Benchmark
  benchmarks/cugraph/pytest-based/bench_cugraph_uniform_neighbor_sample.py
  python/cugraph/cugraph/sampling/sampling_utilities.py
Labels: improvement, non-breaking, python, benchmarks

#5017 [HOTFIX] Adds deprecation warnings for BulkSampler, bulk sampling API, and DGL extensions.
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/dgl_extensions/__init__.py
Labels: doc, non-breaking, python

#5034 [HOTFIX] `v25.04.01`
  python/cugraph/cugraph/gnn/data_loading/bulk_sampler.py
  python/cugraph/cugraph/gnn/dgl_extensions/__init__.py
Labels: python

#5035 refactor(rattler): enable strict channel priority for builds
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci

#4954 Add shellcheck to pre-commit and fix warnings
  .pre-commit-config.yaml
  benchmarks/cugraph/standalone/run_all_nightly_benches.sh
  benchmarks/shared/build_cugraph_ucx/build-ucx.sh
  build.sh
  ci/build_docs.sh
  ci/build_wheel.sh
  ci/build_wheel_cugraph.sh
  ci/build_wheel_pylibcugraph.sh
  ci/release/update-version.sh
  ci/test.sh
  ci/test_cpp.sh
  ci/test_python.sh
  ci/test_wheel.sh
  ci/test_wheel_cugraph.sh
  ci/test_wheel_pylibcugraph.sh
  ci/utils/nbtest.sh
  ci/validate_wheel.sh
  cpp/examples/build.sh
  datasets/get_test_data.sh
  mg_utils/default-config.sh
  mg_utils/functions.sh
  mg_utils/run-dask-process.sh
  notebooks/cugraph_benchmarks/dataPrep.sh
  python/cugraph-service/tests/multi_client_test_runner.sh
  scripts/dask/run-dask-process.sh
Labels: improvement, non-breaking, cuGraph, python, ci, benchmarks, datasets

#5037 Avoid unnecessary libcugraph wheel builds
  .github/workflows/build.yaml
Labels: improvement, non-breaking

#5028 Avoid private cuDF Python APIs
  python/cugraph/cugraph/structure/hypergraph.py
Labels: improvement, non-breaking, python

#5039 Added #include <cuda/std/cmath> for correct cuda::std::log reference
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
Labels: bug, non-breaking, cuGraph

#5046 Fix failing test with new cccl
  cpp/tests/sampling/sampling_heterogeneous_post_processing_test.cpp
Labels: improvement, non-breaking, cuGraph

#5047 Temporarily disable test so we can upgrade to CCCL 2.8.x
  cpp/tests/CMakeLists.txt
Labels: bug, non-breaking, cuGraph, CMake

#5049 [BUGFIX] Fixed quoting in wheel paths in cugraph and pylibcugraph tests
  ci/test_wheel_cugraph.sh
  ci/test_wheel_pylibcugraph.sh
Labels: improvement, non-breaking, ci

#5052 Add support for random state to FA2
  cpp/include/cugraph/algorithms.hpp
  cpp/src/c_api/legacy_fa2.cpp
  cpp/src/layout/legacy/barnes_hut.cuh
  cpp/src/layout/legacy/exact_fa2.cuh
  cpp/src/layout/legacy/force_atlas2.cu
  cpp/tests/layout/legacy/force_atlas2_test.cu
  python/cugraph/cugraph/tests/layout/test_force_atlas2.py
Labels: improvement, breaking, cuGraph, python
