Repository rapidsai/cugraph, pull requests merged in 2025-02, with the labels that each got.

#4903 Fixed links that pointed to old docs/source and removed perf page
  README.md
  readme_pages/performance/performance.md
Labels: doc, non-breaking

#4856 Renumber with global renumber map too big for GPU
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/renumber_arbitrary_edgelist.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/renumber_arbitrary_edgelist_test.c
Labels: improvement, non-breaking, cuGraph, CMake

#4913 Use `rapids-pip-retry` in CI jobs that might need retries
  ci/build_wheel.sh
  ci/build_wheel_libcugraph.sh
  ci/test_wheel_cugraph.sh
  ci/test_wheel_pylibcugraph.sh
Labels: improvement, non-breaking, ci

#4895 Support C API Arbitrary Renumbering in PLC
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/renumber_arbitrary_edgelist.pyx
  python/pylibcugraph/pylibcugraph/tests/test_renumber_arbitrary_edgelist.py
Labels: feature request, non-breaking, CMake, python

#4904 Do not rely on `thrust::null_type`
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
Labels: improvement, non-breaking, cuGraph

#4918 Add build_type input field for `test.yaml`
  .github/workflows/test.yaml
Labels: improvement, non-breaking

#4925 Replace `thrust::identity` with `cuda::std::identity`
  cpp/src/mtmg/vertex_result.cuh
  cpp/src/prims/detail/per_v_transform_reduce_e.cuh
  cpp/src/prims/fill_edge_property.cuh
  cpp/src/sampling/negative_sampling_impl.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
Labels: improvement, non-breaking, cuGraph

#4924 Fix CUDA 12.8 build compiler warnings
  cpp/include/cugraph/edge_src_dst_property.hpp
  cpp/src/detail/utility_wrappers_impl.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
Labels: improvement, non-breaking, cuGraph

#4911 Use new rapids-logger library
  ci/build_cpp.sh
  ci/build_wheel.sh
  ci/build_wheel_libcugraph.sh
  ci/test_cpp.sh
  cpp/CMakeLists.txt
  cpp/cmake/thirdparty/get_raft.cmake
  cpp/tests/CMakeLists.txt
  python/libcugraph/libcugraph/load.py
Labels: improvement, breaking, cuGraph, CMake, python, ci

#4920 [FIX] Improve the Warning Displayed for Uneven Batch Distributions
  python/cugraph/cugraph/gnn/data_loading/dist_sampler.py
Labels: improvement, non-breaking, python

#4929 Remove Obsolete GNN Benchmarks
  benchmarks/cugraph-dgl/notebooks/get_node_storage.ipynb
  benchmarks/cugraph-dgl/notebooks/heterogeneous_dataloader_benchmark.ipynb
  benchmarks/cugraph-dgl/notebooks/homogenous_dataloader_benchmark.ipynb
  benchmarks/cugraph-dgl/pytest-based/README.MD
  benchmarks/cugraph-dgl/pytest-based/bench_cugraph_dgl_uniform_neighbor_sample.py
  benchmarks/cugraph-dgl/python-script/dgl_dataloading_benchmark/dgl_benchmark.py
  benchmarks/cugraph-dgl/python-script/ogbn_mag_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/__init__.py
  benchmarks/cugraph-dgl/scale-benchmarks/cugraph_dgl_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/dgl_benchmark.py
  benchmarks/cugraph-dgl/scale-benchmarks/load_graph_feats.py
  benchmarks/cugraph-dgl/scale-benchmarks/model.py
  benchmarks/cugraph/standalone/bulk_sampling/.gitignore
  benchmarks/cugraph/standalone/bulk_sampling/README.md
  benchmarks/cugraph/standalone/bulk_sampling/bench_cugraph_training.py
  benchmarks/cugraph/standalone/bulk_sampling/benchmarking_script.ipynb
  benchmarks/cugraph/standalone/bulk_sampling/cugraph_bulk_sampling.py
  benchmarks/cugraph/standalone/bulk_sampling/datasets/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/datasets/dataset.py
  benchmarks/cugraph/standalone/bulk_sampling/datasets/ogbn_papers100M.py
  benchmarks/cugraph/standalone/bulk_sampling/models/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/models/dgl/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/models/dgl/models_dgl.py
  benchmarks/cugraph/standalone/bulk_sampling/models/pyg/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/models/pyg/models_cugraph_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/models/pyg/models_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/run_train_job.sh
  benchmarks/cugraph/standalone/bulk_sampling/train.sh
  benchmarks/cugraph/standalone/bulk_sampling/trainers/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/dgl/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/dgl/trainers_cugraph_dgl.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/dgl/trainers_dgl.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/pyg/__init__.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/pyg/trainers_cugraph_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/pyg/trainers_pyg.py
  benchmarks/cugraph/standalone/bulk_sampling/trainers/trainer.py
Labels: doc, breaking

#4922 Update heterogeneous sampling algorithm code to use the newly developed heterogeneous sampling primitve.
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/sampling_functions.hpp
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/c_api/array.hpp
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/sampling/detail/gather_one_hop_edgelist_impl.cuh
  cpp/src/sampling/detail/gather_one_hop_edgelist_mg_v32_e32.cu
  cpp/src/sampling/detail/gather_one_hop_edgelist_mg_v64_e64.cu
  cpp/src/sampling/detail/gather_one_hop_edgelist_sg_v32_e32.cu
  cpp/src/sampling/detail/gather_one_hop_edgelist_sg_v64_e64.cu
  cpp/src/sampling/detail/sample_edges.cuh
  cpp/src/sampling/detail/sample_edges_mg_v32_e32.cu
  cpp/src/sampling/detail/sample_edges_mg_v64_e64.cu
  cpp/src/sampling/detail/sample_edges_sg_v32_e32.cu
  cpp/src/sampling/detail/sample_edges_sg_v64_e64.cu
  cpp/src/sampling/detail/sampling_utils.hpp
  cpp/src/sampling/neighbor_sampling_impl.hpp
  cpp/src/sampling/neighbor_sampling_mg_v32_e32.cu
  cpp/src/sampling/neighbor_sampling_mg_v64_e64.cu
  cpp/src/sampling/neighbor_sampling_sg_v32_e32.cu
  cpp/src/sampling/neighbor_sampling_sg_v64_e64.cu
  cpp/tests/c_api/biased_neighbor_sample_test.c
  cpp/tests/c_api/uniform_neighbor_sample_test.c
  cpp/tests/sampling/heterogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/heterogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/mg_heterogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_heterogeneous_uniform_neighbor_sampling.cpp
Labels: improvement, breaking, cuGraph

#4935 Create Conda CI test env in one step
  ci/build_docs.sh
  ci/release/update-version.sh
  ci/test_cpp.sh
  ci/test_notebooks.sh
  ci/test_python.sh
  dependencies.yaml
Labels: improvement, non-breaking, ci

#4938 Require CMake 3.30.4
  conda/environments/all_cuda-118_arch-x86_64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cugraph/conda_build_config.yaml
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/pylibcugraph/conda_build_config.yaml
  cpp/CMakeLists.txt
  cpp/examples/developers/graph_operations/CMakeLists.txt
  cpp/examples/developers/vertex_and_edge_partition/CMakeLists.txt
  cpp/examples/users/multi_gpu_application/CMakeLists.txt
  cpp/examples/users/single_gpu_application/CMakeLists.txt
  cpp/libcugraph_etl/CMakeLists.txt
  dependencies.yaml
  python/cugraph/CMakeLists.txt
  python/cugraph/pyproject.toml
  python/libcugraph/CMakeLists.txt
  python/libcugraph/pyproject.toml
  python/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, cuGraph, CMake, python, conda

#4931 Use raft::host_span instead of const reference to std::vector
  cpp/include/cugraph/utilities/device_comm.hpp
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/c_api/extract_ego.cpp
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/cores/core_number_impl.cuh
  cpp/src/detail/permute_range.cuh
  cpp/src/link_prediction/similarity_impl.cuh
  cpp/src/lookup/lookup_src_dst_impl.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/detail/per_v_transform_reduce_e.cuh
  cpp/src/prims/detail/sample_and_compute_local_nbr_indices.cuh
  cpp/src/prims/detail/transform_v_frontier_e.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/transform_reduce_v_frontier_outgoing_e_by_dst.cuh
  cpp/src/prims/update_v_frontier.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/sampling/detail/shuffle_and_organize_output_impl.cuh
  cpp/src/sampling/negative_sampling_impl.cuh
  cpp/src/sampling/random_walks_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/relabel_impl.cuh
  cpp/src/structure/renumber_edgelist_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/structure/select_random_vertices_impl.hpp
  cpp/src/traversal/bfs_impl.cuh
  cpp/src/traversal/od_shortest_distances_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
  cpp/src/utilities/collect_comm.cuh
  cpp/src/utilities/shuffle_vertex_pairs.cuh
  cpp/tests/structure/induced_subgraph_test.cpp
  cpp/tests/utilities/device_comm_wrapper.cu
  cpp/tests/utilities/mg_utilities.cpp
Labels: improvement, breaking, cuGraph

#4947 update handling of GNN dependencies
  ci/release/update-version.sh
  dependencies.yaml
  python/cugraph-service/client/pyproject.toml
Labels: improvement, non-breaking, python, ci

#4936 Add local edge source/destination shuffle functions and clean up shuffle utility functions.
  cpp/CMakeLists.txt
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/shuffle_functions.hpp
  cpp/src/c_api/betweenness_centrality.cpp
  cpp/src/c_api/bfs.cpp
  cpp/src/c_api/capi_helper.cu
  cpp/src/c_api/degrees.cu
  cpp/src/c_api/extract_ego.cpp
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/c_api/pagerank.cpp
  cpp/src/c_api/triangle_count.cpp
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/community/k_truss_impl.cuh
  cpp/src/community/leiden_impl.cuh
  cpp/src/community/louvain_impl.cuh
  cpp/src/community/triangle_count_impl.cuh
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/detail/graph_partition_utils.cuh
  cpp/src/structure/coarsen_graph_impl.cuh
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/src/structure/symmetrize_edgelist_impl.cuh
  cpp/src/structure/symmetrize_edgelist_mg_v32_e32.cu
  cpp/src/structure/symmetrize_edgelist_mg_v64_e64.cu
  cpp/src/structure/symmetrize_edgelist_sg_v32_e32.cu
  cpp/src/structure/symmetrize_edgelist_sg_v64_e64.cu
  cpp/src/structure/symmetrize_graph_impl.cuh
  cpp/src/structure/transpose_graph_impl.cuh
  cpp/src/structure/transpose_graph_storage_impl.cuh
  cpp/src/utilities/shuffle_local_edge_srcs_dsts.cuh
  cpp/src/utilities/shuffle_local_edge_srcs_dsts_mg_v32_fp.cu
  cpp/src/utilities/shuffle_local_edge_srcs_dsts_mg_v32_integral.cu
  cpp/src/utilities/shuffle_local_edge_srcs_dsts_mg_v64_fp.cu
  cpp/src/utilities/shuffle_local_edge_srcs_dsts_mg_v64_integral.cu
  cpp/src/utilities/shuffle_vertex_pairs.cuh
  cpp/src/utilities/shuffle_vertex_pairs_mg_v32_e32.cu
  cpp/src/utilities/shuffle_vertex_pairs_mg_v64_e64.cu
  cpp/src/utilities/shuffle_vertices.cuh
  cpp/src/utilities/shuffle_vertices_mg_v32_fp.cu
  cpp/src/utilities/shuffle_vertices_mg_v32_integral.cu
  cpp/src/utilities/shuffle_vertices_mg_v64_fp.cu
  cpp/src/utilities/shuffle_vertices_mg_v64_integral.cu
  cpp/tests/community/mg_egonet_test.cu
  cpp/tests/prims/mg_per_v_transform_reduce_dst_key_aggregated_outgoing_e.cu
  cpp/tests/sampling/mg_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_heterogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_heterogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/mg_homogeneous_biased_neighbor_sampling.cpp
  cpp/tests/sampling/mg_homogeneous_uniform_neighbor_sampling.cpp
  cpp/tests/sampling/mg_uniform_neighbor_sampling.cpp
  cpp/tests/utilities/csv_file_utilities.cu
  cpp/tests/utilities/test_graphs.hpp
Labels: feature request, non-breaking, cuGraph, CMake

#4949 add cugraph-notebook-codeowners to CODEOWNERS
  .github/CODEOWNERS
Labels: improvement, non-breaking

#4950 Use conda-build instead of conda-mambabuild
  ci/build_cpp.sh
  ci/build_python.sh
Labels: improvement, non-breaking, ci
