Repository rapidsai/cugraph, pull requests merged in 2025-07, with the labels that each got.

#5129 Remove nvidia and dask channels
  .pre-commit-config.yaml
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#5132 Compile Optimizations - batch 4
  cpp/CMakeLists.txt
  cpp/src/sampling/detail/sampling_utils.hpp
  cpp/src/sampling/detail/shuffle_and_organize_output.cu
  cpp/src/sampling/detail/shuffle_and_organize_output_impl.cuh
  cpp/src/sampling/detail/shuffle_and_organize_output_mg_v32_e32.cu
  cpp/src/sampling/detail/shuffle_and_organize_output_mg_v64_e64.cu
  cpp/src/sampling/neighbor_sampling_impl.hpp
  cpp/src/utilities/shuffle_vertices.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/c_api/mg_similarity_test.c
Labels: improvement, non-breaking, cuGraph, CMake

#5139 add docs on CI workflow inputs
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
Labels: doc, non-breaking

#5143 Update MST test
  cpp/tests/c_api/legacy_mst_test.c
Labels: improvement, non-breaking, cuGraph

#5142 Bug fix in assert()
  cpp/src/structure/graph_view_impl.cuh
Labels: bug, non-breaking, cuGraph

#5150 Add test for Cosine Similarity algorithm
  python/cugraph/cugraph/dask/link_prediction/cosine.py
  python/cugraph/cugraph/dask/link_prediction/jaccard.py
  python/cugraph/cugraph/dask/link_prediction/overlap.py
  python/cugraph/cugraph/dask/link_prediction/sorensen.py
  python/cugraph/cugraph/link_prediction/cosine.py
  python/cugraph/cugraph/link_prediction/jaccard.py
  python/cugraph/cugraph/link_prediction/overlap.py
  python/cugraph/cugraph/link_prediction/sorensen.py
  python/cugraph/cugraph/tests/link_prediction/test_cosine.py
Labels: improvement, non-breaking, python

#5133 First set of updates - Centrality and community
  .gitignore
  python/cugraph-service/client/cugraph_service_client/client.py
  python/cugraph-service/client/cugraph_service_client/cugraph_service_thrift.py
  python/cugraph-service/client/cugraph_service_client/types.py
  python/cugraph-service/server/cugraph_service_server/cugraph_handler.py
  python/cugraph-service/tests/test_e2e.py
  python/cugraph/cugraph/__init__.py
  python/cugraph/cugraph/centrality/__init__.py
  python/cugraph/cugraph/centrality/betweenness_centrality.py
  python/cugraph/cugraph/centrality/degree_centrality.py
  python/cugraph/cugraph/centrality/eigenvector_centrality.py
  python/cugraph/cugraph/centrality/katz_centrality.py
  python/cugraph/cugraph/community/__init__.py
  python/cugraph/cugraph/community/ecg.py
  python/cugraph/cugraph/community/egonet.py
  python/cugraph/cugraph/community/induced_subgraph.py
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/community/leiden.py
  python/cugraph/cugraph/community/louvain.py
  python/cugraph/cugraph/community/spectral_clustering.py
  python/cugraph/cugraph/community/subgraph_extraction.py
  python/cugraph/cugraph/community/triangle_count.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_degree_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_eigenvector_centrality.py
  python/cugraph/cugraph/tests/centrality/test_katz_centrality.py
  python/cugraph/cugraph/tests/community/test_balanced_cut.py
  python/cugraph/cugraph/tests/community/test_ecg.py
  python/cugraph/cugraph/tests/community/test_k_truss_subgraph.py
  python/cugraph/cugraph/tests/community/test_leiden.py
  python/cugraph/cugraph/tests/community/test_louvain.py
  python/cugraph/cugraph/tests/community/test_modularity.py
  python/cugraph/cugraph/tests/community/test_subgraph_extraction.py
  python/cugraph/cugraph/tests/community/test_triangle_count.py
  python/cugraph/cugraph/tests/sampling/test_egonet.py
  python/cugraph/cugraph/tests/utils/test_dataset.py
Labels: improvement, non-breaking, python

#5159 Relax PyTorch pinning to >=2.3.
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  dependencies.yaml
Labels: improvement, non-breaking, conda

#5152 [IMP] Allow Metadata Specification in Distributed Sampler
  python/cugraph/cugraph/gnn/data_loading/dist_sampler.py
  python/cugraph/cugraph/tests/sampling/test_dist_sampler.py
Labels: improvement, non-breaking, python

#5163 removed cuda 11 reference
  notebooks/README.md
  python/cugraph/cugraph/tests/docs/test_doctests.py
Labels: doc, non-breaking, python

#5168 redirecting GNN content to the docs pages and fixed libcugraph link
  README.md
  readme_pages/gnn_support.md
  readme_pages/libcugraph.md
Labels: doc, non-breaking

#5165 Update decompress_to_edgelist to take an optional large buffer type as an input parameter.
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/c_api/decompress_to_edgelist.cpp
  cpp/src/structure/decompress_to_edgelist_impl.cuh
  cpp/src/structure/decompress_to_edgelist_mg_v32_e32.cu
  cpp/src/structure/decompress_to_edgelist_mg_v64_e64.cu
  cpp/src/structure/decompress_to_edgelist_sg_v32_e32.cu
  cpp/src/structure/decompress_to_edgelist_sg_v64_e64.cu
  cpp/tests/cores/k_core_validate.cu
Labels: improvement, breaking, cuGraph

#5118 Adding GH_TOKEN pass-through to summarize job
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#5166 Move `gnn.comms` to PLC
  python/cugraph/CMakeLists.txt
  python/cugraph/cugraph/dask/comms/comms.py
  python/cugraph/cugraph/gnn/__init__.py
  python/cugraph/cugraph/gnn/data_loading/dist_sampler.py
  python/cugraph/cugraph/tests/sampling/test_dist_sampler_mg.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/comms/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/comms/__init__.py
  python/pylibcugraph/pylibcugraph/comms/comms.pxd
  python/pylibcugraph/pylibcugraph/comms/comms_wrapper.pyx
  python/pylibcugraph/pylibcugraph/comms/cugraph_nccl_comms.py
Labels: improvement, breaking, CMake, python

#5173 Update update_edge_src|dst_property behavior (with vertex list)
  cpp/src/components/weakly_connected_components_impl.cuh
  cpp/src/prims/per_v_pair_transform_dst_nbr_intersection.cuh
  cpp/src/prims/update_edge_src_dst_property.cuh
  cpp/src/sampling/detail/update_temporal_edge_mask_impl.cuh
  cpp/src/sampling/random_walks_impl.cuh
  cpp/src/traversal/sssp_impl.cuh
Labels: improvement, non-breaking, cuGraph

#5162 Remove cuda11 reference from CMake file
  cpp/CMakeLists.txt
  cpp/libcugraph_etl/CMakeLists.txt
  cpp/tests/utilities/validation_utilities.cu
  python/cugraph/cugraph/community/ktruss_subgraph.py
  python/cugraph/cugraph/tests/docs/test_doctests.py
  readme_pages/TRANSITIONGUIDE.md
  readme_pages/cugraph_python.md
Labels: improvement, non-breaking, cuGraph, CMake, python

#5185 Disable codecov comments
  codecov.yml
Labels: improvement, non-breaking

#5187 Drop old CUDA pre-10 logic
  cpp/libcugraph_etl/include/hash/managed.cuh
Labels: improvement, non-breaking, cuGraph

#5164 fix(docker): use versioned `-latest` tag for all `rapidsai` images
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/release/update-version.sh
Labels: improvement, non-breaking, ci

#5188 Allow latest OS in devcontainers
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
Labels: improvement, non-breaking

#5146 Improve betweenness centrality performance
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/tests/centrality/betweenness_centrality_test.cpp
Labels: improvement, non-breaking, cuGraph
