Repository rapidsai/cugraph, pull requests merged in 2025-03, with the labels that each got.

#4955 CUDF changed API to assume the dtype is already converted to a cudf type
  python/cugraph/cugraph/structure/hypergraph.py
Labels: bug, non-breaking, python

#4957 temporarily increase the timeout for nightly test failures
  .github/workflows/pr.yaml
Labels: bug, non-breaking

#4959 Take vertex_partition_range_offsets(_lasts) using a raft::host_span instead of std::vector constant reference.
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/include/cugraph/mtmg/vertex_pair_result_view.hpp
  cpp/include/cugraph/mtmg/vertex_result_view.hpp
  cpp/src/c_api/bfs.cpp
  cpp/src/c_api/extract_paths.cpp
  cpp/src/c_api/negative_sampling.cpp
  cpp/src/c_api/neighbor_sampling.cpp
  cpp/src/c_api/sssp.cpp
  cpp/src/c_api/triangle_count.cpp
  cpp/src/community/approx_weighted_matching_impl.cuh
  cpp/src/community/detail/refine_impl.cuh
  cpp/src/mtmg/vertex_pairs_result.cuh
  cpp/src/mtmg/vertex_pairs_result_mg_v32_e32.cu
  cpp/src/mtmg/vertex_pairs_result_mg_v64_e64.cu
  cpp/src/mtmg/vertex_pairs_result_sg_v32_e32.cu
  cpp/src/mtmg/vertex_pairs_result_sg_v64_e64.cu
  cpp/src/mtmg/vertex_result.cuh
  cpp/src/mtmg/vertex_result_mg_v32_e32.cu
  cpp/src/mtmg/vertex_result_mg_v64_e64.cu
  cpp/src/mtmg/vertex_result_sg_v32_e32.cu
  cpp/src/mtmg/vertex_result_sg_v64_e64.cu
  cpp/src/sampling/detail/prepare_next_frontier_impl.cuh
  cpp/src/sampling/detail/prepare_next_frontier_mg_v32_e32.cu
  cpp/src/sampling/detail/prepare_next_frontier_mg_v64_e64.cu
  cpp/src/sampling/detail/prepare_next_frontier_sg_v32_e32.cu
  cpp/src/sampling/detail/prepare_next_frontier_sg_v64_e64.cu
  cpp/src/sampling/detail/sampling_utils.hpp
  cpp/src/sampling/neighbor_sampling_impl.hpp
  cpp/src/structure/graph_view_impl.cuh
  cpp/src/structure/renumber_utils_impl.cuh
  cpp/src/structure/renumber_utils_mg_v32_e32.cu
  cpp/src/structure/renumber_utils_mg_v64_e64.cu
  cpp/src/structure/renumber_utils_sg_v32_e32.cu
  cpp/src/structure/renumber_utils_sg_v64_e64.cu
  cpp/src/structure/select_random_vertices_impl.hpp
  cpp/src/utilities/collect_comm.cuh
  cpp/src/utilities/shuffle_vertex_pairs.cuh
  cpp/src/utilities/shuffle_vertex_pairs_mg_v32_e32.cu
  cpp/src/utilities/shuffle_vertex_pairs_mg_v64_e64.cu
  cpp/src/utilities/shuffle_vertices.cuh
  cpp/src/utilities/shuffle_vertices_mg_v32_integral.cu
  cpp/src/utilities/shuffle_vertices_mg_v64_integral.cu
  cpp/tests/sampling/detail/sampling_post_processing_validate.cu
Labels: improvement, breaking, cuGraph

#4951 Reduce downloaded test data in CI
  ci/test_python.sh
  python/cugraph/cugraph/tests/data_store/test_property_graph_mg.py
  python/cugraph/cugraph/tests/structure/test_graph_mg.py
Labels: improvement, non-breaking, python, ci

#4965 Updates call to `as_column` for new requirement on `dtype` arg
  python/cugraph/cugraph/utilities/utils.py
Labels: bug, non-breaking, python

#4963 Reduce memory footprint of core number computation.
  cpp/src/cores/core_number_impl.cuh
Labels: improvement, non-breaking, cuGraph

#4960 Silence compiler warnings about host device destructor
  cpp/include/cugraph/edge_property.hpp
Labels: improvement, non-breaking, cuGraph

#4961 remove_multi_edges bug fix.
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/structure/remove_multi_edges_impl.cuh
Labels: bug, non-breaking, cuGraph

#4923 Enable MTMG tests in CI
  ci/release/update-version.sh
  conda/recipes/libcugraph/build.sh
  conda/recipes/libcugraph/conda_build_config.yaml
  conda/recipes/libcugraph/meta.yaml
  cpp/CMakeLists.txt
  cpp/include/cugraph/mtmg/detail/per_device_edgelist.hpp
  cpp/include/cugraph/mtmg/edgelist.hpp
  cpp/include/cugraph/mtmg/graph.hpp
  cpp/include/cugraph/mtmg/graph_view.hpp
  cpp/include/cugraph/mtmg/per_thread_edgelist.hpp
  cpp/tests/CMakeLists.txt
  cpp/tests/mtmg/multi_node_threaded_test.cpp
  cpp/tests/mtmg/threaded_test.cpp
  cpp/tests/mtmg/threaded_test_jaccard.cpp
  cpp/tests/mtmg/threaded_test_louvain.cpp
Labels: improvement, non-breaking, cuGraph, CMake, ci, conda

#4964 Fix datasets API (no longer experimental)
  notebooks/algorithms/layout/Force-Atlas2.ipynb
  readme_pages/property_graph.md
Labels: bug, non-breaking, python

#4972 Fix update-version script
  ci/release/update-version.sh
Labels: bug, non-breaking, ci

#4971 [CTK 12.5]: Avoid another compiler issue with host device detection
  cpp/include/cugraph/edge_property.hpp
Labels: improvement, non-breaking, cuGraph

#4975 ci: pre-filter 11.4 jobs before they are enabled in shared workflows
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4970 Update remove_multi_edges to support edge list in multiple chunks.
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph/graph_functions.hpp
  cpp/src/structure/detail/structure_utils.cuh
  cpp/src/structure/remove_multi_edges_impl.cuh
  cpp/src/structure/remove_multi_edges_sg_v32_e32.cu
  cpp/src/structure/remove_multi_edges_sg_v64_e64.cu
  cpp/tests/CMakeLists.txt
  cpp/tests/structure/remove_multi_edges_test.cpp
Labels: improvement, non-breaking, cuGraph, CMake

#4899 Remove Redundant Sort in BC test
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality_mg.py
Labels: bug, non-breaking, python

#4979 Revert "temporarily increase the timeout for nightly test failures" (#4957)
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4958 Use CuPy for arrays & CUDA Python for low-level CUDA functions
  python/cugraph/cugraph/layout/force_atlas2_wrapper.pyx
  python/cugraph/cugraph/tests/data_store/test_gnn_feat_storage_wholegraph.py
Labels: improvement, non-breaking, python

#4980 Fix compiler dependency on ARM
  dependencies.yaml
Labels: bug, non-breaking

#4985 Revert hacks around compile issue with host device deduction
  cpp/include/cugraph/edge_property.hpp
Labels: improvement, non-breaking, cuGraph

#4995 Revert "ci: pre-filter 11.4 jobs before they are enabled in shared workflows (#4975)"
  .github/workflows/pr.yaml
Labels: improvement, non-breaking

#4974 Update Betweenness Centrality normalization
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/tests/c_api/betweenness_centrality_test.c
  cpp/tests/c_api/mg_betweenness_centrality_test.c
  cpp/tests/centrality/betweenness_centrality_reference.hpp
  python/cugraph/cugraph/tests/centrality/test_batch_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_batch_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality.py
Labels: bug, non-breaking, cuGraph, python

#4969 Refactor Force Atlas 2
  cpp/CMakeLists.txt
  cpp/include/cugraph_c/layout_algorithms.h
  cpp/src/c_api/capi_helper.cu
  cpp/src/c_api/capi_helper.hpp
  cpp/src/c_api/legacy_fa2.cpp
  cpp/src/layout/legacy/force_atlas2.cu
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/layout_algorithms.pxd
  python/pylibcugraph/pylibcugraph/egonet.pyx
  python/pylibcugraph/pylibcugraph/force_atlas2.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python

#4966 Optimize check for vertex existence
  cpp/include/cugraph/detail/utility_wrappers.hpp
  cpp/include/cugraph_c/graph_functions.h
  cpp/src/c_api/graph_functions.cpp
  cpp/src/c_api/graph_sg.cpp
  cpp/src/detail/utility_wrappers_32.cu
  cpp/src/detail/utility_wrappers_64.cu
  cpp/src/detail/utility_wrappers_impl.cuh
  python/cugraph/cugraph/dask/traversal/bfs.py
  python/cugraph/cugraph/dask/traversal/sssp.py
  python/cugraph/cugraph/traversal/bfs.py
  python/cugraph/cugraph/traversal/sssp.py
  python/pylibcugraph/pylibcugraph/CMakeLists.txt
  python/pylibcugraph/pylibcugraph/__init__.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/graph_functions.pxd
  python/pylibcugraph/pylibcugraph/bfs.pyx
  python/pylibcugraph/pylibcugraph/graphs.pxd
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/has_vertex.pyx
  python/pylibcugraph/pylibcugraph/sssp.pyx
  python/pylibcugraph/pylibcugraph/utils.pyx
Labels: improvement, non-breaking, cuGraph, CMake, python
