Repository rapidsai/cugraph, pull requests merged in 2025-06, with the labels that each got.

#5102 Use `pytest-xdist` on Python Tests
  ci/run_cugraph_pytests.sh
  ci/test_python.sh
  python/.coveragerc
  python/cugraph/cugraph/dask/common/mg_utils.py
  python/cugraph/pyproject.toml
Labels: improvement, breaking, python, ci

#5112 Compilation optimizations - batch 1
  cpp/include/cugraph/arithmetic_variant_types.hpp
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/src/detail/groupby_and_count.cuh
  cpp/src/detail/groupby_and_count_mg_v32_e32.cu
  cpp/src/detail/groupby_and_count_mg_v64_e64.cu
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
Labels: improvement, non-breaking

#5097 Require Cython>=3.1.2
  conda/environments/all_cuda-128_arch-aarch64.yaml
  conda/environments/all_cuda-128_arch-x86_64.yaml
  conda/recipes/cugraph/recipe.yaml
  conda/recipes/pylibcugraph/recipe.yaml
  dependencies.yaml
  python/cugraph/pyproject.toml
  python/pylibcugraph/pyproject.toml
Labels: improvement, non-breaking, python, conda

#5105 Update BC computation to address normalization edge conditions
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/tests/c_api/betweenness_centrality_test.c
  cpp/tests/centrality/betweenness_centrality_reference.hpp
  python/cugraph/cugraph/tests/centrality/test_batch_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_batch_edge_betweenness_centrality_mg.py
  python/cugraph/cugraph/tests/centrality/test_betweenness_centrality.py
  python/cugraph/cugraph/tests/centrality/test_edge_betweenness_centrality.py
Labels: bug, non-breaking, cuGraph, python

#5104 Add edge_multi_index_property_t
  cpp/include/cugraph/edge_partition_edge_property_device_view.cuh
  cpp/include/cugraph/edge_property.hpp
  cpp/include/cugraph/graph_view.hpp
  cpp/src/centrality/betweenness_centrality_impl.cuh
  cpp/src/community/edge_triangle_count_impl.cuh
  cpp/src/community/k_truss_impl.cuh
  cpp/src/link_analysis/pagerank_impl.cuh
  cpp/src/prims/detail/extract_transform_if_v_frontier_e.cuh
  cpp/src/prims/detail/nbr_intersection.cuh
  cpp/src/prims/detail/per_v_transform_reduce_e.cuh
  cpp/src/prims/detail/transform_v_frontier_e.cuh
  cpp/src/prims/edge_bucket.cuh
  cpp/src/prims/per_v_random_select_transform_outgoing_e.cuh
  cpp/src/prims/per_v_transform_reduce_dst_key_aggregated_outgoing_e.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/prims/transform_reduce_e.cuh
  cpp/src/prims/transform_reduce_e_by_src_dst_key.cuh
  cpp/tests/community/edge_triangle_count_test.cpp
  cpp/tests/community/mg_edge_triangle_count_test.cpp
  cpp/tests/community/mg_triangle_count_test.cpp
  cpp/tests/prims/mg_transform_e.cu
  cpp/tests/traversal/mg_graph500_bfs_test.cu
Labels: feature request, non-breaking, cuGraph

#5121 Remove deprecation warning when symmetrizing the edgelist
  python/cugraph/cugraph/structure/convert_matrix.py
  python/cugraph/cugraph/structure/graph_classes.py
  python/cugraph/cugraph/structure/symmetrize.py
  python/cugraph/cugraph/tests/structure/test_graph.py
  python/cugraph/pytest.ini
Labels: improvement, non-breaking, python

#5127 Fix build error with gcc 14.
  cpp/src/prims/detail/per_v_transform_reduce_e.cuh
  cpp/src/prims/vertex_frontier.cuh
  cpp/src/sampling/detail/shuffle_and_organize_output_impl.cuh
  cpp/tests/centrality/betweenness_centrality_reference.hpp
Labels: bug, non-breaking, cuGraph

#5106 Implement transform_gather_e
  cpp/include/cugraph/utilities/thrust_tuple_utils.hpp
  cpp/src/prims/detail/prim_utils.cuh
  cpp/src/prims/transform_e.cuh
  cpp/src/prims/transform_gather_e.cuh
  cpp/tests/CMakeLists.txt
  cpp/tests/prims/mg_transform_gather_e.cu
Labels: feature request, non-breaking, cuGraph, CMake

#5116 Optionally store the generated edge list in pinned memory buffer
  cpp/include/cugraph/detail/shuffle_wrappers.hpp
  cpp/include/cugraph/graph_generators.hpp
  cpp/include/cugraph/large_buffer_manager.hpp
  cpp/include/cugraph/shuffle_functions.hpp
  cpp/include/cugraph/utilities/dataframe_buffer.hpp
  cpp/include/cugraph/utilities/shuffle_comm.cuh
  cpp/src/generators/generate_rmat_edgelist.cuh
  cpp/src/generators/generate_rmat_edgelist_sg_v32_e32.cu
  cpp/src/generators/generate_rmat_edgelist_sg_v64_e64.cu
  cpp/src/generators/generator_tools.cuh
  cpp/src/generators/generator_tools_sg_v32_e32.cu
  cpp/src/generators/generator_tools_sg_v64_e64.cu
  cpp/src/utilities/shuffle_vertex_pairs.cuh
  cpp/src/utilities/shuffle_vertex_pairs_mg_v32_e32.cu
  cpp/src/utilities/shuffle_vertex_pairs_mg_v64_e64.cu
  cpp/src/utilities/shuffle_vertices.cuh
  cpp/src/utilities/shuffle_vertices_mg_v32_fp.cu
  cpp/src/utilities/shuffle_vertices_mg_v32_integral.cu
  cpp/src/utilities/shuffle_vertices_mg_v64_fp.cu
  cpp/src/utilities/shuffle_vertices_mg_v64_integral.cu
  cpp/tests/traversal/mg_graph500_bfs_test.cu
  cpp/tests/traversal/nbr_unrenumber_cache.cuh
  cpp/tests/utilities/csv_file_utilities.cu
  cpp/tests/utilities/csv_file_utilities.hpp
  cpp/tests/utilities/matrix_market_file_utilities.cu
  cpp/tests/utilities/matrix_market_file_utilities.hpp
  cpp/tests/utilities/test_graphs.hpp
Labels: feature request, breaking, cuGraph

#5136 Correct C API test for uniform neighborhood sampling
  cpp/tests/c_api/uniform_neighbor_sample_test.c
Labels: improvement, non-breaking, cuGraph
