Repository rapidsai/cugraph, pull requests merged in 2025-10, with the labels that each got.

#5273 Clarify supported type combination
  cpp/src/c_api/graph_helper.hpp
  cpp/src/c_api/graph_helper_impl.cuh
  cpp/src/c_api/graph_helper_sg.cu
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
  python/pylibcugraph/pylibcugraph/graphs.pyx
  python/pylibcugraph/pylibcugraph/tests/test_structure.py
  python/pylibcugraph/pylibcugraph/utilities/api_tools.py
Labels: improvement, non-breaking

#5297 bug fix - incorrect if statement causing GNN failure
  cpp/src/c_api/graph_mg.cpp
  cpp/src/c_api/graph_sg.cpp
Labels: bug, non-breaking

#5298 Update to rapids-logger 0.2
  conda/recipes/libcugraph/recipe.yaml
Labels: improvement, non-breaking

#5283 Add support for other temporal comparisons
  cpp/include/cugraph/mtmg/instance_manager.hpp
  cpp/include/cugraph/sampling_functions.hpp
  cpp/src/c_api/temporal_neighbor_sampling.cpp
  cpp/src/sampling/detail/gather_one_hop_impl.cuh
  cpp/src/sampling/detail/gather_one_hop_mg_v32_e32.cu
  cpp/src/sampling/detail/gather_one_hop_mg_v64_e64.cu
  cpp/src/sampling/detail/gather_one_hop_sg_v32_e32.cu
  cpp/src/sampling/detail/gather_one_hop_sg_v64_e64.cu
  cpp/src/sampling/detail/gather_sampled_properties.cu
  cpp/src/sampling/detail/sample_edges.cuh
  cpp/src/sampling/detail/sampling_utils.hpp
  cpp/src/sampling/detail/temporal_sample_edges_mg_v32_e32.cu
  cpp/src/sampling/detail/temporal_sample_edges_mg_v64_e64.cu
  cpp/src/sampling/detail/temporal_sample_edges_sg_v32_e32.cu
  cpp/src/sampling/detail/temporal_sample_edges_sg_v64_e64.cu
  cpp/src/sampling/detail/update_temporal_edge_mask_impl.cuh
  cpp/src/sampling/detail/update_temporal_edge_mask_mg_v32_e32.cu
  cpp/src/sampling/detail/update_temporal_edge_mask_mg_v64_e64.cu
  cpp/src/sampling/detail/update_temporal_edge_mask_sg_v32_e32.cu
  cpp/src/sampling/detail/update_temporal_edge_mask_sg_v64_e64.cu
  cpp/src/sampling/temporal_sampling_impl.hpp
  cpp/src/structure/create_graph_from_edgelist_impl.cuh
  cpp/tests/c_api/uniform_temporal_neighbor_sample_test.c
  cpp/tests/sampling/detail/nbr_sampling_validate.cu
  cpp/tests/sampling/detail/nbr_sampling_validate.hpp
  cpp/tests/sampling/mg_temporal_neighbor_sampling.cpp
  cpp/tests/sampling/temporal_neighbor_sampling.cpp
  cpp/tests/utilities/test_graphs.hpp
Labels: improvement, breaking

#5293 `force_atlas2`: allow vertex mass to be given by the user
  cpp/include/cugraph/algorithms.hpp
  cpp/include/cugraph_c/layout_algorithms.h
  cpp/src/c_api/legacy_fa2.cpp
  cpp/src/layout/legacy/barnes_hut.cuh
  cpp/src/layout/legacy/bh_kernels.cuh
  cpp/src/layout/legacy/exact_fa2.cuh
  cpp/src/layout/legacy/exact_repulsion.cuh
  cpp/src/layout/legacy/fa2_kernels.cuh
  cpp/src/layout/legacy/force_atlas2.cu
  cpp/tests/layout/legacy/force_atlas2_test.cu
  python/cugraph/cugraph/layout/force_atlas2.py
  python/cugraph/cugraph/tests/layout/test_force_atlas2.py
  python/pylibcugraph/pylibcugraph/_cugraph_c/layout_algorithms.pxd
  python/pylibcugraph/pylibcugraph/force_atlas2.pyx
Labels: improvement, non-breaking
